<!DOCTYPE HTML>
<html>

	<head>
		<title>Free Personality Test | SAPA-Project | Items 126 to 150</title>
		<meta name="description" content="This is the sixth of several pages where we ask about your typical thoughts, feelings, and behaviors. Your responses to these questions will shape your free customized personality report, so be sure to respond honestly.  And don't skip too many items along the way!">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="keywords" content="" />

		<link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
		<link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16">
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
		<link rel="manifest" href="../manifest.json">
		<link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" href="../css/5grid/fonts.css" />
		<link rel="stylesheet" href="../css/5grid/jquery.mobile-1.3.0.css" />
		<script src="../css/5grid/jquery.js"></script>
		<script src="../css/5grid/jquery.mobile-1.3.0.min.js"></script>
		<script src="../css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none&amp;mobileUI_titleBarOverlaid=1&amp;mobileUI_titleBarHeight=60&amp;viewport_is1000px=1060&amp;mobileUI_openerWidth=80"></script>
		<noscript>
			<link rel="stylesheet" href="../css/5grid/core.css" />
			<link rel="stylesheet" href="../css/5grid/core-desktop.css" />
			<link rel="stylesheet" href="../css/5grid/core-1200px.css" />
			<link rel="stylesheet" href="../css/5grid/core-noscript.css" />
			<link rel="stylesheet" href="../css/style.css" />
			<link rel="stylesheet" href="../css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="../css/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="../css/ie7.css" /><![endif]-->
	</head>
	<body class="no-sidebar">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="5grid-layout">
					<div class="row">
						
							<!-- Header -->
								<header id="header">
										<h2>The SAPA Project</h2>
										<h3>a personality assessment collaboratory</h3>
								</header>

					</div>
				</div>
			</div>
		<!-- End Header Wrapper -->
		
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="5grid-layout">
					<div class="row">
						<div class="12u mobileUI-main-content">

							<!-- Content -->
								<div id="content">

									<div class="5grid">
										<div class="row">
											<div class="12u" style="margin-bottom: 0px;">

										<h3>Personality Questions</h3>
										
										<p class="smallish">You've responded to <strong>16 of the 125 items</strong> given so far.</p>

										<p class="smallish">Remember that <strong>your responses are anonymous</strong>.  Do your best to respond as accurately and honestly as possible.</p>

											</div> <!-- closes div class="12u" -->
										</div>  <!-- closes div class="row" -->
																		
										<div class="small">
										</div>

<form name="page8" id="page8" DefaultButton="submitGo" action="/survey/survey6.php" data-ajax="false" method="post" onsubmit="getTime();">  

<input type="hidden" id="page6Time" name="page6Time">

<script language='JavaScript'>
function getTime(){
var current = new Date();
var since = current.getTime();
var elapsetime = since/1000;
document.getElementById('page6Time').value = elapsetime;
}
</script>
<!-- Gets the time between 1/1/1970 12:00 am UTC and now in seconds. -->

<div class="row">
<div class="10u offset-1u">


	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>126. I get emotional easily, often for very little reason.</legend>
			<input type='radio' name='4123' id='4123-1' value='1'>
			<label for='4123-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4123' id='4123-2' value='2'>
			<label for='4123-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4123' id='4123-3' value='3'>
			<label for='4123-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4123' id='4123-4' value='4'>
			<label for='4123-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4123' id='4123-5' value='5'>
			<label for='4123-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4123' id='4123-6' value='6'>
			<label for='4123-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>127. Find it difficult to approach others.</legend>
			<input type='radio' name='901' id='901-1' value='1'>
			<label for='901-1'>Very<br>Inaccurate</label>
			<input type='radio' name='901' id='901-2' value='2'>
			<label for='901-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='901' id='901-3' value='3'>
			<label for='901-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='901' id='901-4' value='4'>
			<label for='901-4'>Slightly<br>Accurate</label>
			<input type='radio' name='901' id='901-5' value='5'>
			<label for='901-5'>Moderately<br>Accurate</label>
			<input type='radio' name='901' id='901-6' value='6'>
			<label for='901-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>128. Respect authority.</legend>
			<input type='radio' name='1624' id='1624-1' value='1'>
			<label for='1624-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1624' id='1624-2' value='2'>
			<label for='1624-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1624' id='1624-3' value='3'>
			<label for='1624-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1624' id='1624-4' value='4'>
			<label for='1624-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1624' id='1624-5' value='5'>
			<label for='1624-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1624' id='1624-6' value='6'>
			<label for='1624-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>129. I often make up things about myself to help me get what I want.</legend>
			<input type='radio' name='4054' id='4054-1' value='1'>
			<label for='4054-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4054' id='4054-2' value='2'>
			<label for='4054-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4054' id='4054-3' value='3'>
			<label for='4054-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4054' id='4054-4' value='4'>
			<label for='4054-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4054' id='4054-5' value='5'>
			<label for='4054-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4054' id='4054-6' value='6'>
			<label for='4054-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>130. Enjoy being thought of as a normal "mainstream" person.</legend>
			<input type='radio' name='747' id='747-1' value='1'>
			<label for='747-1'>Very<br>Inaccurate</label>
			<input type='radio' name='747' id='747-2' value='2'>
			<label for='747-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='747' id='747-3' value='3'>
			<label for='747-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='747' id='747-4' value='4'>
			<label for='747-4'>Slightly<br>Accurate</label>
			<input type='radio' name='747' id='747-5' value='5'>
			<label for='747-5'>Moderately<br>Accurate</label>
			<input type='radio' name='747' id='747-6' value='6'>
			<label for='747-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>131. Am happy with my life.</legend>
			<input type='radio' name='2765' id='2765-1' value='1'>
			<label for='2765-1'>Very<br>Inaccurate</label>
			<input type='radio' name='2765' id='2765-2' value='2'>
			<label for='2765-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='2765' id='2765-3' value='3'>
			<label for='2765-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='2765' id='2765-4' value='4'>
			<label for='2765-4'>Slightly<br>Accurate</label>
			<input type='radio' name='2765' id='2765-5' value='5'>
			<label for='2765-5'>Moderately<br>Accurate</label>
			<input type='radio' name='2765' id='2765-6' value='6'>
			<label for='2765-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>132. I hate being the center of attention.</legend>
			<input type='radio' name='50539' id='50539-1' value='1'>
			<label for='50539-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50539' id='50539-2' value='2'>
			<label for='50539-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50539' id='50539-3' value='3'>
			<label for='50539-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50539' id='50539-4' value='4'>
			<label for='50539-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50539' id='50539-5' value='5'>
			<label for='50539-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50539' id='50539-6' value='6'>
			<label for='50539-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>133. Laugh a lot.</legend>
			<input type='radio' name='1243' id='1243-1' value='1'>
			<label for='1243-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1243' id='1243-2' value='2'>
			<label for='1243-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1243' id='1243-3' value='3'>
			<label for='1243-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1243' id='1243-4' value='4'>
			<label for='1243-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1243' id='1243-5' value='5'>
			<label for='1243-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1243' id='1243-6' value='6'>
			<label for='1243-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>134. Reveal little about myself.</legend>
			<input type='radio' name='1635' id='1635-1' value='1'>
			<label for='1635-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1635' id='1635-2' value='2'>
			<label for='1635-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1635' id='1635-3' value='3'>
			<label for='1635-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1635' id='1635-4' value='4'>
			<label for='1635-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1635' id='1635-5' value='5'>
			<label for='1635-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1635' id='1635-6' value='6'>
			<label for='1635-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>135. I like to get revenge on authorities.</legend>
			<input type='radio' name='50547' id='50547-1' value='1'>
			<label for='50547-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50547' id='50547-2' value='2'>
			<label for='50547-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50547' id='50547-3' value='3'>
			<label for='50547-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50547' id='50547-4' value='4'>
			<label for='50547-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50547' id='50547-5' value='5'>
			<label for='50547-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50547' id='50547-6' value='6'>
			<label for='50547-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>136. Never spend more than I can afford.</legend>
			<input type='radio' name='1461' id='1461-1' value='1'>
			<label for='1461-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1461' id='1461-2' value='2'>
			<label for='1461-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1461' id='1461-3' value='3'>
			<label for='1461-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1461' id='1461-4' value='4'>
			<label for='1461-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1461' id='1461-5' value='5'>
			<label for='1461-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1461' id='1461-6' value='6'>
			<label for='1461-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>137. Do not like poetry.</legend>
			<input type='radio' name='612' id='612-1' value='1'>
			<label for='612-1'>Very<br>Inaccurate</label>
			<input type='radio' name='612' id='612-2' value='2'>
			<label for='612-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='612' id='612-3' value='3'>
			<label for='612-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='612' id='612-4' value='4'>
			<label for='612-4'>Slightly<br>Accurate</label>
			<input type='radio' name='612' id='612-5' value='5'>
			<label for='612-5'>Moderately<br>Accurate</label>
			<input type='radio' name='612' id='612-6' value='6'>
			<label for='612-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>138. Lying comes easily to me.</legend>
			<input type='radio' name='4215' id='4215-1' value='1'>
			<label for='4215-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4215' id='4215-2' value='2'>
			<label for='4215-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4215' id='4215-3' value='3'>
			<label for='4215-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4215' id='4215-4' value='4'>
			<label for='4215-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4215' id='4215-5' value='5'>
			<label for='4215-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4215' id='4215-6' value='6'>
			<label for='4215-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>139. Don't like the idea of change.</legend>
			<input type='radio' name='689' id='689-1' value='1'>
			<label for='689-1'>Very<br>Inaccurate</label>
			<input type='radio' name='689' id='689-2' value='2'>
			<label for='689-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='689' id='689-3' value='3'>
			<label for='689-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='689' id='689-4' value='4'>
			<label for='689-4'>Slightly<br>Accurate</label>
			<input type='radio' name='689' id='689-5' value='5'>
			<label for='689-5'>Moderately<br>Accurate</label>
			<input type='radio' name='689' id='689-6' value='6'>
			<label for='689-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>140. Seek danger.</legend>
			<input type='radio' name='1664' id='1664-1' value='1'>
			<label for='1664-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1664' id='1664-2' value='2'>
			<label for='1664-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1664' id='1664-3' value='3'>
			<label for='1664-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1664' id='1664-4' value='4'>
			<label for='1664-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1664' id='1664-5' value='5'>
			<label for='1664-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1664' id='1664-6' value='6'>
			<label for='1664-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>141. I'd be good at a dangerous job because I make fast decisions.</legend>
			<input type='radio' name='3990' id='3990-1' value='1'>
			<label for='3990-1'>Very<br>Inaccurate</label>
			<input type='radio' name='3990' id='3990-2' value='2'>
			<label for='3990-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='3990' id='3990-3' value='3'>
			<label for='3990-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='3990' id='3990-4' value='4'>
			<label for='3990-4'>Slightly<br>Accurate</label>
			<input type='radio' name='3990' id='3990-5' value='5'>
			<label for='3990-5'>Moderately<br>Accurate</label>
			<input type='radio' name='3990' id='3990-6' value='6'>
			<label for='3990-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>142. Act without thinking.</legend>
			<input type='radio' name='35' id='35-1' value='1'>
			<label for='35-1'>Very<br>Inaccurate</label>
			<input type='radio' name='35' id='35-2' value='2'>
			<label for='35-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='35' id='35-3' value='3'>
			<label for='35-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='35' id='35-4' value='4'>
			<label for='35-4'>Slightly<br>Accurate</label>
			<input type='radio' name='35' id='35-5' value='5'>
			<label for='35-5'>Moderately<br>Accurate</label>
			<input type='radio' name='35' id='35-6' value='6'>
			<label for='35-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>143. Don't consider myself religious.</legend>
			<input type='radio' name='660' id='660-1' value='1'>
			<label for='660-1'>Very<br>Inaccurate</label>
			<input type='radio' name='660' id='660-2' value='2'>
			<label for='660-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='660' id='660-3' value='3'>
			<label for='660-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='660' id='660-4' value='4'>
			<label for='660-4'>Slightly<br>Accurate</label>
			<input type='radio' name='660' id='660-5' value='5'>
			<label for='660-5'>Moderately<br>Accurate</label>
			<input type='radio' name='660' id='660-6' value='6'>
			<label for='660-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>144. I dread being without someone to love me.</legend>
			<input type='radio' name='4013' id='4013-1' value='1'>
			<label for='4013-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4013' id='4013-2' value='2'>
			<label for='4013-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4013' id='4013-3' value='3'>
			<label for='4013-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4013' id='4013-4' value='4'>
			<label for='4013-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4013' id='4013-5' value='5'>
			<label for='4013-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4013' id='4013-6' value='6'>
			<label for='4013-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>145. Let things proceed at their own pace.</legend>
			<input type='radio' name='1280' id='1280-1' value='1'>
			<label for='1280-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1280' id='1280-2' value='2'>
			<label for='1280-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1280' id='1280-3' value='3'>
			<label for='1280-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1280' id='1280-4' value='4'>
			<label for='1280-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1280' id='1280-5' value='5'>
			<label for='1280-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1280' id='1280-6' value='6'>
			<label for='1280-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>146. People suffering from incurable diseases should have the choice of being put painlessly to death.</legend>
			<input type='radio' name='2155' id='2155-1' value='1'>
			<label for='2155-1'>Very<br>Inaccurate</label>
			<input type='radio' name='2155' id='2155-2' value='2'>
			<label for='2155-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='2155' id='2155-3' value='3'>
			<label for='2155-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='2155' id='2155-4' value='4'>
			<label for='2155-4'>Slightly<br>Accurate</label>
			<input type='radio' name='2155' id='2155-5' value='5'>
			<label for='2155-5'>Moderately<br>Accurate</label>
			<input type='radio' name='2155' id='2155-6' value='6'>
			<label for='2155-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>147. I never feel guilty over hurting others.</legend>
			<input type='radio' name='3984' id='3984-1' value='1'>
			<label for='3984-1'>Very<br>Inaccurate</label>
			<input type='radio' name='3984' id='3984-2' value='2'>
			<label for='3984-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='3984' id='3984-3' value='3'>
			<label for='3984-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='3984' id='3984-4' value='4'>
			<label for='3984-4'>Slightly<br>Accurate</label>
			<input type='radio' name='3984' id='3984-5' value='5'>
			<label for='3984-5'>Moderately<br>Accurate</label>
			<input type='radio' name='3984' id='3984-6' value='6'>
			<label for='3984-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>148. In the following number series, what number comes next?   4, 7, 11, 18, 29, ...</legend>
			<input type='radio' name='12003' id='12003-1' value='1'>
			<label for='12003-1'> 37</label>
			<input type='radio' name='12003' id='12003-2' value='2'>
			<label for='12003-2'> 39</label>
			<input type='radio' name='12003' id='12003-3' value='3'>
			<label for='12003-3'> 46</label>
			<input type='radio' name='12003' id='12003-4' value='4'>
			<label for='12003-4'> 47</label>
			<input type='radio' name='12003' id='12003-5' value='5'>
			<label for='12003-5'> 49</label>
			<input type='radio' name='12003' id='12003-6' value='6'>
			<label for='12003-6'> 55</label>
			<input type='radio' name='12003' id='12003-7' value='7'>
			<label for='12003-7'>None of these</label>
			<input type='radio' name='12003' id='12003-8' value='8'>
			<label for='12003-8'>I don't know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>149. There is a word that can be paired with each of the words below to form compound words.  What is the first letter of the missing word?<br>
		<p style='text-align: center;'>fly &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; clip &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; wall</p></legend>
			<input type='radio' name='14303' id='14303-1' value='1'>
			<label for='14303-1'>n</label>
			<input type='radio' name='14303' id='14303-2' value='2'>
			<label for='14303-2'>w</label>
			<input type='radio' name='14303' id='14303-3' value='3'>
			<label for='14303-3'>p</label>
			<input type='radio' name='14303' id='14303-4' value='4'>
			<label for='14303-4'>h</label>
			<input type='radio' name='14303' id='14303-5' value='5'>
			<label for='14303-5'>a</label>
			<input type='radio' name='14303' id='14303-6' value='6'>
			<label for='14303-6'>y</label>
			<input type='radio' name='14303' id='14303-7' value='7'>
			<label for='14303-7'>None of these</label>
			<input type='radio' name='14303' id='14303-8' value='8'>
			<label for='14303-8'>I don't know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>150. Choose the best answer without using any tools: 42 - 27 + 70 + 80 = ?</legend>
			<input type='radio' name='15123' id='15123-1' value='1'>
			<label for='15123-1'>161</label>
			<input type='radio' name='15123' id='15123-2' value='2'>
			<label for='15123-2'>-292</label>
			<input type='radio' name='15123' id='15123-3' value='3'>
			<label for='15123-3'>-124</label>
			<input type='radio' name='15123' id='15123-4' value='4'>
			<label for='15123-4'>163</label>
			<input type='radio' name='15123' id='15123-5' value='5'>
			<label for='15123-5'>165</label>
			<input type='radio' name='15123' id='15123-6' value='6'>
			<label for='15123-6'>-128</label>
			<input type='radio' name='15123' id='15123-7' value='7'>
			<label for='15123-7'>None of these</label>
			<input type='radio' name='15123' id='15123-8' value='8'>
			<label for='15123-8'>I don't know</label>
	</fieldset>
</div> <!-- closes div class="10u offset-1u" -->
<div class="1u">
</div> <!-- closes div class="1u" -->
</div>  <!-- closes div class="row" -->
										<div class="row">

											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-stop" aria-disabled="false"><input type="submit" data-theme="stop" name="submitStop" value="Skip to last page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
											<div class="6u">
												<ul>
												<li>
												</li>
												</ul>
											</div>
											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-more" aria-disabled="false"><input type="submit" data-theme="more" id="submitGo" name="submitGo" value="Next page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
										</div>

</form><!-- closes form id="page8"  -->
								</div>  <!-- closes div class="5grid" -->
							</div>  <!-- closes div id="content" -->
						</div> <!-- closes div class="12u mobileUI-main-content" -->
					</div><!-- closes div id="row" -->
				</div> <!-- closes div class="5grid-layout" -->
			</div> <!-- closes div id="main-wrapper" -->

		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
				<footer id="footer" class="5grid-layout">
					<div class="row">
						<div class="12u">
							<div id="copyright">
							<center>
								&copy; Part of the Personality Project.	
							</center>
							</div>
						</div>
					</div>
				</footer>
			</div>
		<!-- End Footer Wrapper -->
	</body>
</html>
