<!DOCTYPE HTML>
<html>

	<head>
		<title>Free Personality Test | SAPA-Project | Items 226 to 250</title>
		<meta name="description" content="This is the last page with questions about your typical thoughts, feelings, and behaviors. Your responses to these questions will shape your free customized personality report, so be sure to respond honestly.  And don't skip too many items along the way!">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="keywords" content="" />

		<link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
		<link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16">
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
		<link rel="manifest" href="../manifest.json">
		<link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" href="../css/5grid/fonts.css" />
		<link rel="stylesheet" href="../css/5grid/jquery.mobile-1.3.0.css" />
		<script src="../css/5grid/jquery.js"></script>
		<script src="../css/5grid/jquery.mobile-1.3.0.min.js"></script>
		<script src="../css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none&amp;mobileUI_titleBarOverlaid=1&amp;mobileUI_titleBarHeight=60&amp;viewport_is1000px=1060&amp;mobileUI_openerWidth=80"></script>
		<noscript>
			<link rel="stylesheet" href="../css/5grid/core.css" />
			<link rel="stylesheet" href="../css/5grid/core-desktop.css" />
			<link rel="stylesheet" href="../css/5grid/core-1200px.css" />
			<link rel="stylesheet" href="../css/5grid/core-noscript.css" />
			<link rel="stylesheet" href="../css/style.css" />
			<link rel="stylesheet" href="../css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="../css/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="../css/ie7.css" /><![endif]-->
	</head>
	<body class="no-sidebar">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="5grid-layout">
					<div class="row">
						
							<!-- Header -->
								<header id="header">
										<h2>The SAPA Project</h2>
										<h3>a personality assessment collaboratory</h3>
								</header>

					</div>
				</div>
			</div>
		<!-- End Header Wrapper -->
		
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="5grid-layout">
					<div class="row">
						<div class="12u mobileUI-main-content">

							<!-- Content -->
								<div id="content">

									<div class="5grid">
										<div class="row">
											<div class="12u" style="margin-bottom: 0px;">

										<h3>Personality Questions</h3>
										
										<p class="smallish">You've responded to <strong>22 of the 225 items</strong> given so far.</p>

										<p class="smallish">Remember that <strong>your responses are anonymous</strong>.  Do your best to respond as accurately and honestly as possible.</p>

											</div> <!-- closes div class="12u" -->
										</div>  <!-- closes div class="row" -->
																		
										<div class="small">
										</div>

<form name="page12" id="page12" DefaultButton="submitGo" action="/survey/survey10.php" data-ajax="false" method="post" onsubmit="getTime();">  

<input type="hidden" id="page10Time" name="page10Time">

<script language='JavaScript'>
function getTime(){
var current = new Date();
var since = current.getTime();
var elapsetime = since/1000;
document.getElementById('page10Time').value = elapsetime;
}
</script>
<!-- Gets the time between 1/1/1970 12:00 am UTC and now in seconds. -->

<div class="row">
<div class="10u offset-1u">


	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>226. I've often done something dangerous just for the thrill of it.</legend>
			<input type='radio' name='3988' id='3988-1' value='1'>
			<label for='3988-1'>Very<br>Inaccurate</label>
			<input type='radio' name='3988' id='3988-2' value='2'>
			<label for='3988-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='3988' id='3988-3' value='3'>
			<label for='3988-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='3988' id='3988-4' value='4'>
			<label for='3988-4'>Slightly<br>Accurate</label>
			<input type='radio' name='3988' id='3988-5' value='5'>
			<label for='3988-5'>Moderately<br>Accurate</label>
			<input type='radio' name='3988' id='3988-6' value='6'>
			<label for='3988-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>227. Lack the talent for influencing people.</legend>
			<input type='radio' name='1242' id='1242-1' value='1'>
			<label for='1242-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1242' id='1242-2' value='2'>
			<label for='1242-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1242' id='1242-3' value='3'>
			<label for='1242-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1242' id='1242-4' value='4'>
			<label for='1242-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1242' id='1242-5' value='5'>
			<label for='1242-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1242' id='1242-6' value='6'>
			<label for='1242-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>228. Try to follow the rules.</legend>
			<input type='radio' name='1867' id='1867-1' value='1'>
			<label for='1867-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1867' id='1867-2' value='2'>
			<label for='1867-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1867' id='1867-3' value='3'>
			<label for='1867-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1867' id='1867-4' value='4'>
			<label for='1867-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1867' id='1867-5' value='5'>
			<label for='1867-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1867' id='1867-6' value='6'>
			<label for='1867-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>229. I'd be good at a dangerous job because I make fast decisions.</legend>
			<input type='radio' name='3990' id='3990-1' value='1'>
			<label for='3990-1'>Very<br>Inaccurate</label>
			<input type='radio' name='3990' id='3990-2' value='2'>
			<label for='3990-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='3990' id='3990-3' value='3'>
			<label for='3990-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='3990' id='3990-4' value='4'>
			<label for='3990-4'>Slightly<br>Accurate</label>
			<input type='radio' name='3990' id='3990-5' value='5'>
			<label for='3990-5'>Moderately<br>Accurate</label>
			<input type='radio' name='3990' id='3990-6' value='6'>
			<label for='3990-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>230. Would hate to be considered odd or strange.</legend>
			<input type='radio' name='2005' id='2005-1' value='1'>
			<label for='2005-1'>Very<br>Inaccurate</label>
			<input type='radio' name='2005' id='2005-2' value='2'>
			<label for='2005-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='2005' id='2005-3' value='3'>
			<label for='2005-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='2005' id='2005-4' value='4'>
			<label for='2005-4'>Slightly<br>Accurate</label>
			<input type='radio' name='2005' id='2005-5' value='5'>
			<label for='2005-5'>Moderately<br>Accurate</label>
			<input type='radio' name='2005' id='2005-6' value='6'>
			<label for='2005-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>231. Dislike myself.</legend>
			<input type='radio' name='578' id='578-1' value='1'>
			<label for='578-1'>Very<br>Inaccurate</label>
			<input type='radio' name='578' id='578-2' value='2'>
			<label for='578-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='578' id='578-3' value='3'>
			<label for='578-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='578' id='578-4' value='4'>
			<label for='578-4'>Slightly<br>Accurate</label>
			<input type='radio' name='578' id='578-5' value='5'>
			<label for='578-5'>Moderately<br>Accurate</label>
			<input type='radio' name='578' id='578-6' value='6'>
			<label for='578-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>232. There's way too much violence in sports.</legend>
			<input type='radio' name='51793' id='51793-1' value='1'>
			<label for='51793-1'>Very<br>Inaccurate</label>
			<input type='radio' name='51793' id='51793-2' value='2'>
			<label for='51793-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='51793' id='51793-3' value='3'>
			<label for='51793-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='51793' id='51793-4' value='4'>
			<label for='51793-4'>Slightly<br>Accurate</label>
			<input type='radio' name='51793' id='51793-5' value='5'>
			<label for='51793-5'>Moderately<br>Accurate</label>
			<input type='radio' name='51793' id='51793-6' value='6'>
			<label for='51793-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>233. Seldom joke around.</legend>
			<input type='radio' name='1685' id='1685-1' value='1'>
			<label for='1685-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1685' id='1685-2' value='2'>
			<label for='1685-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1685' id='1685-3' value='3'>
			<label for='1685-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1685' id='1685-4' value='4'>
			<label for='1685-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1685' id='1685-5' value='5'>
			<label for='1685-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1685' id='1685-6' value='6'>
			<label for='1685-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>234. Am open about my feelings.</legend>
			<input type='radio' name='219' id='219-1' value='1'>
			<label for='219-1'>Very<br>Inaccurate</label>
			<input type='radio' name='219' id='219-2' value='2'>
			<label for='219-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='219' id='219-3' value='3'>
			<label for='219-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='219' id='219-4' value='4'>
			<label for='219-4'>Slightly<br>Accurate</label>
			<input type='radio' name='219' id='219-5' value='5'>
			<label for='219-5'>Moderately<br>Accurate</label>
			<input type='radio' name='219' id='219-6' value='6'>
			<label for='219-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>235. I feel ashamed when people judge me.</legend>
			<input type='radio' name='50599' id='50599-1' value='1'>
			<label for='50599-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50599' id='50599-2' value='2'>
			<label for='50599-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50599' id='50599-3' value='3'>
			<label for='50599-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50599' id='50599-4' value='4'>
			<label for='50599-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50599' id='50599-5' value='5'>
			<label for='50599-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50599' id='50599-6' value='6'>
			<label for='50599-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>236. Never spend more than I can afford.</legend>
			<input type='radio' name='1461' id='1461-1' value='1'>
			<label for='1461-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1461' id='1461-2' value='2'>
			<label for='1461-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1461' id='1461-3' value='3'>
			<label for='1461-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1461' id='1461-4' value='4'>
			<label for='1461-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1461' id='1461-5' value='5'>
			<label for='1461-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1461' id='1461-6' value='6'>
			<label for='1461-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>237. Do not like poetry.</legend>
			<input type='radio' name='612' id='612-1' value='1'>
			<label for='612-1'>Very<br>Inaccurate</label>
			<input type='radio' name='612' id='612-2' value='2'>
			<label for='612-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='612' id='612-3' value='3'>
			<label for='612-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='612' id='612-4' value='4'>
			<label for='612-4'>Slightly<br>Accurate</label>
			<input type='radio' name='612' id='612-5' value='5'>
			<label for='612-5'>Moderately<br>Accurate</label>
			<input type='radio' name='612' id='612-6' value='6'>
			<label for='612-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>238. I can talk my way into and out of anything.</legend>
			<input type='radio' name='50596' id='50596-1' value='1'>
			<label for='50596-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50596' id='50596-2' value='2'>
			<label for='50596-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50596' id='50596-3' value='3'>
			<label for='50596-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50596' id='50596-4' value='4'>
			<label for='50596-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50596' id='50596-5' value='5'>
			<label for='50596-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50596' id='50596-6' value='6'>
			<label for='50596-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>239. Dislike changes.</legend>
			<input type='radio' name='566' id='566-1' value='1'>
			<label for='566-1'>Very<br>Inaccurate</label>
			<input type='radio' name='566' id='566-2' value='2'>
			<label for='566-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='566' id='566-3' value='3'>
			<label for='566-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='566' id='566-4' value='4'>
			<label for='566-4'>Slightly<br>Accurate</label>
			<input type='radio' name='566' id='566-5' value='5'>
			<label for='566-5'>Moderately<br>Accurate</label>
			<input type='radio' name='566' id='566-6' value='6'>
			<label for='566-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>240. Take risks.</legend>
			<input type='radio' name='1781' id='1781-1' value='1'>
			<label for='1781-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1781' id='1781-2' value='2'>
			<label for='1781-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1781' id='1781-3' value='3'>
			<label for='1781-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1781' id='1781-4' value='4'>
			<label for='1781-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1781' id='1781-5' value='5'>
			<label for='1781-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1781' id='1781-6' value='6'>
			<label for='1781-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>241. I prefer to play it safe rather than take unnecessary chances.</legend>
			<input type='radio' name='4099' id='4099-1' value='1'>
			<label for='4099-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4099' id='4099-2' value='2'>
			<label for='4099-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4099' id='4099-3' value='3'>
			<label for='4099-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4099' id='4099-4' value='4'>
			<label for='4099-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4099' id='4099-5' value='5'>
			<label for='4099-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4099' id='4099-6' value='6'>
			<label for='4099-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>242. Act without thinking.</legend>
			<input type='radio' name='35' id='35-1' value='1'>
			<label for='35-1'>Very<br>Inaccurate</label>
			<input type='radio' name='35' id='35-2' value='2'>
			<label for='35-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='35' id='35-3' value='3'>
			<label for='35-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='35' id='35-4' value='4'>
			<label for='35-4'>Slightly<br>Accurate</label>
			<input type='radio' name='35' id='35-5' value='5'>
			<label for='35-5'>Moderately<br>Accurate</label>
			<input type='radio' name='35' id='35-6' value='6'>
			<label for='35-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>243. Like to stand during the national anthem.</legend>
			<input type='radio' name='1328' id='1328-1' value='1'>
			<label for='1328-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1328' id='1328-2' value='2'>
			<label for='1328-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1328' id='1328-3' value='3'>
			<label for='1328-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1328' id='1328-4' value='4'>
			<label for='1328-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1328' id='1328-5' value='5'>
			<label for='1328-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1328' id='1328-6' value='6'>
			<label for='1328-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>244. I would do almost anything on a dare.</legend>
			<input type='radio' name='51740' id='51740-1' value='1'>
			<label for='51740-1'>Very<br>Inaccurate</label>
			<input type='radio' name='51740' id='51740-2' value='2'>
			<label for='51740-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='51740' id='51740-3' value='3'>
			<label for='51740-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='51740' id='51740-4' value='4'>
			<label for='51740-4'>Slightly<br>Accurate</label>
			<input type='radio' name='51740' id='51740-5' value='5'>
			<label for='51740-5'>Moderately<br>Accurate</label>
			<input type='radio' name='51740' id='51740-6' value='6'>
			<label for='51740-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>245. Let things proceed at their own pace.</legend>
			<input type='radio' name='1280' id='1280-1' value='1'>
			<label for='1280-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1280' id='1280-2' value='2'>
			<label for='1280-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1280' id='1280-3' value='3'>
			<label for='1280-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1280' id='1280-4' value='4'>
			<label for='1280-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1280' id='1280-5' value='5'>
			<label for='1280-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1280' id='1280-6' value='6'>
			<label for='1280-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>246. My family is proud of everything I do.</legend>
			<input type='radio' name='50552' id='50552-1' value='1'>
			<label for='50552-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50552' id='50552-2' value='2'>
			<label for='50552-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50552' id='50552-3' value='3'>
			<label for='50552-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50552' id='50552-4' value='4'>
			<label for='50552-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50552' id='50552-5' value='5'>
			<label for='50552-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50552' id='50552-6' value='6'>
			<label for='50552-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>247. I only associate with people of my caliber.</legend>
			<input type='radio' name='50572' id='50572-1' value='1'>
			<label for='50572-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50572' id='50572-2' value='2'>
			<label for='50572-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50572' id='50572-3' value='3'>
			<label for='50572-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50572' id='50572-4' value='4'>
			<label for='50572-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50572' id='50572-5' value='5'>
			<label for='50572-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50572' id='50572-6' value='6'>
			<label for='50572-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>248. Please indicate which is the best answer to complete the figure below.</legend>
		<img id='fig12050.jpg' src='iq.figures/fig12050.jpg' width='551' height='394'><br>
		<input type='radio' name='12050' id='12050-1' value='1'>
		<label for='12050-1'>A</label>
		<input type='radio' name='12050' id='12050-2' value='2'>
		<label for='12050-2'>B</label>
		<input type='radio' name='12050' id='12050-3' value='3'>
		<label for='12050-3'>C</label>
		<input type='radio' name='12050' id='12050-4' value='4'>
		<label for='12050-4'>D</label>
		<input type='radio' name='12050' id='12050-5' value='5'>
		<label for='12050-5'>E</label>
		<input type='radio' name='12050' id='12050-6' value='6'>
		<label for='12050-6'>F</label>
		<input type='radio' name='12050' id='12050-7' value='7'>
		<label for='12050-7'>None of these</label>
		<input type='radio' name='12050' id='12050-8' value='8'>
		<label for='12050-8'>I don't know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>249. Please indicate which is the best answer to complete the figure below.</legend>
		<img id='fig19064.svg' src='iq.figures/fig19064.svg'><br>
		<input type='radio' name='19064' id='19064-1' value='1'>
		<label for='19064-1'>1</label>
		<input type='radio' name='19064' id='19064-2' value='2'>
		<label for='19064-2'>2</label>
		<input type='radio' name='19064' id='19064-3' value='3'>
		<label for='19064-3'>3</label>
		<input type='radio' name='19064' id='19064-4' value='4'>
		<label for='19064-4'>4</label>
		<input type='radio' name='19064' id='19064-5' value='5'>
		<label for='19064-5'>5</label>
		<input type='radio' name='19064' id='19064-6' value='6'>
		<label for='19064-6'>6</label>
		<input type='radio' name='19064' id='19064-7' value='7'>
		<label for='19064-7'>7</label>
		<input type='radio' name='19064' id='19064-8' value='8'>
		<label for='19064-8'>8</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>250. In the following alphanumeric series, what number comes next? 73, 55, 37, 19, …</legend>
			<input type='radio' name='12103' id='12103-1' value='1'>
			<label for='12103-1'>11</label>
			<input type='radio' name='12103' id='12103-2' value='2'>
			<label for='12103-2'>20</label>
			<input type='radio' name='12103' id='12103-3' value='3'>
			<label for='12103-3'>18</label>
			<input type='radio' name='12103' id='12103-4' value='4'>
			<label for='12103-4'>1</label>
			<input type='radio' name='12103' id='12103-5' value='5'>
			<label for='12103-5'>17</label>
			<input type='radio' name='12103' id='12103-6' value='6'>
			<label for='12103-6'>19</label>
			<input type='radio' name='12103' id='12103-7' value='7'>
			<label for='12103-7'>None of these</label>
			<input type='radio' name='12103' id='12103-8' value='8'>
			<label for='12103-8'>I don't know</label>
	</fieldset>
</div> <!-- closes div class="10u offset-1u" -->
<div class="1u">
</div> <!-- closes div class="1u" -->
</div>  <!-- closes div class="row" -->
										<div class="row">

											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-stop" aria-disabled="false"><input type="submit" data-theme="stop" name="submitStop" value="Skip to last page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
											<div class="6u">
												<ul>
												<li>
												</li>
												</ul>
											</div>
											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-more" aria-disabled="false"><input type="submit" data-theme="more" id="submitGo" name="submitGo" value="Next page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
										</div>

</form><!-- closes form id="page12"  -->
								</div>  <!-- closes div class="5grid" -->
							</div>  <!-- closes div id="content" -->
						</div> <!-- closes div class="12u mobileUI-main-content" -->
					</div><!-- closes div id="row" -->
				</div> <!-- closes div class="5grid-layout" -->
			</div> <!-- closes div id="main-wrapper" -->

		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
				<footer id="footer" class="5grid-layout">
					<div class="row">
						<div class="12u">
							<div id="copyright">
							<center>
								&copy; Part of the Personality Project.	
							</center>
							</div>
						</div>
					</div>
				</footer>
			</div>
		<!-- End Footer Wrapper -->
	</body>
</html>
