<!DOCTYPE HTML>
<html>

	<head>
		<title>Free Personality Test | SAPA-Project | Items 101 to 125</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="description" content="This is the fifth of several pages where we ask about your typical thoughts, feelings, and behaviors. Your responses to these questions will shape your free customized personality report, so be sure to respond honestly.  And don't skip too many items along the way!">
		<meta name="keywords" content="" />

		<link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
		<link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16">
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
		<link rel="manifest" href="../manifest.json">
		<link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" href="../css/5grid/fonts.css" />
		<link rel="stylesheet" href="../css/5grid/jquery.mobile-1.3.0.css" />
		<script src="../css/5grid/jquery.js"></script>
		<script src="../css/5grid/jquery.mobile-1.3.0.min.js"></script>
		<script src="../css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none&amp;mobileUI_titleBarOverlaid=1&amp;mobileUI_titleBarHeight=60&amp;viewport_is1000px=1060&amp;mobileUI_openerWidth=80"></script>
		<noscript>
			<link rel="stylesheet" href="../css/5grid/core.css" />
			<link rel="stylesheet" href="../css/5grid/core-desktop.css" />
			<link rel="stylesheet" href="../css/5grid/core-1200px.css" />
			<link rel="stylesheet" href="../css/5grid/core-noscript.css" />
			<link rel="stylesheet" href="../css/style.css" />
			<link rel="stylesheet" href="../css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="../css/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="../css/ie7.css" /><![endif]-->
	</head>
	<body class="no-sidebar">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="5grid-layout">
					<div class="row">
						
							<!-- Header -->
								<header id="header">
										<h2>The SAPA Project</h2>
										<h3>a personality assessment collaboratory</h3>
								</header>

					</div>
				</div>
			</div>
		<!-- End Header Wrapper -->
		
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="5grid-layout">
					<div class="row">
						<div class="12u mobileUI-main-content">

							<!-- Content -->
								<div id="content">

									<div class="5grid">
										<div class="row">
											<div class="12u" style="margin-bottom: 0px;">

										<h3>Personality Questions</h3>
										
										<p class="smallish">You've responded to <strong>13 of the 100 items</strong> given so far.</p>

										<p class="smallish">Remember that <strong>your responses are anonymous</strong>.  Do your best to respond as accurately and honestly as possible.</p>

											</div> <!-- closes div class="12u" -->
										</div>  <!-- closes div class="row" -->
																		
										<div class="small">
										</div>

<form name="page7" id="page7" DefaultButton="submitGo" action="/survey/survey5.php" data-ajax="false" method="post" onsubmit="getTime();">  

<input type="hidden" id="page5Time" name="page5Time">

<script language='JavaScript'>
function getTime(){
var current = new Date();
var since = current.getTime();
var elapsetime = since/1000;
document.getElementById('page5Time').value = elapsetime;
}
</script>
<!-- Gets the time between 1/1/1970 12:00 am UTC and now in seconds. -->

<div class="row">
<div class="10u offset-1u">


	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>101. I don't like spending time with others.</legend>
			<input type='radio' name='4137' id='4137-1' value='1'>
			<label for='4137-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4137' id='4137-2' value='2'>
			<label for='4137-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4137' id='4137-3' value='3'>
			<label for='4137-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4137' id='4137-4' value='4'>
			<label for='4137-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4137' id='4137-5' value='5'>
			<label for='4137-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4137' id='4137-6' value='6'>
			<label for='4137-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>102. Am sensitive to the needs of others.</legend>
			<input type='radio' name='253' id='253-1' value='1'>
			<label for='253-1'>Very<br>Inaccurate</label>
			<input type='radio' name='253' id='253-2' value='2'>
			<label for='253-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='253' id='253-3' value='3'>
			<label for='253-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='253' id='253-4' value='4'>
			<label for='253-4'>Slightly<br>Accurate</label>
			<input type='radio' name='253' id='253-5' value='5'>
			<label for='253-5'>Moderately<br>Accurate</label>
			<input type='radio' name='253' id='253-6' value='6'>
			<label for='253-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>103. Need a push to get started.</legend>
			<input type='radio' name='1444' id='1444-1' value='1'>
			<label for='1444-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1444' id='1444-2' value='2'>
			<label for='1444-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1444' id='1444-3' value='3'>
			<label for='1444-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1444' id='1444-4' value='4'>
			<label for='1444-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1444' id='1444-5' value='5'>
			<label for='1444-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1444' id='1444-6' value='6'>
			<label for='1444-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>104. I don't get upset by the suffering of others.</legend>
			<input type='radio' name='50610' id='50610-1' value='1'>
			<label for='50610-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50610' id='50610-2' value='2'>
			<label for='50610-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50610' id='50610-3' value='3'>
			<label for='50610-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50610' id='50610-4' value='4'>
			<label for='50610-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50610' id='50610-5' value='5'>
			<label for='50610-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50610' id='50610-6' value='6'>
			<label for='50610-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>105. Am an original thinker.</legend>
			<input type='radio' name='2754' id='2754-1' value='1'>
			<label for='2754-1'>Very<br>Inaccurate</label>
			<input type='radio' name='2754' id='2754-2' value='2'>
			<label for='2754-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='2754' id='2754-3' value='3'>
			<label for='2754-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='2754' id='2754-4' value='4'>
			<label for='2754-4'>Slightly<br>Accurate</label>
			<input type='radio' name='2754' id='2754-5' value='5'>
			<label for='2754-5'>Moderately<br>Accurate</label>
			<input type='radio' name='2754' id='2754-6' value='6'>
			<label for='2754-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>106. Would call myself a nervous person.</legend>
			<input type='radio' name='4249' id='4249-1' value='1'>
			<label for='4249-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4249' id='4249-2' value='2'>
			<label for='4249-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4249' id='4249-3' value='3'>
			<label for='4249-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4249' id='4249-4' value='4'>
			<label for='4249-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4249' id='4249-5' value='5'>
			<label for='4249-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4249' id='4249-6' value='6'>
			<label for='4249-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>107. I believe I am entitled to special accommodations.</legend>
			<input type='radio' name='50605' id='50605-1' value='1'>
			<label for='50605-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50605' id='50605-2' value='2'>
			<label for='50605-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50605' id='50605-3' value='3'>
			<label for='50605-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50605' id='50605-4' value='4'>
			<label for='50605-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50605' id='50605-5' value='5'>
			<label for='50605-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50605' id='50605-6' value='6'>
			<label for='50605-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>108. Usually like to spend my free time with people.</legend>
			<input type='radio' name='1904' id='1904-1' value='1'>
			<label for='1904-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1904' id='1904-2' value='2'>
			<label for='1904-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1904' id='1904-3' value='3'>
			<label for='1904-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1904' id='1904-4' value='4'>
			<label for='1904-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1904' id='1904-5' value='5'>
			<label for='1904-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1904' id='1904-6' value='6'>
			<label for='1904-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>109. Cannot imagine lying or cheating.</legend>
			<input type='radio' name='2853' id='2853-1' value='1'>
			<label for='2853-1'>Very<br>Inaccurate</label>
			<input type='radio' name='2853' id='2853-2' value='2'>
			<label for='2853-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='2853' id='2853-3' value='3'>
			<label for='2853-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='2853' id='2853-4' value='4'>
			<label for='2853-4'>Slightly<br>Accurate</label>
			<input type='radio' name='2853' id='2853-5' value='5'>
			<label for='2853-5'>Moderately<br>Accurate</label>
			<input type='radio' name='2853' id='2853-6' value='6'>
			<label for='2853-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>110. I have trouble keeping my mind focused on what needs to be done.</legend>
			<input type='radio' name='4119' id='4119-1' value='1'>
			<label for='4119-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4119' id='4119-2' value='2'>
			<label for='4119-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4119' id='4119-3' value='3'>
			<label for='4119-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4119' id='4119-4' value='4'>
			<label for='4119-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4119' id='4119-5' value='5'>
			<label for='4119-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4119' id='4119-6' value='6'>
			<label for='4119-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>111. Keep things tidy.</legend>
			<input type='radio' name='1201' id='1201-1' value='1'>
			<label for='1201-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1201' id='1201-2' value='2'>
			<label for='1201-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1201' id='1201-3' value='3'>
			<label for='1201-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1201' id='1201-4' value='4'>
			<label for='1201-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1201' id='1201-5' value='5'>
			<label for='1201-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1201' id='1201-6' value='6'>
			<label for='1201-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>112. Learn things slowly.</legend>
			<input type='radio' name='1253' id='1253-1' value='1'>
			<label for='1253-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1253' id='1253-2' value='2'>
			<label for='1253-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1253' id='1253-3' value='3'>
			<label for='1253-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1253' id='1253-4' value='4'>
			<label for='1253-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1253' id='1253-5' value='5'>
			<label for='1253-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1253' id='1253-6' value='6'>
			<label for='1253-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>113. I'm not tricky or sly.</legend>
			<input type='radio' name='3957' id='3957-1' value='1'>
			<label for='3957-1'>Very<br>Inaccurate</label>
			<input type='radio' name='3957' id='3957-2' value='2'>
			<label for='3957-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='3957' id='3957-3' value='3'>
			<label for='3957-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='3957' id='3957-4' value='4'>
			<label for='3957-4'>Slightly<br>Accurate</label>
			<input type='radio' name='3957' id='3957-5' value='5'>
			<label for='3957-5'>Moderately<br>Accurate</label>
			<input type='radio' name='3957' id='3957-6' value='6'>
			<label for='3957-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>114. Get overwhelmed by emotions.</legend>
			<input type='radio' name='979' id='979-1' value='1'>
			<label for='979-1'>Very<br>Inaccurate</label>
			<input type='radio' name='979' id='979-2' value='2'>
			<label for='979-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='979' id='979-3' value='3'>
			<label for='979-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='979' id='979-4' value='4'>
			<label for='979-4'>Slightly<br>Accurate</label>
			<input type='radio' name='979' id='979-5' value='5'>
			<label for='979-5'>Moderately<br>Accurate</label>
			<input type='radio' name='979' id='979-6' value='6'>
			<label for='979-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>115. Put on a show to impress people.</legend>
			<input type='radio' name='1555' id='1555-1' value='1'>
			<label for='1555-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1555' id='1555-2' value='2'>
			<label for='1555-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1555' id='1555-3' value='3'>
			<label for='1555-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1555' id='1555-4' value='4'>
			<label for='1555-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1555' id='1555-5' value='5'>
			<label for='1555-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1555' id='1555-6' value='6'>
			<label for='1555-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>116. It's true that I can be nasty.</legend>
			<input type='radio' name='50554' id='50554-1' value='1'>
			<label for='50554-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50554' id='50554-2' value='2'>
			<label for='50554-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50554' id='50554-3' value='3'>
			<label for='50554-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50554' id='50554-4' value='4'>
			<label for='50554-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50554' id='50554-5' value='5'>
			<label for='50554-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50554' id='50554-6' value='6'>
			<label for='50554-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>117. Believe that people are basically moral.</legend>
			<input type='radio' name='379' id='379-1' value='1'>
			<label for='379-1'>Very<br>Inaccurate</label>
			<input type='radio' name='379' id='379-2' value='2'>
			<label for='379-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='379' id='379-3' value='3'>
			<label for='379-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='379' id='379-4' value='4'>
			<label for='379-4'>Slightly<br>Accurate</label>
			<input type='radio' name='379' id='379-5' value='5'>
			<label for='379-5'>Moderately<br>Accurate</label>
			<input type='radio' name='379' id='379-6' value='6'>
			<label for='379-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>118. Am hard to satisfy.</legend>
			<input type='radio' name='142' id='142-1' value='1'>
			<label for='142-1'>Very<br>Inaccurate</label>
			<input type='radio' name='142' id='142-2' value='2'>
			<label for='142-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='142' id='142-3' value='3'>
			<label for='142-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='142' id='142-4' value='4'>
			<label for='142-4'>Slightly<br>Accurate</label>
			<input type='radio' name='142' id='142-5' value='5'>
			<label for='142-5'>Moderately<br>Accurate</label>
			<input type='radio' name='142' id='142-6' value='6'>
			<label for='142-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>119. I'm not good at planning ahead.</legend>
			<input type='radio' name='4048' id='4048-1' value='1'>
			<label for='4048-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4048' id='4048-2' value='2'>
			<label for='4048-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4048' id='4048-3' value='3'>
			<label for='4048-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4048' id='4048-4' value='4'>
			<label for='4048-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4048' id='4048-5' value='5'>
			<label for='4048-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4048' id='4048-6' value='6'>
			<label for='4048-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>120. Love to reflect on things.</legend>
			<input type='radio' name='1389' id='1389-1' value='1'>
			<label for='1389-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1389' id='1389-2' value='2'>
			<label for='1389-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1389' id='1389-3' value='3'>
			<label for='1389-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1389' id='1389-4' value='4'>
			<label for='1389-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1389' id='1389-5' value='5'>
			<label for='1389-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1389' id='1389-6' value='6'>
			<label for='1389-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>121. Lose my temper.</legend>
			<input type='radio' name='1357' id='1357-1' value='1'>
			<label for='1357-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1357' id='1357-2' value='2'>
			<label for='1357-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1357' id='1357-3' value='3'>
			<label for='1357-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1357' id='1357-4' value='4'>
			<label for='1357-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1357' id='1357-5' value='5'>
			<label for='1357-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1357' id='1357-6' value='6'>
			<label for='1357-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>122. I don't get emotional.</legend>
			<input type='radio' name='4085' id='4085-1' value='1'>
			<label for='4085-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4085' id='4085-2' value='2'>
			<label for='4085-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4085' id='4085-3' value='3'>
			<label for='4085-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4085' id='4085-4' value='4'>
			<label for='4085-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4085' id='4085-5' value='5'>
			<label for='4085-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4085' id='4085-6' value='6'>
			<label for='4085-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>123. Choose the best answer without using any tools: 30 + 26 + 2 + 19 = ?</legend>
			<input type='radio' name='15098' id='15098-1' value='1'>
			<label for='15098-1'>75</label>
			<input type='radio' name='15098' id='15098-2' value='2'>
			<label for='15098-2'>77</label>
			<input type='radio' name='15098' id='15098-3' value='3'>
			<label for='15098-3'>-386</label>
			<input type='radio' name='15098' id='15098-4' value='4'>
			<label for='15098-4'>128</label>
			<input type='radio' name='15098' id='15098-5' value='5'>
			<label for='15098-5'>-77</label>
			<input type='radio' name='15098' id='15098-6' value='6'>
			<label for='15098-6'>-85</label>
			<input type='radio' name='15098' id='15098-7' value='7'>
			<label for='15098-7'>None of these</label>
			<input type='radio' name='15098' id='15098-8' value='8'>
			<label for='15098-8'>I don't know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>124. There is a word that can be paired with each of the words below to form compound words.  What is the first letter of the missing word?<br>
		<p style='text-align: center;'>dream &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; break &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; light</p></legend>
			<input type='radio' name='14294' id='14294-1' value='1'>
			<label for='14294-1'>n</label>
			<input type='radio' name='14294' id='14294-2' value='2'>
			<label for='14294-2'>d</label>
			<input type='radio' name='14294' id='14294-3' value='3'>
			<label for='14294-3'>w</label>
			<input type='radio' name='14294' id='14294-4' value='4'>
			<label for='14294-4'>y</label>
			<input type='radio' name='14294' id='14294-5' value='5'>
			<label for='14294-5'>o</label>
			<input type='radio' name='14294' id='14294-6' value='6'>
			<label for='14294-6'>e</label>
			<input type='radio' name='14294' id='14294-7' value='7'>
			<label for='14294-7'>None of these</label>
			<input type='radio' name='14294' id='14294-8' value='8'>
			<label for='14294-8'>I don't know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>125. Please select the response that matches the image most accurately.</legend>
		<img id='fig13066.jpg' src='iq.figures/fig13066.jpg' width='200' height='280' style='display: block; margin-left: auto; margin-right: auto;'><br>
		<input type='radio' name='13066' id='13066-1' value='1'>
		<label for='13066-1'>anger</label>
		<input type='radio' name='13066' id='13066-2' value='2'>
		<label for='13066-2'>disgust</label>
		<input type='radio' name='13066' id='13066-3' value='3'>
		<label for='13066-3'>fear</label>
		<input type='radio' name='13066' id='13066-4' value='4'>
		<label for='13066-4'>happiness</label>
		<input type='radio' name='13066' id='13066-5' value='5'>
		<label for='13066-5'>neutral</label>
		<input type='radio' name='13066' id='13066-6' value='6'>
		<label for='13066-6'>sadness</label>
		<input type='radio' name='13066' id='13066-7' value='7'>
		<label for='13066-7'>surprise</label>
		<input type='radio' name='13066' id='13066-8' value='8'>
		<label for='13066-8'>I don't know</label>
	</fieldset>
</div> <!-- closes div class="10u offset-1u" -->
<div class="1u">
</div> <!-- closes div class="1u" -->
</div>  <!-- closes div class="row" -->
										<div class="row">

											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-stop" aria-disabled="false"><input type="submit" data-theme="stop" name="submitStop" value="Skip to last page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
											<div class="6u">
												<ul>
												<li>
												</li>
												</ul>
											</div>
											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-more" aria-disabled="false"><input type="submit" data-theme="more" id="submitGo" name="submitGo" value="Next page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
										</div>

</form><!-- closes form id="page7"  -->
								</div>  <!-- closes div class="5grid" -->
							</div>  <!-- closes div id="content" -->
						</div> <!-- closes div class="12u mobileUI-main-content" -->
					</div><!-- closes div id="row" -->
				</div> <!-- closes div class="5grid-layout" -->
			</div> <!-- closes div id="main-wrapper" -->

		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
				<footer id="footer" class="5grid-layout">
					<div class="row">
						<div class="12u">
							<div id="copyright">
							<center>
								&copy; Part of the Personality Project.	
							</center>
							</div>
						</div>
					</div>
				</footer>
			</div>
		<!-- End Footer Wrapper -->
	</body>
</html>
