<!DOCTYPE HTML>
<html>

	<head>
		<title>Free Personality Test | SAPA-Project | Items 26 to 50</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="description" content="This is the second of several pages where we ask about your typical thoughts, feelings, and behaviors. Your responses to these questions will shape your free customized personality report, so be sure to respond honestly.  And don't skip too many items along the way!">
		<meta name="keywords" content="" />

		<link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
		<link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16">
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
		<link rel="manifest" href="../manifest.json">
		<link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" href="../css/5grid/fonts.css" />
		<link rel="stylesheet" href="../css/5grid/jquery.mobile-1.3.0.css" />
		<script src="../css/5grid/jquery.js"></script>
		<script src="../css/5grid/jquery.mobile-1.3.0.min.js"></script>
		<script src="../css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none&amp;mobileUI_titleBarOverlaid=1&amp;mobileUI_titleBarHeight=60&amp;viewport_is1000px=1060&amp;mobileUI_openerWidth=80"></script>
		<noscript>
			<link rel="stylesheet" href="../css/5grid/core.css" />
			<link rel="stylesheet" href="../css/5grid/core-desktop.css" />
			<link rel="stylesheet" href="../css/5grid/core-1200px.css" />
			<link rel="stylesheet" href="../css/5grid/core-noscript.css" />
			<link rel="stylesheet" href="../css/style.css" />
			<link rel="stylesheet" href="../css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="../css/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="../css/ie7.css" /><![endif]-->
	</head>
	<body class="no-sidebar">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="5grid-layout">
					<div class="row">
						
							<!-- Header -->
								<header id="header">
										<h2>The SAPA Project</h2>
										<h3>a personality assessment collaboratory</h3>
								</header>

					</div>
				</div>
			</div>
		<!-- End Header Wrapper -->
		
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="5grid-layout">
					<div class="row">
						<div class="12u mobileUI-main-content">

							<!-- Content -->
								<div id="content">

									<div class="5grid">
										<div class="row">
											<div class="12u" style="margin-bottom: 0px;">

										<h3>Personality Questions</h3>

										<p class="smallish">You've responded to <strong>2 of the 25 items</strong> given so far.</p>
										
										<p class="smallish">You can skip items or quit at any time but this will limit the accuracy of your feedback.  We recommend <span class="largish" style="color:#4073b4;"><strong>100 responses</strong></span> for good accuracy in your five factor ("Big Five") scores, <span class="largish" style="color:#4073b4;"><strong>150 responses</strong></span> for reasonable accuracy in your 27 factor scores, and <span class="largish" style="color:#4073b4;"><strong>200+ responses</strong></span> for high accuracy in both.  The most you can answer is 250 questions.</p>

											</div> <!-- closes div class="12u" -->
										</div>  <!-- closes div class="row" -->
																		
										<div class="small">
										</div>

<form name="page4" id="page4" DefaultButton="submitGo" action="/survey/survey2.php" data-ajax="false" method="post" onsubmit="getTime();">  

<input type="hidden" id="page2Time" name="page2Time">

<script language='JavaScript'>
function getTime(){
var current = new Date();
var since = current.getTime();
var elapsetime = since/1000;
document.getElementById('page2Time').value = elapsetime;
}
</script>
<!-- Gets the time between 1/1/1970 12:00 am UTC and now in seconds. -->

<div class="row">
<div class="10u offset-1u">


	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>26. Being rude and unfriendly is just a part of who I am.</legend>
			<input type='radio' name='4014' id='4014-1' value='1'>
			<label for='4014-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4014' id='4014-2' value='2'>
			<label for='4014-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4014' id='4014-3' value='3'>
			<label for='4014-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4014' id='4014-4' value='4'>
			<label for='4014-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4014' id='4014-5' value='5'>
			<label for='4014-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4014' id='4014-6' value='6'>
			<label for='4014-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>27. Am skilled in handling social situations.</legend>
			<input type='radio' name='254' id='254-1' value='1'>
			<label for='254-1'>Very<br>Inaccurate</label>
			<input type='radio' name='254' id='254-2' value='2'>
			<label for='254-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='254' id='254-3' value='3'>
			<label for='254-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='254' id='254-4' value='4'>
			<label for='254-4'>Slightly<br>Accurate</label>
			<input type='radio' name='254' id='254-5' value='5'>
			<label for='254-5'>Moderately<br>Accurate</label>
			<input type='radio' name='254' id='254-6' value='6'>
			<label for='254-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>28. Respect authority.</legend>
			<input type='radio' name='1624' id='1624-1' value='1'>
			<label for='1624-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1624' id='1624-2' value='2'>
			<label for='1624-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1624' id='1624-3' value='3'>
			<label for='1624-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1624' id='1624-4' value='4'>
			<label for='1624-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1624' id='1624-5' value='5'>
			<label for='1624-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1624' id='1624-6' value='6'>
			<label for='1624-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>29. I am not interested in making friends.</legend>
			<input type='radio' name='4147' id='4147-1' value='1'>
			<label for='4147-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4147' id='4147-2' value='2'>
			<label for='4147-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4147' id='4147-3' value='3'>
			<label for='4147-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4147' id='4147-4' value='4'>
			<label for='4147-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4147' id='4147-5' value='5'>
			<label for='4147-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4147' id='4147-6' value='6'>
			<label for='4147-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>30. Would hate to be considered odd or strange.</legend>
			<input type='radio' name='2005' id='2005-1' value='1'>
			<label for='2005-1'>Very<br>Inaccurate</label>
			<input type='radio' name='2005' id='2005-2' value='2'>
			<label for='2005-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='2005' id='2005-3' value='3'>
			<label for='2005-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='2005' id='2005-4' value='4'>
			<label for='2005-4'>Slightly<br>Accurate</label>
			<input type='radio' name='2005' id='2005-5' value='5'>
			<label for='2005-5'>Moderately<br>Accurate</label>
			<input type='radio' name='2005' id='2005-6' value='6'>
			<label for='2005-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>31. Love life.</legend>
			<input type='radio' name='1371' id='1371-1' value='1'>
			<label for='1371-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1371' id='1371-2' value='2'>
			<label for='1371-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1371' id='1371-3' value='3'>
			<label for='1371-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1371' id='1371-4' value='4'>
			<label for='1371-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1371' id='1371-5' value='5'>
			<label for='1371-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1371' id='1371-6' value='6'>
			<label for='1371-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>32. I enjoy making jokes at the expense of others.</legend>
			<input type='radio' name='51779' id='51779-1' value='1'>
			<label for='51779-1'>Very<br>Inaccurate</label>
			<input type='radio' name='51779' id='51779-2' value='2'>
			<label for='51779-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='51779' id='51779-3' value='3'>
			<label for='51779-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='51779' id='51779-4' value='4'>
			<label for='51779-4'>Slightly<br>Accurate</label>
			<input type='radio' name='51779' id='51779-5' value='5'>
			<label for='51779-5'>Moderately<br>Accurate</label>
			<input type='radio' name='51779' id='51779-6' value='6'>
			<label for='51779-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>33. Laugh a lot.</legend>
			<input type='radio' name='1243' id='1243-1' value='1'>
			<label for='1243-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1243' id='1243-2' value='2'>
			<label for='1243-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1243' id='1243-3' value='3'>
			<label for='1243-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1243' id='1243-4' value='4'>
			<label for='1243-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1243' id='1243-5' value='5'>
			<label for='1243-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1243' id='1243-6' value='6'>
			<label for='1243-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>34. Reveal little about myself.</legend>
			<input type='radio' name='1635' id='1635-1' value='1'>
			<label for='1635-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1635' id='1635-2' value='2'>
			<label for='1635-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1635' id='1635-3' value='3'>
			<label for='1635-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1635' id='1635-4' value='4'>
			<label for='1635-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1635' id='1635-5' value='5'>
			<label for='1635-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1635' id='1635-6' value='6'>
			<label for='1635-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>35. I would never step on others to get what I want.</legend>
			<input type='radio' name='3969' id='3969-1' value='1'>
			<label for='3969-1'>Very<br>Inaccurate</label>
			<input type='radio' name='3969' id='3969-2' value='2'>
			<label for='3969-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='3969' id='3969-3' value='3'>
			<label for='3969-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='3969' id='3969-4' value='4'>
			<label for='3969-4'>Slightly<br>Accurate</label>
			<input type='radio' name='3969' id='3969-5' value='5'>
			<label for='3969-5'>Moderately<br>Accurate</label>
			<input type='radio' name='3969' id='3969-6' value='6'>
			<label for='3969-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>36. Rarely overindulge.</legend>
			<input type='radio' name='1590' id='1590-1' value='1'>
			<label for='1590-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1590' id='1590-2' value='2'>
			<label for='1590-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1590' id='1590-3' value='3'>
			<label for='1590-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1590' id='1590-4' value='4'>
			<label for='1590-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1590' id='1590-5' value='5'>
			<label for='1590-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1590' id='1590-6' value='6'>
			<label for='1590-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>37. Do not like art.</legend>
			<input type='radio' name='610' id='610-1' value='1'>
			<label for='610-1'>Very<br>Inaccurate</label>
			<input type='radio' name='610' id='610-2' value='2'>
			<label for='610-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='610' id='610-3' value='3'>
			<label for='610-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='610' id='610-4' value='4'>
			<label for='610-4'>Slightly<br>Accurate</label>
			<input type='radio' name='610' id='610-5' value='5'>
			<label for='610-5'>Moderately<br>Accurate</label>
			<input type='radio' name='610' id='610-6' value='6'>
			<label for='610-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>38. My family is proud of everything I do.</legend>
			<input type='radio' name='50552' id='50552-1' value='1'>
			<label for='50552-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50552' id='50552-2' value='2'>
			<label for='50552-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50552' id='50552-3' value='3'>
			<label for='50552-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50552' id='50552-4' value='4'>
			<label for='50552-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50552' id='50552-5' value='5'>
			<label for='50552-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50552' id='50552-6' value='6'>
			<label for='50552-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>39. Don't like the idea of change.</legend>
			<input type='radio' name='689' id='689-1' value='1'>
			<label for='689-1'>Very<br>Inaccurate</label>
			<input type='radio' name='689' id='689-2' value='2'>
			<label for='689-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='689' id='689-3' value='3'>
			<label for='689-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='689' id='689-4' value='4'>
			<label for='689-4'>Slightly<br>Accurate</label>
			<input type='radio' name='689' id='689-5' value='5'>
			<label for='689-5'>Moderately<br>Accurate</label>
			<input type='radio' name='689' id='689-6' value='6'>
			<label for='689-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>40. Seek adventure.</legend>
			<input type='radio' name='1662' id='1662-1' value='1'>
			<label for='1662-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1662' id='1662-2' value='2'>
			<label for='1662-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1662' id='1662-3' value='3'>
			<label for='1662-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1662' id='1662-4' value='4'>
			<label for='1662-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1662' id='1662-5' value='5'>
			<label for='1662-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1662' id='1662-6' value='6'>
			<label for='1662-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>41. I like to have authority over other people.</legend>
			<input type='radio' name='51749' id='51749-1' value='1'>
			<label for='51749-1'>Very<br>Inaccurate</label>
			<input type='radio' name='51749' id='51749-2' value='2'>
			<label for='51749-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='51749' id='51749-3' value='3'>
			<label for='51749-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='51749' id='51749-4' value='4'>
			<label for='51749-4'>Slightly<br>Accurate</label>
			<input type='radio' name='51749' id='51749-5' value='5'>
			<label for='51749-5'>Moderately<br>Accurate</label>
			<input type='radio' name='51749' id='51749-6' value='6'>
			<label for='51749-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>42. Stop to think things over before doing anything.</legend>
			<input type='radio' name='4223' id='4223-1' value='1'>
			<label for='4223-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4223' id='4223-2' value='2'>
			<label for='4223-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4223' id='4223-3' value='3'>
			<label for='4223-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4223' id='4223-4' value='4'>
			<label for='4223-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4223' id='4223-5' value='5'>
			<label for='4223-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4223' id='4223-6' value='6'>
			<label for='4223-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>43. Don't consider myself religious.</legend>
			<input type='radio' name='660' id='660-1' value='1'>
			<label for='660-1'>Very<br>Inaccurate</label>
			<input type='radio' name='660' id='660-2' value='2'>
			<label for='660-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='660' id='660-3' value='3'>
			<label for='660-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='660' id='660-4' value='4'>
			<label for='660-4'>Slightly<br>Accurate</label>
			<input type='radio' name='660' id='660-5' value='5'>
			<label for='660-5'>Moderately<br>Accurate</label>
			<input type='radio' name='660' id='660-6' value='6'>
			<label for='660-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>44. It is hard for me to stop an activity, even when it's time to do so.</legend>
			<input type='radio' name='4047' id='4047-1' value='1'>
			<label for='4047-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4047' id='4047-2' value='2'>
			<label for='4047-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4047' id='4047-3' value='3'>
			<label for='4047-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4047' id='4047-4' value='4'>
			<label for='4047-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4047' id='4047-5' value='5'>
			<label for='4047-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4047' id='4047-6' value='6'>
			<label for='4047-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>45. Have a slow pace to my life.</legend>
			<input type='radio' name='1052' id='1052-1' value='1'>
			<label for='1052-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1052' id='1052-2' value='2'>
			<label for='1052-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1052' id='1052-3' value='3'>
			<label for='1052-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1052' id='1052-4' value='4'>
			<label for='1052-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1052' id='1052-5' value='5'>
			<label for='1052-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1052' id='1052-6' value='6'>
			<label for='1052-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>46. Plenty of people are out to get me.</legend>
			<input type='radio' name='4003' id='4003-1' value='1'>
			<label for='4003-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4003' id='4003-2' value='2'>
			<label for='4003-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4003' id='4003-3' value='3'>
			<label for='4003-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4003' id='4003-4' value='4'>
			<label for='4003-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4003' id='4003-5' value='5'>
			<label for='4003-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4003' id='4003-6' value='6'>
			<label for='4003-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>47. I never miss appointments.</legend>
			<input type='radio' name='3991' id='3991-1' value='1'>
			<label for='3991-1'>Very<br>Inaccurate</label>
			<input type='radio' name='3991' id='3991-2' value='2'>
			<label for='3991-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='3991' id='3991-3' value='3'>
			<label for='3991-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='3991' id='3991-4' value='4'>
			<label for='3991-4'>Slightly<br>Accurate</label>
			<input type='radio' name='3991' id='3991-5' value='5'>
			<label for='3991-5'>Moderately<br>Accurate</label>
			<input type='radio' name='3991' id='3991-6' value='6'>
			<label for='3991-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>48. All the cubes below have a different image on each side.  Select the choice that could represent a rotation of the cube labeled X.</legend>
		<img id='fig11022.png' src='iq.figures/fig11022.png' width='640' height='310'><br>
		<input type='radio' name='11022' id='11022-1' value='1'>
		<label for='11022-1'>A</label>
		<input type='radio' name='11022' id='11022-2' value='2'>
		<label for='11022-2'>B</label>
		<input type='radio' name='11022' id='11022-3' value='3'>
		<label for='11022-3'>C</label>
		<input type='radio' name='11022' id='11022-4' value='4'>
		<label for='11022-4'>D</label>
		<input type='radio' name='11022' id='11022-5' value='5'>
		<label for='11022-5'>E</label>
		<input type='radio' name='11022' id='11022-6' value='6'>
		<label for='11022-6'>F</label>
		<input type='radio' name='11022' id='11022-7' value='7'>
		<label for='11022-7'>G</label>
		<input type='radio' name='11022' id='11022-8' value='8'>
		<label for='11022-8'>H</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>49. In the following alphanumeric series, what letter comes next? Q, S, N, P, L, ...</legend>
			<input type='radio' name='12058' id='12058-1' value='1'>
			<label for='12058-1'>J</label>
			<input type='radio' name='12058' id='12058-2' value='2'>
			<label for='12058-2'>H</label>
			<input type='radio' name='12058' id='12058-3' value='3'>
			<label for='12058-3'>I</label>
			<input type='radio' name='12058' id='12058-4' value='4'>
			<label for='12058-4'>N</label>
			<input type='radio' name='12058' id='12058-5' value='5'>
			<label for='12058-5'>M</label>
			<input type='radio' name='12058' id='12058-6' value='6'>
			<label for='12058-6'>L</label>
			<input type='radio' name='12058' id='12058-7' value='7'>
			<label for='12058-7'>None of these</label>
			<input type='radio' name='12058' id='12058-8' value='8'>
			<label for='12058-8'>I don't know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>50. If the motor hums and the warning tone sounds, then the conveyor belt runs. The motor hums. The warning tone sounds.</legend>
		<p><strong>A.</strong> The pedal is pressed.<br>
		<strong>B.</strong> The warning tone doesn't sound.<br>
		<strong>C.</strong> The pedal isn't pressed.<br>
		<strong>D.</strong> The motor doesn't hum.<br>
		<strong>E.</strong> The conveyor belt runs.<br>
		<strong>F.</strong> The conveyor belt doesn't run.<br>
		<strong>G.</strong> None of these<br>
		<strong>H.</strong> I don't know</p></legend>
			<input type='radio' name='17005' id='17005-1' value='1'>
			<label for='17005-1'>A</label>
			<input type='radio' name='17005' id='17005-2' value='2'>
			<label for='17005-2'>B</label>
			<input type='radio' name='17005' id='17005-3' value='3'>
			<label for='17005-3'>C</label>
			<input type='radio' name='17005' id='17005-4' value='4'>
			<label for='17005-4'>D</label>
			<input type='radio' name='17005' id='17005-5' value='5'>
			<label for='17005-5'>E</label>
			<input type='radio' name='17005' id='17005-6' value='6'>
			<label for='17005-6'>F</label>
			<input type='radio' name='17005' id='17005-7' value='7'>
			<label for='17005-7'>G</label>
			<input type='radio' name='17005' id='17005-8' value='8'>
			<label for='17005-8'>H</label>
	</fieldset>
</div> <!-- closes div class="10u offset-1u" -->
<div class="1u">
</div> <!-- closes div class="1u" -->
</div>  <!-- closes div class="row" -->
										<div class="row">

											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-stop" aria-disabled="false"><input type="submit" data-theme="stop" name="submitStop" value="Skip to last page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
											<div class="6u">
												<ul>
												<li>
												</li>
												</ul>
											</div>
											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-more" aria-disabled="false"><input type="submit" data-theme="more" id="submitGo" name="submitGo" value="Next page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
										</div>

</form><!-- closes form id="page4"  -->
								</div>  <!-- closes div class="5grid" -->
							</div>  <!-- closes div id="content" -->
						</div> <!-- closes div class="12u mobileUI-main-content" -->
					</div><!-- closes div id="row" -->
				</div> <!-- closes div class="5grid-layout" -->
			</div> <!-- closes div id="main-wrapper" -->

		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
				<footer id="footer" class="5grid-layout">
					<div class="row">
						<div class="12u">
							<div id="copyright">
							<center>
								&copy; Part of the Personality Project.	
							</center>
							</div>
						</div>
					</div>
				</footer>
			</div>
		<!-- End Footer Wrapper -->
	</body>
</html>
