<!DOCTYPE HTML>
<html>

	<head>
		<title>Free Personality Test | SAPA-Project | Items 151 to 175</title>
		<meta name="description" content="This is the seventh of several pages where we ask about your typical thoughts, feelings, and behaviors. Your responses to these questions will shape your free customized personality report, so be sure to respond honestly.  And don't skip too many items along the way!">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="keywords" content="" />

		<link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
		<link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16">
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
		<link rel="manifest" href="../manifest.json">
		<link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" href="../css/5grid/fonts.css" />
		<link rel="stylesheet" href="../css/5grid/jquery.mobile-1.3.0.css" />
		<script src="../css/5grid/jquery.js"></script>
		<script src="../css/5grid/jquery.mobile-1.3.0.min.js"></script>
		<script src="../css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none&amp;mobileUI_titleBarOverlaid=1&amp;mobileUI_titleBarHeight=60&amp;viewport_is1000px=1060&amp;mobileUI_openerWidth=80"></script>
		<noscript>
			<link rel="stylesheet" href="../css/5grid/core.css" />
			<link rel="stylesheet" href="../css/5grid/core-desktop.css" />
			<link rel="stylesheet" href="../css/5grid/core-1200px.css" />
			<link rel="stylesheet" href="../css/5grid/core-noscript.css" />
			<link rel="stylesheet" href="../css/style.css" />
			<link rel="stylesheet" href="../css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="../css/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="../css/ie7.css" /><![endif]-->
	</head>
	<body class="no-sidebar">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="5grid-layout">
					<div class="row">
						
							<!-- Header -->
								<header id="header">
										<h2>The SAPA Project</h2>
										<h3>a personality assessment collaboratory</h3>
								</header>

					</div>
				</div>
			</div>
		<!-- End Header Wrapper -->
		
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="5grid-layout">
					<div class="row">
						<div class="12u mobileUI-main-content">

							<!-- Content -->
								<div id="content">

									<div class="5grid">
										<div class="row">
											<div class="12u" style="margin-bottom: 0px;">

										<h3>Personality Questions</h3>
										
										<p class="smallish">You've responded to <strong>14 of the 150 items</strong> given so far.</p>

										<p class="smallish">Remember that <strong>your responses are anonymous</strong>.  Do your best to respond as accurately and honestly as possible.</p>

											</div> <!-- closes div class="12u" -->
										</div>  <!-- closes div class="row" -->
																		
										<div class="small">
										</div>

<form name="page9" id="page9" DefaultButton="submitGo" action="/survey/survey7.php" data-ajax="false" method="post" onsubmit="getTime();">  

<input type="hidden" id="page7Time" name="page7Time">

<script language='JavaScript'>
function getTime(){
var current = new Date();
var since = current.getTime();
var elapsetime = since/1000;
document.getElementById('page7Time').value = elapsetime;
}
</script>
<!-- Gets the time between 1/1/1970 12:00 am UTC and now in seconds. -->

<div class="row">
<div class="10u offset-1u">


	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>151. I have trouble pursuing specific goals even for short periods of time.</legend>
			<input type='radio' name='4089' id='4089-1' value='1'>
			<label for='4089-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4089' id='4089-2' value='2'>
			<label for='4089-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4089' id='4089-3' value='3'>
			<label for='4089-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4089' id='4089-4' value='4'>
			<label for='4089-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4089' id='4089-5' value='5'>
			<label for='4089-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4089' id='4089-6' value='6'>
			<label for='4089-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>152. Am concerned about others.</legend>
			<input type='radio' name='90' id='90-1' value='1'>
			<label for='90-1'>Very<br>Inaccurate</label>
			<input type='radio' name='90' id='90-2' value='2'>
			<label for='90-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='90' id='90-3' value='3'>
			<label for='90-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='90' id='90-4' value='4'>
			<label for='90-4'>Slightly<br>Accurate</label>
			<input type='radio' name='90' id='90-5' value='5'>
			<label for='90-5'>Moderately<br>Accurate</label>
			<input type='radio' name='90' id='90-6' value='6'>
			<label for='90-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>153. Work hard.</legend>
			<input type='radio' name='1979' id='1979-1' value='1'>
			<label for='1979-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1979' id='1979-2' value='2'>
			<label for='1979-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1979' id='1979-3' value='3'>
			<label for='1979-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1979' id='1979-4' value='4'>
			<label for='1979-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1979' id='1979-5' value='5'>
			<label for='1979-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1979' id='1979-6' value='6'>
			<label for='1979-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>154. I'm more tough-minded than other people.</legend>
			<input type='radio' name='3970' id='3970-1' value='1'>
			<label for='3970-1'>Very<br>Inaccurate</label>
			<input type='radio' name='3970' id='3970-2' value='2'>
			<label for='3970-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='3970' id='3970-3' value='3'>
			<label for='3970-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='3970' id='3970-4' value='4'>
			<label for='3970-4'>Slightly<br>Accurate</label>
			<input type='radio' name='3970' id='3970-5' value='5'>
			<label for='3970-5'>Moderately<br>Accurate</label>
			<input type='radio' name='3970' id='3970-6' value='6'>
			<label for='3970-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>155. Am able to come up with new and different ideas.</legend>
			<input type='radio' name='2745' id='2745-1' value='1'>
			<label for='2745-1'>Very<br>Inaccurate</label>
			<input type='radio' name='2745' id='2745-2' value='2'>
			<label for='2745-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='2745' id='2745-3' value='3'>
			<label for='2745-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='2745' id='2745-4' value='4'>
			<label for='2745-4'>Slightly<br>Accurate</label>
			<input type='radio' name='2745' id='2745-5' value='5'>
			<label for='2745-5'>Moderately<br>Accurate</label>
			<input type='radio' name='2745' id='2745-6' value='6'>
			<label for='2745-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>156. Fear for the worst.</legend>
			<input type='radio' name='808' id='808-1' value='1'>
			<label for='808-1'>Very<br>Inaccurate</label>
			<input type='radio' name='808' id='808-2' value='2'>
			<label for='808-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='808' id='808-3' value='3'>
			<label for='808-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='808' id='808-4' value='4'>
			<label for='808-4'>Slightly<br>Accurate</label>
			<input type='radio' name='808' id='808-5' value='5'>
			<label for='808-5'>Moderately<br>Accurate</label>
			<input type='radio' name='808' id='808-6' value='6'>
			<label for='808-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>157. Things around me often feel unreal, or more real than usual.</legend>
			<input type='radio' name='4218' id='4218-1' value='1'>
			<label for='4218-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4218' id='4218-2' value='2'>
			<label for='4218-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4218' id='4218-3' value='3'>
			<label for='4218-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4218' id='4218-4' value='4'>
			<label for='4218-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4218' id='4218-5' value='5'>
			<label for='4218-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4218' id='4218-6' value='6'>
			<label for='4218-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>158. Like going out a lot.</legend>
			<input type='radio' name='4243' id='4243-1' value='1'>
			<label for='4243-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4243' id='4243-2' value='2'>
			<label for='4243-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4243' id='4243-3' value='3'>
			<label for='4243-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4243' id='4243-4' value='4'>
			<label for='4243-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4243' id='4243-5' value='5'>
			<label for='4243-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4243' id='4243-6' value='6'>
			<label for='4243-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>159. Cheat to get ahead.</legend>
			<input type='radio' name='501' id='501-1' value='1'>
			<label for='501-1'>Very<br>Inaccurate</label>
			<input type='radio' name='501' id='501-2' value='2'>
			<label for='501-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='501' id='501-3' value='3'>
			<label for='501-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='501' id='501-4' value='4'>
			<label for='501-4'>Slightly<br>Accurate</label>
			<input type='radio' name='501' id='501-5' value='5'>
			<label for='501-5'>Moderately<br>Accurate</label>
			<input type='radio' name='501' id='501-6' value='6'>
			<label for='501-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>160. I never feel guilty over hurting others.</legend>
			<input type='radio' name='3984' id='3984-1' value='1'>
			<label for='3984-1'>Very<br>Inaccurate</label>
			<input type='radio' name='3984' id='3984-2' value='2'>
			<label for='3984-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='3984' id='3984-3' value='3'>
			<label for='3984-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='3984' id='3984-4' value='4'>
			<label for='3984-4'>Slightly<br>Accurate</label>
			<input type='radio' name='3984' id='3984-5' value='5'>
			<label for='3984-5'>Moderately<br>Accurate</label>
			<input type='radio' name='3984' id='3984-6' value='6'>
			<label for='3984-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>161. Often forget to put things back in their proper place.</legend>
			<input type='radio' name='1483' id='1483-1' value='1'>
			<label for='1483-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1483' id='1483-2' value='2'>
			<label for='1483-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1483' id='1483-3' value='3'>
			<label for='1483-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1483' id='1483-4' value='4'>
			<label for='1483-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1483' id='1483-5' value='5'>
			<label for='1483-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1483' id='1483-6' value='6'>
			<label for='1483-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>162. Think quickly.</legend>
			<input type='radio' name='1834' id='1834-1' value='1'>
			<label for='1834-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1834' id='1834-2' value='2'>
			<label for='1834-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1834' id='1834-3' value='3'>
			<label for='1834-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1834' id='1834-4' value='4'>
			<label for='1834-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1834' id='1834-5' value='5'>
			<label for='1834-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1834' id='1834-6' value='6'>
			<label for='1834-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>163. I'm slow to trust people.</legend>
			<input type='radio' name='50589' id='50589-1' value='1'>
			<label for='50589-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50589' id='50589-2' value='2'>
			<label for='50589-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50589' id='50589-3' value='3'>
			<label for='50589-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50589' id='50589-4' value='4'>
			<label for='50589-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50589' id='50589-5' value='5'>
			<label for='50589-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50589' id='50589-6' value='6'>
			<label for='50589-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>164. Get overwhelmed by emotions.</legend>
			<input type='radio' name='979' id='979-1' value='1'>
			<label for='979-1'>Very<br>Inaccurate</label>
			<input type='radio' name='979' id='979-2' value='2'>
			<label for='979-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='979' id='979-3' value='3'>
			<label for='979-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='979' id='979-4' value='4'>
			<label for='979-4'>Slightly<br>Accurate</label>
			<input type='radio' name='979' id='979-5' value='5'>
			<label for='979-5'>Moderately<br>Accurate</label>
			<input type='radio' name='979' id='979-6' value='6'>
			<label for='979-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>165. Like to attract attention.</legend>
			<input type='radio' name='1296' id='1296-1' value='1'>
			<label for='1296-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1296' id='1296-2' value='2'>
			<label for='1296-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1296' id='1296-3' value='3'>
			<label for='1296-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1296' id='1296-4' value='4'>
			<label for='1296-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1296' id='1296-5' value='5'>
			<label for='1296-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1296' id='1296-6' value='6'>
			<label for='1296-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>166. It tortures me to see an injured animal.</legend>
			<input type='radio' name='3972' id='3972-1' value='1'>
			<label for='3972-1'>Very<br>Inaccurate</label>
			<input type='radio' name='3972' id='3972-2' value='2'>
			<label for='3972-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='3972' id='3972-3' value='3'>
			<label for='3972-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='3972' id='3972-4' value='4'>
			<label for='3972-4'>Slightly<br>Accurate</label>
			<input type='radio' name='3972' id='3972-5' value='5'>
			<label for='3972-5'>Moderately<br>Accurate</label>
			<input type='radio' name='3972' id='3972-6' value='6'>
			<label for='3972-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>167. Believe that others have good intentions.</legend>
			<input type='radio' name='377' id='377-1' value='1'>
			<label for='377-1'>Very<br>Inaccurate</label>
			<input type='radio' name='377' id='377-2' value='2'>
			<label for='377-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='377' id='377-3' value='3'>
			<label for='377-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='377' id='377-4' value='4'>
			<label for='377-4'>Slightly<br>Accurate</label>
			<input type='radio' name='377' id='377-5' value='5'>
			<label for='377-5'>Moderately<br>Accurate</label>
			<input type='radio' name='377' id='377-6' value='6'>
			<label for='377-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>168. Dislike imperfect work.</legend>
			<input type='radio' name='571' id='571-1' value='1'>
			<label for='571-1'>Very<br>Inaccurate</label>
			<input type='radio' name='571' id='571-2' value='2'>
			<label for='571-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='571' id='571-3' value='3'>
			<label for='571-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='571' id='571-4' value='4'>
			<label for='571-4'>Slightly<br>Accurate</label>
			<input type='radio' name='571' id='571-5' value='5'>
			<label for='571-5'>Moderately<br>Accurate</label>
			<input type='radio' name='571' id='571-6' value='6'>
			<label for='571-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>169. I don't deal with people unless I have to.</legend>
			<input type='radio' name='4183' id='4183-1' value='1'>
			<label for='4183-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4183' id='4183-2' value='2'>
			<label for='4183-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4183' id='4183-3' value='3'>
			<label for='4183-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4183' id='4183-4' value='4'>
			<label for='4183-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4183' id='4183-5' value='5'>
			<label for='4183-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4183' id='4183-6' value='6'>
			<label for='4183-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>170. Try to understand myself.</legend>
			<input type='radio' name='1880' id='1880-1' value='1'>
			<label for='1880-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1880' id='1880-2' value='2'>
			<label for='1880-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1880' id='1880-3' value='3'>
			<label for='1880-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1880' id='1880-4' value='4'>
			<label for='1880-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1880' id='1880-5' value='5'>
			<label for='1880-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1880' id='1880-6' value='6'>
			<label for='1880-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>171. Am not easily annoyed.</legend>
			<input type='radio' name='176' id='176-1' value='1'>
			<label for='176-1'>Very<br>Inaccurate</label>
			<input type='radio' name='176' id='176-2' value='2'>
			<label for='176-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='176' id='176-3' value='3'>
			<label for='176-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='176' id='176-4' value='4'>
			<label for='176-4'>Slightly<br>Accurate</label>
			<input type='radio' name='176' id='176-5' value='5'>
			<label for='176-5'>Moderately<br>Accurate</label>
			<input type='radio' name='176' id='176-6' value='6'>
			<label for='176-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>172. I am a superior person.</legend>
			<input type='radio' name='50602' id='50602-1' value='1'>
			<label for='50602-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50602' id='50602-2' value='2'>
			<label for='50602-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50602' id='50602-3' value='3'>
			<label for='50602-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50602' id='50602-4' value='4'>
			<label for='50602-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50602' id='50602-5' value='5'>
			<label for='50602-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50602' id='50602-6' value='6'>
			<label for='50602-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>173. Which piece makes these patterns match?</legend>
		<img id='fig16147.svg' src='iq.figures/fig16147.svg' width='440' height='340'><br>
		<input type='radio' name='16147' id='16147-1' value='1'>
		<label for='16147-1'>A</label>
		<input type='radio' name='16147' id='16147-2' value='2'>
		<label for='16147-2'>B</label>
		<input type='radio' name='16147' id='16147-3' value='3'>
		<label for='16147-3'>C</label>
		<input type='radio' name='16147' id='16147-4' value='4'>
		<label for='16147-4'>D</label>
		<input type='radio' name='16147' id='16147-5' value='5'>
		<label for='16147-5'>E</label>
		<input type='radio' name='16147' id='16147-6' value='6'>
		<label for='16147-6'>F</label>
		<input type='radio' name='16147' id='16147-7' value='7'>
		<label for='16147-7'>G</label>
		<input type='radio' name='16147' id='16147-8' value='8'>
		<label for='16147-8'>H</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>174. Choose the best answer without using any tools: -17 - 19 + 39 + 44 = ?</legend>
			<input type='radio' name='15162' id='15162-1' value='1'>
			<label for='15162-1'>-267</label>
			<input type='radio' name='15162' id='15162-2' value='2'>
			<label for='15162-2'>-47</label>
			<input type='radio' name='15162' id='15162-3' value='3'>
			<label for='15162-3'>49</label>
			<input type='radio' name='15162' id='15162-4' value='4'>
			<label for='15162-4'>47</label>
			<input type='radio' name='15162' id='15162-5' value='5'>
			<label for='15162-5'>50</label>
			<input type='radio' name='15162' id='15162-6' value='6'>
			<label for='15162-6'>310</label>
			<input type='radio' name='15162' id='15162-7' value='7'>
			<label for='15162-7'>None of these</label>
			<input type='radio' name='15162' id='15162-8' value='8'>
			<label for='15162-8'>I don't know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>175. There is a word that can be paired with each of the words below to form compound words.  What is the first letter of the missing word?<br>
		<p style='text-align: center;'>cracker &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; fly &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; fighter</p></legend>
			<input type='radio' name='14292' id='14292-1' value='1'>
			<label for='14292-1'>f</label>
			<input type='radio' name='14292' id='14292-2' value='2'>
			<label for='14292-2'>p</label>
			<input type='radio' name='14292' id='14292-3' value='3'>
			<label for='14292-3'>h</label>
			<input type='radio' name='14292' id='14292-4' value='4'>
			<label for='14292-4'>y</label>
			<input type='radio' name='14292' id='14292-5' value='5'>
			<label for='14292-5'>a</label>
			<input type='radio' name='14292' id='14292-6' value='6'>
			<label for='14292-6'>b</label>
			<input type='radio' name='14292' id='14292-7' value='7'>
			<label for='14292-7'>None of these</label>
			<input type='radio' name='14292' id='14292-8' value='8'>
			<label for='14292-8'>I don't know</label>
	</fieldset>
</div> <!-- closes div class="10u offset-1u" -->
<div class="1u">
</div> <!-- closes div class="1u" -->
</div>  <!-- closes div class="row" -->
										<div class="row">

											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-stop" aria-disabled="false"><input type="submit" data-theme="stop" name="submitStop" value="Skip to last page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
											<div class="6u">
												<ul>
												<li>
												</li>
												</ul>
											</div>
											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-more" aria-disabled="false"><input type="submit" data-theme="more" id="submitGo" name="submitGo" value="Next page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
										</div>

</form><!-- closes form id="page9"  -->
								</div>  <!-- closes div class="5grid" -->
							</div>  <!-- closes div id="content" -->
						</div> <!-- closes div class="12u mobileUI-main-content" -->
					</div><!-- closes div id="row" -->
				</div> <!-- closes div class="5grid-layout" -->
			</div> <!-- closes div id="main-wrapper" -->

		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
				<footer id="footer" class="5grid-layout">
					<div class="row">
						<div class="12u">
							<div id="copyright">
							<center>
								&copy; Part of the Personality Project.	
							</center>
							</div>
						</div>
					</div>
				</footer>
			</div>
		<!-- End Footer Wrapper -->
	</body>
</html>
