<!DOCTYPE HTML>
<html>

	<head>
		<title>Free Personality Test | SAPA-Project | Items 126 to 150</title>
		<meta name="description" content="This is the sixth of several pages where we ask about your typical thoughts, feelings, and behaviors. Your responses to these questions will shape your free customized personality report, so be sure to respond honestly.  And don't skip too many items along the way!">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="keywords" content="" />

		<link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
		<link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16">
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
		<link rel="manifest" href="../manifest.json">
		<link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" href="../css/5grid/fonts.css" />
		<link rel="stylesheet" href="../css/5grid/jquery.mobile-1.3.0.css" />
		<script src="../css/5grid/jquery.js"></script>
		<script src="../css/5grid/jquery.mobile-1.3.0.min.js"></script>
		<script src="../css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none&amp;mobileUI_titleBarOverlaid=1&amp;mobileUI_titleBarHeight=60&amp;viewport_is1000px=1060&amp;mobileUI_openerWidth=80"></script>
		<noscript>
			<link rel="stylesheet" href="../css/5grid/core.css" />
			<link rel="stylesheet" href="../css/5grid/core-desktop.css" />
			<link rel="stylesheet" href="../css/5grid/core-1200px.css" />
			<link rel="stylesheet" href="../css/5grid/core-noscript.css" />
			<link rel="stylesheet" href="../css/style.css" />
			<link rel="stylesheet" href="../css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="../css/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="../css/ie7.css" /><![endif]-->
	</head>
	<body class="no-sidebar">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="5grid-layout">
					<div class="row">
						
							<!-- Header -->
								<header id="header">
										<h2>The SAPA Project</h2>
										<h3>a personality assessment collaboratory</h3>
								</header>

					</div>
				</div>
			</div>
		<!-- End Header Wrapper -->
		
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="5grid-layout">
					<div class="row">
						<div class="12u mobileUI-main-content">

							<!-- Content -->
								<div id="content">

									<div class="5grid">
										<div class="row">
											<div class="12u" style="margin-bottom: 0px;">

										<h3>Personality Questions</h3>
										
										<p class="smallish">You've responded to <strong>6 of the 125 items</strong> given so far.</p>

										<p class="smallish">Remember that <strong>your responses are anonymous</strong>.  Do your best to respond as accurately and honestly as possible.</p>

											</div> <!-- closes div class="12u" -->
										</div>  <!-- closes div class="row" -->
																		
										<div class="small">
										</div>

<form name="page8" id="page8" DefaultButton="submitGo" action="/survey/survey6.php" data-ajax="false" method="post" onsubmit="getTime();">  

<input type="hidden" id="page6Time" name="page6Time">

<script language='JavaScript'>
function getTime(){
var current = new Date();
var since = current.getTime();
var elapsetime = since/1000;
document.getElementById('page6Time').value = elapsetime;
}
</script>
<!-- Gets the time between 1/1/1970 12:00 am UTC and now in seconds. -->

<div class="row">
<div class="10u offset-1u">


	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>126. I have pretended to be someone else in order to get something.</legend>
			<input type='radio' name='3956' id='3956-1' value='1'>
			<label for='3956-1'>Very<br>Inaccurate</label>
			<input type='radio' name='3956' id='3956-2' value='2'>
			<label for='3956-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='3956' id='3956-3' value='3'>
			<label for='3956-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='3956' id='3956-4' value='4'>
			<label for='3956-4'>Slightly<br>Accurate</label>
			<input type='radio' name='3956' id='3956-5' value='5'>
			<label for='3956-5'>Moderately<br>Accurate</label>
			<input type='radio' name='3956' id='3956-6' value='6'>
			<label for='3956-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>127. Lack the talent for influencing people.</legend>
			<input type='radio' name='1242' id='1242-1' value='1'>
			<label for='1242-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1242' id='1242-2' value='2'>
			<label for='1242-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1242' id='1242-3' value='3'>
			<label for='1242-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1242' id='1242-4' value='4'>
			<label for='1242-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1242' id='1242-5' value='5'>
			<label for='1242-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1242' id='1242-6' value='6'>
			<label for='1242-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>128. Try to follow the rules.</legend>
			<input type='radio' name='1867' id='1867-1' value='1'>
			<label for='1867-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1867' id='1867-2' value='2'>
			<label for='1867-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1867' id='1867-3' value='3'>
			<label for='1867-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1867' id='1867-4' value='4'>
			<label for='1867-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1867' id='1867-5' value='5'>
			<label for='1867-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1867' id='1867-6' value='6'>
			<label for='1867-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>129. I know that I am special because everyone keeps telling me so.</legend>
			<input type='radio' name='50543' id='50543-1' value='1'>
			<label for='50543-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50543' id='50543-2' value='2'>
			<label for='50543-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50543' id='50543-3' value='3'>
			<label for='50543-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50543' id='50543-4' value='4'>
			<label for='50543-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50543' id='50543-5' value='5'>
			<label for='50543-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50543' id='50543-6' value='6'>
			<label for='50543-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>130. Would hate to be considered odd or strange.</legend>
			<input type='radio' name='2005' id='2005-1' value='1'>
			<label for='2005-1'>Very<br>Inaccurate</label>
			<input type='radio' name='2005' id='2005-2' value='2'>
			<label for='2005-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='2005' id='2005-3' value='3'>
			<label for='2005-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='2005' id='2005-4' value='4'>
			<label for='2005-4'>Slightly<br>Accurate</label>
			<input type='radio' name='2005' id='2005-5' value='5'>
			<label for='2005-5'>Moderately<br>Accurate</label>
			<input type='radio' name='2005' id='2005-6' value='6'>
			<label for='2005-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>131. Am happy with my life.</legend>
			<input type='radio' name='2765' id='2765-1' value='1'>
			<label for='2765-1'>Very<br>Inaccurate</label>
			<input type='radio' name='2765' id='2765-2' value='2'>
			<label for='2765-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='2765' id='2765-3' value='3'>
			<label for='2765-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='2765' id='2765-4' value='4'>
			<label for='2765-4'>Slightly<br>Accurate</label>
			<input type='radio' name='2765' id='2765-5' value='5'>
			<label for='2765-5'>Moderately<br>Accurate</label>
			<input type='radio' name='2765' id='2765-6' value='6'>
			<label for='2765-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>132. I love it when a tricky plan succeeds.</legend>
			<input type='radio' name='51804' id='51804-1' value='1'>
			<label for='51804-1'>Very<br>Inaccurate</label>
			<input type='radio' name='51804' id='51804-2' value='2'>
			<label for='51804-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='51804' id='51804-3' value='3'>
			<label for='51804-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='51804' id='51804-4' value='4'>
			<label for='51804-4'>Slightly<br>Accurate</label>
			<input type='radio' name='51804' id='51804-5' value='5'>
			<label for='51804-5'>Moderately<br>Accurate</label>
			<input type='radio' name='51804' id='51804-6' value='6'>
			<label for='51804-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>133. Seldom joke around.</legend>
			<input type='radio' name='1685' id='1685-1' value='1'>
			<label for='1685-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1685' id='1685-2' value='2'>
			<label for='1685-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1685' id='1685-3' value='3'>
			<label for='1685-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1685' id='1685-4' value='4'>
			<label for='1685-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1685' id='1685-5' value='5'>
			<label for='1685-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1685' id='1685-6' value='6'>
			<label for='1685-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>134. Express myself easily.</legend>
			<input type='radio' name='803' id='803-1' value='1'>
			<label for='803-1'>Very<br>Inaccurate</label>
			<input type='radio' name='803' id='803-2' value='2'>
			<label for='803-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='803' id='803-3' value='3'>
			<label for='803-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='803' id='803-4' value='4'>
			<label for='803-4'>Slightly<br>Accurate</label>
			<input type='radio' name='803' id='803-5' value='5'>
			<label for='803-5'>Moderately<br>Accurate</label>
			<input type='radio' name='803' id='803-6' value='6'>
			<label for='803-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>135. Sometimes I get this weird feeling that parts of my body feel like they're dead or not really me.</legend>
			<input type='radio' name='4038' id='4038-1' value='1'>
			<label for='4038-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4038' id='4038-2' value='2'>
			<label for='4038-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4038' id='4038-3' value='3'>
			<label for='4038-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4038' id='4038-4' value='4'>
			<label for='4038-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4038' id='4038-5' value='5'>
			<label for='4038-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4038' id='4038-6' value='6'>
			<label for='4038-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>136. Never spend more than I can afford.</legend>
			<input type='radio' name='1461' id='1461-1' value='1'>
			<label for='1461-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1461' id='1461-2' value='2'>
			<label for='1461-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1461' id='1461-3' value='3'>
			<label for='1461-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1461' id='1461-4' value='4'>
			<label for='1461-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1461' id='1461-5' value='5'>
			<label for='1461-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1461' id='1461-6' value='6'>
			<label for='1461-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>137. Do not like art.</legend>
			<input type='radio' name='610' id='610-1' value='1'>
			<label for='610-1'>Very<br>Inaccurate</label>
			<input type='radio' name='610' id='610-2' value='2'>
			<label for='610-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='610' id='610-3' value='3'>
			<label for='610-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='610' id='610-4' value='4'>
			<label for='610-4'>Slightly<br>Accurate</label>
			<input type='radio' name='610' id='610-5' value='5'>
			<label for='610-5'>Moderately<br>Accurate</label>
			<input type='radio' name='610' id='610-6' value='6'>
			<label for='610-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>138. I am an extraordinary person.</legend>
			<input type='radio' name='51777' id='51777-1' value='1'>
			<label for='51777-1'>Very<br>Inaccurate</label>
			<input type='radio' name='51777' id='51777-2' value='2'>
			<label for='51777-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='51777' id='51777-3' value='3'>
			<label for='51777-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='51777' id='51777-4' value='4'>
			<label for='51777-4'>Slightly<br>Accurate</label>
			<input type='radio' name='51777' id='51777-5' value='5'>
			<label for='51777-5'>Moderately<br>Accurate</label>
			<input type='radio' name='51777' id='51777-6' value='6'>
			<label for='51777-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>139. Dislike changes.</legend>
			<input type='radio' name='566' id='566-1' value='1'>
			<label for='566-1'>Very<br>Inaccurate</label>
			<input type='radio' name='566' id='566-2' value='2'>
			<label for='566-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='566' id='566-3' value='3'>
			<label for='566-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='566' id='566-4' value='4'>
			<label for='566-4'>Slightly<br>Accurate</label>
			<input type='radio' name='566' id='566-5' value='5'>
			<label for='566-5'>Moderately<br>Accurate</label>
			<input type='radio' name='566' id='566-6' value='6'>
			<label for='566-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>140. Seek adventure.</legend>
			<input type='radio' name='1662' id='1662-1' value='1'>
			<label for='1662-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1662' id='1662-2' value='2'>
			<label for='1662-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1662' id='1662-3' value='3'>
			<label for='1662-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1662' id='1662-4' value='4'>
			<label for='1662-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1662' id='1662-5' value='5'>
			<label for='1662-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1662' id='1662-6' value='6'>
			<label for='1662-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>141. I often feel just miserable.</legend>
			<input type='radio' name='4169' id='4169-1' value='1'>
			<label for='4169-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4169' id='4169-2' value='2'>
			<label for='4169-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4169' id='4169-3' value='3'>
			<label for='4169-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4169' id='4169-4' value='4'>
			<label for='4169-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4169' id='4169-5' value='5'>
			<label for='4169-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4169' id='4169-6' value='6'>
			<label for='4169-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>142. Make rash decisions.</legend>
			<input type='radio' name='1424' id='1424-1' value='1'>
			<label for='1424-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1424' id='1424-2' value='2'>
			<label for='1424-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1424' id='1424-3' value='3'>
			<label for='1424-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1424' id='1424-4' value='4'>
			<label for='1424-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1424' id='1424-5' value='5'>
			<label for='1424-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1424' id='1424-6' value='6'>
			<label for='1424-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>143. Don't consider myself religious.</legend>
			<input type='radio' name='660' id='660-1' value='1'>
			<label for='660-1'>Very<br>Inaccurate</label>
			<input type='radio' name='660' id='660-2' value='2'>
			<label for='660-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='660' id='660-3' value='3'>
			<label for='660-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='660' id='660-4' value='4'>
			<label for='660-4'>Slightly<br>Accurate</label>
			<input type='radio' name='660' id='660-5' value='5'>
			<label for='660-5'>Moderately<br>Accurate</label>
			<input type='radio' name='660' id='660-6' value='6'>
			<label for='660-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>144. People complain about my need to have everything all arranged.</legend>
			<input type='radio' name='4116' id='4116-1' value='1'>
			<label for='4116-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4116' id='4116-2' value='2'>
			<label for='4116-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4116' id='4116-3' value='3'>
			<label for='4116-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4116' id='4116-4' value='4'>
			<label for='4116-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4116' id='4116-5' value='5'>
			<label for='4116-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4116' id='4116-6' value='6'>
			<label for='4116-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>145. Have a slow pace to my life.</legend>
			<input type='radio' name='1052' id='1052-1' value='1'>
			<label for='1052-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1052' id='1052-2' value='2'>
			<label for='1052-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1052' id='1052-3' value='3'>
			<label for='1052-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1052' id='1052-4' value='4'>
			<label for='1052-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1052' id='1052-5' value='5'>
			<label for='1052-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1052' id='1052-6' value='6'>
			<label for='1052-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>146. I feel foolish when I make a mistake in front of others.</legend>
			<input type='radio' name='50614' id='50614-1' value='1'>
			<label for='50614-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50614' id='50614-2' value='2'>
			<label for='50614-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50614' id='50614-3' value='3'>
			<label for='50614-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50614' id='50614-4' value='4'>
			<label for='50614-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50614' id='50614-5' value='5'>
			<label for='50614-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50614' id='50614-6' value='6'>
			<label for='50614-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>147. I like to draw attention to myself.</legend>
			<input type='radio' name='4212' id='4212-1' value='1'>
			<label for='4212-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4212' id='4212-2' value='2'>
			<label for='4212-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4212' id='4212-3' value='3'>
			<label for='4212-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4212' id='4212-4' value='4'>
			<label for='4212-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4212' id='4212-5' value='5'>
			<label for='4212-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4212' id='4212-6' value='6'>
			<label for='4212-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>148. The sixth month of the year is:</legend>
			<input type='radio' name='12018' id='12018-1' value='1'>
			<label for='12018-1'> September</label>
			<input type='radio' name='12018' id='12018-2' value='2'>
			<label for='12018-2'> July</label>
			<input type='radio' name='12018' id='12018-3' value='3'>
			<label for='12018-3'> May</label>
			<input type='radio' name='12018' id='12018-4' value='4'>
			<label for='12018-4'> August</label>
			<input type='radio' name='12018' id='12018-5' value='5'>
			<label for='12018-5'> June</label>
			<input type='radio' name='12018' id='12018-6' value='6'>
			<label for='12018-6'> April</label>
			<input type='radio' name='12018' id='12018-7' value='7'>
			<label for='12018-7'>None of these</label>
			<input type='radio' name='12018' id='12018-8' value='8'>
			<label for='12018-8'>I don't know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>149. Please indicate which is the best answer to complete the analogy below.</legend>
		<img id='fig18009.png' src='iq.figures/fig18009.png' width='640' height='200'><br>
		<input type='radio' name='18009' id='18009-1' value='1'>
		<label for='18009-1'>A</label>
		<input type='radio' name='18009' id='18009-2' value='2'>
		<label for='18009-2'>B</label>
		<input type='radio' name='18009' id='18009-3' value='3'>
		<label for='18009-3'>C</label>
		<input type='radio' name='18009' id='18009-4' value='4'>
		<label for='18009-4'>D</label>
		<input type='radio' name='18009' id='18009-5' value='5'>
		<label for='18009-5'>E</label>
		<input type='radio' name='18009' id='18009-6' value='6'>
		<label for='18009-6'>F</label>
		<input type='radio' name='18009' id='18009-7' value='7'>
		<label for='18009-7'>G</label>
		<input type='radio' name='18009' id='18009-8' value='8'>
		<label for='18009-8'>H</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>150. Please mark the word that does not match the other words:</legend>
			<input type='radio' name='12009' id='12009-1' value='1'>
			<label for='12009-1'> Sycamore</label>
			<input type='radio' name='12009' id='12009-2' value='2'>
			<label for='12009-2'> Buckeye</label>
			<input type='radio' name='12009' id='12009-3' value='3'>
			<label for='12009-3'> Elm</label>
			<input type='radio' name='12009' id='12009-4' value='4'>
			<label for='12009-4'> Daffodil</label>
			<input type='radio' name='12009' id='12009-5' value='5'>
			<label for='12009-5'> Hickory</label>
			<input type='radio' name='12009' id='12009-6' value='6'>
			<label for='12009-6'> Sequoia</label>
			<input type='radio' name='12009' id='12009-7' value='7'>
			<label for='12009-7'>None of these</label>
			<input type='radio' name='12009' id='12009-8' value='8'>
			<label for='12009-8'>I don't know</label>
	</fieldset>
</div> <!-- closes div class="10u offset-1u" -->
<div class="1u">
</div> <!-- closes div class="1u" -->
</div>  <!-- closes div class="row" -->
										<div class="row">

											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-stop" aria-disabled="false"><input type="submit" data-theme="stop" name="submitStop" value="Skip to last page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
											<div class="6u">
												<ul>
												<li>
												</li>
												</ul>
											</div>
											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-more" aria-disabled="false"><input type="submit" data-theme="more" id="submitGo" name="submitGo" value="Next page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
										</div>

</form><!-- closes form id="page8"  -->
								</div>  <!-- closes div class="5grid" -->
							</div>  <!-- closes div id="content" -->
						</div> <!-- closes div class="12u mobileUI-main-content" -->
					</div><!-- closes div id="row" -->
				</div> <!-- closes div class="5grid-layout" -->
			</div> <!-- closes div id="main-wrapper" -->

		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
				<footer id="footer" class="5grid-layout">
					<div class="row">
						<div class="12u">
							<div id="copyright">
							<center>
								&copy; Part of the Personality Project.	
							</center>
							</div>
						</div>
					</div>
				</footer>
			</div>
		<!-- End Footer Wrapper -->
	</body>
</html>
