<!DOCTYPE HTML>
<html>

	<head>
		<title>Free Personality Test | SAPA-Project | Items 226 to 250</title>
		<meta name="description" content="This is the last page with questions about your typical thoughts, feelings, and behaviors. Your responses to these questions will shape your free customized personality report, so be sure to respond honestly.  And don't skip too many items along the way!">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="keywords" content="" />

		<link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
		<link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16">
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
		<link rel="manifest" href="../manifest.json">
		<link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" href="../css/5grid/fonts.css" />
		<link rel="stylesheet" href="../css/5grid/jquery.mobile-1.3.0.css" />
		<script src="../css/5grid/jquery.js"></script>
		<script src="../css/5grid/jquery.mobile-1.3.0.min.js"></script>
		<script src="../css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none&amp;mobileUI_titleBarOverlaid=1&amp;mobileUI_titleBarHeight=60&amp;viewport_is1000px=1060&amp;mobileUI_openerWidth=80"></script>
		<noscript>
			<link rel="stylesheet" href="../css/5grid/core.css" />
			<link rel="stylesheet" href="../css/5grid/core-desktop.css" />
			<link rel="stylesheet" href="../css/5grid/core-1200px.css" />
			<link rel="stylesheet" href="../css/5grid/core-noscript.css" />
			<link rel="stylesheet" href="../css/style.css" />
			<link rel="stylesheet" href="../css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="../css/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="../css/ie7.css" /><![endif]-->
	</head>
	<body class="no-sidebar">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="5grid-layout">
					<div class="row">
						
							<!-- Header -->
								<header id="header">
										<h2>The SAPA Project</h2>
										<h3>a personality assessment collaboratory</h3>
								</header>

					</div>
				</div>
			</div>
		<!-- End Header Wrapper -->
		
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="5grid-layout">
					<div class="row">
						<div class="12u mobileUI-main-content">

							<!-- Content -->
								<div id="content">

									<div class="5grid">
										<div class="row">
											<div class="12u" style="margin-bottom: 0px;">

										<h3>Personality Questions</h3>
										
										<p class="smallish">You've responded to <strong>18 of the 225 items</strong> given so far.</p>

										<p class="smallish">Remember that <strong>your responses are anonymous</strong>.  Do your best to respond as accurately and honestly as possible.</p>

											</div> <!-- closes div class="12u" -->
										</div>  <!-- closes div class="row" -->
																		
										<div class="small">
										</div>

<form name="page12" id="page12" DefaultButton="submitGo" action="/survey/survey10.php" data-ajax="false" method="post" onsubmit="getTime();">  

<input type="hidden" id="page10Time" name="page10Time">

<script language='JavaScript'>
function getTime(){
var current = new Date();
var since = current.getTime();
var elapsetime = since/1000;
document.getElementById('page10Time').value = elapsetime;
}
</script>
<!-- Gets the time between 1/1/1970 12:00 am UTC and now in seconds. -->

<div class="row">
<div class="10u offset-1u">


	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>226. Most people forget more easily the death of their father than the loss of their property.</legend>
			<input type='radio' name='2150' id='2150-1' value='1'>
			<label for='2150-1'>Very<br>Inaccurate</label>
			<input type='radio' name='2150' id='2150-2' value='2'>
			<label for='2150-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='2150' id='2150-3' value='3'>
			<label for='2150-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='2150' id='2150-4' value='4'>
			<label for='2150-4'>Slightly<br>Accurate</label>
			<input type='radio' name='2150' id='2150-5' value='5'>
			<label for='2150-5'>Moderately<br>Accurate</label>
			<input type='radio' name='2150' id='2150-6' value='6'>
			<label for='2150-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>227. Find it difficult to approach others.</legend>
			<input type='radio' name='901' id='901-1' value='1'>
			<label for='901-1'>Very<br>Inaccurate</label>
			<input type='radio' name='901' id='901-2' value='2'>
			<label for='901-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='901' id='901-3' value='3'>
			<label for='901-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='901' id='901-4' value='4'>
			<label for='901-4'>Slightly<br>Accurate</label>
			<input type='radio' name='901' id='901-5' value='5'>
			<label for='901-5'>Moderately<br>Accurate</label>
			<input type='radio' name='901' id='901-6' value='6'>
			<label for='901-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>228. Rebel against authority.</legend>
			<input type='radio' name='1609' id='1609-1' value='1'>
			<label for='1609-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1609' id='1609-2' value='2'>
			<label for='1609-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1609' id='1609-3' value='3'>
			<label for='1609-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1609' id='1609-4' value='4'>
			<label for='1609-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1609' id='1609-5' value='5'>
			<label for='1609-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1609' id='1609-6' value='6'>
			<label for='1609-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>229. I would never harm another person.</legend>
			<input type='radio' name='4091' id='4091-1' value='1'>
			<label for='4091-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4091' id='4091-2' value='2'>
			<label for='4091-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4091' id='4091-3' value='3'>
			<label for='4091-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4091' id='4091-4' value='4'>
			<label for='4091-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4091' id='4091-5' value='5'>
			<label for='4091-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4091' id='4091-6' value='6'>
			<label for='4091-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>230. Enjoy being thought of as a normal "mainstream" person.</legend>
			<input type='radio' name='747' id='747-1' value='1'>
			<label for='747-1'>Very<br>Inaccurate</label>
			<input type='radio' name='747' id='747-2' value='2'>
			<label for='747-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='747' id='747-3' value='3'>
			<label for='747-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='747' id='747-4' value='4'>
			<label for='747-4'>Slightly<br>Accurate</label>
			<input type='radio' name='747' id='747-5' value='5'>
			<label for='747-5'>Moderately<br>Accurate</label>
			<input type='radio' name='747' id='747-6' value='6'>
			<label for='747-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>231. Feel comfortable with myself.</legend>
			<input type='radio' name='820' id='820-1' value='1'>
			<label for='820-1'>Very<br>Inaccurate</label>
			<input type='radio' name='820' id='820-2' value='2'>
			<label for='820-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='820' id='820-3' value='3'>
			<label for='820-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='820' id='820-4' value='4'>
			<label for='820-4'>Slightly<br>Accurate</label>
			<input type='radio' name='820' id='820-5' value='5'>
			<label for='820-5'>Moderately<br>Accurate</label>
			<input type='radio' name='820' id='820-6' value='6'>
			<label for='820-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>232. I crave attention.</legend>
			<input type='radio' name='4192' id='4192-1' value='1'>
			<label for='4192-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4192' id='4192-2' value='2'>
			<label for='4192-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4192' id='4192-3' value='3'>
			<label for='4192-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4192' id='4192-4' value='4'>
			<label for='4192-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4192' id='4192-5' value='5'>
			<label for='4192-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4192' id='4192-6' value='6'>
			<label for='4192-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>233. Laugh a lot.</legend>
			<input type='radio' name='1243' id='1243-1' value='1'>
			<label for='1243-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1243' id='1243-2' value='2'>
			<label for='1243-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1243' id='1243-3' value='3'>
			<label for='1243-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1243' id='1243-4' value='4'>
			<label for='1243-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1243' id='1243-5' value='5'>
			<label for='1243-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1243' id='1243-6' value='6'>
			<label for='1243-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>234. Have difficulty expressing my feelings.</legend>
			<input type='radio' name='1081' id='1081-1' value='1'>
			<label for='1081-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1081' id='1081-2' value='2'>
			<label for='1081-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1081' id='1081-3' value='3'>
			<label for='1081-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1081' id='1081-4' value='4'>
			<label for='1081-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1081' id='1081-5' value='5'>
			<label for='1081-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1081' id='1081-6' value='6'>
			<label for='1081-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>235. When it comes to my emotions, people tell me I'm a "cold fish".</legend>
			<input type='radio' name='4009' id='4009-1' value='1'>
			<label for='4009-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4009' id='4009-2' value='2'>
			<label for='4009-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4009' id='4009-3' value='3'>
			<label for='4009-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4009' id='4009-4' value='4'>
			<label for='4009-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4009' id='4009-5' value='5'>
			<label for='4009-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4009' id='4009-6' value='6'>
			<label for='4009-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>236. Never splurge.</legend>
			<input type='radio' name='1462' id='1462-1' value='1'>
			<label for='1462-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1462' id='1462-2' value='2'>
			<label for='1462-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1462' id='1462-3' value='3'>
			<label for='1462-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1462' id='1462-4' value='4'>
			<label for='1462-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1462' id='1462-5' value='5'>
			<label for='1462-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1462' id='1462-6' value='6'>
			<label for='1462-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>237. Have read the great literary classics.</legend>
			<input type='radio' name='1132' id='1132-1' value='1'>
			<label for='1132-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1132' id='1132-2' value='2'>
			<label for='1132-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1132' id='1132-3' value='3'>
			<label for='1132-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1132' id='1132-4' value='4'>
			<label for='1132-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1132' id='1132-5' value='5'>
			<label for='1132-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1132' id='1132-6' value='6'>
			<label for='1132-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>238. It's no big deal if I hurt other peoples' feelings.</legend>
			<input type='radio' name='4167' id='4167-1' value='1'>
			<label for='4167-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4167' id='4167-2' value='2'>
			<label for='4167-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4167' id='4167-3' value='3'>
			<label for='4167-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4167' id='4167-4' value='4'>
			<label for='4167-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4167' id='4167-5' value='5'>
			<label for='4167-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4167' id='4167-6' value='6'>
			<label for='4167-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>239. Like to begin new things.</legend>
			<input type='radio' name='1303' id='1303-1' value='1'>
			<label for='1303-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1303' id='1303-2' value='2'>
			<label for='1303-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1303' id='1303-3' value='3'>
			<label for='1303-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1303' id='1303-4' value='4'>
			<label for='1303-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1303' id='1303-5' value='5'>
			<label for='1303-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1303' id='1303-6' value='6'>
			<label for='1303-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>240. Do crazy things.</legend>
			<input type='radio' name='598' id='598-1' value='1'>
			<label for='598-1'>Very<br>Inaccurate</label>
			<input type='radio' name='598' id='598-2' value='2'>
			<label for='598-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='598' id='598-3' value='3'>
			<label for='598-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='598' id='598-4' value='4'>
			<label for='598-4'>Slightly<br>Accurate</label>
			<input type='radio' name='598' id='598-5' value='5'>
			<label for='598-5'>Moderately<br>Accurate</label>
			<input type='radio' name='598' id='598-6' value='6'>
			<label for='598-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>241. I often say things that others find odd or strange.</legend>
			<input type='radio' name='4022' id='4022-1' value='1'>
			<label for='4022-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4022' id='4022-2' value='2'>
			<label for='4022-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4022' id='4022-3' value='3'>
			<label for='4022-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4022' id='4022-4' value='4'>
			<label for='4022-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4022' id='4022-5' value='5'>
			<label for='4022-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4022' id='4022-6' value='6'>
			<label for='4022-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>242. Often make decisions on the spur of the moment.</legend>
			<input type='radio' name='4276' id='4276-1' value='1'>
			<label for='4276-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4276' id='4276-2' value='2'>
			<label for='4276-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4276' id='4276-3' value='3'>
			<label for='4276-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4276' id='4276-4' value='4'>
			<label for='4276-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4276' id='4276-5' value='5'>
			<label for='4276-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4276' id='4276-6' value='6'>
			<label for='4276-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>243. Like to stand during the national anthem.</legend>
			<input type='radio' name='1328' id='1328-1' value='1'>
			<label for='1328-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1328' id='1328-2' value='2'>
			<label for='1328-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1328' id='1328-3' value='3'>
			<label for='1328-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1328' id='1328-4' value='4'>
			<label for='1328-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1328' id='1328-5' value='5'>
			<label for='1328-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1328' id='1328-6' value='6'>
			<label for='1328-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>244. I like to take risks.</legend>
			<input type='radio' name='4068' id='4068-1' value='1'>
			<label for='4068-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4068' id='4068-2' value='2'>
			<label for='4068-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4068' id='4068-3' value='3'>
			<label for='4068-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4068' id='4068-4' value='4'>
			<label for='4068-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4068' id='4068-5' value='5'>
			<label for='4068-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4068' id='4068-6' value='6'>
			<label for='4068-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>245. Let things proceed at their own pace.</legend>
			<input type='radio' name='1280' id='1280-1' value='1'>
			<label for='1280-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1280' id='1280-2' value='2'>
			<label for='1280-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1280' id='1280-3' value='3'>
			<label for='1280-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1280' id='1280-4' value='4'>
			<label for='1280-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1280' id='1280-5' value='5'>
			<label for='1280-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1280' id='1280-6' value='6'>
			<label for='1280-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>246. I sometimes have heard things that others couldn't hear.</legend>
			<input type='radio' name='4100' id='4100-1' value='1'>
			<label for='4100-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4100' id='4100-2' value='2'>
			<label for='4100-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4100' id='4100-3' value='3'>
			<label for='4100-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4100' id='4100-4' value='4'>
			<label for='4100-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4100' id='4100-5' value='5'>
			<label for='4100-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4100' id='4100-6' value='6'>
			<label for='4100-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>247. I will usually show off if I get the chance.</legend>
			<input type='radio' name='51757' id='51757-1' value='1'>
			<label for='51757-1'>Very<br>Inaccurate</label>
			<input type='radio' name='51757' id='51757-2' value='2'>
			<label for='51757-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='51757' id='51757-3' value='3'>
			<label for='51757-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='51757' id='51757-4' value='4'>
			<label for='51757-4'>Slightly<br>Accurate</label>
			<input type='radio' name='51757' id='51757-5' value='5'>
			<label for='51757-5'>Moderately<br>Accurate</label>
			<input type='radio' name='51757' id='51757-6' value='6'>
			<label for='51757-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>248. Please indicate which is the best answer to complete the figure below.</legend>
		<img id='fig12045.jpg' src='iq.figures/fig12045.jpg' width='551' height='394'><br>
		<input type='radio' name='12045' id='12045-1' value='1'>
		<label for='12045-1'>A</label>
		<input type='radio' name='12045' id='12045-2' value='2'>
		<label for='12045-2'>B</label>
		<input type='radio' name='12045' id='12045-3' value='3'>
		<label for='12045-3'>C</label>
		<input type='radio' name='12045' id='12045-4' value='4'>
		<label for='12045-4'>D</label>
		<input type='radio' name='12045' id='12045-5' value='5'>
		<label for='12045-5'>E</label>
		<input type='radio' name='12045' id='12045-6' value='6'>
		<label for='12045-6'>F</label>
		<input type='radio' name='12045' id='12045-7' value='7'>
		<label for='12045-7'>None of these</label>
		<input type='radio' name='12045' id='12045-8' value='8'>
		<label for='12045-8'>I don't know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>249. Please indicate which is the best answer to complete the figure below.</legend>
		<img id='fig19023.svg' src='iq.figures/fig19023.svg'><br>
		<input type='radio' name='19023' id='19023-1' value='1'>
		<label for='19023-1'>1</label>
		<input type='radio' name='19023' id='19023-2' value='2'>
		<label for='19023-2'>2</label>
		<input type='radio' name='19023' id='19023-3' value='3'>
		<label for='19023-3'>3</label>
		<input type='radio' name='19023' id='19023-4' value='4'>
		<label for='19023-4'>4</label>
		<input type='radio' name='19023' id='19023-5' value='5'>
		<label for='19023-5'>5</label>
		<input type='radio' name='19023' id='19023-6' value='6'>
		<label for='19023-6'>6</label>
		<input type='radio' name='19023' id='19023-7' value='7'>
		<label for='19023-7'>7</label>
		<input type='radio' name='19023' id='19023-8' value='8'>
		<label for='19023-8'>8</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>250. In the following alphanumeric series, what number comes next? 21, 34, 55, 89, 144, …</legend>
			<input type='radio' name='12139' id='12139-1' value='1'>
			<label for='12139-1'>288</label>
			<input type='radio' name='12139' id='12139-2' value='2'>
			<label for='12139-2'>199</label>
			<input type='radio' name='12139' id='12139-3' value='3'>
			<label for='12139-3'>233</label>
			<input type='radio' name='12139' id='12139-4' value='4'>
			<label for='12139-4'>250</label>
			<input type='radio' name='12139' id='12139-5' value='5'>
			<label for='12139-5'>200</label>
			<input type='radio' name='12139' id='12139-6' value='6'>
			<label for='12139-6'>162</label>
			<input type='radio' name='12139' id='12139-7' value='7'>
			<label for='12139-7'>None of these</label>
			<input type='radio' name='12139' id='12139-8' value='8'>
			<label for='12139-8'>I don't know</label>
	</fieldset>
</div> <!-- closes div class="10u offset-1u" -->
<div class="1u">
</div> <!-- closes div class="1u" -->
</div>  <!-- closes div class="row" -->
										<div class="row">

											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-stop" aria-disabled="false"><input type="submit" data-theme="stop" name="submitStop" value="Skip to last page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
											<div class="6u">
												<ul>
												<li>
												</li>
												</ul>
											</div>
											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-more" aria-disabled="false"><input type="submit" data-theme="more" id="submitGo" name="submitGo" value="Next page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
										</div>

</form><!-- closes form id="page12"  -->
								</div>  <!-- closes div class="5grid" -->
							</div>  <!-- closes div id="content" -->
						</div> <!-- closes div class="12u mobileUI-main-content" -->
					</div><!-- closes div id="row" -->
				</div> <!-- closes div class="5grid-layout" -->
			</div> <!-- closes div id="main-wrapper" -->

		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
				<footer id="footer" class="5grid-layout">
					<div class="row">
						<div class="12u">
							<div id="copyright">
							<center>
								&copy; Part of the Personality Project.	
							</center>
							</div>
						</div>
					</div>
				</footer>
			</div>
		<!-- End Footer Wrapper -->
	</body>
</html>
