<!DOCTYPE HTML>
<html>

	<head>
		<title>Free Personality Test | SAPA-Project | Items 101 to 125</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="description" content="This is the fifth of several pages where we ask about your typical thoughts, feelings, and behaviors. Your responses to these questions will shape your free customized personality report, so be sure to respond honestly.  And don't skip too many items along the way!">
		<meta name="keywords" content="" />

		<link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
		<link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16">
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
		<link rel="manifest" href="../manifest.json">
		<link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" href="../css/5grid/fonts.css" />
		<link rel="stylesheet" href="../css/5grid/jquery.mobile-1.3.0.css" />
		<script src="../css/5grid/jquery.js"></script>
		<script src="../css/5grid/jquery.mobile-1.3.0.min.js"></script>
		<script src="../css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none&amp;mobileUI_titleBarOverlaid=1&amp;mobileUI_titleBarHeight=60&amp;viewport_is1000px=1060&amp;mobileUI_openerWidth=80"></script>
		<noscript>
			<link rel="stylesheet" href="../css/5grid/core.css" />
			<link rel="stylesheet" href="../css/5grid/core-desktop.css" />
			<link rel="stylesheet" href="../css/5grid/core-1200px.css" />
			<link rel="stylesheet" href="../css/5grid/core-noscript.css" />
			<link rel="stylesheet" href="../css/style.css" />
			<link rel="stylesheet" href="../css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="../css/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="../css/ie7.css" /><![endif]-->
	</head>
	<body class="no-sidebar">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="5grid-layout">
					<div class="row">
						
							<!-- Header -->
								<header id="header">
										<h2>The SAPA Project</h2>
										<h3>a personality assessment collaboratory</h3>
								</header>

					</div>
				</div>
			</div>
		<!-- End Header Wrapper -->
		
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="5grid-layout">
					<div class="row">
						<div class="12u mobileUI-main-content">

							<!-- Content -->
								<div id="content">

									<div class="5grid">
										<div class="row">
											<div class="12u" style="margin-bottom: 0px;">

										<h3>Personality Questions</h3>
										
										<p class="smallish">You've responded to <strong>15 of the 100 items</strong> given so far.</p>

										<p class="smallish">Remember that <strong>your responses are anonymous</strong>.  Do your best to respond as accurately and honestly as possible.</p>

											</div> <!-- closes div class="12u" -->
										</div>  <!-- closes div class="row" -->
																		
										<div class="small">
										</div>

<form name="page7" id="page7" DefaultButton="submitGo" action="/survey/survey5.php" data-ajax="false" method="post" onsubmit="getTime();">  

<input type="hidden" id="page5Time" name="page5Time">

<script language='JavaScript'>
function getTime(){
var current = new Date();
var since = current.getTime();
var elapsetime = since/1000;
document.getElementById('page5Time').value = elapsetime;
}
</script>
<!-- Gets the time between 1/1/1970 12:00 am UTC and now in seconds. -->

<div class="row">
<div class="10u offset-1u">


	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>101. Most people tell lies everyday.</legend>
			<input type='radio' name='3966' id='3966-1' value='1'>
			<label for='3966-1'>Very<br>Inaccurate</label>
			<input type='radio' name='3966' id='3966-2' value='2'>
			<label for='3966-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='3966' id='3966-3' value='3'>
			<label for='3966-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='3966' id='3966-4' value='4'>
			<label for='3966-4'>Slightly<br>Accurate</label>
			<input type='radio' name='3966' id='3966-5' value='5'>
			<label for='3966-5'>Moderately<br>Accurate</label>
			<input type='radio' name='3966' id='3966-6' value='6'>
			<label for='3966-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>102. Think of others first.</legend>
			<input type='radio' name='1832' id='1832-1' value='1'>
			<label for='1832-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1832' id='1832-2' value='2'>
			<label for='1832-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1832' id='1832-3' value='3'>
			<label for='1832-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1832' id='1832-4' value='4'>
			<label for='1832-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1832' id='1832-5' value='5'>
			<label for='1832-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1832' id='1832-6' value='6'>
			<label for='1832-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>103. Work hard.</legend>
			<input type='radio' name='1979' id='1979-1' value='1'>
			<label for='1979-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1979' id='1979-2' value='2'>
			<label for='1979-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1979' id='1979-3' value='3'>
			<label for='1979-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1979' id='1979-4' value='4'>
			<label for='1979-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1979' id='1979-5' value='5'>
			<label for='1979-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1979' id='1979-6' value='6'>
			<label for='1979-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>104. I can make anybody believe anything I want them to.</legend>
			<input type='radio' name='51772' id='51772-1' value='1'>
			<label for='51772-1'>Very<br>Inaccurate</label>
			<input type='radio' name='51772' id='51772-2' value='2'>
			<label for='51772-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='51772' id='51772-3' value='3'>
			<label for='51772-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='51772' id='51772-4' value='4'>
			<label for='51772-4'>Slightly<br>Accurate</label>
			<input type='radio' name='51772' id='51772-5' value='5'>
			<label for='51772-5'>Moderately<br>Accurate</label>
			<input type='radio' name='51772' id='51772-6' value='6'>
			<label for='51772-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>105. Am full of ideas.</legend>
			<input type='radio' name='128' id='128-1' value='1'>
			<label for='128-1'>Very<br>Inaccurate</label>
			<input type='radio' name='128' id='128-2' value='2'>
			<label for='128-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='128' id='128-3' value='3'>
			<label for='128-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='128' id='128-4' value='4'>
			<label for='128-4'>Slightly<br>Accurate</label>
			<input type='radio' name='128' id='128-5' value='5'>
			<label for='128-5'>Moderately<br>Accurate</label>
			<input type='radio' name='128' id='128-6' value='6'>
			<label for='128-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>106. Worry about things.</legend>
			<input type='radio' name='1989' id='1989-1' value='1'>
			<label for='1989-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1989' id='1989-2' value='2'>
			<label for='1989-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1989' id='1989-3' value='3'>
			<label for='1989-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1989' id='1989-4' value='4'>
			<label for='1989-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1989' id='1989-5' value='5'>
			<label for='1989-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1989' id='1989-6' value='6'>
			<label for='1989-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>107. I am a bit of a daredevil.</legend>
			<input type='radio' name='50585' id='50585-1' value='1'>
			<label for='50585-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50585' id='50585-2' value='2'>
			<label for='50585-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50585' id='50585-3' value='3'>
			<label for='50585-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50585' id='50585-4' value='4'>
			<label for='50585-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50585' id='50585-5' value='5'>
			<label for='50585-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50585' id='50585-6' value='6'>
			<label for='50585-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>108. Avoid company.</legend>
			<input type='radio' name='312' id='312-1' value='1'>
			<label for='312-1'>Very<br>Inaccurate</label>
			<input type='radio' name='312' id='312-2' value='2'>
			<label for='312-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='312' id='312-3' value='3'>
			<label for='312-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='312' id='312-4' value='4'>
			<label for='312-4'>Slightly<br>Accurate</label>
			<input type='radio' name='312' id='312-5' value='5'>
			<label for='312-5'>Moderately<br>Accurate</label>
			<input type='radio' name='312' id='312-6' value='6'>
			<label for='312-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>109. Cannot imagine lying or cheating.</legend>
			<input type='radio' name='2853' id='2853-1' value='1'>
			<label for='2853-1'>Very<br>Inaccurate</label>
			<input type='radio' name='2853' id='2853-2' value='2'>
			<label for='2853-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='2853' id='2853-3' value='3'>
			<label for='2853-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='2853' id='2853-4' value='4'>
			<label for='2853-4'>Slightly<br>Accurate</label>
			<input type='radio' name='2853' id='2853-5' value='5'>
			<label for='2853-5'>Moderately<br>Accurate</label>
			<input type='radio' name='2853' id='2853-6' value='6'>
			<label for='2853-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>110. I will try almost anything to get my "thrills".</legend>
			<input type='radio' name='50570' id='50570-1' value='1'>
			<label for='50570-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50570' id='50570-2' value='2'>
			<label for='50570-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50570' id='50570-3' value='3'>
			<label for='50570-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50570' id='50570-4' value='4'>
			<label for='50570-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50570' id='50570-5' value='5'>
			<label for='50570-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50570' id='50570-6' value='6'>
			<label for='50570-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>111. Am not bothered by disorder.</legend>
			<input type='radio' name='169' id='169-1' value='1'>
			<label for='169-1'>Very<br>Inaccurate</label>
			<input type='radio' name='169' id='169-2' value='2'>
			<label for='169-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='169' id='169-3' value='3'>
			<label for='169-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='169' id='169-4' value='4'>
			<label for='169-4'>Slightly<br>Accurate</label>
			<input type='radio' name='169' id='169-5' value='5'>
			<label for='169-5'>Moderately<br>Accurate</label>
			<input type='radio' name='169' id='169-6' value='6'>
			<label for='169-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>112. Catch on to things quickly.</legend>
			<input type='radio' name='493' id='493-1' value='1'>
			<label for='493-1'>Very<br>Inaccurate</label>
			<input type='radio' name='493' id='493-2' value='2'>
			<label for='493-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='493' id='493-3' value='3'>
			<label for='493-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='493' id='493-4' value='4'>
			<label for='493-4'>Slightly<br>Accurate</label>
			<input type='radio' name='493' id='493-5' value='5'>
			<label for='493-5'>Moderately<br>Accurate</label>
			<input type='radio' name='493' id='493-6' value='6'>
			<label for='493-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>113. People can usually tell if I am lying.</legend>
			<input type='radio' name='3963' id='3963-1' value='1'>
			<label for='3963-1'>Very<br>Inaccurate</label>
			<input type='radio' name='3963' id='3963-2' value='2'>
			<label for='3963-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='3963' id='3963-3' value='3'>
			<label for='3963-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='3963' id='3963-4' value='4'>
			<label for='3963-4'>Slightly<br>Accurate</label>
			<input type='radio' name='3963' id='3963-5' value='5'>
			<label for='3963-5'>Moderately<br>Accurate</label>
			<input type='radio' name='3963' id='3963-6' value='6'>
			<label for='3963-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>114. Experience very few emotional highs and lows.</legend>
			<input type='radio' name='797' id='797-1' value='1'>
			<label for='797-1'>Very<br>Inaccurate</label>
			<input type='radio' name='797' id='797-2' value='2'>
			<label for='797-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='797' id='797-3' value='3'>
			<label for='797-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='797' id='797-4' value='4'>
			<label for='797-4'>Slightly<br>Accurate</label>
			<input type='radio' name='797' id='797-5' value='5'>
			<label for='797-5'>Moderately<br>Accurate</label>
			<input type='radio' name='797' id='797-6' value='6'>
			<label for='797-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>115. Hate being the center of attention.</legend>
			<input type='radio' name='1027' id='1027-1' value='1'>
			<label for='1027-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1027' id='1027-2' value='2'>
			<label for='1027-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1027' id='1027-3' value='3'>
			<label for='1027-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1027' id='1027-4' value='4'>
			<label for='1027-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1027' id='1027-5' value='5'>
			<label for='1027-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1027' id='1027-6' value='6'>
			<label for='1027-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>116. I prefer to keep romance out of my life.</legend>
			<input type='radio' name='4090' id='4090-1' value='1'>
			<label for='4090-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4090' id='4090-2' value='2'>
			<label for='4090-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4090' id='4090-3' value='3'>
			<label for='4090-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4090' id='4090-4' value='4'>
			<label for='4090-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4090' id='4090-5' value='5'>
			<label for='4090-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4090' id='4090-6' value='6'>
			<label for='4090-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>117. Trust what people say.</legend>
			<input type='radio' name='1855' id='1855-1' value='1'>
			<label for='1855-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1855' id='1855-2' value='2'>
			<label for='1855-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1855' id='1855-3' value='3'>
			<label for='1855-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1855' id='1855-4' value='4'>
			<label for='1855-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1855' id='1855-5' value='5'>
			<label for='1855-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1855' id='1855-6' value='6'>
			<label for='1855-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>118. Continue until everything is perfect.</legend>
			<input type='radio' name='530' id='530-1' value='1'>
			<label for='530-1'>Very<br>Inaccurate</label>
			<input type='radio' name='530' id='530-2' value='2'>
			<label for='530-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='530' id='530-3' value='3'>
			<label for='530-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='530' id='530-4' value='4'>
			<label for='530-4'>Slightly<br>Accurate</label>
			<input type='radio' name='530' id='530-5' value='5'>
			<label for='530-5'>Moderately<br>Accurate</label>
			<input type='radio' name='530' id='530-6' value='6'>
			<label for='530-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>119. People don't realize that I'm flattering them to get something.</legend>
			<input type='radio' name='4057' id='4057-1' value='1'>
			<label for='4057-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4057' id='4057-2' value='2'>
			<label for='4057-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4057' id='4057-3' value='3'>
			<label for='4057-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4057' id='4057-4' value='4'>
			<label for='4057-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4057' id='4057-5' value='5'>
			<label for='4057-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4057' id='4057-6' value='6'>
			<label for='4057-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>120. Love to reflect on things.</legend>
			<input type='radio' name='1389' id='1389-1' value='1'>
			<label for='1389-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1389' id='1389-2' value='2'>
			<label for='1389-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1389' id='1389-3' value='3'>
			<label for='1389-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1389' id='1389-4' value='4'>
			<label for='1389-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1389' id='1389-5' value='5'>
			<label for='1389-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1389' id='1389-6' value='6'>
			<label for='1389-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>121. Rarely get irritated.</legend>
			<input type='radio' name='1585' id='1585-1' value='1'>
			<label for='1585-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1585' id='1585-2' value='2'>
			<label for='1585-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1585' id='1585-3' value='3'>
			<label for='1585-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1585' id='1585-4' value='4'>
			<label for='1585-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1585' id='1585-5' value='5'>
			<label for='1585-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1585' id='1585-6' value='6'>
			<label for='1585-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>122. If I ruled the world it would be a better place.</legend>
			<input type='radio' name='51742' id='51742-1' value='1'>
			<label for='51742-1'>Very<br>Inaccurate</label>
			<input type='radio' name='51742' id='51742-2' value='2'>
			<label for='51742-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='51742' id='51742-3' value='3'>
			<label for='51742-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='51742' id='51742-4' value='4'>
			<label for='51742-4'>Slightly<br>Accurate</label>
			<input type='radio' name='51742' id='51742-5' value='5'>
			<label for='51742-5'>Moderately<br>Accurate</label>
			<input type='radio' name='51742' id='51742-6' value='6'>
			<label for='51742-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>123. Choose the best answer without using any tools: -330 + 767 + 636 - 354 = ?</legend>
			<input type='radio' name='15234' id='15234-1' value='1'>
			<label for='15234-1'>-3286</label>
			<input type='radio' name='15234' id='15234-2' value='2'>
			<label for='15234-2'>720</label>
			<input type='radio' name='15234' id='15234-3' value='3'>
			<label for='15234-3'>722</label>
			<input type='radio' name='15234' id='15234-4' value='4'>
			<label for='15234-4'>723</label>
			<input type='radio' name='15234' id='15234-5' value='5'>
			<label for='15234-5'>3170</label>
			<input type='radio' name='15234' id='15234-6' value='6'>
			<label for='15234-6'>719</label>
			<input type='radio' name='15234' id='15234-7' value='7'>
			<label for='15234-7'>None of these</label>
			<input type='radio' name='15234' id='15234-8' value='8'>
			<label for='15234-8'>I don't know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>124. There is a word that can be paired with each of the words below to form compound words.  What is the first letter of the missing word?<br>
		<p style='text-align: center;'>aid &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; rubber &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; wagon</p></legend>
			<input type='radio' name='14290' id='14290-1' value='1'>
			<label for='14290-1'>f</label>
			<input type='radio' name='14290' id='14290-2' value='2'>
			<label for='14290-2'>b</label>
			<input type='radio' name='14290' id='14290-3' value='3'>
			<label for='14290-3'>a</label>
			<input type='radio' name='14290' id='14290-4' value='4'>
			<label for='14290-4'>d</label>
			<input type='radio' name='14290' id='14290-5' value='5'>
			<label for='14290-5'>n</label>
			<input type='radio' name='14290' id='14290-6' value='6'>
			<label for='14290-6'>s</label>
			<input type='radio' name='14290' id='14290-7' value='7'>
			<label for='14290-7'>None of these</label>
			<input type='radio' name='14290' id='14290-8' value='8'>
			<label for='14290-8'>I don't know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>125. Please select the response that matches the image most accurately.</legend>
		<img id='fig13030.jpg' src='iq.figures/fig13030.jpg' width='200' height='280' style='display: block; margin-left: auto; margin-right: auto;'><br>
		<input type='radio' name='13030' id='13030-1' value='1'>
		<label for='13030-1'>anger</label>
		<input type='radio' name='13030' id='13030-2' value='2'>
		<label for='13030-2'>disgust</label>
		<input type='radio' name='13030' id='13030-3' value='3'>
		<label for='13030-3'>fear</label>
		<input type='radio' name='13030' id='13030-4' value='4'>
		<label for='13030-4'>happiness</label>
		<input type='radio' name='13030' id='13030-5' value='5'>
		<label for='13030-5'>neutral</label>
		<input type='radio' name='13030' id='13030-6' value='6'>
		<label for='13030-6'>sadness</label>
		<input type='radio' name='13030' id='13030-7' value='7'>
		<label for='13030-7'>surprise</label>
		<input type='radio' name='13030' id='13030-8' value='8'>
		<label for='13030-8'>I don't know</label>
	</fieldset>
</div> <!-- closes div class="10u offset-1u" -->
<div class="1u">
</div> <!-- closes div class="1u" -->
</div>  <!-- closes div class="row" -->
										<div class="row">

											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-stop" aria-disabled="false"><input type="submit" data-theme="stop" name="submitStop" value="Skip to last page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
											<div class="6u">
												<ul>
												<li>
												</li>
												</ul>
											</div>
											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-more" aria-disabled="false"><input type="submit" data-theme="more" id="submitGo" name="submitGo" value="Next page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
										</div>

</form><!-- closes form id="page7"  -->
								</div>  <!-- closes div class="5grid" -->
							</div>  <!-- closes div id="content" -->
						</div> <!-- closes div class="12u mobileUI-main-content" -->
					</div><!-- closes div id="row" -->
				</div> <!-- closes div class="5grid-layout" -->
			</div> <!-- closes div id="main-wrapper" -->

		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
				<footer id="footer" class="5grid-layout">
					<div class="row">
						<div class="12u">
							<div id="copyright">
							<center>
								&copy; Part of the Personality Project.	
							</center>
							</div>
						</div>
					</div>
				</footer>
			</div>
		<!-- End Footer Wrapper -->
	</body>
</html>
