<!DOCTYPE HTML>
<html>

	<head>
		<title>Free Personality Test | SAPA-Project | Items 1 to 25</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="description" content="This is the first of several pages where we ask about your typical thoughts, feelings, and behaviors. Your responses to these questions will shape your free customized personality report, so be sure to respond honestly.  And don't skip too many items along the way!">
		<meta name="keywords" content="" />

		<link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
		<link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16">
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
		<link rel="manifest" href="../manifest.json">
		<link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" href="../css/5grid/fonts.css" />
		<link rel="stylesheet" href="../css/5grid/jquery.mobile-1.3.0.css" />
		<script src="../css/5grid/jquery.js"></script>
		<script src="../css/5grid/jquery.mobile-1.3.0.min.js"></script>
		<script src="../css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none&amp;mobileUI_titleBarOverlaid=1&amp;mobileUI_titleBarHeight=60&amp;viewport_is1000px=1060&amp;mobileUI_openerWidth=80"></script>
		<noscript>
			<link rel="stylesheet" href="../css/5grid/core.css" />
			<link rel="stylesheet" href="../css/5grid/core-desktop.css" />
			<link rel="stylesheet" href="../css/5grid/core-1200px.css" />
			<link rel="stylesheet" href="../css/5grid/core-noscript.css" />
			<link rel="stylesheet" href="../css/style.css" />
			<link rel="stylesheet" href="../css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="../css/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="../css/ie7.css" /><![endif]-->
		<!-- begin google adwords script --><script type="text/javascript">
/* <![CDATA[ */
		var google_conversion_id = 981868095;
		var google_conversion_language = "en";
		var google_conversion_format = "3";
		var google_conversion_color = "ffffff";
		var google_conversion_label = "2aA_CLP73HMQv7yY1AM";
		var google_remarketing_only = false;
		/* ]]> */
		</script>
		<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
		</script>
		<noscript>
		<div style="display:inline;">
		<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/981868095/?label=2aA_CLP73HMQv7yY1AM&amp;guid=ON&amp;script=0"/>
		</div>
		</noscript><!-- end google adwords script -->

	</head>
	<body class="no-sidebar">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="5grid-layout">
					<div class="row">
						
							<!-- Header -->
								<header id="header">
										<h2>The SAPA Project</h2>
										<h3>a personality assessment collaboratory</h3>
								</header>

					</div>
				</div>
			</div>
		<!-- End Header Wrapper -->
		
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="5grid-layout">
					<div class="row">
						<div class="12u mobileUI-main-content">

							<!-- Content -->
								<div id="content">

									<div class="5grid">
										<div class="row">
											<div class="12u" style="margin-bottom: 0px;">

										<h3>Personality Questions</h3>

										<p class="smallish">Most of these are short phrases that you should respond to by indicating how accurately the statement describes your typical behavior or attitudes.  For example, you might select 'slightly accurate' for 'Laugh a lot.'  Other types of items are mixed in as well, including cognition/puzzle items, questions that ask about how you spend your free time, and questions that ask how interested you would be in working certain jobs.  Each of these types of questions relate to different features of personality.  For all types, <strong>choose the one answer that you think is best.</strong></p>
										
											</div> <!-- closes div class="12u" -->
										</div>  <!-- closes div class="row" -->
																		
										<div class="small">
										</div>

<form name="page3" id="page3" DefaultButton="submitGo" action="/survey/survey1.php" data-ajax="false" method="post" onsubmit="getTime();">  

<input type="hidden" id="page1Time" name="page1Time">

<script language='JavaScript'>
function getTime(){
var current = new Date();
var since = current.getTime();
var elapsetime = since/1000;
document.getElementById('page1Time').value = elapsetime;
}
</script>
<!-- Gets the time between 1/1/1970 12:00 am UTC and now in seconds. -->

<div class="row">
<div class="10u offset-1u">


	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>1. I feel foolish when I make a mistake in front of others.</legend>
			<input type='radio' name='50614' id='50614-1' value='1'>
			<label for='50614-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50614' id='50614-2' value='2'>
			<label for='50614-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50614' id='50614-3' value='3'>
			<label for='50614-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50614' id='50614-4' value='4'>
			<label for='50614-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50614' id='50614-5' value='5'>
			<label for='50614-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50614' id='50614-6' value='6'>
			<label for='50614-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>2. Think of others first.</legend>
			<input type='radio' name='1832' id='1832-1' value='1'>
			<label for='1832-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1832' id='1832-2' value='2'>
			<label for='1832-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1832' id='1832-3' value='3'>
			<label for='1832-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1832' id='1832-4' value='4'>
			<label for='1832-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1832' id='1832-5' value='5'>
			<label for='1832-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1832' id='1832-6' value='6'>
			<label for='1832-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>3. Neglect my duties.</legend>
			<input type='radio' name='1452' id='1452-1' value='1'>
			<label for='1452-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1452' id='1452-2' value='2'>
			<label for='1452-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1452' id='1452-3' value='3'>
			<label for='1452-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1452' id='1452-4' value='4'>
			<label for='1452-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1452' id='1452-5' value='5'>
			<label for='1452-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1452' id='1452-6' value='6'>
			<label for='1452-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>4. I am driven to succeed.</legend>
			<input type='radio' name='50601' id='50601-1' value='1'>
			<label for='50601-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50601' id='50601-2' value='2'>
			<label for='50601-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50601' id='50601-3' value='3'>
			<label for='50601-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50601' id='50601-4' value='4'>
			<label for='50601-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50601' id='50601-5' value='5'>
			<label for='50601-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50601' id='50601-6' value='6'>
			<label for='50601-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>5. Am an original thinker.</legend>
			<input type='radio' name='2754' id='2754-1' value='1'>
			<label for='2754-1'>Very<br>Inaccurate</label>
			<input type='radio' name='2754' id='2754-2' value='2'>
			<label for='2754-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='2754' id='2754-3' value='3'>
			<label for='2754-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='2754' id='2754-4' value='4'>
			<label for='2754-4'>Slightly<br>Accurate</label>
			<input type='radio' name='2754' id='2754-5' value='5'>
			<label for='2754-5'>Moderately<br>Accurate</label>
			<input type='radio' name='2754' id='2754-6' value='6'>
			<label for='2754-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>6. Am a worrier.</legend>
			<input type='radio' name='4252' id='4252-1' value='1'>
			<label for='4252-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4252' id='4252-2' value='2'>
			<label for='4252-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4252' id='4252-3' value='3'>
			<label for='4252-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4252' id='4252-4' value='4'>
			<label for='4252-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4252' id='4252-5' value='5'>
			<label for='4252-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4252' id='4252-6' value='6'>
			<label for='4252-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>7. I don't care about other people's feelings.</legend>
			<input type='radio' name='4073' id='4073-1' value='1'>
			<label for='4073-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4073' id='4073-2' value='2'>
			<label for='4073-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4073' id='4073-3' value='3'>
			<label for='4073-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4073' id='4073-4' value='4'>
			<label for='4073-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4073' id='4073-5' value='5'>
			<label for='4073-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4073' id='4073-6' value='6'>
			<label for='4073-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>8. Avoid company.</legend>
			<input type='radio' name='312' id='312-1' value='1'>
			<label for='312-1'>Very<br>Inaccurate</label>
			<input type='radio' name='312' id='312-2' value='2'>
			<label for='312-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='312' id='312-3' value='3'>
			<label for='312-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='312' id='312-4' value='4'>
			<label for='312-4'>Slightly<br>Accurate</label>
			<input type='radio' name='312' id='312-5' value='5'>
			<label for='312-5'>Moderately<br>Accurate</label>
			<input type='radio' name='312' id='312-6' value='6'>
			<label for='312-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>9. Cheat to get ahead.</legend>
			<input type='radio' name='501' id='501-1' value='1'>
			<label for='501-1'>Very<br>Inaccurate</label>
			<input type='radio' name='501' id='501-2' value='2'>
			<label for='501-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='501' id='501-3' value='3'>
			<label for='501-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='501' id='501-4' value='4'>
			<label for='501-4'>Slightly<br>Accurate</label>
			<input type='radio' name='501' id='501-5' value='5'>
			<label for='501-5'>Moderately<br>Accurate</label>
			<input type='radio' name='501' id='501-6' value='6'>
			<label for='501-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>10. I often think that others aren't telling me the whole truth.</legend>
			<input type='radio' name='50604' id='50604-1' value='1'>
			<label for='50604-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50604' id='50604-2' value='2'>
			<label for='50604-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50604' id='50604-3' value='3'>
			<label for='50604-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50604' id='50604-4' value='4'>
			<label for='50604-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50604' id='50604-5' value='5'>
			<label for='50604-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50604' id='50604-6' value='6'>
			<label for='50604-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>11. Like order.</legend>
			<input type='radio' name='1290' id='1290-1' value='1'>
			<label for='1290-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1290' id='1290-2' value='2'>
			<label for='1290-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1290' id='1290-3' value='3'>
			<label for='1290-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1290' id='1290-4' value='4'>
			<label for='1290-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1290' id='1290-5' value='5'>
			<label for='1290-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1290' id='1290-6' value='6'>
			<label for='1290-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>12. Catch on to things quickly.</legend>
			<input type='radio' name='493' id='493-1' value='1'>
			<label for='493-1'>Very<br>Inaccurate</label>
			<input type='radio' name='493' id='493-2' value='2'>
			<label for='493-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='493' id='493-3' value='3'>
			<label for='493-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='493' id='493-4' value='4'>
			<label for='493-4'>Slightly<br>Accurate</label>
			<input type='radio' name='493' id='493-5' value='5'>
			<label for='493-5'>Moderately<br>Accurate</label>
			<input type='radio' name='493' id='493-6' value='6'>
			<label for='493-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>13. It is easy for me to take advantage of others.</legend>
			<input type='radio' name='4220' id='4220-1' value='1'>
			<label for='4220-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4220' id='4220-2' value='2'>
			<label for='4220-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4220' id='4220-3' value='3'>
			<label for='4220-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4220' id='4220-4' value='4'>
			<label for='4220-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4220' id='4220-5' value='5'>
			<label for='4220-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4220' id='4220-6' value='6'>
			<label for='4220-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>14. Am not easily affected by my emotions.</legend>
			<input type='radio' name='174' id='174-1' value='1'>
			<label for='174-1'>Very<br>Inaccurate</label>
			<input type='radio' name='174' id='174-2' value='2'>
			<label for='174-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='174' id='174-3' value='3'>
			<label for='174-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='174' id='174-4' value='4'>
			<label for='174-4'>Slightly<br>Accurate</label>
			<input type='radio' name='174' id='174-5' value='5'>
			<label for='174-5'>Moderately<br>Accurate</label>
			<input type='radio' name='174' id='174-6' value='6'>
			<label for='174-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>15. Make myself the center of attention.</legend>
			<input type='radio' name='1416' id='1416-1' value='1'>
			<label for='1416-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1416' id='1416-2' value='2'>
			<label for='1416-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1416' id='1416-3' value='3'>
			<label for='1416-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1416' id='1416-4' value='4'>
			<label for='1416-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1416' id='1416-5' value='5'>
			<label for='1416-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1416' id='1416-6' value='6'>
			<label for='1416-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>16. I'm good at conning people.</legend>
			<input type='radio' name='4163' id='4163-1' value='1'>
			<label for='4163-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4163' id='4163-2' value='2'>
			<label for='4163-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4163' id='4163-3' value='3'>
			<label for='4163-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4163' id='4163-4' value='4'>
			<label for='4163-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4163' id='4163-5' value='5'>
			<label for='4163-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4163' id='4163-6' value='6'>
			<label for='4163-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>17. Believe that people are basically moral.</legend>
			<input type='radio' name='379' id='379-1' value='1'>
			<label for='379-1'>Very<br>Inaccurate</label>
			<input type='radio' name='379' id='379-2' value='2'>
			<label for='379-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='379' id='379-3' value='3'>
			<label for='379-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='379' id='379-4' value='4'>
			<label for='379-4'>Slightly<br>Accurate</label>
			<input type='radio' name='379' id='379-5' value='5'>
			<label for='379-5'>Moderately<br>Accurate</label>
			<input type='radio' name='379' id='379-6' value='6'>
			<label for='379-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>18. Set high standards for myself and others.</legend>
			<input type='radio' name='1694' id='1694-1' value='1'>
			<label for='1694-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1694' id='1694-2' value='2'>
			<label for='1694-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1694' id='1694-3' value='3'>
			<label for='1694-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1694' id='1694-4' value='4'>
			<label for='1694-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1694' id='1694-5' value='5'>
			<label for='1694-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1694' id='1694-6' value='6'>
			<label for='1694-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>19. If something I do isn't absolutely perfect, it's simply not acceptable.</legend>
			<input type='radio' name='4106' id='4106-1' value='1'>
			<label for='4106-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4106' id='4106-2' value='2'>
			<label for='4106-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4106' id='4106-3' value='3'>
			<label for='4106-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4106' id='4106-4' value='4'>
			<label for='4106-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4106' id='4106-5' value='5'>
			<label for='4106-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4106' id='4106-6' value='6'>
			<label for='4106-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>20. Spend time reflecting on things.</legend>
			<input type='radio' name='1738' id='1738-1' value='1'>
			<label for='1738-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1738' id='1738-2' value='2'>
			<label for='1738-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1738' id='1738-3' value='3'>
			<label for='1738-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1738' id='1738-4' value='4'>
			<label for='1738-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1738' id='1738-5' value='5'>
			<label for='1738-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1738' id='1738-6' value='6'>
			<label for='1738-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>21. Am not easily annoyed.</legend>
			<input type='radio' name='176' id='176-1' value='1'>
			<label for='176-1'>Very<br>Inaccurate</label>
			<input type='radio' name='176' id='176-2' value='2'>
			<label for='176-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='176' id='176-3' value='3'>
			<label for='176-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='176' id='176-4' value='4'>
			<label for='176-4'>Slightly<br>Accurate</label>
			<input type='radio' name='176' id='176-5' value='5'>
			<label for='176-5'>Moderately<br>Accurate</label>
			<input type='radio' name='176' id='176-6' value='6'>
			<label for='176-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>22. I feel very insecure about whether I will achieve much in life.</legend>
			<input type='radio' name='50597' id='50597-1' value='1'>
			<label for='50597-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50597' id='50597-2' value='2'>
			<label for='50597-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50597' id='50597-3' value='3'>
			<label for='50597-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50597' id='50597-4' value='4'>
			<label for='50597-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50597' id='50597-5' value='5'>
			<label for='50597-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50597' id='50597-6' value='6'>
			<label for='50597-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>23. In the following alphanumeric series, what letter comes next? I, J, L, O, S, ...</legend>
			<input type='radio' name='12034' id='12034-1' value='1'>
			<label for='12034-1'> T</label>
			<input type='radio' name='12034' id='12034-2' value='2'>
			<label for='12034-2'> U</label>
			<input type='radio' name='12034' id='12034-3' value='3'>
			<label for='12034-3'> V</label>
			<input type='radio' name='12034' id='12034-4' value='4'>
			<label for='12034-4'> X</label>
			<input type='radio' name='12034' id='12034-5' value='5'>
			<label for='12034-5'> Y</label>
			<input type='radio' name='12034' id='12034-6' value='6'>
			<label for='12034-6'> Z</label>
			<input type='radio' name='12034' id='12034-7' value='7'>
			<label for='12034-7'>None of these</label>
			<input type='radio' name='12034' id='12034-8' value='8'>
			<label for='12034-8'>I don't know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>24. All the cubes below have a different image on each side.  Select the choice that could represent a rotation of the cube labeled X.</legend>
		<img id='fig11014.png' src='iq.figures/fig11014.png' width='640' height='310'><br>
		<input type='radio' name='11014' id='11014-1' value='1'>
		<label for='11014-1'>A</label>
		<input type='radio' name='11014' id='11014-2' value='2'>
		<label for='11014-2'>B</label>
		<input type='radio' name='11014' id='11014-3' value='3'>
		<label for='11014-3'>C</label>
		<input type='radio' name='11014' id='11014-4' value='4'>
		<label for='11014-4'>D</label>
		<input type='radio' name='11014' id='11014-5' value='5'>
		<label for='11014-5'>E</label>
		<input type='radio' name='11014' id='11014-6' value='6'>
		<label for='11014-6'>F</label>
		<input type='radio' name='11014' id='11014-7' value='7'>
		<label for='11014-7'>G</label>
		<input type='radio' name='11014' id='11014-8' value='8'>
		<label for='11014-8'>H</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>25. Please select the response that matches the image most accurately.</legend>
		<img id='fig13052.jpg' src='iq.figures/fig13052.jpg' width='200' height='280' style='display: block; margin-left: auto; margin-right: auto;'><br>
		<input type='radio' name='13052' id='13052-1' value='1'>
		<label for='13052-1'>anger</label>
		<input type='radio' name='13052' id='13052-2' value='2'>
		<label for='13052-2'>disgust</label>
		<input type='radio' name='13052' id='13052-3' value='3'>
		<label for='13052-3'>fear</label>
		<input type='radio' name='13052' id='13052-4' value='4'>
		<label for='13052-4'>happiness</label>
		<input type='radio' name='13052' id='13052-5' value='5'>
		<label for='13052-5'>neutral</label>
		<input type='radio' name='13052' id='13052-6' value='6'>
		<label for='13052-6'>sadness</label>
		<input type='radio' name='13052' id='13052-7' value='7'>
		<label for='13052-7'>surprise</label>
		<input type='radio' name='13052' id='13052-8' value='8'>
		<label for='13052-8'>I don't know</label>
	</fieldset>
</div> <!-- closes div class="10u offset-1u" -->
<div class="1u">
</div> <!-- closes div class="1u" -->
</div>  <!-- closes div class="row" -->
										<div class="row">

											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-stop" aria-disabled="false"><input type="submit" data-theme="stop" name="submitStop" value="Skip to last page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
											<div class="6u">
												<ul>
												<li>
												</li>
												</ul>
											</div>
											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-more" aria-disabled="false"><input type="submit" data-theme="more" id="submitGo" name="submitGo" value="Next page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
										</div>

</form><!-- closes form id="page3"  -->
								</div>  <!-- closes div class="5grid" -->
							</div>  <!-- closes div id="content" -->
						</div> <!-- closes div class="12u mobileUI-main-content" -->
					</div><!-- closes div id="row" -->
				</div> <!-- closes div class="5grid-layout" -->
			</div> <!-- closes div id="main-wrapper" -->

		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
				<footer id="footer" class="5grid-layout">
					<div class="row">
						<div class="12u">
							<div id="copyright">
							<center>
								&copy; Part of the Personality Project.	
							</center>
							</div>
						</div>
					</div>
				</footer>
			</div>
		<!-- End Footer Wrapper -->
	</body>
</html>
