<!DOCTYPE HTML>
<html>

	<head>
		<title>Free Personality Test | SAPA-Project | Items 101 to 125</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="description" content="This is the fifth of several pages where we ask about your typical thoughts, feelings, and behaviors. Your responses to these questions will shape your free customized personality report, so be sure to respond honestly.  And don't skip too many items along the way!">
		<meta name="keywords" content="" />

		<link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
		<link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16">
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
		<link rel="manifest" href="../manifest.json">
		<link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" href="../css/5grid/fonts.css" />
		<link rel="stylesheet" href="../css/5grid/jquery.mobile-1.3.0.css" />
		<script src="../css/5grid/jquery.js"></script>
		<script src="../css/5grid/jquery.mobile-1.3.0.min.js"></script>
		<script src="../css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none&amp;mobileUI_titleBarOverlaid=1&amp;mobileUI_titleBarHeight=60&amp;viewport_is1000px=1060&amp;mobileUI_openerWidth=80"></script>
		<noscript>
			<link rel="stylesheet" href="../css/5grid/core.css" />
			<link rel="stylesheet" href="../css/5grid/core-desktop.css" />
			<link rel="stylesheet" href="../css/5grid/core-1200px.css" />
			<link rel="stylesheet" href="../css/5grid/core-noscript.css" />
			<link rel="stylesheet" href="../css/style.css" />
			<link rel="stylesheet" href="../css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="../css/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="../css/ie7.css" /><![endif]-->
	</head>
	<body class="no-sidebar">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="5grid-layout">
					<div class="row">
						
							<!-- Header -->
								<header id="header">
										<h2>The SAPA Project</h2>
										<h3>a personality assessment collaboratory</h3>
								</header>

					</div>
				</div>
			</div>
		<!-- End Header Wrapper -->
		
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="5grid-layout">
					<div class="row">
						<div class="12u mobileUI-main-content">

							<!-- Content -->
								<div id="content">

									<div class="5grid">
										<div class="row">
											<div class="12u" style="margin-bottom: 0px;">

										<h3>Personality Questions</h3>
										
										<p class="smallish">You've responded to <strong>13 of the 100 items</strong> given so far.</p>

										<p class="smallish">Remember that <strong>your responses are anonymous</strong>.  Do your best to respond as accurately and honestly as possible.</p>

											</div> <!-- closes div class="12u" -->
										</div>  <!-- closes div class="row" -->
																		
										<div class="small">
										</div>

<form name="page7" id="page7" DefaultButton="submitGo" action="/survey/survey5.php" data-ajax="false" method="post" onsubmit="getTime();">  

<input type="hidden" id="page5Time" name="page5Time">

<script language='JavaScript'>
function getTime(){
var current = new Date();
var since = current.getTime();
var elapsetime = since/1000;
document.getElementById('page5Time').value = elapsetime;
}
</script>
<!-- Gets the time between 1/1/1970 12:00 am UTC and now in seconds. -->

<div class="row">
<div class="10u offset-1u">


	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>101. I will use persons as tools to advance myself.</legend>
			<input type='radio' name='50577' id='50577-1' value='1'>
			<label for='50577-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50577' id='50577-2' value='2'>
			<label for='50577-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50577' id='50577-3' value='3'>
			<label for='50577-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50577' id='50577-4' value='4'>
			<label for='50577-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50577' id='50577-5' value='5'>
			<label for='50577-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50577' id='50577-6' value='6'>
			<label for='50577-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>102. Sympathize with others' feelings.</legend>
			<input type='radio' name='1763' id='1763-1' value='1'>
			<label for='1763-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1763' id='1763-2' value='2'>
			<label for='1763-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1763' id='1763-3' value='3'>
			<label for='1763-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1763' id='1763-4' value='4'>
			<label for='1763-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1763' id='1763-5' value='5'>
			<label for='1763-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1763' id='1763-6' value='6'>
			<label for='1763-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>103. Need a push to get started.</legend>
			<input type='radio' name='1444' id='1444-1' value='1'>
			<label for='1444-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1444' id='1444-2' value='2'>
			<label for='1444-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1444' id='1444-3' value='3'>
			<label for='1444-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1444' id='1444-4' value='4'>
			<label for='1444-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1444' id='1444-5' value='5'>
			<label for='1444-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1444' id='1444-6' value='6'>
			<label for='1444-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>104. I've missed out on things because I was busy trying to get something I was doing exactly right.</legend>
			<input type='radio' name='4052' id='4052-1' value='1'>
			<label for='4052-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4052' id='4052-2' value='2'>
			<label for='4052-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4052' id='4052-3' value='3'>
			<label for='4052-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4052' id='4052-4' value='4'>
			<label for='4052-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4052' id='4052-5' value='5'>
			<label for='4052-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4052' id='4052-6' value='6'>
			<label for='4052-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>105. Love to think up new ways of doing things.</legend>
			<input type='radio' name='1392' id='1392-1' value='1'>
			<label for='1392-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1392' id='1392-2' value='2'>
			<label for='1392-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1392' id='1392-3' value='3'>
			<label for='1392-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1392' id='1392-4' value='4'>
			<label for='1392-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1392' id='1392-5' value='5'>
			<label for='1392-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1392' id='1392-6' value='6'>
			<label for='1392-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>106. Am a worrier.</legend>
			<input type='radio' name='4252' id='4252-1' value='1'>
			<label for='4252-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4252' id='4252-2' value='2'>
			<label for='4252-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4252' id='4252-3' value='3'>
			<label for='4252-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4252' id='4252-4' value='4'>
			<label for='4252-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4252' id='4252-5' value='5'>
			<label for='4252-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4252' id='4252-6' value='6'>
			<label for='4252-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>107. I have a strict way of doing things.</legend>
			<input type='radio' name='4221' id='4221-1' value='1'>
			<label for='4221-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4221' id='4221-2' value='2'>
			<label for='4221-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4221' id='4221-3' value='3'>
			<label for='4221-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4221' id='4221-4' value='4'>
			<label for='4221-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4221' id='4221-5' value='5'>
			<label for='4221-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4221' id='4221-6' value='6'>
			<label for='4221-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>108. Don't like crowded events.</legend>
			<input type='radio' name='684' id='684-1' value='1'>
			<label for='684-1'>Very<br>Inaccurate</label>
			<input type='radio' name='684' id='684-2' value='2'>
			<label for='684-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='684' id='684-3' value='3'>
			<label for='684-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='684' id='684-4' value='4'>
			<label for='684-4'>Slightly<br>Accurate</label>
			<input type='radio' name='684' id='684-5' value='5'>
			<label for='684-5'>Moderately<br>Accurate</label>
			<input type='radio' name='684' id='684-6' value='6'>
			<label for='684-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>109. Cannot imagine lying or cheating.</legend>
			<input type='radio' name='2853' id='2853-1' value='1'>
			<label for='2853-1'>Very<br>Inaccurate</label>
			<input type='radio' name='2853' id='2853-2' value='2'>
			<label for='2853-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='2853' id='2853-3' value='3'>
			<label for='2853-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='2853' id='2853-4' value='4'>
			<label for='2853-4'>Slightly<br>Accurate</label>
			<input type='radio' name='2853' id='2853-5' value='5'>
			<label for='2853-5'>Moderately<br>Accurate</label>
			<input type='radio' name='2853' id='2853-6' value='6'>
			<label for='2853-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>110. I resent being told what to do, even by people in charge.</legend>
			<input type='radio' name='4086' id='4086-1' value='1'>
			<label for='4086-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4086' id='4086-2' value='2'>
			<label for='4086-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4086' id='4086-3' value='3'>
			<label for='4086-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4086' id='4086-4' value='4'>
			<label for='4086-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4086' id='4086-5' value='5'>
			<label for='4086-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4086' id='4086-6' value='6'>
			<label for='4086-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>111. Leave a mess in my room.</legend>
			<input type='radio' name='1254' id='1254-1' value='1'>
			<label for='1254-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1254' id='1254-2' value='2'>
			<label for='1254-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1254' id='1254-3' value='3'>
			<label for='1254-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1254' id='1254-4' value='4'>
			<label for='1254-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1254' id='1254-5' value='5'>
			<label for='1254-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1254' id='1254-6' value='6'>
			<label for='1254-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>112. Catch on to things quickly.</legend>
			<input type='radio' name='493' id='493-1' value='1'>
			<label for='493-1'>Very<br>Inaccurate</label>
			<input type='radio' name='493' id='493-2' value='2'>
			<label for='493-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='493' id='493-3' value='3'>
			<label for='493-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='493' id='493-4' value='4'>
			<label for='493-4'>Slightly<br>Accurate</label>
			<input type='radio' name='493' id='493-5' value='5'>
			<label for='493-5'>Moderately<br>Accurate</label>
			<input type='radio' name='493' id='493-6' value='6'>
			<label for='493-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>113. I rarely feel that people I know are trying to take advantage of me.</legend>
			<input type='radio' name='4178' id='4178-1' value='1'>
			<label for='4178-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4178' id='4178-2' value='2'>
			<label for='4178-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4178' id='4178-3' value='3'>
			<label for='4178-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4178' id='4178-4' value='4'>
			<label for='4178-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4178' id='4178-5' value='5'>
			<label for='4178-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4178' id='4178-6' value='6'>
			<label for='4178-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>114. Experience my emotions intensely.</legend>
			<input type='radio' name='793' id='793-1' value='1'>
			<label for='793-1'>Very<br>Inaccurate</label>
			<input type='radio' name='793' id='793-2' value='2'>
			<label for='793-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='793' id='793-3' value='3'>
			<label for='793-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='793' id='793-4' value='4'>
			<label for='793-4'>Slightly<br>Accurate</label>
			<input type='radio' name='793' id='793-5' value='5'>
			<label for='793-5'>Moderately<br>Accurate</label>
			<input type='radio' name='793' id='793-6' value='6'>
			<label for='793-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>115. Put on a show to impress people.</legend>
			<input type='radio' name='1555' id='1555-1' value='1'>
			<label for='1555-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1555' id='1555-2' value='2'>
			<label for='1555-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1555' id='1555-3' value='3'>
			<label for='1555-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1555' id='1555-4' value='4'>
			<label for='1555-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1555' id='1555-5' value='5'>
			<label for='1555-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1555' id='1555-6' value='6'>
			<label for='1555-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>116. People often think my stories are boring.</legend>
			<input type='radio' name='50544' id='50544-1' value='1'>
			<label for='50544-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50544' id='50544-2' value='2'>
			<label for='50544-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50544' id='50544-3' value='3'>
			<label for='50544-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50544' id='50544-4' value='4'>
			<label for='50544-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50544' id='50544-5' value='5'>
			<label for='50544-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50544' id='50544-6' value='6'>
			<label for='50544-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>117. Trust people to mainly tell the truth.</legend>
			<input type='radio' name='4289' id='4289-1' value='1'>
			<label for='4289-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4289' id='4289-2' value='2'>
			<label for='4289-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4289' id='4289-3' value='3'>
			<label for='4289-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4289' id='4289-4' value='4'>
			<label for='4289-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4289' id='4289-5' value='5'>
			<label for='4289-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4289' id='4289-6' value='6'>
			<label for='4289-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>118. Set high standards for myself and others.</legend>
			<input type='radio' name='1694' id='1694-1' value='1'>
			<label for='1694-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1694' id='1694-2' value='2'>
			<label for='1694-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1694' id='1694-3' value='3'>
			<label for='1694-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1694' id='1694-4' value='4'>
			<label for='1694-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1694' id='1694-5' value='5'>
			<label for='1694-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1694' id='1694-6' value='6'>
			<label for='1694-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>119. It's wise to keep track of information that you can use against people later.</legend>
			<input type='radio' name='50537' id='50537-1' value='1'>
			<label for='50537-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50537' id='50537-2' value='2'>
			<label for='50537-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50537' id='50537-3' value='3'>
			<label for='50537-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50537' id='50537-4' value='4'>
			<label for='50537-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50537' id='50537-5' value='5'>
			<label for='50537-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50537' id='50537-6' value='6'>
			<label for='50537-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>120. Enjoy examining myself and my life.</legend>
			<input type='radio' name='755' id='755-1' value='1'>
			<label for='755-1'>Very<br>Inaccurate</label>
			<input type='radio' name='755' id='755-2' value='2'>
			<label for='755-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='755' id='755-3' value='3'>
			<label for='755-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='755' id='755-4' value='4'>
			<label for='755-4'>Slightly<br>Accurate</label>
			<input type='radio' name='755' id='755-5' value='5'>
			<label for='755-5'>Moderately<br>Accurate</label>
			<input type='radio' name='755' id='755-6' value='6'>
			<label for='755-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>121. Get angry easily.</legend>
			<input type='radio' name='952' id='952-1' value='1'>
			<label for='952-1'>Very<br>Inaccurate</label>
			<input type='radio' name='952' id='952-2' value='2'>
			<label for='952-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='952' id='952-3' value='3'>
			<label for='952-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='952' id='952-4' value='4'>
			<label for='952-4'>Slightly<br>Accurate</label>
			<input type='radio' name='952' id='952-5' value='5'>
			<label for='952-5'>Moderately<br>Accurate</label>
			<input type='radio' name='952' id='952-6' value='6'>
			<label for='952-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>122. I lose track of conversations because other things catch my attention.</legend>
			<input type='radio' name='4007' id='4007-1' value='1'>
			<label for='4007-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4007' id='4007-2' value='2'>
			<label for='4007-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4007' id='4007-3' value='3'>
			<label for='4007-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4007' id='4007-4' value='4'>
			<label for='4007-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4007' id='4007-5' value='5'>
			<label for='4007-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4007' id='4007-6' value='6'>
			<label for='4007-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>123. If the conveyor belt runs and the cooling fluid flows, then the button is pushed. The conveyor belt runs.</legend>
		<p><strong>A.</strong> The oil drips.<br>
		<strong>B.</strong> If the cooling fluid flows, then the button is pushed.<br>
		<strong>C.</strong> The cooling fluid doesn't flow.<br>
		<strong>D.</strong> The conveyor belt doesn't run.<br>
		<strong>E.</strong> The cooling fluid flows.<br>
		<strong>F.</strong> If the cooling fluid flows, then the button isn't pushed.<br>
		<strong>G.</strong> None of these<br>
		<strong>H.</strong> I don't know</p></legend>
			<input type='radio' name='17008' id='17008-1' value='1'>
			<label for='17008-1'>A</label>
			<input type='radio' name='17008' id='17008-2' value='2'>
			<label for='17008-2'>B</label>
			<input type='radio' name='17008' id='17008-3' value='3'>
			<label for='17008-3'>C</label>
			<input type='radio' name='17008' id='17008-4' value='4'>
			<label for='17008-4'>D</label>
			<input type='radio' name='17008' id='17008-5' value='5'>
			<label for='17008-5'>E</label>
			<input type='radio' name='17008' id='17008-6' value='6'>
			<label for='17008-6'>F</label>
			<input type='radio' name='17008' id='17008-7' value='7'>
			<label for='17008-7'>G</label>
			<input type='radio' name='17008' id='17008-8' value='8'>
			<label for='17008-8'>H</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>124. In the following alphanumeric series, what number comes next? 5, 12, 26, 54, 110, …</legend>
			<input type='radio' name='12134' id='12134-1' value='1'>
			<label for='12134-1'>140</label>
			<input type='radio' name='12134' id='12134-2' value='2'>
			<label for='12134-2'>166</label>
			<input type='radio' name='12134' id='12134-3' value='3'>
			<label for='12134-3'>180</label>
			<input type='radio' name='12134' id='12134-4' value='4'>
			<label for='12134-4'>224</label>
			<input type='radio' name='12134' id='12134-5' value='5'>
			<label for='12134-5'>222</label>
			<input type='radio' name='12134' id='12134-6' value='6'>
			<label for='12134-6'>220</label>
			<input type='radio' name='12134' id='12134-7' value='7'>
			<label for='12134-7'>None of these</label>
			<input type='radio' name='12134' id='12134-8' value='8'>
			<label for='12134-8'>I don't know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>125. Please indicate which is the best answer to complete the figure below.</legend>
		<img id='fig19024.svg' src='iq.figures/fig19024.svg'><br>
		<input type='radio' name='19024' id='19024-1' value='1'>
		<label for='19024-1'>1</label>
		<input type='radio' name='19024' id='19024-2' value='2'>
		<label for='19024-2'>2</label>
		<input type='radio' name='19024' id='19024-3' value='3'>
		<label for='19024-3'>3</label>
		<input type='radio' name='19024' id='19024-4' value='4'>
		<label for='19024-4'>4</label>
		<input type='radio' name='19024' id='19024-5' value='5'>
		<label for='19024-5'>5</label>
		<input type='radio' name='19024' id='19024-6' value='6'>
		<label for='19024-6'>6</label>
		<input type='radio' name='19024' id='19024-7' value='7'>
		<label for='19024-7'>7</label>
		<input type='radio' name='19024' id='19024-8' value='8'>
		<label for='19024-8'>8</label>
	</fieldset>
</div> <!-- closes div class="10u offset-1u" -->
<div class="1u">
</div> <!-- closes div class="1u" -->
</div>  <!-- closes div class="row" -->
										<div class="row">

											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-stop" aria-disabled="false"><input type="submit" data-theme="stop" name="submitStop" value="Skip to last page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
											<div class="6u">
												<ul>
												<li>
												</li>
												</ul>
											</div>
											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-more" aria-disabled="false"><input type="submit" data-theme="more" id="submitGo" name="submitGo" value="Next page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
										</div>

</form><!-- closes form id="page7"  -->
								</div>  <!-- closes div class="5grid" -->
							</div>  <!-- closes div id="content" -->
						</div> <!-- closes div class="12u mobileUI-main-content" -->
					</div><!-- closes div id="row" -->
				</div> <!-- closes div class="5grid-layout" -->
			</div> <!-- closes div id="main-wrapper" -->

		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
				<footer id="footer" class="5grid-layout">
					<div class="row">
						<div class="12u">
							<div id="copyright">
							<center>
								&copy; Part of the Personality Project.	
							</center>
							</div>
						</div>
					</div>
				</footer>
			</div>
		<!-- End Footer Wrapper -->
	</body>
</html>
