<!DOCTYPE HTML>
<html>

	<head>
		<title>Free Personality Test | SAPA-Project | Items 26 to 50</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="description" content="This is the second of several pages where we ask about your typical thoughts, feelings, and behaviors. Your responses to these questions will shape your free customized personality report, so be sure to respond honestly.  And don't skip too many items along the way!">
		<meta name="keywords" content="" />

		<link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
		<link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16">
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
		<link rel="manifest" href="../manifest.json">
		<link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" href="../css/5grid/fonts.css" />
		<link rel="stylesheet" href="../css/5grid/jquery.mobile-1.3.0.css" />
		<script src="../css/5grid/jquery.js"></script>
		<script src="../css/5grid/jquery.mobile-1.3.0.min.js"></script>
		<script src="../css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none&amp;mobileUI_titleBarOverlaid=1&amp;mobileUI_titleBarHeight=60&amp;viewport_is1000px=1060&amp;mobileUI_openerWidth=80"></script>
		<noscript>
			<link rel="stylesheet" href="../css/5grid/core.css" />
			<link rel="stylesheet" href="../css/5grid/core-desktop.css" />
			<link rel="stylesheet" href="../css/5grid/core-1200px.css" />
			<link rel="stylesheet" href="../css/5grid/core-noscript.css" />
			<link rel="stylesheet" href="../css/style.css" />
			<link rel="stylesheet" href="../css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="../css/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="../css/ie7.css" /><![endif]-->
	</head>
	<body class="no-sidebar">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="5grid-layout">
					<div class="row">
						
							<!-- Header -->
								<header id="header">
										<h2>The SAPA Project</h2>
										<h3>a personality assessment collaboratory</h3>
								</header>

					</div>
				</div>
			</div>
		<!-- End Header Wrapper -->
		
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="5grid-layout">
					<div class="row">
						<div class="12u mobileUI-main-content">

							<!-- Content -->
								<div id="content">

									<div class="5grid">
										<div class="row">
											<div class="12u" style="margin-bottom: 0px;">

										<h3>Personality Questions</h3>

										<p class="smallish">You've responded to <strong>3 of the 25 items</strong> given so far.</p>
										
										<p class="smallish">You can skip items or quit at any time but this will limit the accuracy of your feedback.  We recommend <span class="largish" style="color:#4073b4;"><strong>100 responses</strong></span> for good accuracy in your five factor ("Big Five") scores, <span class="largish" style="color:#4073b4;"><strong>150 responses</strong></span> for reasonable accuracy in your 27 factor scores, and <span class="largish" style="color:#4073b4;"><strong>200+ responses</strong></span> for high accuracy in both.  The most you can answer is 250 questions.</p>

											</div> <!-- closes div class="12u" -->
										</div>  <!-- closes div class="row" -->
																		
										<div class="small">
										</div>

<form name="page4" id="page4" DefaultButton="submitGo" action="/survey/survey2.php" data-ajax="false" method="post" onsubmit="getTime();">  

<input type="hidden" id="page2Time" name="page2Time">

<script language='JavaScript'>
function getTime(){
var current = new Date();
var since = current.getTime();
var elapsetime = since/1000;
document.getElementById('page2Time').value = elapsetime;
}
</script>
<!-- Gets the time between 1/1/1970 12:00 am UTC and now in seconds. -->

<div class="row">
<div class="10u offset-1u">


	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>26. I always do things on the spur of the moment.</legend>
			<input type='radio' name='4023' id='4023-1' value='1'>
			<label for='4023-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4023' id='4023-2' value='2'>
			<label for='4023-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4023' id='4023-3' value='3'>
			<label for='4023-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4023' id='4023-4' value='4'>
			<label for='4023-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4023' id='4023-5' value='5'>
			<label for='4023-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4023' id='4023-6' value='6'>
			<label for='4023-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>27. Find it difficult to approach others.</legend>
			<input type='radio' name='901' id='901-1' value='1'>
			<label for='901-1'>Very<br>Inaccurate</label>
			<input type='radio' name='901' id='901-2' value='2'>
			<label for='901-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='901' id='901-3' value='3'>
			<label for='901-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='901' id='901-4' value='4'>
			<label for='901-4'>Slightly<br>Accurate</label>
			<input type='radio' name='901' id='901-5' value='5'>
			<label for='901-5'>Moderately<br>Accurate</label>
			<input type='radio' name='901' id='901-6' value='6'>
			<label for='901-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>28. Rebel against authority.</legend>
			<input type='radio' name='1609' id='1609-1' value='1'>
			<label for='1609-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1609' id='1609-2' value='2'>
			<label for='1609-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1609' id='1609-3' value='3'>
			<label for='1609-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1609' id='1609-4' value='4'>
			<label for='1609-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1609' id='1609-5' value='5'>
			<label for='1609-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1609' id='1609-6' value='6'>
			<label for='1609-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>29. When I want to do something, I don't let the possibility that it might be risky stop me.</legend>
			<input type='radio' name='4070' id='4070-1' value='1'>
			<label for='4070-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4070' id='4070-2' value='2'>
			<label for='4070-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4070' id='4070-3' value='3'>
			<label for='4070-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4070' id='4070-4' value='4'>
			<label for='4070-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4070' id='4070-5' value='5'>
			<label for='4070-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4070' id='4070-6' value='6'>
			<label for='4070-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>30. Like to be thought of as a normal kind of person.</legend>
			<input type='radio' name='1300' id='1300-1' value='1'>
			<label for='1300-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1300' id='1300-2' value='2'>
			<label for='1300-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1300' id='1300-3' value='3'>
			<label for='1300-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1300' id='1300-4' value='4'>
			<label for='1300-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1300' id='1300-5' value='5'>
			<label for='1300-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1300' id='1300-6' value='6'>
			<label for='1300-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>31. Feel a sense of worthlessness or hopelessness.</legend>
			<input type='radio' name='811' id='811-1' value='1'>
			<label for='811-1'>Very<br>Inaccurate</label>
			<input type='radio' name='811' id='811-2' value='2'>
			<label for='811-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='811' id='811-3' value='3'>
			<label for='811-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='811' id='811-4' value='4'>
			<label for='811-4'>Slightly<br>Accurate</label>
			<input type='radio' name='811' id='811-5' value='5'>
			<label for='811-5'>Moderately<br>Accurate</label>
			<input type='radio' name='811' id='811-6' value='6'>
			<label for='811-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>32. I always expect the worst to happen.</legend>
			<input type='radio' name='4142' id='4142-1' value='1'>
			<label for='4142-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4142' id='4142-2' value='2'>
			<label for='4142-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4142' id='4142-3' value='3'>
			<label for='4142-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4142' id='4142-4' value='4'>
			<label for='4142-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4142' id='4142-5' value='5'>
			<label for='4142-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4142' id='4142-6' value='6'>
			<label for='4142-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>33. Amuse my friends.</legend>
			<input type='radio' name='296' id='296-1' value='1'>
			<label for='296-1'>Very<br>Inaccurate</label>
			<input type='radio' name='296' id='296-2' value='2'>
			<label for='296-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='296' id='296-3' value='3'>
			<label for='296-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='296' id='296-4' value='4'>
			<label for='296-4'>Slightly<br>Accurate</label>
			<input type='radio' name='296' id='296-5' value='5'>
			<label for='296-5'>Moderately<br>Accurate</label>
			<input type='radio' name='296' id='296-6' value='6'>
			<label for='296-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>34. Reveal little about myself.</legend>
			<input type='radio' name='1635' id='1635-1' value='1'>
			<label for='1635-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1635' id='1635-2' value='2'>
			<label for='1635-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1635' id='1635-3' value='3'>
			<label for='1635-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1635' id='1635-4' value='4'>
			<label for='1635-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1635' id='1635-5' value='5'>
			<label for='1635-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1635' id='1635-6' value='6'>
			<label for='1635-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>35. I avoid risky situations.</legend>
			<input type='radio' name='4008' id='4008-1' value='1'>
			<label for='4008-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4008' id='4008-2' value='2'>
			<label for='4008-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4008' id='4008-3' value='3'>
			<label for='4008-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4008' id='4008-4' value='4'>
			<label for='4008-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4008' id='4008-5' value='5'>
			<label for='4008-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4008' id='4008-6' value='6'>
			<label for='4008-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>36. Rarely overindulge.</legend>
			<input type='radio' name='1590' id='1590-1' value='1'>
			<label for='1590-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1590' id='1590-2' value='2'>
			<label for='1590-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1590' id='1590-3' value='3'>
			<label for='1590-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1590' id='1590-4' value='4'>
			<label for='1590-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1590' id='1590-5' value='5'>
			<label for='1590-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1590' id='1590-6' value='6'>
			<label for='1590-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>37. Do not like poetry.</legend>
			<input type='radio' name='612' id='612-1' value='1'>
			<label for='612-1'>Very<br>Inaccurate</label>
			<input type='radio' name='612' id='612-2' value='2'>
			<label for='612-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='612' id='612-3' value='3'>
			<label for='612-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='612' id='612-4' value='4'>
			<label for='612-4'>Slightly<br>Accurate</label>
			<input type='radio' name='612' id='612-5' value='5'>
			<label for='612-5'>Moderately<br>Accurate</label>
			<input type='radio' name='612' id='612-6' value='6'>
			<label for='612-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>38. I don't like spending time with others.</legend>
			<input type='radio' name='4137' id='4137-1' value='1'>
			<label for='4137-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4137' id='4137-2' value='2'>
			<label for='4137-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4137' id='4137-3' value='3'>
			<label for='4137-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4137' id='4137-4' value='4'>
			<label for='4137-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4137' id='4137-5' value='5'>
			<label for='4137-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4137' id='4137-6' value='6'>
			<label for='4137-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>39. Don't like the idea of change.</legend>
			<input type='radio' name='689' id='689-1' value='1'>
			<label for='689-1'>Very<br>Inaccurate</label>
			<input type='radio' name='689' id='689-2' value='2'>
			<label for='689-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='689' id='689-3' value='3'>
			<label for='689-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='689' id='689-4' value='4'>
			<label for='689-4'>Slightly<br>Accurate</label>
			<input type='radio' name='689' id='689-5' value='5'>
			<label for='689-5'>Moderately<br>Accurate</label>
			<input type='radio' name='689' id='689-6' value='6'>
			<label for='689-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>40. Love dangerous situations.</legend>
			<input type='radio' name='1367' id='1367-1' value='1'>
			<label for='1367-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1367' id='1367-2' value='2'>
			<label for='1367-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1367' id='1367-3' value='3'>
			<label for='1367-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1367' id='1367-4' value='4'>
			<label for='1367-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1367' id='1367-5' value='5'>
			<label for='1367-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1367' id='1367-6' value='6'>
			<label for='1367-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>41. Honesty is the best policy in all cases.</legend>
			<input type='radio' name='2144' id='2144-1' value='1'>
			<label for='2144-1'>Very<br>Inaccurate</label>
			<input type='radio' name='2144' id='2144-2' value='2'>
			<label for='2144-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='2144' id='2144-3' value='3'>
			<label for='2144-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='2144' id='2144-4' value='4'>
			<label for='2144-4'>Slightly<br>Accurate</label>
			<input type='radio' name='2144' id='2144-5' value='5'>
			<label for='2144-5'>Moderately<br>Accurate</label>
			<input type='radio' name='2144' id='2144-6' value='6'>
			<label for='2144-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>42. Stop to think things over before doing anything.</legend>
			<input type='radio' name='4223' id='4223-1' value='1'>
			<label for='4223-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4223' id='4223-2' value='2'>
			<label for='4223-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4223' id='4223-3' value='3'>
			<label for='4223-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4223' id='4223-4' value='4'>
			<label for='4223-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4223' id='4223-5' value='5'>
			<label for='4223-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4223' id='4223-6' value='6'>
			<label for='4223-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>43. Tend to vote for liberal political candidates.</legend>
			<input type='radio' name='1825' id='1825-1' value='1'>
			<label for='1825-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1825' id='1825-2' value='2'>
			<label for='1825-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1825' id='1825-3' value='3'>
			<label for='1825-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1825' id='1825-4' value='4'>
			<label for='1825-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1825' id='1825-5' value='5'>
			<label for='1825-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1825' id='1825-6' value='6'>
			<label for='1825-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>44. I've had some really weird experiences that are very difficult to explain.</legend>
			<input type='radio' name='4210' id='4210-1' value='1'>
			<label for='4210-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4210' id='4210-2' value='2'>
			<label for='4210-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4210' id='4210-3' value='3'>
			<label for='4210-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4210' id='4210-4' value='4'>
			<label for='4210-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4210' id='4210-5' value='5'>
			<label for='4210-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4210' id='4210-6' value='6'>
			<label for='4210-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>45. Let things proceed at their own pace.</legend>
			<input type='radio' name='1280' id='1280-1' value='1'>
			<label for='1280-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1280' id='1280-2' value='2'>
			<label for='1280-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1280' id='1280-3' value='3'>
			<label for='1280-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1280' id='1280-4' value='4'>
			<label for='1280-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1280' id='1280-5' value='5'>
			<label for='1280-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1280' id='1280-6' value='6'>
			<label for='1280-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>46. Most people forget more easily the death of their father than the loss of their property.</legend>
			<input type='radio' name='2150' id='2150-1' value='1'>
			<label for='2150-1'>Very<br>Inaccurate</label>
			<input type='radio' name='2150' id='2150-2' value='2'>
			<label for='2150-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='2150' id='2150-3' value='3'>
			<label for='2150-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='2150' id='2150-4' value='4'>
			<label for='2150-4'>Slightly<br>Accurate</label>
			<input type='radio' name='2150' id='2150-5' value='5'>
			<label for='2150-5'>Moderately<br>Accurate</label>
			<input type='radio' name='2150' id='2150-6' value='6'>
			<label for='2150-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>47. It really makes me angry when I don't get what I deserve.</legend>
			<input type='radio' name='50598' id='50598-1' value='1'>
			<label for='50598-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50598' id='50598-2' value='2'>
			<label for='50598-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50598' id='50598-3' value='3'>
			<label for='50598-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50598' id='50598-4' value='4'>
			<label for='50598-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50598' id='50598-5' value='5'>
			<label for='50598-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50598' id='50598-6' value='6'>
			<label for='50598-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>48. Please indicate which is the best answer to complete the figure below.</legend>
		<img id='fig12043.jpg' src='iq.figures/fig12043.jpg' width='551' height='394'><br>
		<input type='radio' name='12043' id='12043-1' value='1'>
		<label for='12043-1'>A</label>
		<input type='radio' name='12043' id='12043-2' value='2'>
		<label for='12043-2'>B</label>
		<input type='radio' name='12043' id='12043-3' value='3'>
		<label for='12043-3'>C</label>
		<input type='radio' name='12043' id='12043-4' value='4'>
		<label for='12043-4'>D</label>
		<input type='radio' name='12043' id='12043-5' value='5'>
		<label for='12043-5'>E</label>
		<input type='radio' name='12043' id='12043-6' value='6'>
		<label for='12043-6'>F</label>
		<input type='radio' name='12043' id='12043-7' value='7'>
		<label for='12043-7'>None of these</label>
		<input type='radio' name='12043' id='12043-8' value='8'>
		<label for='12043-8'>I don't know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>49. If the day after tomorrow is two days before Thursday then what day is it today?</legend>
			<input type='radio' name='12019' id='12019-1' value='1'>
			<label for='12019-1'> Friday</label>
			<input type='radio' name='12019' id='12019-2' value='2'>
			<label for='12019-2'> Monday</label>
			<input type='radio' name='12019' id='12019-3' value='3'>
			<label for='12019-3'> Wednesday</label>
			<input type='radio' name='12019' id='12019-4' value='4'>
			<label for='12019-4'> Saturday</label>
			<input type='radio' name='12019' id='12019-5' value='5'>
			<label for='12019-5'> Tuesday</label>
			<input type='radio' name='12019' id='12019-6' value='6'>
			<label for='12019-6'> Sunday</label>
			<input type='radio' name='12019' id='12019-7' value='7'>
			<label for='12019-7'>None of these</label>
			<input type='radio' name='12019' id='12019-8' value='8'>
			<label for='12019-8'>I don't know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>50. There is a word that can be paired with each of the words below to form compound words.  What is the first letter of the missing word?<br>
		<p style='text-align: center;'>man &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; glue &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; star</p></legend>
			<input type='radio' name='14312' id='14312-1' value='1'>
			<label for='14312-1'>k</label>
			<input type='radio' name='14312' id='14312-2' value='2'>
			<label for='14312-2'>s</label>
			<input type='radio' name='14312' id='14312-3' value='3'>
			<label for='14312-3'>t</label>
			<input type='radio' name='14312' id='14312-4' value='4'>
			<label for='14312-4'>m</label>
			<input type='radio' name='14312' id='14312-5' value='5'>
			<label for='14312-5'>v</label>
			<input type='radio' name='14312' id='14312-6' value='6'>
			<label for='14312-6'>a</label>
			<input type='radio' name='14312' id='14312-7' value='7'>
			<label for='14312-7'>None of these</label>
			<input type='radio' name='14312' id='14312-8' value='8'>
			<label for='14312-8'>I don't know</label>
	</fieldset>
</div> <!-- closes div class="10u offset-1u" -->
<div class="1u">
</div> <!-- closes div class="1u" -->
</div>  <!-- closes div class="row" -->
										<div class="row">

											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-stop" aria-disabled="false"><input type="submit" data-theme="stop" name="submitStop" value="Skip to last page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
											<div class="6u">
												<ul>
												<li>
												</li>
												</ul>
											</div>
											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-more" aria-disabled="false"><input type="submit" data-theme="more" id="submitGo" name="submitGo" value="Next page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
										</div>

</form><!-- closes form id="page4"  -->
								</div>  <!-- closes div class="5grid" -->
							</div>  <!-- closes div id="content" -->
						</div> <!-- closes div class="12u mobileUI-main-content" -->
					</div><!-- closes div id="row" -->
				</div> <!-- closes div class="5grid-layout" -->
			</div> <!-- closes div id="main-wrapper" -->

		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
				<footer id="footer" class="5grid-layout">
					<div class="row">
						<div class="12u">
							<div id="copyright">
							<center>
								&copy; Part of the Personality Project.	
							</center>
							</div>
						</div>
					</div>
				</footer>
			</div>
		<!-- End Footer Wrapper -->
	</body>
</html>
