<!DOCTYPE HTML>
<html>

	<head>
		<title>Free Personality Test | SAPA-Project | Items 176 to 200</title>
		<meta name="description" content="This is the eighth of several pages where we ask about your typical thoughts, feelings, and behaviors. Your responses to these questions will shape your free customized personality report, so be sure to respond honestly.  And don't skip too many items along the way!">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="keywords" content="" />

		<link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
		<link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16">
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
		<link rel="manifest" href="../manifest.json">
		<link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" href="../css/5grid/fonts.css" />
		<link rel="stylesheet" href="../css/5grid/jquery.mobile-1.3.0.css" />
		<script src="../css/5grid/jquery.js"></script>
		<script src="../css/5grid/jquery.mobile-1.3.0.min.js"></script>
		<script src="../css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none&amp;mobileUI_titleBarOverlaid=1&amp;mobileUI_titleBarHeight=60&amp;viewport_is1000px=1060&amp;mobileUI_openerWidth=80"></script>
		<noscript>
			<link rel="stylesheet" href="../css/5grid/core.css" />
			<link rel="stylesheet" href="../css/5grid/core-desktop.css" />
			<link rel="stylesheet" href="../css/5grid/core-1200px.css" />
			<link rel="stylesheet" href="../css/5grid/core-noscript.css" />
			<link rel="stylesheet" href="../css/style.css" />
			<link rel="stylesheet" href="../css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="../css/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="../css/ie7.css" /><![endif]-->
	</head>
	<body class="no-sidebar">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="5grid-layout">
					<div class="row">
						
							<!-- Header -->
								<header id="header">
										<h2>The SAPA Project</h2>
										<h3>a personality assessment collaboratory</h3>
								</header>

					</div>
				</div>
			</div>
		<!-- End Header Wrapper -->
		
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="5grid-layout">
					<div class="row">
						<div class="12u mobileUI-main-content">

							<!-- Content -->
								<div id="content">

									<div class="5grid">
										<div class="row">
											<div class="12u" style="margin-bottom: 0px;">

										<h3>Personality Questions</h3>
										
										<p class="smallish">You've responded to <strong>11 of the 175 items</strong> given so far.</p>

										<p class="smallish">Remember that <strong>your responses are anonymous</strong>.  Do your best to respond as accurately and honestly as possible.</p>

											</div> <!-- closes div class="12u" -->
										</div>  <!-- closes div class="row" -->
																		
										<div class="small">
										</div>

<form name="page10" id="page10" DefaultButton="submitGo" action="/survey/survey8.php" data-ajax="false" method="post" onsubmit="getTime();">  

<input type="hidden" id="page8Time" name="page8Time">

<script language='JavaScript'>
function getTime(){
var current = new Date();
var since = current.getTime();
var elapsetime = since/1000;
document.getElementById('page8Time').value = elapsetime;
}
</script>
<!-- Gets the time between 1/1/1970 12:00 am UTC and now in seconds. -->

<div class="row">
<div class="10u offset-1u">


	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>176. I say as little as possible when dealing with people.</legend>
			<input type='radio' name='4148' id='4148-1' value='1'>
			<label for='4148-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4148' id='4148-2' value='2'>
			<label for='4148-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4148' id='4148-3' value='3'>
			<label for='4148-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4148' id='4148-4' value='4'>
			<label for='4148-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4148' id='4148-5' value='5'>
			<label for='4148-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4148' id='4148-6' value='6'>
			<label for='4148-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>177. Am good at making impromptu speeches.</legend>
			<input type='radio' name='131' id='131-1' value='1'>
			<label for='131-1'>Very<br>Inaccurate</label>
			<input type='radio' name='131' id='131-2' value='2'>
			<label for='131-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='131' id='131-3' value='3'>
			<label for='131-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='131' id='131-4' value='4'>
			<label for='131-4'>Slightly<br>Accurate</label>
			<input type='radio' name='131' id='131-5' value='5'>
			<label for='131-5'>Moderately<br>Accurate</label>
			<input type='radio' name='131' id='131-6' value='6'>
			<label for='131-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>178. Believe that we should be tough on crime.</legend>
			<input type='radio' name='398' id='398-1' value='1'>
			<label for='398-1'>Very<br>Inaccurate</label>
			<input type='radio' name='398' id='398-2' value='2'>
			<label for='398-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='398' id='398-3' value='3'>
			<label for='398-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='398' id='398-4' value='4'>
			<label for='398-4'>Slightly<br>Accurate</label>
			<input type='radio' name='398' id='398-5' value='5'>
			<label for='398-5'>Moderately<br>Accurate</label>
			<input type='radio' name='398' id='398-6' value='6'>
			<label for='398-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>179. I'm willing to exploit others to further my own goals.</legend>
			<input type='radio' name='50607' id='50607-1' value='1'>
			<label for='50607-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50607' id='50607-2' value='2'>
			<label for='50607-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50607' id='50607-3' value='3'>
			<label for='50607-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50607' id='50607-4' value='4'>
			<label for='50607-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50607' id='50607-5' value='5'>
			<label for='50607-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50607' id='50607-6' value='6'>
			<label for='50607-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>180. Like to be thought of as a normal kind of person.</legend>
			<input type='radio' name='1300' id='1300-1' value='1'>
			<label for='1300-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1300' id='1300-2' value='2'>
			<label for='1300-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1300' id='1300-3' value='3'>
			<label for='1300-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1300' id='1300-4' value='4'>
			<label for='1300-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1300' id='1300-5' value='5'>
			<label for='1300-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1300' id='1300-6' value='6'>
			<label for='1300-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>181. Feel a sense of worthlessness or hopelessness.</legend>
			<input type='radio' name='811' id='811-1' value='1'>
			<label for='811-1'>Very<br>Inaccurate</label>
			<input type='radio' name='811' id='811-2' value='2'>
			<label for='811-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='811' id='811-3' value='3'>
			<label for='811-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='811' id='811-4' value='4'>
			<label for='811-4'>Slightly<br>Accurate</label>
			<input type='radio' name='811' id='811-5' value='5'>
			<label for='811-5'>Moderately<br>Accurate</label>
			<input type='radio' name='811' id='811-6' value='6'>
			<label for='811-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>182. I have taken illegal drugs (e.g., marijuana, ecstasy).</legend>
			<input type='radio' name='3987' id='3987-1' value='1'>
			<label for='3987-1'>Very<br>Inaccurate</label>
			<input type='radio' name='3987' id='3987-2' value='2'>
			<label for='3987-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='3987' id='3987-3' value='3'>
			<label for='3987-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='3987' id='3987-4' value='4'>
			<label for='3987-4'>Slightly<br>Accurate</label>
			<input type='radio' name='3987' id='3987-5' value='5'>
			<label for='3987-5'>Moderately<br>Accurate</label>
			<input type='radio' name='3987' id='3987-6' value='6'>
			<label for='3987-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>183. Amuse my friends.</legend>
			<input type='radio' name='296' id='296-1' value='1'>
			<label for='296-1'>Very<br>Inaccurate</label>
			<input type='radio' name='296' id='296-2' value='2'>
			<label for='296-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='296' id='296-3' value='3'>
			<label for='296-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='296' id='296-4' value='4'>
			<label for='296-4'>Slightly<br>Accurate</label>
			<input type='radio' name='296' id='296-5' value='5'>
			<label for='296-5'>Moderately<br>Accurate</label>
			<input type='radio' name='296' id='296-6' value='6'>
			<label for='296-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>184. Show my sadness.</legend>
			<input type='radio' name='1706' id='1706-1' value='1'>
			<label for='1706-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1706' id='1706-2' value='2'>
			<label for='1706-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1706' id='1706-3' value='3'>
			<label for='1706-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1706' id='1706-4' value='4'>
			<label for='1706-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1706' id='1706-5' value='5'>
			<label for='1706-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1706' id='1706-6' value='6'>
			<label for='1706-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>185. I don't think about getting hurt when I'm doing things that might be dangerous.</legend>
			<input type='radio' name='4196' id='4196-1' value='1'>
			<label for='4196-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4196' id='4196-2' value='2'>
			<label for='4196-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4196' id='4196-3' value='3'>
			<label for='4196-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4196' id='4196-4' value='4'>
			<label for='4196-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4196' id='4196-5' value='5'>
			<label for='4196-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4196' id='4196-6' value='6'>
			<label for='4196-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>186. Easily resist temptations.</legend>
			<input type='radio' name='736' id='736-1' value='1'>
			<label for='736-1'>Very<br>Inaccurate</label>
			<input type='radio' name='736' id='736-2' value='2'>
			<label for='736-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='736' id='736-3' value='3'>
			<label for='736-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='736' id='736-4' value='4'>
			<label for='736-4'>Slightly<br>Accurate</label>
			<input type='radio' name='736' id='736-5' value='5'>
			<label for='736-5'>Moderately<br>Accurate</label>
			<input type='radio' name='736' id='736-6' value='6'>
			<label for='736-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>187. Do not enjoy going to art museums.</legend>
			<input type='radio' name='607' id='607-1' value='1'>
			<label for='607-1'>Very<br>Inaccurate</label>
			<input type='radio' name='607' id='607-2' value='2'>
			<label for='607-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='607' id='607-3' value='3'>
			<label for='607-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='607' id='607-4' value='4'>
			<label for='607-4'>Slightly<br>Accurate</label>
			<input type='radio' name='607' id='607-5' value='5'>
			<label for='607-5'>Moderately<br>Accurate</label>
			<input type='radio' name='607' id='607-6' value='6'>
			<label for='607-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>188. I have a strong will to power.</legend>
			<input type='radio' name='51764' id='51764-1' value='1'>
			<label for='51764-1'>Very<br>Inaccurate</label>
			<input type='radio' name='51764' id='51764-2' value='2'>
			<label for='51764-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='51764' id='51764-3' value='3'>
			<label for='51764-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='51764' id='51764-4' value='4'>
			<label for='51764-4'>Slightly<br>Accurate</label>
			<input type='radio' name='51764' id='51764-5' value='5'>
			<label for='51764-5'>Moderately<br>Accurate</label>
			<input type='radio' name='51764' id='51764-6' value='6'>
			<label for='51764-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>189. Don't like the idea of change.</legend>
			<input type='radio' name='689' id='689-1' value='1'>
			<label for='689-1'>Very<br>Inaccurate</label>
			<input type='radio' name='689' id='689-2' value='2'>
			<label for='689-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='689' id='689-3' value='3'>
			<label for='689-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='689' id='689-4' value='4'>
			<label for='689-4'>Slightly<br>Accurate</label>
			<input type='radio' name='689' id='689-5' value='5'>
			<label for='689-5'>Moderately<br>Accurate</label>
			<input type='radio' name='689' id='689-6' value='6'>
			<label for='689-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>190. Take risks.</legend>
			<input type='radio' name='1781' id='1781-1' value='1'>
			<label for='1781-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1781' id='1781-2' value='2'>
			<label for='1781-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1781' id='1781-3' value='3'>
			<label for='1781-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1781' id='1781-4' value='4'>
			<label for='1781-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1781' id='1781-5' value='5'>
			<label for='1781-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1781' id='1781-6' value='6'>
			<label for='1781-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>191. Even though I know better, I can't stop making rash decisions.</legend>
			<input type='radio' name='4018' id='4018-1' value='1'>
			<label for='4018-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4018' id='4018-2' value='2'>
			<label for='4018-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4018' id='4018-3' value='3'>
			<label for='4018-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4018' id='4018-4' value='4'>
			<label for='4018-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4018' id='4018-5' value='5'>
			<label for='4018-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4018' id='4018-6' value='6'>
			<label for='4018-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>192. Jump into things without thinking.</legend>
			<input type='radio' name='1173' id='1173-1' value='1'>
			<label for='1173-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1173' id='1173-2' value='2'>
			<label for='1173-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1173' id='1173-3' value='3'>
			<label for='1173-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1173' id='1173-4' value='4'>
			<label for='1173-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1173' id='1173-5' value='5'>
			<label for='1173-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1173' id='1173-6' value='6'>
			<label for='1173-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>193. Tend to vote for conservative political candidates.</legend>
			<input type='radio' name='1824' id='1824-1' value='1'>
			<label for='1824-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1824' id='1824-2' value='2'>
			<label for='1824-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1824' id='1824-3' value='3'>
			<label for='1824-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1824' id='1824-4' value='4'>
			<label for='1824-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1824' id='1824-5' value='5'>
			<label for='1824-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1824' id='1824-6' value='6'>
			<label for='1824-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>194. I change what I do depending on what others want.</legend>
			<input type='radio' name='4010' id='4010-1' value='1'>
			<label for='4010-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4010' id='4010-2' value='2'>
			<label for='4010-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4010' id='4010-3' value='3'>
			<label for='4010-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4010' id='4010-4' value='4'>
			<label for='4010-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4010' id='4010-5' value='5'>
			<label for='4010-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4010' id='4010-6' value='6'>
			<label for='4010-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>195. Hang around doing nothing.</legend>
			<input type='radio' name='1024' id='1024-1' value='1'>
			<label for='1024-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1024' id='1024-2' value='2'>
			<label for='1024-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1024' id='1024-3' value='3'>
			<label for='1024-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1024' id='1024-4' value='4'>
			<label for='1024-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1024' id='1024-5' value='5'>
			<label for='1024-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1024' id='1024-6' value='6'>
			<label for='1024-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>196. I would risk injury to do something exciting.</legend>
			<input type='radio' name='50600' id='50600-1' value='1'>
			<label for='50600-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50600' id='50600-2' value='2'>
			<label for='50600-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50600' id='50600-3' value='3'>
			<label for='50600-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50600' id='50600-4' value='4'>
			<label for='50600-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50600' id='50600-5' value='5'>
			<label for='50600-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50600' id='50600-6' value='6'>
			<label for='50600-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>197. I can live my life in any way I want to.</legend>
			<input type='radio' name='51768' id='51768-1' value='1'>
			<label for='51768-1'>Very<br>Inaccurate</label>
			<input type='radio' name='51768' id='51768-2' value='2'>
			<label for='51768-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='51768' id='51768-3' value='3'>
			<label for='51768-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='51768' id='51768-4' value='4'>
			<label for='51768-4'>Slightly<br>Accurate</label>
			<input type='radio' name='51768' id='51768-5' value='5'>
			<label for='51768-5'>Moderately<br>Accurate</label>
			<input type='radio' name='51768' id='51768-6' value='6'>
			<label for='51768-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>198. Please select the response that matches the image most accurately.</legend>
		<img id='fig13009.jpg' src='iq.figures/fig13009.jpg' width='200' height='280' style='display: block; margin-left: auto; margin-right: auto;'><br>
		<input type='radio' name='13009' id='13009-1' value='1'>
		<label for='13009-1'>anger</label>
		<input type='radio' name='13009' id='13009-2' value='2'>
		<label for='13009-2'>disgust</label>
		<input type='radio' name='13009' id='13009-3' value='3'>
		<label for='13009-3'>fear</label>
		<input type='radio' name='13009' id='13009-4' value='4'>
		<label for='13009-4'>happiness</label>
		<input type='radio' name='13009' id='13009-5' value='5'>
		<label for='13009-5'>neutral</label>
		<input type='radio' name='13009' id='13009-6' value='6'>
		<label for='13009-6'>sadness</label>
		<input type='radio' name='13009' id='13009-7' value='7'>
		<label for='13009-7'>surprise</label>
		<input type='radio' name='13009' id='13009-8' value='8'>
		<label for='13009-8'>I don't know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>199. In the following number series, what number comes next?   4, 7, 11, 18, 29, ...</legend>
			<input type='radio' name='12003' id='12003-1' value='1'>
			<label for='12003-1'> 37</label>
			<input type='radio' name='12003' id='12003-2' value='2'>
			<label for='12003-2'> 39</label>
			<input type='radio' name='12003' id='12003-3' value='3'>
			<label for='12003-3'> 46</label>
			<input type='radio' name='12003' id='12003-4' value='4'>
			<label for='12003-4'> 47</label>
			<input type='radio' name='12003' id='12003-5' value='5'>
			<label for='12003-5'> 49</label>
			<input type='radio' name='12003' id='12003-6' value='6'>
			<label for='12003-6'> 55</label>
			<input type='radio' name='12003' id='12003-7' value='7'>
			<label for='12003-7'>None of these</label>
			<input type='radio' name='12003' id='12003-8' value='8'>
			<label for='12003-8'>I don't know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>200. In the following alphanumeric series, what letter comes next?   H, J, F, H, D, ...</legend>
			<input type='radio' name='12006' id='12006-1' value='1'>
			<label for='12006-1'> D</label>
			<input type='radio' name='12006' id='12006-2' value='2'>
			<label for='12006-2'> E</label>
			<input type='radio' name='12006' id='12006-3' value='3'>
			<label for='12006-3'> F</label>
			<input type='radio' name='12006' id='12006-4' value='4'>
			<label for='12006-4'> G</label>
			<input type='radio' name='12006' id='12006-5' value='5'>
			<label for='12006-5'> H</label>
			<input type='radio' name='12006' id='12006-6' value='6'>
			<label for='12006-6'> I</label>
			<input type='radio' name='12006' id='12006-7' value='7'>
			<label for='12006-7'>None of these</label>
			<input type='radio' name='12006' id='12006-8' value='8'>
			<label for='12006-8'>I don't know</label>
	</fieldset>
</div> <!-- closes div class="10u offset-1u" -->
<div class="1u">
</div> <!-- closes div class="1u" -->
</div>  <!-- closes div class="row" -->
										<div class="row">

											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-stop" aria-disabled="false"><input type="submit" data-theme="stop" name="submitStop" value="Skip to last page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
											<div class="6u">
												<ul>
												<li>
												</li>
												</ul>
											</div>
											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-more" aria-disabled="false"><input type="submit" data-theme="more" id="submitGo" name="submitGo" value="Next page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
										</div>

</form><!-- closes form id="page10"  -->
								</div>  <!-- closes div class="5grid" -->
							</div>  <!-- closes div id="content" -->
						</div> <!-- closes div class="12u mobileUI-main-content" -->
					</div><!-- closes div id="row" -->
				</div> <!-- closes div class="5grid-layout" -->
			</div> <!-- closes div id="main-wrapper" -->

		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
				<footer id="footer" class="5grid-layout">
					<div class="row">
						<div class="12u">
							<div id="copyright">
							<center>
								&copy; Part of the Personality Project.	
							</center>
							</div>
						</div>
					</div>
				</footer>
			</div>
		<!-- End Footer Wrapper -->
	</body>
</html>
