<!DOCTYPE HTML>
<html>

	<head>
		<title>Free Personality Test | SAPA-Project | Items 26 to 50</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="description" content="This is the second of several pages where we ask about your typical thoughts, feelings, and behaviors. Your responses to these questions will shape your free customized personality report, so be sure to respond honestly.  And don't skip too many items along the way!">
		<meta name="keywords" content="" />

		<link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
		<link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16">
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
		<link rel="manifest" href="../manifest.json">
		<link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" href="../css/5grid/fonts.css" />
		<link rel="stylesheet" href="../css/5grid/jquery.mobile-1.3.0.css" />
		<script src="../css/5grid/jquery.js"></script>
		<script src="../css/5grid/jquery.mobile-1.3.0.min.js"></script>
		<script src="../css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none&amp;mobileUI_titleBarOverlaid=1&amp;mobileUI_titleBarHeight=60&amp;viewport_is1000px=1060&amp;mobileUI_openerWidth=80"></script>
		<noscript>
			<link rel="stylesheet" href="../css/5grid/core.css" />
			<link rel="stylesheet" href="../css/5grid/core-desktop.css" />
			<link rel="stylesheet" href="../css/5grid/core-1200px.css" />
			<link rel="stylesheet" href="../css/5grid/core-noscript.css" />
			<link rel="stylesheet" href="../css/style.css" />
			<link rel="stylesheet" href="../css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="../css/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="../css/ie7.css" /><![endif]-->
	</head>
	<body class="no-sidebar">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="5grid-layout">
					<div class="row">
						
							<!-- Header -->
								<header id="header">
										<h2>The SAPA Project</h2>
										<h3>a personality assessment collaboratory</h3>
								</header>

					</div>
				</div>
			</div>
		<!-- End Header Wrapper -->
		
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="5grid-layout">
					<div class="row">
						<div class="12u mobileUI-main-content">

							<!-- Content -->
								<div id="content">

									<div class="5grid">
										<div class="row">
											<div class="12u" style="margin-bottom: 0px;">

										<h3>Personality Questions</h3>

										<p class="smallish">You've responded to <strong>3 of the 25 items</strong> given so far.</p>
										
										<p class="smallish">You can skip items or quit at any time but this will limit the accuracy of your feedback.  We recommend <span class="largish" style="color:#4073b4;"><strong>100 responses</strong></span> for good accuracy in your five factor ("Big Five") scores, <span class="largish" style="color:#4073b4;"><strong>150 responses</strong></span> for reasonable accuracy in your 27 factor scores, and <span class="largish" style="color:#4073b4;"><strong>200+ responses</strong></span> for high accuracy in both.  The most you can answer is 250 questions.</p>

											</div> <!-- closes div class="12u" -->
										</div>  <!-- closes div class="row" -->
																		
										<div class="small">
										</div>

<form name="page4" id="page4" DefaultButton="submitGo" action="/survey/survey2.php" data-ajax="false" method="post" onsubmit="getTime();">  

<input type="hidden" id="page2Time" name="page2Time">

<script language='JavaScript'>
function getTime(){
var current = new Date();
var since = current.getTime();
var elapsetime = since/1000;
document.getElementById('page2Time').value = elapsetime;
}
</script>
<!-- Gets the time between 1/1/1970 12:00 am UTC and now in seconds. -->

<div class="row">
<div class="10u offset-1u">


	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>26. People often look at me as if I'd said something really weird.</legend>
			<input type='radio' name='4056' id='4056-1' value='1'>
			<label for='4056-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4056' id='4056-2' value='2'>
			<label for='4056-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4056' id='4056-3' value='3'>
			<label for='4056-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4056' id='4056-4' value='4'>
			<label for='4056-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4056' id='4056-5' value='5'>
			<label for='4056-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4056' id='4056-6' value='6'>
			<label for='4056-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>27. Have a natural talent for influencing people.</legend>
			<input type='radio' name='1045' id='1045-1' value='1'>
			<label for='1045-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1045' id='1045-2' value='2'>
			<label for='1045-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1045' id='1045-3' value='3'>
			<label for='1045-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1045' id='1045-4' value='4'>
			<label for='1045-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1045' id='1045-5' value='5'>
			<label for='1045-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1045' id='1045-6' value='6'>
			<label for='1045-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>28. Respect authority.</legend>
			<input type='radio' name='1624' id='1624-1' value='1'>
			<label for='1624-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1624' id='1624-2' value='2'>
			<label for='1624-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1624' id='1624-3' value='3'>
			<label for='1624-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1624' id='1624-4' value='4'>
			<label for='1624-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1624' id='1624-5' value='5'>
			<label for='1624-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1624' id='1624-6' value='6'>
			<label for='1624-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>29. I do what I want regardless of how unsafe it might be.</legend>
			<input type='radio' name='4160' id='4160-1' value='1'>
			<label for='4160-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4160' id='4160-2' value='2'>
			<label for='4160-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4160' id='4160-3' value='3'>
			<label for='4160-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4160' id='4160-4' value='4'>
			<label for='4160-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4160' id='4160-5' value='5'>
			<label for='4160-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4160' id='4160-6' value='6'>
			<label for='4160-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>30. See myself as an average person.</legend>
			<input type='radio' name='1653' id='1653-1' value='1'>
			<label for='1653-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1653' id='1653-2' value='2'>
			<label for='1653-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1653' id='1653-3' value='3'>
			<label for='1653-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1653' id='1653-4' value='4'>
			<label for='1653-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1653' id='1653-5' value='5'>
			<label for='1653-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1653' id='1653-6' value='6'>
			<label for='1653-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>31. Dislike myself.</legend>
			<input type='radio' name='578' id='578-1' value='1'>
			<label for='578-1'>Very<br>Inaccurate</label>
			<input type='radio' name='578' id='578-2' value='2'>
			<label for='578-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='578' id='578-3' value='3'>
			<label for='578-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='578' id='578-4' value='4'>
			<label for='578-4'>Slightly<br>Accurate</label>
			<input type='radio' name='578' id='578-5' value='5'>
			<label for='578-5'>Moderately<br>Accurate</label>
			<input type='radio' name='578' id='578-6' value='6'>
			<label for='578-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>32. I fear being alone in life more than anything else.</legend>
			<input type='radio' name='4128' id='4128-1' value='1'>
			<label for='4128-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4128' id='4128-2' value='2'>
			<label for='4128-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4128' id='4128-3' value='3'>
			<label for='4128-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4128' id='4128-4' value='4'>
			<label for='4128-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4128' id='4128-5' value='5'>
			<label for='4128-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4128' id='4128-6' value='6'>
			<label for='4128-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>33. Laugh my way through life.</legend>
			<input type='radio' name='1248' id='1248-1' value='1'>
			<label for='1248-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1248' id='1248-2' value='2'>
			<label for='1248-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1248' id='1248-3' value='3'>
			<label for='1248-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1248' id='1248-4' value='4'>
			<label for='1248-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1248' id='1248-5' value='5'>
			<label for='1248-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1248' id='1248-6' value='6'>
			<label for='1248-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>34. Reveal little about myself.</legend>
			<input type='radio' name='1635' id='1635-1' value='1'>
			<label for='1635-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1635' id='1635-2' value='2'>
			<label for='1635-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1635' id='1635-3' value='3'>
			<label for='1635-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1635' id='1635-4' value='4'>
			<label for='1635-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1635' id='1635-5' value='5'>
			<label for='1635-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1635' id='1635-6' value='6'>
			<label for='1635-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>35. I worry about almost everything.</legend>
			<input type='radio' name='4111' id='4111-1' value='1'>
			<label for='4111-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4111' id='4111-2' value='2'>
			<label for='4111-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4111' id='4111-3' value='3'>
			<label for='4111-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4111' id='4111-4' value='4'>
			<label for='4111-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4111' id='4111-5' value='5'>
			<label for='4111-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4111' id='4111-6' value='6'>
			<label for='4111-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>36. Am able to control my cravings.</legend>
			<input type='radio' name='56' id='56-1' value='1'>
			<label for='56-1'>Very<br>Inaccurate</label>
			<input type='radio' name='56' id='56-2' value='2'>
			<label for='56-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='56' id='56-3' value='3'>
			<label for='56-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='56' id='56-4' value='4'>
			<label for='56-4'>Slightly<br>Accurate</label>
			<input type='radio' name='56' id='56-5' value='5'>
			<label for='56-5'>Moderately<br>Accurate</label>
			<input type='radio' name='56' id='56-6' value='6'>
			<label for='56-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>37. Believe in the importance of art.</legend>
			<input type='radio' name='348' id='348-1' value='1'>
			<label for='348-1'>Very<br>Inaccurate</label>
			<input type='radio' name='348' id='348-2' value='2'>
			<label for='348-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='348' id='348-3' value='3'>
			<label for='348-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='348' id='348-4' value='4'>
			<label for='348-4'>Slightly<br>Accurate</label>
			<input type='radio' name='348' id='348-5' value='5'>
			<label for='348-5'>Moderately<br>Accurate</label>
			<input type='radio' name='348' id='348-6' value='6'>
			<label for='348-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>38. I always do things on the spur of the moment.</legend>
			<input type='radio' name='4023' id='4023-1' value='1'>
			<label for='4023-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4023' id='4023-2' value='2'>
			<label for='4023-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4023' id='4023-3' value='3'>
			<label for='4023-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4023' id='4023-4' value='4'>
			<label for='4023-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4023' id='4023-5' value='5'>
			<label for='4023-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4023' id='4023-6' value='6'>
			<label for='4023-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>39. Prefer variety to routine.</legend>
			<input type='radio' name='1542' id='1542-1' value='1'>
			<label for='1542-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1542' id='1542-2' value='2'>
			<label for='1542-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1542' id='1542-3' value='3'>
			<label for='1542-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1542' id='1542-4' value='4'>
			<label for='1542-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1542' id='1542-5' value='5'>
			<label for='1542-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1542' id='1542-6' value='6'>
			<label for='1542-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>40. Seek danger.</legend>
			<input type='radio' name='1664' id='1664-1' value='1'>
			<label for='1664-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1664' id='1664-2' value='2'>
			<label for='1664-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1664' id='1664-3' value='3'>
			<label for='1664-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1664' id='1664-4' value='4'>
			<label for='1664-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1664' id='1664-5' value='5'>
			<label for='1664-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1664' id='1664-6' value='6'>
			<label for='1664-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>41. I have a unique talent for persuading people.</legend>
			<input type='radio' name='51805' id='51805-1' value='1'>
			<label for='51805-1'>Very<br>Inaccurate</label>
			<input type='radio' name='51805' id='51805-2' value='2'>
			<label for='51805-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='51805' id='51805-3' value='3'>
			<label for='51805-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='51805' id='51805-4' value='4'>
			<label for='51805-4'>Slightly<br>Accurate</label>
			<input type='radio' name='51805' id='51805-5' value='5'>
			<label for='51805-5'>Moderately<br>Accurate</label>
			<input type='radio' name='51805' id='51805-6' value='6'>
			<label for='51805-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>42. Act without thinking.</legend>
			<input type='radio' name='35' id='35-1' value='1'>
			<label for='35-1'>Very<br>Inaccurate</label>
			<input type='radio' name='35' id='35-2' value='2'>
			<label for='35-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='35' id='35-3' value='3'>
			<label for='35-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='35' id='35-4' value='4'>
			<label for='35-4'>Slightly<br>Accurate</label>
			<input type='radio' name='35' id='35-5' value='5'>
			<label for='35-5'>Moderately<br>Accurate</label>
			<input type='radio' name='35' id='35-6' value='6'>
			<label for='35-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>43. Believe in one true religion.</legend>
			<input type='radio' name='345' id='345-1' value='1'>
			<label for='345-1'>Very<br>Inaccurate</label>
			<input type='radio' name='345' id='345-2' value='2'>
			<label for='345-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='345' id='345-3' value='3'>
			<label for='345-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='345' id='345-4' value='4'>
			<label for='345-4'>Slightly<br>Accurate</label>
			<input type='radio' name='345' id='345-5' value='5'>
			<label for='345-5'>Moderately<br>Accurate</label>
			<input type='radio' name='345' id='345-6' value='6'>
			<label for='345-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>44. People are too sensitive when I tell them the truth about themselves.</legend>
			<input type='radio' name='3982' id='3982-1' value='1'>
			<label for='3982-1'>Very<br>Inaccurate</label>
			<input type='radio' name='3982' id='3982-2' value='2'>
			<label for='3982-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='3982' id='3982-3' value='3'>
			<label for='3982-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='3982' id='3982-4' value='4'>
			<label for='3982-4'>Slightly<br>Accurate</label>
			<input type='radio' name='3982' id='3982-5' value='5'>
			<label for='3982-5'>Moderately<br>Accurate</label>
			<input type='radio' name='3982' id='3982-6' value='6'>
			<label for='3982-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>45. Like a leisurely lifestyle.</legend>
			<input type='radio' name='1281' id='1281-1' value='1'>
			<label for='1281-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1281' id='1281-2' value='2'>
			<label for='1281-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1281' id='1281-3' value='3'>
			<label for='1281-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1281' id='1281-4' value='4'>
			<label for='1281-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1281' id='1281-5' value='5'>
			<label for='1281-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1281' id='1281-6' value='6'>
			<label for='1281-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>46. I wish somebody would someday write my biography.</legend>
			<input type='radio' name='51774' id='51774-1' value='1'>
			<label for='51774-1'>Very<br>Inaccurate</label>
			<input type='radio' name='51774' id='51774-2' value='2'>
			<label for='51774-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='51774' id='51774-3' value='3'>
			<label for='51774-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='51774' id='51774-4' value='4'>
			<label for='51774-4'>Slightly<br>Accurate</label>
			<input type='radio' name='51774' id='51774-5' value='5'>
			<label for='51774-5'>Moderately<br>Accurate</label>
			<input type='radio' name='51774' id='51774-6' value='6'>
			<label for='51774-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>47. People often talk about me doing things I don't remember at all.</legend>
			<input type='radio' name='4043' id='4043-1' value='1'>
			<label for='4043-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4043' id='4043-2' value='2'>
			<label for='4043-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4043' id='4043-3' value='3'>
			<label for='4043-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4043' id='4043-4' value='4'>
			<label for='4043-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4043' id='4043-5' value='5'>
			<label for='4043-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4043' id='4043-6' value='6'>
			<label for='4043-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>48. Please indicate which is the best answer to complete the figure below.</legend>
		<img id='fig12048.jpg' src='iq.figures/fig12048.jpg' width='551' height='394'><br>
		<input type='radio' name='12048' id='12048-1' value='1'>
		<label for='12048-1'>A</label>
		<input type='radio' name='12048' id='12048-2' value='2'>
		<label for='12048-2'>B</label>
		<input type='radio' name='12048' id='12048-3' value='3'>
		<label for='12048-3'>C</label>
		<input type='radio' name='12048' id='12048-4' value='4'>
		<label for='12048-4'>D</label>
		<input type='radio' name='12048' id='12048-5' value='5'>
		<label for='12048-5'>E</label>
		<input type='radio' name='12048' id='12048-6' value='6'>
		<label for='12048-6'>F</label>
		<input type='radio' name='12048' id='12048-7' value='7'>
		<label for='12048-7'>None of these</label>
		<input type='radio' name='12048' id='12048-8' value='8'>
		<label for='12048-8'>I don't know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>49. If the day after tomorrow is two days before Thursday then what day is it today?</legend>
			<input type='radio' name='12019' id='12019-1' value='1'>
			<label for='12019-1'> Friday</label>
			<input type='radio' name='12019' id='12019-2' value='2'>
			<label for='12019-2'> Monday</label>
			<input type='radio' name='12019' id='12019-3' value='3'>
			<label for='12019-3'> Wednesday</label>
			<input type='radio' name='12019' id='12019-4' value='4'>
			<label for='12019-4'> Saturday</label>
			<input type='radio' name='12019' id='12019-5' value='5'>
			<label for='12019-5'> Tuesday</label>
			<input type='radio' name='12019' id='12019-6' value='6'>
			<label for='12019-6'> Sunday</label>
			<input type='radio' name='12019' id='12019-7' value='7'>
			<label for='12019-7'>None of these</label>
			<input type='radio' name='12019' id='12019-8' value='8'>
			<label for='12019-8'>I don't know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>50. There is a word that can be paired with each of the words below to form compound words.  What is the first letter of the missing word?<br>
		<p style='text-align: center;'>sage &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; paint &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; hair</p></legend>
			<input type='radio' name='14301' id='14301-1' value='1'>
			<label for='14301-1'>b</label>
			<input type='radio' name='14301' id='14301-2' value='2'>
			<label for='14301-2'>m</label>
			<input type='radio' name='14301' id='14301-3' value='3'>
			<label for='14301-3'>t</label>
			<input type='radio' name='14301' id='14301-4' value='4'>
			<label for='14301-4'>a</label>
			<input type='radio' name='14301' id='14301-5' value='5'>
			<label for='14301-5'>f</label>
			<input type='radio' name='14301' id='14301-6' value='6'>
			<label for='14301-6'>d</label>
			<input type='radio' name='14301' id='14301-7' value='7'>
			<label for='14301-7'>None of these</label>
			<input type='radio' name='14301' id='14301-8' value='8'>
			<label for='14301-8'>I don't know</label>
	</fieldset>
</div> <!-- closes div class="10u offset-1u" -->
<div class="1u">
</div> <!-- closes div class="1u" -->
</div>  <!-- closes div class="row" -->
										<div class="row">

											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-stop" aria-disabled="false"><input type="submit" data-theme="stop" name="submitStop" value="Skip to last page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
											<div class="6u">
												<ul>
												<li>
												</li>
												</ul>
											</div>
											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-more" aria-disabled="false"><input type="submit" data-theme="more" id="submitGo" name="submitGo" value="Next page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
										</div>

</form><!-- closes form id="page4"  -->
								</div>  <!-- closes div class="5grid" -->
							</div>  <!-- closes div id="content" -->
						</div> <!-- closes div class="12u mobileUI-main-content" -->
					</div><!-- closes div id="row" -->
				</div> <!-- closes div class="5grid-layout" -->
			</div> <!-- closes div id="main-wrapper" -->

		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
				<footer id="footer" class="5grid-layout">
					<div class="row">
						<div class="12u">
							<div id="copyright">
							<center>
								&copy; Part of the Personality Project.	
							</center>
							</div>
						</div>
					</div>
				</footer>
			</div>
		<!-- End Footer Wrapper -->
	</body>
</html>
