<!DOCTYPE HTML>
<html>

	<head>
		<title>Free Personality Test | SAPA-Project | Items 76 to 100</title>
		<meta name="description" content="This is the fourth of several pages where we ask about your typical thoughts, feelings, and behaviors. Your responses to these questions will shape your free customized personality report, so be sure to respond honestly.  And don't skip too many items along the way!">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="keywords" content="" />

		<link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
		<link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16">
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
		<link rel="manifest" href="../manifest.json">
		<link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" href="../css/5grid/fonts.css" />
		<link rel="stylesheet" href="../css/5grid/jquery.mobile-1.3.0.css" />
		<script src="../css/5grid/jquery.js"></script>
		<script src="../css/5grid/jquery.mobile-1.3.0.min.js"></script>
		<script src="../css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none&amp;mobileUI_titleBarOverlaid=1&amp;mobileUI_titleBarHeight=60&amp;viewport_is1000px=1060&amp;mobileUI_openerWidth=80"></script>
		<noscript>
			<link rel="stylesheet" href="../css/5grid/core.css" />
			<link rel="stylesheet" href="../css/5grid/core-desktop.css" />
			<link rel="stylesheet" href="../css/5grid/core-1200px.css" />
			<link rel="stylesheet" href="../css/5grid/core-noscript.css" />
			<link rel="stylesheet" href="../css/style.css" />
			<link rel="stylesheet" href="../css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="../css/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="../css/ie7.css" /><![endif]-->
	</head>
	<body class="no-sidebar">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="5grid-layout">
					<div class="row">
						
							<!-- Header -->
								<header id="header">
										<h2>The SAPA Project</h2>
										<h3>a personality assessment collaboratory</h3>
								</header>

					</div>
				</div>
			</div>
		<!-- End Header Wrapper -->
		
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="5grid-layout">
					<div class="row">
						<div class="12u mobileUI-main-content">

							<!-- Content -->
								<div id="content">

									<div class="5grid">
										<div class="row">
											<div class="12u" style="margin-bottom: 0px;">

										<h3>Personality Questions</h3>
										
										<p class="smallish">You've responded to <strong>10 of the 75 items</strong> given so far.</p>

										<p class="smallish">Remember that <strong>your responses are anonymous</strong>.  Do your best to respond as accurately and honestly as possible.</p>

											</div> <!-- closes div class="12u" -->
										</div>  <!-- closes div class="row" -->
																		
										<div class="small">
										</div>

<form name="page6" id="page6" DefaultButton="submitGo" action="/survey/survey4.php" data-ajax="false" method="post" onsubmit="getTime();">  

<input type="hidden" id="page4Time" name="page4Time">

<script language='JavaScript'>
function getTime(){
var current = new Date();
var since = current.getTime();
var elapsetime = since/1000;
document.getElementById('page4Time').value = elapsetime;
}
</script>
<!-- Gets the time between 1/1/1970 12:00 am UTC and now in seconds. -->

<div class="row">
<div class="10u offset-1u">


	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>76. I don't worry about others' needs.</legend>
			<input type='radio' name='50565' id='50565-1' value='1'>
			<label for='50565-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50565' id='50565-2' value='2'>
			<label for='50565-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50565' id='50565-3' value='3'>
			<label for='50565-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50565' id='50565-4' value='4'>
			<label for='50565-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50565' id='50565-5' value='5'>
			<label for='50565-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50565' id='50565-6' value='6'>
			<label for='50565-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>77. Am skilled in handling social situations.</legend>
			<input type='radio' name='254' id='254-1' value='1'>
			<label for='254-1'>Very<br>Inaccurate</label>
			<input type='radio' name='254' id='254-2' value='2'>
			<label for='254-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='254' id='254-3' value='3'>
			<label for='254-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='254' id='254-4' value='4'>
			<label for='254-4'>Slightly<br>Accurate</label>
			<input type='radio' name='254' id='254-5' value='5'>
			<label for='254-5'>Moderately<br>Accurate</label>
			<input type='radio' name='254' id='254-6' value='6'>
			<label for='254-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>78. Believe that laws should be strictly enforced.</legend>
			<input type='radio' name='369' id='369-1' value='1'>
			<label for='369-1'>Very<br>Inaccurate</label>
			<input type='radio' name='369' id='369-2' value='2'>
			<label for='369-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='369' id='369-3' value='3'>
			<label for='369-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='369' id='369-4' value='4'>
			<label for='369-4'>Slightly<br>Accurate</label>
			<input type='radio' name='369' id='369-5' value='5'>
			<label for='369-5'>Moderately<br>Accurate</label>
			<input type='radio' name='369' id='369-6' value='6'>
			<label for='369-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>79. When I realize I have failed at something, I feel humiliated.</legend>
			<input type='radio' name='50569' id='50569-1' value='1'>
			<label for='50569-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50569' id='50569-2' value='2'>
			<label for='50569-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50569' id='50569-3' value='3'>
			<label for='50569-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50569' id='50569-4' value='4'>
			<label for='50569-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50569' id='50569-5' value='5'>
			<label for='50569-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50569' id='50569-6' value='6'>
			<label for='50569-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>80. Am just an ordinary person.</legend>
			<input type='radio' name='152' id='152-1' value='1'>
			<label for='152-1'>Very<br>Inaccurate</label>
			<input type='radio' name='152' id='152-2' value='2'>
			<label for='152-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='152' id='152-3' value='3'>
			<label for='152-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='152' id='152-4' value='4'>
			<label for='152-4'>Slightly<br>Accurate</label>
			<input type='radio' name='152' id='152-5' value='5'>
			<label for='152-5'>Moderately<br>Accurate</label>
			<input type='radio' name='152' id='152-6' value='6'>
			<label for='152-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>81. Dislike myself.</legend>
			<input type='radio' name='578' id='578-1' value='1'>
			<label for='578-1'>Very<br>Inaccurate</label>
			<input type='radio' name='578' id='578-2' value='2'>
			<label for='578-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='578' id='578-3' value='3'>
			<label for='578-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='578' id='578-4' value='4'>
			<label for='578-4'>Slightly<br>Accurate</label>
			<input type='radio' name='578' id='578-5' value='5'>
			<label for='578-5'>Moderately<br>Accurate</label>
			<input type='radio' name='578' id='578-6' value='6'>
			<label for='578-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>82. I avoid anything that might be even a little bit dangerous.</legend>
			<input type='radio' name='4088' id='4088-1' value='1'>
			<label for='4088-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4088' id='4088-2' value='2'>
			<label for='4088-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4088' id='4088-3' value='3'>
			<label for='4088-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4088' id='4088-4' value='4'>
			<label for='4088-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4088' id='4088-5' value='5'>
			<label for='4088-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4088' id='4088-6' value='6'>
			<label for='4088-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>83. Amuse my friends.</legend>
			<input type='radio' name='296' id='296-1' value='1'>
			<label for='296-1'>Very<br>Inaccurate</label>
			<input type='radio' name='296' id='296-2' value='2'>
			<label for='296-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='296' id='296-3' value='3'>
			<label for='296-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='296' id='296-4' value='4'>
			<label for='296-4'>Slightly<br>Accurate</label>
			<input type='radio' name='296' id='296-5' value='5'>
			<label for='296-5'>Moderately<br>Accurate</label>
			<input type='radio' name='296' id='296-6' value='6'>
			<label for='296-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>84. Express myself easily.</legend>
			<input type='radio' name='803' id='803-1' value='1'>
			<label for='803-1'>Very<br>Inaccurate</label>
			<input type='radio' name='803' id='803-2' value='2'>
			<label for='803-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='803' id='803-3' value='3'>
			<label for='803-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='803' id='803-4' value='4'>
			<label for='803-4'>Slightly<br>Accurate</label>
			<input type='radio' name='803' id='803-5' value='5'>
			<label for='803-5'>Moderately<br>Accurate</label>
			<input type='radio' name='803' id='803-6' value='6'>
			<label for='803-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>85. I trust that other people will be honest with me.</legend>
			<input type='radio' name='50574' id='50574-1' value='1'>
			<label for='50574-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50574' id='50574-2' value='2'>
			<label for='50574-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50574' id='50574-3' value='3'>
			<label for='50574-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50574' id='50574-4' value='4'>
			<label for='50574-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50574' id='50574-5' value='5'>
			<label for='50574-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50574' id='50574-6' value='6'>
			<label for='50574-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>86. Never splurge.</legend>
			<input type='radio' name='1462' id='1462-1' value='1'>
			<label for='1462-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1462' id='1462-2' value='2'>
			<label for='1462-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1462' id='1462-3' value='3'>
			<label for='1462-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1462' id='1462-4' value='4'>
			<label for='1462-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1462' id='1462-5' value='5'>
			<label for='1462-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1462' id='1462-6' value='6'>
			<label for='1462-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>87. Do not like art.</legend>
			<input type='radio' name='610' id='610-1' value='1'>
			<label for='610-1'>Very<br>Inaccurate</label>
			<input type='radio' name='610' id='610-2' value='2'>
			<label for='610-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='610' id='610-3' value='3'>
			<label for='610-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='610' id='610-4' value='4'>
			<label for='610-4'>Slightly<br>Accurate</label>
			<input type='radio' name='610' id='610-5' value='5'>
			<label for='610-5'>Moderately<br>Accurate</label>
			<input type='radio' name='610' id='610-6' value='6'>
			<label for='610-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>88. Others would take advantage of me if they could.</legend>
			<input type='radio' name='4104' id='4104-1' value='1'>
			<label for='4104-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4104' id='4104-2' value='2'>
			<label for='4104-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4104' id='4104-3' value='3'>
			<label for='4104-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4104' id='4104-4' value='4'>
			<label for='4104-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4104' id='4104-5' value='5'>
			<label for='4104-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4104' id='4104-6' value='6'>
			<label for='4104-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>89. Adjust easily.</legend>
			<input type='radio' name='39' id='39-1' value='1'>
			<label for='39-1'>Very<br>Inaccurate</label>
			<input type='radio' name='39' id='39-2' value='2'>
			<label for='39-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='39' id='39-3' value='3'>
			<label for='39-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='39' id='39-4' value='4'>
			<label for='39-4'>Slightly<br>Accurate</label>
			<input type='radio' name='39' id='39-5' value='5'>
			<label for='39-5'>Moderately<br>Accurate</label>
			<input type='radio' name='39' id='39-6' value='6'>
			<label for='39-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>90. Take risks.</legend>
			<input type='radio' name='1781' id='1781-1' value='1'>
			<label for='1781-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1781' id='1781-2' value='2'>
			<label for='1781-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1781' id='1781-3' value='3'>
			<label for='1781-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1781' id='1781-4' value='4'>
			<label for='1781-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1781' id='1781-5' value='5'>
			<label for='1781-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1781' id='1781-6' value='6'>
			<label for='1781-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>91. You need to step on some toes to get what you want in life.</legend>
			<input type='radio' name='4074' id='4074-1' value='1'>
			<label for='4074-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4074' id='4074-2' value='2'>
			<label for='4074-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4074' id='4074-3' value='3'>
			<label for='4074-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4074' id='4074-4' value='4'>
			<label for='4074-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4074' id='4074-5' value='5'>
			<label for='4074-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4074' id='4074-6' value='6'>
			<label for='4074-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>92. Often make decisions on the spur of the moment.</legend>
			<input type='radio' name='4276' id='4276-1' value='1'>
			<label for='4276-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4276' id='4276-2' value='2'>
			<label for='4276-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4276' id='4276-3' value='3'>
			<label for='4276-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4276' id='4276-4' value='4'>
			<label for='4276-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4276' id='4276-5' value='5'>
			<label for='4276-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4276' id='4276-6' value='6'>
			<label for='4276-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>93. Tend to vote for liberal political candidates.</legend>
			<input type='radio' name='1825' id='1825-1' value='1'>
			<label for='1825-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1825' id='1825-2' value='2'>
			<label for='1825-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1825' id='1825-3' value='3'>
			<label for='1825-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1825' id='1825-4' value='4'>
			<label for='1825-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1825' id='1825-5' value='5'>
			<label for='1825-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1825' id='1825-6' value='6'>
			<label for='1825-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>94. I often see unusual connections between things that most people miss.</legend>
			<input type='radio' name='4195' id='4195-1' value='1'>
			<label for='4195-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4195' id='4195-2' value='2'>
			<label for='4195-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4195' id='4195-3' value='3'>
			<label for='4195-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4195' id='4195-4' value='4'>
			<label for='4195-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4195' id='4195-5' value='5'>
			<label for='4195-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4195' id='4195-6' value='6'>
			<label for='4195-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>95. Like a leisurely lifestyle.</legend>
			<input type='radio' name='1281' id='1281-1' value='1'>
			<label for='1281-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1281' id='1281-2' value='2'>
			<label for='1281-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1281' id='1281-3' value='3'>
			<label for='1281-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1281' id='1281-4' value='4'>
			<label for='1281-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1281' id='1281-5' value='5'>
			<label for='1281-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1281' id='1281-6' value='6'>
			<label for='1281-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>96. I worry a lot about terrible things that might happen.</legend>
			<input type='radio' name='4080' id='4080-1' value='1'>
			<label for='4080-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4080' id='4080-2' value='2'>
			<label for='4080-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4080' id='4080-3' value='3'>
			<label for='4080-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4080' id='4080-4' value='4'>
			<label for='4080-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4080' id='4080-5' value='5'>
			<label for='4080-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4080' id='4080-6' value='6'>
			<label for='4080-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>97. It is hard for me to shift from one activity to another.</legend>
			<input type='radio' name='4079' id='4079-1' value='1'>
			<label for='4079-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4079' id='4079-2' value='2'>
			<label for='4079-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4079' id='4079-3' value='3'>
			<label for='4079-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4079' id='4079-4' value='4'>
			<label for='4079-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4079' id='4079-5' value='5'>
			<label for='4079-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4079' id='4079-6' value='6'>
			<label for='4079-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>98. All the cubes below have a different image on each side.  Select the choice that could represent a rotation of the cube labeled X.</legend>
		<img id='fig11018.png' src='iq.figures/fig11018.png' width='640' height='310'><br>
		<input type='radio' name='11018' id='11018-1' value='1'>
		<label for='11018-1'>A</label>
		<input type='radio' name='11018' id='11018-2' value='2'>
		<label for='11018-2'>B</label>
		<input type='radio' name='11018' id='11018-3' value='3'>
		<label for='11018-3'>C</label>
		<input type='radio' name='11018' id='11018-4' value='4'>
		<label for='11018-4'>D</label>
		<input type='radio' name='11018' id='11018-5' value='5'>
		<label for='11018-5'>E</label>
		<input type='radio' name='11018' id='11018-6' value='6'>
		<label for='11018-6'>F</label>
		<input type='radio' name='11018' id='11018-7' value='7'>
		<label for='11018-7'>G</label>
		<input type='radio' name='11018' id='11018-8' value='8'>
		<label for='11018-8'>H</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>99. In the following alphanumeric series, what letter comes next?   C, F, I, L, O, ...</legend>
			<input type='radio' name='12005' id='12005-1' value='1'>
			<label for='12005-1'> Q</label>
			<input type='radio' name='12005' id='12005-2' value='2'>
			<label for='12005-2'> R</label>
			<input type='radio' name='12005' id='12005-3' value='3'>
			<label for='12005-3'> S</label>
			<input type='radio' name='12005' id='12005-4' value='4'>
			<label for='12005-4'> T</label>
			<input type='radio' name='12005' id='12005-5' value='5'>
			<label for='12005-5'> U</label>
			<input type='radio' name='12005' id='12005-6' value='6'>
			<label for='12005-6'> V</label>
			<input type='radio' name='12005' id='12005-7' value='7'>
			<label for='12005-7'>None of these</label>
			<input type='radio' name='12005' id='12005-8' value='8'>
			<label for='12005-8'>I don't know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>100. Please indicate which is the best answer to complete the figure below.</legend>
		<img id='fig19049.svg' src='iq.figures/fig19049.svg'><br>
		<input type='radio' name='19049' id='19049-1' value='1'>
		<label for='19049-1'>1</label>
		<input type='radio' name='19049' id='19049-2' value='2'>
		<label for='19049-2'>2</label>
		<input type='radio' name='19049' id='19049-3' value='3'>
		<label for='19049-3'>3</label>
		<input type='radio' name='19049' id='19049-4' value='4'>
		<label for='19049-4'>4</label>
		<input type='radio' name='19049' id='19049-5' value='5'>
		<label for='19049-5'>5</label>
		<input type='radio' name='19049' id='19049-6' value='6'>
		<label for='19049-6'>6</label>
		<input type='radio' name='19049' id='19049-7' value='7'>
		<label for='19049-7'>7</label>
		<input type='radio' name='19049' id='19049-8' value='8'>
		<label for='19049-8'>8</label>
	</fieldset>
</div> <!-- closes div class="10u offset-1u" -->
<div class="1u">
</div> <!-- closes div class="1u" -->
</div>  <!-- closes div class="row" -->
										<div class="row">

											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-stop" aria-disabled="false"><input type="submit" data-theme="stop" name="submitStop" value="Skip to last page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
											<div class="6u">
												<ul>
												<li>
												</li>
												</ul>
											</div>
											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-more" aria-disabled="false"><input type="submit" data-theme="more" id="submitGo" name="submitGo" value="Next page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
										</div>

</form><!-- closes form id="page6"  -->
								</div>  <!-- closes div class="5grid" -->
							</div>  <!-- closes div id="content" -->
						</div> <!-- closes div class="12u mobileUI-main-content" -->
					</div><!-- closes div id="row" -->
				</div> <!-- closes div class="5grid-layout" -->
			</div> <!-- closes div id="main-wrapper" -->

		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
				<footer id="footer" class="5grid-layout">
					<div class="row">
						<div class="12u">
							<div id="copyright">
							<center>
								&copy; Part of the Personality Project.	
							</center>
							</div>
						</div>
					</div>
				</footer>
			</div>
		<!-- End Footer Wrapper -->
	</body>
</html>
