<!DOCTYPE HTML>
<html>

	<head>
		<title>Free Personality Test | SAPA-Project | Items 126 to 150</title>
		<meta name="description" content="This is the sixth of several pages where we ask about your typical thoughts, feelings, and behaviors. Your responses to these questions will shape your free customized personality report, so be sure to respond honestly.  And don't skip too many items along the way!">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="keywords" content="" />

		<link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
		<link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16">
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
		<link rel="manifest" href="../manifest.json">
		<link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" href="../css/5grid/fonts.css" />
		<link rel="stylesheet" href="../css/5grid/jquery.mobile-1.3.0.css" />
		<script src="../css/5grid/jquery.js"></script>
		<script src="../css/5grid/jquery.mobile-1.3.0.min.js"></script>
		<script src="../css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none&amp;mobileUI_titleBarOverlaid=1&amp;mobileUI_titleBarHeight=60&amp;viewport_is1000px=1060&amp;mobileUI_openerWidth=80"></script>
		<noscript>
			<link rel="stylesheet" href="../css/5grid/core.css" />
			<link rel="stylesheet" href="../css/5grid/core-desktop.css" />
			<link rel="stylesheet" href="../css/5grid/core-1200px.css" />
			<link rel="stylesheet" href="../css/5grid/core-noscript.css" />
			<link rel="stylesheet" href="../css/style.css" />
			<link rel="stylesheet" href="../css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="../css/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="../css/ie7.css" /><![endif]-->
	</head>
	<body class="no-sidebar">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="5grid-layout">
					<div class="row">
						
							<!-- Header -->
								<header id="header">
										<h2>The SAPA Project</h2>
										<h3>a personality assessment collaboratory</h3>
								</header>

					</div>
				</div>
			</div>
		<!-- End Header Wrapper -->
		
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="5grid-layout">
					<div class="row">
						<div class="12u mobileUI-main-content">

							<!-- Content -->
								<div id="content">

									<div class="5grid">
										<div class="row">
											<div class="12u" style="margin-bottom: 0px;">

										<h3>Personality Questions</h3>
										
										<p class="smallish">You've responded to <strong>14 of the 125 items</strong> given so far.</p>

										<p class="smallish">Remember that <strong>your responses are anonymous</strong>.  Do your best to respond as accurately and honestly as possible.</p>

											</div> <!-- closes div class="12u" -->
										</div>  <!-- closes div class="row" -->
																		
										<div class="small">
										</div>

<form name="page8" id="page8" DefaultButton="submitGo" action="/survey/survey6.php" data-ajax="false" method="post" onsubmit="getTime();">  

<input type="hidden" id="page6Time" name="page6Time">

<script language='JavaScript'>
function getTime(){
var current = new Date();
var since = current.getTime();
var elapsetime = since/1000;
document.getElementById('page6Time').value = elapsetime;
}
</script>
<!-- Gets the time between 1/1/1970 12:00 am UTC and now in seconds. -->

<div class="row">
<div class="10u offset-1u">


	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>126. I have periods in which I feel disconnected from the world or from myself.</legend>
			<input type='radio' name='4194' id='4194-1' value='1'>
			<label for='4194-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4194' id='4194-2' value='2'>
			<label for='4194-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4194' id='4194-3' value='3'>
			<label for='4194-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4194' id='4194-4' value='4'>
			<label for='4194-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4194' id='4194-5' value='5'>
			<label for='4194-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4194' id='4194-6' value='6'>
			<label for='4194-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>127. Am good at making impromptu speeches.</legend>
			<input type='radio' name='131' id='131-1' value='1'>
			<label for='131-1'>Very<br>Inaccurate</label>
			<input type='radio' name='131' id='131-2' value='2'>
			<label for='131-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='131' id='131-3' value='3'>
			<label for='131-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='131' id='131-4' value='4'>
			<label for='131-4'>Slightly<br>Accurate</label>
			<input type='radio' name='131' id='131-5' value='5'>
			<label for='131-5'>Moderately<br>Accurate</label>
			<input type='radio' name='131' id='131-6' value='6'>
			<label for='131-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>128. Rebel against authority.</legend>
			<input type='radio' name='1609' id='1609-1' value='1'>
			<label for='1609-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1609' id='1609-2' value='2'>
			<label for='1609-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1609' id='1609-3' value='3'>
			<label for='1609-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1609' id='1609-4' value='4'>
			<label for='1609-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1609' id='1609-5' value='5'>
			<label for='1609-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1609' id='1609-6' value='6'>
			<label for='1609-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>129. I have a very short temper.</legend>
			<input type='radio' name='4093' id='4093-1' value='1'>
			<label for='4093-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4093' id='4093-2' value='2'>
			<label for='4093-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4093' id='4093-3' value='3'>
			<label for='4093-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4093' id='4093-4' value='4'>
			<label for='4093-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4093' id='4093-5' value='5'>
			<label for='4093-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4093' id='4093-6' value='6'>
			<label for='4093-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>130. Am just an ordinary person.</legend>
			<input type='radio' name='152' id='152-1' value='1'>
			<label for='152-1'>Very<br>Inaccurate</label>
			<input type='radio' name='152' id='152-2' value='2'>
			<label for='152-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='152' id='152-3' value='3'>
			<label for='152-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='152' id='152-4' value='4'>
			<label for='152-4'>Slightly<br>Accurate</label>
			<input type='radio' name='152' id='152-5' value='5'>
			<label for='152-5'>Moderately<br>Accurate</label>
			<input type='radio' name='152' id='152-6' value='6'>
			<label for='152-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>131. Feel a sense of worthlessness or hopelessness.</legend>
			<input type='radio' name='811' id='811-1' value='1'>
			<label for='811-1'>Very<br>Inaccurate</label>
			<input type='radio' name='811' id='811-2' value='2'>
			<label for='811-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='811' id='811-3' value='3'>
			<label for='811-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='811' id='811-4' value='4'>
			<label for='811-4'>Slightly<br>Accurate</label>
			<input type='radio' name='811' id='811-5' value='5'>
			<label for='811-5'>Moderately<br>Accurate</label>
			<input type='radio' name='811' id='811-6' value='6'>
			<label for='811-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>132. I sometimes have heard things that others couldn't hear.</legend>
			<input type='radio' name='4100' id='4100-1' value='1'>
			<label for='4100-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4100' id='4100-2' value='2'>
			<label for='4100-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4100' id='4100-3' value='3'>
			<label for='4100-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4100' id='4100-4' value='4'>
			<label for='4100-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4100' id='4100-5' value='5'>
			<label for='4100-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4100' id='4100-6' value='6'>
			<label for='4100-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>133. Laugh a lot.</legend>
			<input type='radio' name='1243' id='1243-1' value='1'>
			<label for='1243-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1243' id='1243-2' value='2'>
			<label for='1243-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1243' id='1243-3' value='3'>
			<label for='1243-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1243' id='1243-4' value='4'>
			<label for='1243-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1243' id='1243-5' value='5'>
			<label for='1243-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1243' id='1243-6' value='6'>
			<label for='1243-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>134. Show my sadness.</legend>
			<input type='radio' name='1706' id='1706-1' value='1'>
			<label for='1706-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1706' id='1706-2' value='2'>
			<label for='1706-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1706' id='1706-3' value='3'>
			<label for='1706-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1706' id='1706-4' value='4'>
			<label for='1706-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1706' id='1706-5' value='5'>
			<label for='1706-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1706' id='1706-6' value='6'>
			<label for='1706-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>135. I often get into physical fights.</legend>
			<input type='radio' name='4012' id='4012-1' value='1'>
			<label for='4012-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4012' id='4012-2' value='2'>
			<label for='4012-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4012' id='4012-3' value='3'>
			<label for='4012-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4012' id='4012-4' value='4'>
			<label for='4012-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4012' id='4012-5' value='5'>
			<label for='4012-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4012' id='4012-6' value='6'>
			<label for='4012-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>136. Never splurge.</legend>
			<input type='radio' name='1462' id='1462-1' value='1'>
			<label for='1462-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1462' id='1462-2' value='2'>
			<label for='1462-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1462' id='1462-3' value='3'>
			<label for='1462-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1462' id='1462-4' value='4'>
			<label for='1462-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1462' id='1462-5' value='5'>
			<label for='1462-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1462' id='1462-6' value='6'>
			<label for='1462-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>137. Do not enjoy going to art museums.</legend>
			<input type='radio' name='607' id='607-1' value='1'>
			<label for='607-1'>Very<br>Inaccurate</label>
			<input type='radio' name='607' id='607-2' value='2'>
			<label for='607-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='607' id='607-3' value='3'>
			<label for='607-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='607' id='607-4' value='4'>
			<label for='607-4'>Slightly<br>Accurate</label>
			<input type='radio' name='607' id='607-5' value='5'>
			<label for='607-5'>Moderately<br>Accurate</label>
			<input type='radio' name='607' id='607-6' value='6'>
			<label for='607-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>138. I keep trying to make things perfect, even when I've gotten them as good as they're likely going to get.</legend>
			<input type='radio' name='4177' id='4177-1' value='1'>
			<label for='4177-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4177' id='4177-2' value='2'>
			<label for='4177-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4177' id='4177-3' value='3'>
			<label for='4177-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4177' id='4177-4' value='4'>
			<label for='4177-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4177' id='4177-5' value='5'>
			<label for='4177-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4177' id='4177-6' value='6'>
			<label for='4177-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>139. Prefer variety to routine.</legend>
			<input type='radio' name='1542' id='1542-1' value='1'>
			<label for='1542-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1542' id='1542-2' value='2'>
			<label for='1542-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1542' id='1542-3' value='3'>
			<label for='1542-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1542' id='1542-4' value='4'>
			<label for='1542-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1542' id='1542-5' value='5'>
			<label for='1542-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1542' id='1542-6' value='6'>
			<label for='1542-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>140. Seek adventure.</legend>
			<input type='radio' name='1662' id='1662-1' value='1'>
			<label for='1662-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1662' id='1662-2' value='2'>
			<label for='1662-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1662' id='1662-3' value='3'>
			<label for='1662-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1662' id='1662-4' value='4'>
			<label for='1662-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1662' id='1662-5' value='5'>
			<label for='1662-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1662' id='1662-6' value='6'>
			<label for='1662-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>141. I often feel as if I need compliments from others in order to be sure of myself.</legend>
			<input type='radio' name='50567' id='50567-1' value='1'>
			<label for='50567-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50567' id='50567-2' value='2'>
			<label for='50567-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50567' id='50567-3' value='3'>
			<label for='50567-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50567' id='50567-4' value='4'>
			<label for='50567-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50567' id='50567-5' value='5'>
			<label for='50567-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50567' id='50567-6' value='6'>
			<label for='50567-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>142. Stop to think things over before doing anything.</legend>
			<input type='radio' name='4223' id='4223-1' value='1'>
			<label for='4223-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4223' id='4223-2' value='2'>
			<label for='4223-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4223' id='4223-3' value='3'>
			<label for='4223-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4223' id='4223-4' value='4'>
			<label for='4223-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4223' id='4223-5' value='5'>
			<label for='4223-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4223' id='4223-6' value='6'>
			<label for='4223-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>143. Tend to vote for liberal political candidates.</legend>
			<input type='radio' name='1825' id='1825-1' value='1'>
			<label for='1825-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1825' id='1825-2' value='2'>
			<label for='1825-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1825' id='1825-3' value='3'>
			<label for='1825-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1825' id='1825-4' value='4'>
			<label for='1825-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1825' id='1825-5' value='5'>
			<label for='1825-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1825' id='1825-6' value='6'>
			<label for='1825-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>144. I'm always on my guard for someone trying to trick or harm me.</legend>
			<input type='radio' name='4118' id='4118-1' value='1'>
			<label for='4118-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4118' id='4118-2' value='2'>
			<label for='4118-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4118' id='4118-3' value='3'>
			<label for='4118-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4118' id='4118-4' value='4'>
			<label for='4118-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4118' id='4118-5' value='5'>
			<label for='4118-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4118' id='4118-6' value='6'>
			<label for='4118-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>145. Have a slow pace to my life.</legend>
			<input type='radio' name='1052' id='1052-1' value='1'>
			<label for='1052-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1052' id='1052-2' value='2'>
			<label for='1052-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1052' id='1052-3' value='3'>
			<label for='1052-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1052' id='1052-4' value='4'>
			<label for='1052-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1052' id='1052-5' value='5'>
			<label for='1052-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1052' id='1052-6' value='6'>
			<label for='1052-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>146. I know how to hurt someone with words alone.</legend>
			<input type='radio' name='51821' id='51821-1' value='1'>
			<label for='51821-1'>Very<br>Inaccurate</label>
			<input type='radio' name='51821' id='51821-2' value='2'>
			<label for='51821-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='51821' id='51821-3' value='3'>
			<label for='51821-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='51821' id='51821-4' value='4'>
			<label for='51821-4'>Slightly<br>Accurate</label>
			<input type='radio' name='51821' id='51821-5' value='5'>
			<label for='51821-5'>Moderately<br>Accurate</label>
			<input type='radio' name='51821' id='51821-6' value='6'>
			<label for='51821-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>147. I like to show off my body.</legend>
			<input type='radio' name='51752' id='51752-1' value='1'>
			<label for='51752-1'>Very<br>Inaccurate</label>
			<input type='radio' name='51752' id='51752-2' value='2'>
			<label for='51752-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='51752' id='51752-3' value='3'>
			<label for='51752-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='51752' id='51752-4' value='4'>
			<label for='51752-4'>Slightly<br>Accurate</label>
			<input type='radio' name='51752' id='51752-5' value='5'>
			<label for='51752-5'>Moderately<br>Accurate</label>
			<input type='radio' name='51752' id='51752-6' value='6'>
			<label for='51752-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>148. Adam and Melissa went fly-fishing and caught a total of 32 salmon. Melissa caught three times as many salmon as Adam. How many salmon did Adam catch?</legend>
			<input type='radio' name='12014' id='12014-1' value='1'>
			<label for='12014-1'> 7</label>
			<input type='radio' name='12014' id='12014-2' value='2'>
			<label for='12014-2'> 8</label>
			<input type='radio' name='12014' id='12014-3' value='3'>
			<label for='12014-3'> 9</label>
			<input type='radio' name='12014' id='12014-4' value='4'>
			<label for='12014-4'> 10</label>
			<input type='radio' name='12014' id='12014-5' value='5'>
			<label for='12014-5'> 11</label>
			<input type='radio' name='12014' id='12014-6' value='6'>
			<label for='12014-6'> 12</label>
			<input type='radio' name='12014' id='12014-7' value='7'>
			<label for='12014-7'>None of these</label>
			<input type='radio' name='12014' id='12014-8' value='8'>
			<label for='12014-8'>I don't know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>149. Please indicate which is the best answer to complete the analogy below.</legend>
		<img id='fig18019.png' src='iq.figures/fig18019.png' width='640' height='200'><br>
		<input type='radio' name='18019' id='18019-1' value='1'>
		<label for='18019-1'>A</label>
		<input type='radio' name='18019' id='18019-2' value='2'>
		<label for='18019-2'>B</label>
		<input type='radio' name='18019' id='18019-3' value='3'>
		<label for='18019-3'>C</label>
		<input type='radio' name='18019' id='18019-4' value='4'>
		<label for='18019-4'>D</label>
		<input type='radio' name='18019' id='18019-5' value='5'>
		<label for='18019-5'>E</label>
		<input type='radio' name='18019' id='18019-6' value='6'>
		<label for='18019-6'>F</label>
		<input type='radio' name='18019' id='18019-7' value='7'>
		<label for='18019-7'>G</label>
		<input type='radio' name='18019' id='18019-8' value='8'>
		<label for='18019-8'>H</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>150. Michelle likes 96 but not 45; she also likes 540 but not 250. Which does she like?</legend>
			<input type='radio' name='12013' id='12013-1' value='1'>
			<label for='12013-1'> 86</label>
			<input type='radio' name='12013' id='12013-2' value='2'>
			<label for='12013-2'> 93</label>
			<input type='radio' name='12013' id='12013-3' value='3'>
			<label for='12013-3'> 98</label>
			<input type='radio' name='12013' id='12013-4' value='4'>
			<label for='12013-4'> 128</label>
			<input type='radio' name='12013' id='12013-5' value='5'>
			<label for='12013-5'> 132</label>
			<input type='radio' name='12013' id='12013-6' value='6'>
			<label for='12013-6'> 140</label>
			<input type='radio' name='12013' id='12013-7' value='7'>
			<label for='12013-7'>None of these</label>
			<input type='radio' name='12013' id='12013-8' value='8'>
			<label for='12013-8'>I don't know</label>
	</fieldset>
</div> <!-- closes div class="10u offset-1u" -->
<div class="1u">
</div> <!-- closes div class="1u" -->
</div>  <!-- closes div class="row" -->
										<div class="row">

											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-stop" aria-disabled="false"><input type="submit" data-theme="stop" name="submitStop" value="Skip to last page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
											<div class="6u">
												<ul>
												<li>
												</li>
												</ul>
											</div>
											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-more" aria-disabled="false"><input type="submit" data-theme="more" id="submitGo" name="submitGo" value="Next page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
										</div>

</form><!-- closes form id="page8"  -->
								</div>  <!-- closes div class="5grid" -->
							</div>  <!-- closes div id="content" -->
						</div> <!-- closes div class="12u mobileUI-main-content" -->
					</div><!-- closes div id="row" -->
				</div> <!-- closes div class="5grid-layout" -->
			</div> <!-- closes div id="main-wrapper" -->

		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
				<footer id="footer" class="5grid-layout">
					<div class="row">
						<div class="12u">
							<div id="copyright">
							<center>
								&copy; Part of the Personality Project.	
							</center>
							</div>
						</div>
					</div>
				</footer>
			</div>
		<!-- End Footer Wrapper -->
	</body>
</html>
