<!DOCTYPE HTML>
<html>

	<head>
		<title>Free Personality Test | SAPA-Project | Items 1 to 25</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="description" content="This is the first of several pages where we ask about your typical thoughts, feelings, and behaviors. Your responses to these questions will shape your free customized personality report, so be sure to respond honestly.  And don't skip too many items along the way!">
		<meta name="keywords" content="" />

		<link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
		<link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16">
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
		<link rel="manifest" href="../manifest.json">
		<link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" href="../css/5grid/fonts.css" />
		<link rel="stylesheet" href="../css/5grid/jquery.mobile-1.3.0.css" />
		<script src="../css/5grid/jquery.js"></script>
		<script src="../css/5grid/jquery.mobile-1.3.0.min.js"></script>
		<script src="../css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none&amp;mobileUI_titleBarOverlaid=1&amp;mobileUI_titleBarHeight=60&amp;viewport_is1000px=1060&amp;mobileUI_openerWidth=80"></script>
		<noscript>
			<link rel="stylesheet" href="../css/5grid/core.css" />
			<link rel="stylesheet" href="../css/5grid/core-desktop.css" />
			<link rel="stylesheet" href="../css/5grid/core-1200px.css" />
			<link rel="stylesheet" href="../css/5grid/core-noscript.css" />
			<link rel="stylesheet" href="../css/style.css" />
			<link rel="stylesheet" href="../css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="../css/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="../css/ie7.css" /><![endif]-->
		<!-- begin google adwords script --><script type="text/javascript">
/* <![CDATA[ */
		var google_conversion_id = 981868095;
		var google_conversion_language = "en";
		var google_conversion_format = "3";
		var google_conversion_color = "ffffff";
		var google_conversion_label = "2aA_CLP73HMQv7yY1AM";
		var google_remarketing_only = false;
		/* ]]> */
		</script>
		<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
		</script>
		<noscript>
		<div style="display:inline;">
		<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/981868095/?label=2aA_CLP73HMQv7yY1AM&amp;guid=ON&amp;script=0"/>
		</div>
		</noscript><!-- end google adwords script -->

	</head>
	<body class="no-sidebar">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="5grid-layout">
					<div class="row">
						
							<!-- Header -->
								<header id="header">
										<h2>The SAPA Project</h2>
										<h3>a personality assessment collaboratory</h3>
								</header>

					</div>
				</div>
			</div>
		<!-- End Header Wrapper -->
		
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="5grid-layout">
					<div class="row">
						<div class="12u mobileUI-main-content">

							<!-- Content -->
								<div id="content">

									<div class="5grid">
										<div class="row">
											<div class="12u" style="margin-bottom: 0px;">

										<h3>Personality Questions</h3>

										<p class="smallish">Most of these are short phrases that you should respond to by indicating how accurately the statement describes your typical behavior or attitudes.  For example, you might select 'slightly accurate' for 'Laugh a lot.'  Other types of items are mixed in as well, including cognition/puzzle items, questions that ask about how you spend your free time, and questions that ask how interested you would be in working certain jobs.  Each of these types of questions relate to different features of personality.  For all types, <strong>choose the one answer that you think is best.</strong></p>
										
											</div> <!-- closes div class="12u" -->
										</div>  <!-- closes div class="row" -->
																		
										<div class="small">
										</div>

<form name="page3" id="page3" DefaultButton="submitGo" action="/survey/survey1.php" data-ajax="false" method="post" onsubmit="getTime();">  

<input type="hidden" id="page1Time" name="page1Time">

<script language='JavaScript'>
function getTime(){
var current = new Date();
var since = current.getTime();
var elapsetime = since/1000;
document.getElementById('page1Time').value = elapsetime;
}
</script>
<!-- Gets the time between 1/1/1970 12:00 am UTC and now in seconds. -->

<div class="row">
<div class="10u offset-1u">


	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>1. There's way too much violence in sports.</legend>
			<input type='radio' name='51793' id='51793-1' value='1'>
			<label for='51793-1'>Very<br>Inaccurate</label>
			<input type='radio' name='51793' id='51793-2' value='2'>
			<label for='51793-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='51793' id='51793-3' value='3'>
			<label for='51793-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='51793' id='51793-4' value='4'>
			<label for='51793-4'>Slightly<br>Accurate</label>
			<input type='radio' name='51793' id='51793-5' value='5'>
			<label for='51793-5'>Moderately<br>Accurate</label>
			<input type='radio' name='51793' id='51793-6' value='6'>
			<label for='51793-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>2. Am concerned about others.</legend>
			<input type='radio' name='90' id='90-1' value='1'>
			<label for='90-1'>Very<br>Inaccurate</label>
			<input type='radio' name='90' id='90-2' value='2'>
			<label for='90-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='90' id='90-3' value='3'>
			<label for='90-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='90' id='90-4' value='4'>
			<label for='90-4'>Slightly<br>Accurate</label>
			<input type='radio' name='90' id='90-5' value='5'>
			<label for='90-5'>Moderately<br>Accurate</label>
			<input type='radio' name='90' id='90-6' value='6'>
			<label for='90-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>3. Start tasks right away.</legend>
			<input type='radio' name='1744' id='1744-1' value='1'>
			<label for='1744-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1744' id='1744-2' value='2'>
			<label for='1744-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1744' id='1744-3' value='3'>
			<label for='1744-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1744' id='1744-4' value='4'>
			<label for='1744-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1744' id='1744-5' value='5'>
			<label for='1744-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1744' id='1744-6' value='6'>
			<label for='1744-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>4. I don't hesitate to cheat if it gets me ahead.</legend>
			<input type='radio' name='4135' id='4135-1' value='1'>
			<label for='4135-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4135' id='4135-2' value='2'>
			<label for='4135-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4135' id='4135-3' value='3'>
			<label for='4135-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4135' id='4135-4' value='4'>
			<label for='4135-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4135' id='4135-5' value='5'>
			<label for='4135-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4135' id='4135-6' value='6'>
			<label for='4135-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>5. Am an original thinker.</legend>
			<input type='radio' name='2754' id='2754-1' value='1'>
			<label for='2754-1'>Very<br>Inaccurate</label>
			<input type='radio' name='2754' id='2754-2' value='2'>
			<label for='2754-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='2754' id='2754-3' value='3'>
			<label for='2754-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='2754' id='2754-4' value='4'>
			<label for='2754-4'>Slightly<br>Accurate</label>
			<input type='radio' name='2754' id='2754-5' value='5'>
			<label for='2754-5'>Moderately<br>Accurate</label>
			<input type='radio' name='2754' id='2754-6' value='6'>
			<label for='2754-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>6. Am a worrier.</legend>
			<input type='radio' name='4252' id='4252-1' value='1'>
			<label for='4252-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4252' id='4252-2' value='2'>
			<label for='4252-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4252' id='4252-3' value='3'>
			<label for='4252-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4252' id='4252-4' value='4'>
			<label for='4252-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4252' id='4252-5' value='5'>
			<label for='4252-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4252' id='4252-6' value='6'>
			<label for='4252-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>7. People often look at me as if I'd said something really weird.</legend>
			<input type='radio' name='4056' id='4056-1' value='1'>
			<label for='4056-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4056' id='4056-2' value='2'>
			<label for='4056-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4056' id='4056-3' value='3'>
			<label for='4056-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4056' id='4056-4' value='4'>
			<label for='4056-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4056' id='4056-5' value='5'>
			<label for='4056-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4056' id='4056-6' value='6'>
			<label for='4056-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>8. Usually like to spend my free time with people.</legend>
			<input type='radio' name='1904' id='1904-1' value='1'>
			<label for='1904-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1904' id='1904-2' value='2'>
			<label for='1904-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1904' id='1904-3' value='3'>
			<label for='1904-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1904' id='1904-4' value='4'>
			<label for='1904-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1904' id='1904-5' value='5'>
			<label for='1904-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1904' id='1904-6' value='6'>
			<label for='1904-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>9. Cannot imagine lying or cheating.</legend>
			<input type='radio' name='2853' id='2853-1' value='1'>
			<label for='2853-1'>Very<br>Inaccurate</label>
			<input type='radio' name='2853' id='2853-2' value='2'>
			<label for='2853-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='2853' id='2853-3' value='3'>
			<label for='2853-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='2853' id='2853-4' value='4'>
			<label for='2853-4'>Slightly<br>Accurate</label>
			<input type='radio' name='2853' id='2853-5' value='5'>
			<label for='2853-5'>Moderately<br>Accurate</label>
			<input type='radio' name='2853' id='2853-6' value='6'>
			<label for='2853-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>10. I don't think about getting hurt when I'm doing things that might be dangerous.</legend>
			<input type='radio' name='4196' id='4196-1' value='1'>
			<label for='4196-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4196' id='4196-2' value='2'>
			<label for='4196-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4196' id='4196-3' value='3'>
			<label for='4196-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4196' id='4196-4' value='4'>
			<label for='4196-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4196' id='4196-5' value='5'>
			<label for='4196-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4196' id='4196-6' value='6'>
			<label for='4196-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>11. Keep things tidy.</legend>
			<input type='radio' name='1201' id='1201-1' value='1'>
			<label for='1201-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1201' id='1201-2' value='2'>
			<label for='1201-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1201' id='1201-3' value='3'>
			<label for='1201-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1201' id='1201-4' value='4'>
			<label for='1201-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1201' id='1201-5' value='5'>
			<label for='1201-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1201' id='1201-6' value='6'>
			<label for='1201-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>12. Think quickly.</legend>
			<input type='radio' name='1834' id='1834-1' value='1'>
			<label for='1834-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1834' id='1834-2' value='2'>
			<label for='1834-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1834' id='1834-3' value='3'>
			<label for='1834-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1834' id='1834-4' value='4'>
			<label for='1834-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1834' id='1834-5' value='5'>
			<label for='1834-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1834' id='1834-6' value='6'>
			<label for='1834-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>13. I know that I am good because everybody keeps telling me so.</legend>
			<input type='radio' name='51741' id='51741-1' value='1'>
			<label for='51741-1'>Very<br>Inaccurate</label>
			<input type='radio' name='51741' id='51741-2' value='2'>
			<label for='51741-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='51741' id='51741-3' value='3'>
			<label for='51741-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='51741' id='51741-4' value='4'>
			<label for='51741-4'>Slightly<br>Accurate</label>
			<input type='radio' name='51741' id='51741-5' value='5'>
			<label for='51741-5'>Moderately<br>Accurate</label>
			<input type='radio' name='51741' id='51741-6' value='6'>
			<label for='51741-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>14. Am not easily affected by my emotions.</legend>
			<input type='radio' name='174' id='174-1' value='1'>
			<label for='174-1'>Very<br>Inaccurate</label>
			<input type='radio' name='174' id='174-2' value='2'>
			<label for='174-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='174' id='174-3' value='3'>
			<label for='174-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='174' id='174-4' value='4'>
			<label for='174-4'>Slightly<br>Accurate</label>
			<input type='radio' name='174' id='174-5' value='5'>
			<label for='174-5'>Moderately<br>Accurate</label>
			<input type='radio' name='174' id='174-6' value='6'>
			<label for='174-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>15. Hate being the center of attention.</legend>
			<input type='radio' name='1027' id='1027-1' value='1'>
			<label for='1027-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1027' id='1027-2' value='2'>
			<label for='1027-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1027' id='1027-3' value='3'>
			<label for='1027-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1027' id='1027-4' value='4'>
			<label for='1027-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1027' id='1027-5' value='5'>
			<label for='1027-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1027' id='1027-6' value='6'>
			<label for='1027-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>16. I like to be complimented.</legend>
			<input type='radio' name='51763' id='51763-1' value='1'>
			<label for='51763-1'>Very<br>Inaccurate</label>
			<input type='radio' name='51763' id='51763-2' value='2'>
			<label for='51763-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='51763' id='51763-3' value='3'>
			<label for='51763-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='51763' id='51763-4' value='4'>
			<label for='51763-4'>Slightly<br>Accurate</label>
			<input type='radio' name='51763' id='51763-5' value='5'>
			<label for='51763-5'>Moderately<br>Accurate</label>
			<input type='radio' name='51763' id='51763-6' value='6'>
			<label for='51763-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>17. Trust people to mainly tell the truth.</legend>
			<input type='radio' name='4289' id='4289-1' value='1'>
			<label for='4289-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4289' id='4289-2' value='2'>
			<label for='4289-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4289' id='4289-3' value='3'>
			<label for='4289-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4289' id='4289-4' value='4'>
			<label for='4289-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4289' id='4289-5' value='5'>
			<label for='4289-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4289' id='4289-6' value='6'>
			<label for='4289-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>18. Dislike imperfect work.</legend>
			<input type='radio' name='571' id='571-1' value='1'>
			<label for='571-1'>Very<br>Inaccurate</label>
			<input type='radio' name='571' id='571-2' value='2'>
			<label for='571-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='571' id='571-3' value='3'>
			<label for='571-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='571' id='571-4' value='4'>
			<label for='571-4'>Slightly<br>Accurate</label>
			<input type='radio' name='571' id='571-5' value='5'>
			<label for='571-5'>Moderately<br>Accurate</label>
			<input type='radio' name='571' id='571-6' value='6'>
			<label for='571-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>19. I trust other people to be honest.</legend>
			<input type='radio' name='3959' id='3959-1' value='1'>
			<label for='3959-1'>Very<br>Inaccurate</label>
			<input type='radio' name='3959' id='3959-2' value='2'>
			<label for='3959-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='3959' id='3959-3' value='3'>
			<label for='3959-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='3959' id='3959-4' value='4'>
			<label for='3959-4'>Slightly<br>Accurate</label>
			<input type='radio' name='3959' id='3959-5' value='5'>
			<label for='3959-5'>Moderately<br>Accurate</label>
			<input type='radio' name='3959' id='3959-6' value='6'>
			<label for='3959-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>20. Enjoy examining myself and my life.</legend>
			<input type='radio' name='755' id='755-1' value='1'>
			<label for='755-1'>Very<br>Inaccurate</label>
			<input type='radio' name='755' id='755-2' value='2'>
			<label for='755-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='755' id='755-3' value='3'>
			<label for='755-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='755' id='755-4' value='4'>
			<label for='755-4'>Slightly<br>Accurate</label>
			<input type='radio' name='755' id='755-5' value='5'>
			<label for='755-5'>Moderately<br>Accurate</label>
			<input type='radio' name='755' id='755-6' value='6'>
			<label for='755-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>21. Am not easily annoyed.</legend>
			<input type='radio' name='176' id='176-1' value='1'>
			<label for='176-1'>Very<br>Inaccurate</label>
			<input type='radio' name='176' id='176-2' value='2'>
			<label for='176-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='176' id='176-3' value='3'>
			<label for='176-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='176' id='176-4' value='4'>
			<label for='176-4'>Slightly<br>Accurate</label>
			<input type='radio' name='176' id='176-5' value='5'>
			<label for='176-5'>Moderately<br>Accurate</label>
			<input type='radio' name='176' id='176-6' value='6'>
			<label for='176-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>22. Others seem to thing I'm quite odd or unusual.</legend>
			<input type='radio' name='4071' id='4071-1' value='1'>
			<label for='4071-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4071' id='4071-2' value='2'>
			<label for='4071-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4071' id='4071-3' value='3'>
			<label for='4071-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4071' id='4071-4' value='4'>
			<label for='4071-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4071' id='4071-5' value='5'>
			<label for='4071-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4071' id='4071-6' value='6'>
			<label for='4071-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>23. In the following number series, what number comes next?   64, 81, 100, 121, 144, ...</legend>
			<input type='radio' name='12001' id='12001-1' value='1'>
			<label for='12001-1'> 154</label>
			<input type='radio' name='12001' id='12001-2' value='2'>
			<label for='12001-2'> 156</label>
			<input type='radio' name='12001' id='12001-3' value='3'>
			<label for='12001-3'> 162</label>
			<input type='radio' name='12001' id='12001-4' value='4'>
			<label for='12001-4'> 169</label>
			<input type='radio' name='12001' id='12001-5' value='5'>
			<label for='12001-5'> 178</label>
			<input type='radio' name='12001' id='12001-6' value='6'>
			<label for='12001-6'> 196</label>
			<input type='radio' name='12001' id='12001-7' value='7'>
			<label for='12001-7'>None of these</label>
			<input type='radio' name='12001' id='12001-8' value='8'>
			<label for='12001-8'>I don't know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>24. All the cubes below have a different image on each side.  Select the choice that could represent a rotation of the cube labeled X.</legend>
		<img id='fig11017.png' src='iq.figures/fig11017.png' width='640' height='310'><br>
		<input type='radio' name='11017' id='11017-1' value='1'>
		<label for='11017-1'>A</label>
		<input type='radio' name='11017' id='11017-2' value='2'>
		<label for='11017-2'>B</label>
		<input type='radio' name='11017' id='11017-3' value='3'>
		<label for='11017-3'>C</label>
		<input type='radio' name='11017' id='11017-4' value='4'>
		<label for='11017-4'>D</label>
		<input type='radio' name='11017' id='11017-5' value='5'>
		<label for='11017-5'>E</label>
		<input type='radio' name='11017' id='11017-6' value='6'>
		<label for='11017-6'>F</label>
		<input type='radio' name='11017' id='11017-7' value='7'>
		<label for='11017-7'>G</label>
		<input type='radio' name='11017' id='11017-8' value='8'>
		<label for='11017-8'>H</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>25. Please select the response that matches the image most accurately.</legend>
		<img id='fig13052.jpg' src='iq.figures/fig13052.jpg' width='200' height='280' style='display: block; margin-left: auto; margin-right: auto;'><br>
		<input type='radio' name='13052' id='13052-1' value='1'>
		<label for='13052-1'>anger</label>
		<input type='radio' name='13052' id='13052-2' value='2'>
		<label for='13052-2'>disgust</label>
		<input type='radio' name='13052' id='13052-3' value='3'>
		<label for='13052-3'>fear</label>
		<input type='radio' name='13052' id='13052-4' value='4'>
		<label for='13052-4'>happiness</label>
		<input type='radio' name='13052' id='13052-5' value='5'>
		<label for='13052-5'>neutral</label>
		<input type='radio' name='13052' id='13052-6' value='6'>
		<label for='13052-6'>sadness</label>
		<input type='radio' name='13052' id='13052-7' value='7'>
		<label for='13052-7'>surprise</label>
		<input type='radio' name='13052' id='13052-8' value='8'>
		<label for='13052-8'>I don't know</label>
	</fieldset>
</div> <!-- closes div class="10u offset-1u" -->
<div class="1u">
</div> <!-- closes div class="1u" -->
</div>  <!-- closes div class="row" -->
										<div class="row">

											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-stop" aria-disabled="false"><input type="submit" data-theme="stop" name="submitStop" value="Skip to last page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
											<div class="6u">
												<ul>
												<li>
												</li>
												</ul>
											</div>
											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-more" aria-disabled="false"><input type="submit" data-theme="more" id="submitGo" name="submitGo" value="Next page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
										</div>

</form><!-- closes form id="page3"  -->
								</div>  <!-- closes div class="5grid" -->
							</div>  <!-- closes div id="content" -->
						</div> <!-- closes div class="12u mobileUI-main-content" -->
					</div><!-- closes div id="row" -->
				</div> <!-- closes div class="5grid-layout" -->
			</div> <!-- closes div id="main-wrapper" -->

		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
				<footer id="footer" class="5grid-layout">
					<div class="row">
						<div class="12u">
							<div id="copyright">
							<center>
								&copy; Part of the Personality Project.	
							</center>
							</div>
						</div>
					</div>
				</footer>
			</div>
		<!-- End Footer Wrapper -->
	</body>
</html>
