<!DOCTYPE HTML>
<html>

	<head>
		<title>Free Personality Test | SAPA-Project | Items 176 to 200</title>
		<meta name="description" content="This is the eighth of several pages where we ask about your typical thoughts, feelings, and behaviors. Your responses to these questions will shape your free customized personality report, so be sure to respond honestly.  And don't skip too many items along the way!">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="keywords" content="" />

		<link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
		<link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16">
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
		<link rel="manifest" href="../manifest.json">
		<link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" href="../css/5grid/fonts.css" />
		<link rel="stylesheet" href="../css/5grid/jquery.mobile-1.3.0.css" />
		<script src="../css/5grid/jquery.js"></script>
		<script src="../css/5grid/jquery.mobile-1.3.0.min.js"></script>
		<script src="../css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none&amp;mobileUI_titleBarOverlaid=1&amp;mobileUI_titleBarHeight=60&amp;viewport_is1000px=1060&amp;mobileUI_openerWidth=80"></script>
		<noscript>
			<link rel="stylesheet" href="../css/5grid/core.css" />
			<link rel="stylesheet" href="../css/5grid/core-desktop.css" />
			<link rel="stylesheet" href="../css/5grid/core-1200px.css" />
			<link rel="stylesheet" href="../css/5grid/core-noscript.css" />
			<link rel="stylesheet" href="../css/style.css" />
			<link rel="stylesheet" href="../css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="../css/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="../css/ie7.css" /><![endif]-->
	</head>
	<body class="no-sidebar">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="5grid-layout">
					<div class="row">
						
							<!-- Header -->
								<header id="header">
										<h2>The SAPA Project</h2>
										<h3>a personality assessment collaboratory</h3>
								</header>

					</div>
				</div>
			</div>
		<!-- End Header Wrapper -->
		
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="5grid-layout">
					<div class="row">
						<div class="12u mobileUI-main-content">

							<!-- Content -->
								<div id="content">

									<div class="5grid">
										<div class="row">
											<div class="12u" style="margin-bottom: 0px;">

										<h3>Personality Questions</h3>
										
										<p class="smallish">You've responded to <strong>25 of the 175 items</strong> given so far.</p>

										<p class="smallish">Remember that <strong>your responses are anonymous</strong>.  Do your best to respond as accurately and honestly as possible.</p>

											</div> <!-- closes div class="12u" -->
										</div>  <!-- closes div class="row" -->
																		
										<div class="small">
										</div>

<form name="page10" id="page10" DefaultButton="submitGo" action="/survey/survey8.php" data-ajax="false" method="post" onsubmit="getTime();">  

<input type="hidden" id="page8Time" name="page8Time">

<script language='JavaScript'>
function getTime(){
var current = new Date();
var since = current.getTime();
var elapsetime = since/1000;
document.getElementById('page8Time').value = elapsetime;
}
</script>
<!-- Gets the time between 1/1/1970 12:00 am UTC and now in seconds. -->

<div class="row">
<div class="10u offset-1u">


	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>176. I often think that others aren't telling me the whole truth.</legend>
			<input type='radio' name='50604' id='50604-1' value='1'>
			<label for='50604-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50604' id='50604-2' value='2'>
			<label for='50604-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50604' id='50604-3' value='3'>
			<label for='50604-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50604' id='50604-4' value='4'>
			<label for='50604-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50604' id='50604-5' value='5'>
			<label for='50604-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50604' id='50604-6' value='6'>
			<label for='50604-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>177. Have a natural talent for influencing people.</legend>
			<input type='radio' name='1045' id='1045-1' value='1'>
			<label for='1045-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1045' id='1045-2' value='2'>
			<label for='1045-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1045' id='1045-3' value='3'>
			<label for='1045-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1045' id='1045-4' value='4'>
			<label for='1045-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1045' id='1045-5' value='5'>
			<label for='1045-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1045' id='1045-6' value='6'>
			<label for='1045-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>178. Believe that we should be tough on crime.</legend>
			<input type='radio' name='398' id='398-1' value='1'>
			<label for='398-1'>Very<br>Inaccurate</label>
			<input type='radio' name='398' id='398-2' value='2'>
			<label for='398-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='398' id='398-3' value='3'>
			<label for='398-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='398' id='398-4' value='4'>
			<label for='398-4'>Slightly<br>Accurate</label>
			<input type='radio' name='398' id='398-5' value='5'>
			<label for='398-5'>Moderately<br>Accurate</label>
			<input type='radio' name='398' id='398-6' value='6'>
			<label for='398-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>179. People often say I'm out of control.</legend>
			<input type='radio' name='50551' id='50551-1' value='1'>
			<label for='50551-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50551' id='50551-2' value='2'>
			<label for='50551-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50551' id='50551-3' value='3'>
			<label for='50551-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50551' id='50551-4' value='4'>
			<label for='50551-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50551' id='50551-5' value='5'>
			<label for='50551-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50551' id='50551-6' value='6'>
			<label for='50551-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>180. Would hate to be considered odd or strange.</legend>
			<input type='radio' name='2005' id='2005-1' value='1'>
			<label for='2005-1'>Very<br>Inaccurate</label>
			<input type='radio' name='2005' id='2005-2' value='2'>
			<label for='2005-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='2005' id='2005-3' value='3'>
			<label for='2005-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='2005' id='2005-4' value='4'>
			<label for='2005-4'>Slightly<br>Accurate</label>
			<input type='radio' name='2005' id='2005-5' value='5'>
			<label for='2005-5'>Moderately<br>Accurate</label>
			<input type='radio' name='2005' id='2005-6' value='6'>
			<label for='2005-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>181. Love life.</legend>
			<input type='radio' name='1371' id='1371-1' value='1'>
			<label for='1371-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1371' id='1371-2' value='2'>
			<label for='1371-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1371' id='1371-3' value='3'>
			<label for='1371-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1371' id='1371-4' value='4'>
			<label for='1371-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1371' id='1371-5' value='5'>
			<label for='1371-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1371' id='1371-6' value='6'>
			<label for='1371-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>182. I really don't care if I make other people suffer.</legend>
			<input type='radio' name='4020' id='4020-1' value='1'>
			<label for='4020-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4020' id='4020-2' value='2'>
			<label for='4020-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4020' id='4020-3' value='3'>
			<label for='4020-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4020' id='4020-4' value='4'>
			<label for='4020-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4020' id='4020-5' value='5'>
			<label for='4020-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4020' id='4020-6' value='6'>
			<label for='4020-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>183. Seldom joke around.</legend>
			<input type='radio' name='1685' id='1685-1' value='1'>
			<label for='1685-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1685' id='1685-2' value='2'>
			<label for='1685-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1685' id='1685-3' value='3'>
			<label for='1685-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1685' id='1685-4' value='4'>
			<label for='1685-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1685' id='1685-5' value='5'>
			<label for='1685-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1685' id='1685-6' value='6'>
			<label for='1685-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>184. Show my sadness.</legend>
			<input type='radio' name='1706' id='1706-1' value='1'>
			<label for='1706-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1706' id='1706-2' value='2'>
			<label for='1706-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1706' id='1706-3' value='3'>
			<label for='1706-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1706' id='1706-4' value='4'>
			<label for='1706-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1706' id='1706-5' value='5'>
			<label for='1706-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1706' id='1706-6' value='6'>
			<label for='1706-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>185. I enjoy being in love.</legend>
			<input type='radio' name='4098' id='4098-1' value='1'>
			<label for='4098-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4098' id='4098-2' value='2'>
			<label for='4098-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4098' id='4098-3' value='3'>
			<label for='4098-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4098' id='4098-4' value='4'>
			<label for='4098-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4098' id='4098-5' value='5'>
			<label for='4098-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4098' id='4098-6' value='6'>
			<label for='4098-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>186. Am able to control my cravings.</legend>
			<input type='radio' name='56' id='56-1' value='1'>
			<label for='56-1'>Very<br>Inaccurate</label>
			<input type='radio' name='56' id='56-2' value='2'>
			<label for='56-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='56' id='56-3' value='3'>
			<label for='56-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='56' id='56-4' value='4'>
			<label for='56-4'>Slightly<br>Accurate</label>
			<input type='radio' name='56' id='56-5' value='5'>
			<label for='56-5'>Moderately<br>Accurate</label>
			<input type='radio' name='56' id='56-6' value='6'>
			<label for='56-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>187. Do not enjoy going to art museums.</legend>
			<input type='radio' name='607' id='607-1' value='1'>
			<label for='607-1'>Very<br>Inaccurate</label>
			<input type='radio' name='607' id='607-2' value='2'>
			<label for='607-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='607' id='607-3' value='3'>
			<label for='607-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='607' id='607-4' value='4'>
			<label for='607-4'>Slightly<br>Accurate</label>
			<input type='radio' name='607' id='607-5' value='5'>
			<label for='607-5'>Moderately<br>Accurate</label>
			<input type='radio' name='607' id='607-6' value='6'>
			<label for='607-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>188. I see myself as a good leader.</legend>
			<input type='radio' name='51747' id='51747-1' value='1'>
			<label for='51747-1'>Very<br>Inaccurate</label>
			<input type='radio' name='51747' id='51747-2' value='2'>
			<label for='51747-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='51747' id='51747-3' value='3'>
			<label for='51747-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='51747' id='51747-4' value='4'>
			<label for='51747-4'>Slightly<br>Accurate</label>
			<input type='radio' name='51747' id='51747-5' value='5'>
			<label for='51747-5'>Moderately<br>Accurate</label>
			<input type='radio' name='51747' id='51747-6' value='6'>
			<label for='51747-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>189. Prefer variety to routine.</legend>
			<input type='radio' name='1542' id='1542-1' value='1'>
			<label for='1542-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1542' id='1542-2' value='2'>
			<label for='1542-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1542' id='1542-3' value='3'>
			<label for='1542-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1542' id='1542-4' value='4'>
			<label for='1542-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1542' id='1542-5' value='5'>
			<label for='1542-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1542' id='1542-6' value='6'>
			<label for='1542-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>190. Love dangerous situations.</legend>
			<input type='radio' name='1367' id='1367-1' value='1'>
			<label for='1367-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1367' id='1367-2' value='2'>
			<label for='1367-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1367' id='1367-3' value='3'>
			<label for='1367-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1367' id='1367-4' value='4'>
			<label for='1367-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1367' id='1367-5' value='5'>
			<label for='1367-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1367' id='1367-6' value='6'>
			<label for='1367-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>191. I never said mean things to my parents. </legend>
			<input type='radio' name='51799' id='51799-1' value='1'>
			<label for='51799-1'>Very<br>Inaccurate</label>
			<input type='radio' name='51799' id='51799-2' value='2'>
			<label for='51799-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='51799' id='51799-3' value='3'>
			<label for='51799-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='51799' id='51799-4' value='4'>
			<label for='51799-4'>Slightly<br>Accurate</label>
			<input type='radio' name='51799' id='51799-5' value='5'>
			<label for='51799-5'>Moderately<br>Accurate</label>
			<input type='radio' name='51799' id='51799-6' value='6'>
			<label for='51799-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>192. Make rash decisions.</legend>
			<input type='radio' name='1424' id='1424-1' value='1'>
			<label for='1424-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1424' id='1424-2' value='2'>
			<label for='1424-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1424' id='1424-3' value='3'>
			<label for='1424-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1424' id='1424-4' value='4'>
			<label for='1424-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1424' id='1424-5' value='5'>
			<label for='1424-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1424' id='1424-6' value='6'>
			<label for='1424-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>193. Tend to vote for conservative political candidates.</legend>
			<input type='radio' name='1824' id='1824-1' value='1'>
			<label for='1824-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1824' id='1824-2' value='2'>
			<label for='1824-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1824' id='1824-3' value='3'>
			<label for='1824-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1824' id='1824-4' value='4'>
			<label for='1824-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1824' id='1824-5' value='5'>
			<label for='1824-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1824' id='1824-6' value='6'>
			<label for='1824-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>194. I do what other people tell me to do.</legend>
			<input type='radio' name='4064' id='4064-1' value='1'>
			<label for='4064-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4064' id='4064-2' value='2'>
			<label for='4064-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4064' id='4064-3' value='3'>
			<label for='4064-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4064' id='4064-4' value='4'>
			<label for='4064-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4064' id='4064-5' value='5'>
			<label for='4064-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4064' id='4064-6' value='6'>
			<label for='4064-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>195. Hang around doing nothing.</legend>
			<input type='radio' name='1024' id='1024-1' value='1'>
			<label for='1024-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1024' id='1024-2' value='2'>
			<label for='1024-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1024' id='1024-3' value='3'>
			<label for='1024-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1024' id='1024-4' value='4'>
			<label for='1024-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1024' id='1024-5' value='5'>
			<label for='1024-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1024' id='1024-6' value='6'>
			<label for='1024-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>196. I get irritated easily by all sorts of things.</legend>
			<input type='radio' name='4159' id='4159-1' value='1'>
			<label for='4159-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4159' id='4159-2' value='2'>
			<label for='4159-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4159' id='4159-3' value='3'>
			<label for='4159-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4159' id='4159-4' value='4'>
			<label for='4159-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4159' id='4159-5' value='5'>
			<label for='4159-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4159' id='4159-6' value='6'>
			<label for='4159-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>197. I get fixated on certain things and can't stop.</legend>
			<input type='radio' name='4101' id='4101-1' value='1'>
			<label for='4101-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4101' id='4101-2' value='2'>
			<label for='4101-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4101' id='4101-3' value='3'>
			<label for='4101-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4101' id='4101-4' value='4'>
			<label for='4101-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4101' id='4101-5' value='5'>
			<label for='4101-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4101' id='4101-6' value='6'>
			<label for='4101-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>198. Please indicate which is the best answer to complete the figure below.</legend>
		<img id='fig19036.svg' src='iq.figures/fig19036.svg'><br>
		<input type='radio' name='19036' id='19036-1' value='1'>
		<label for='19036-1'>1</label>
		<input type='radio' name='19036' id='19036-2' value='2'>
		<label for='19036-2'>2</label>
		<input type='radio' name='19036' id='19036-3' value='3'>
		<label for='19036-3'>3</label>
		<input type='radio' name='19036' id='19036-4' value='4'>
		<label for='19036-4'>4</label>
		<input type='radio' name='19036' id='19036-5' value='5'>
		<label for='19036-5'>5</label>
		<input type='radio' name='19036' id='19036-6' value='6'>
		<label for='19036-6'>6</label>
		<input type='radio' name='19036' id='19036-7' value='7'>
		<label for='19036-7'>7</label>
		<input type='radio' name='19036' id='19036-8' value='8'>
		<label for='19036-8'>8</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>199. Zach is taller than Matt and Richard is shorter than Zach. Which of the following statements would be most accurate?</legend>
			<input type='radio' name='12016' id='12016-1' value='1'>
			<label for='12016-1'>Richard is<br>taller than<br>Matt</label>
			<input type='radio' name='12016' id='12016-2' value='2'>
			<label for='12016-2'>Richard is<br>shorter than<br>Matt</label>
			<input type='radio' name='12016' id='12016-3' value='3'>
			<label for='12016-3'>Richard is<br>as tall as<br>Matt</label>
			<input type='radio' name='12016' id='12016-4' value='4'>
			<label for='12016-4'>It is<br>impossible<br>to tell</label>
			<input type='radio' name='12016' id='12016-5' value='5'>
			<label for='12016-5'>Richard is<br>taller than<br>Zach</label>
			<input type='radio' name='12016' id='12016-6' value='6'>
			<label for='12016-6'>Zach is<br>shorter than<br>Matt</label>
			<input type='radio' name='12016' id='12016-7' value='7'>
			<label for='12016-7'><br>None of<br>these</label>
			<input type='radio' name='12016' id='12016-8' value='8'>
			<label for='12016-8'><br>I don't<br>know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>200. Please indicate which is the best answer to complete the figure below.</legend>
		<img id='fig12050.jpg' src='iq.figures/fig12050.jpg' width='551' height='394'><br>
		<input type='radio' name='12050' id='12050-1' value='1'>
		<label for='12050-1'>A</label>
		<input type='radio' name='12050' id='12050-2' value='2'>
		<label for='12050-2'>B</label>
		<input type='radio' name='12050' id='12050-3' value='3'>
		<label for='12050-3'>C</label>
		<input type='radio' name='12050' id='12050-4' value='4'>
		<label for='12050-4'>D</label>
		<input type='radio' name='12050' id='12050-5' value='5'>
		<label for='12050-5'>E</label>
		<input type='radio' name='12050' id='12050-6' value='6'>
		<label for='12050-6'>F</label>
		<input type='radio' name='12050' id='12050-7' value='7'>
		<label for='12050-7'>None of these</label>
		<input type='radio' name='12050' id='12050-8' value='8'>
		<label for='12050-8'>I don't know</label>
	</fieldset>
</div> <!-- closes div class="10u offset-1u" -->
<div class="1u">
</div> <!-- closes div class="1u" -->
</div>  <!-- closes div class="row" -->
										<div class="row">

											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-stop" aria-disabled="false"><input type="submit" data-theme="stop" name="submitStop" value="Skip to last page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
											<div class="6u">
												<ul>
												<li>
												</li>
												</ul>
											</div>
											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-more" aria-disabled="false"><input type="submit" data-theme="more" id="submitGo" name="submitGo" value="Next page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
										</div>

</form><!-- closes form id="page10"  -->
								</div>  <!-- closes div class="5grid" -->
							</div>  <!-- closes div id="content" -->
						</div> <!-- closes div class="12u mobileUI-main-content" -->
					</div><!-- closes div id="row" -->
				</div> <!-- closes div class="5grid-layout" -->
			</div> <!-- closes div id="main-wrapper" -->

		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
				<footer id="footer" class="5grid-layout">
					<div class="row">
						<div class="12u">
							<div id="copyright">
							<center>
								&copy; Part of the Personality Project.	
							</center>
							</div>
						</div>
					</div>
				</footer>
			</div>
		<!-- End Footer Wrapper -->
	</body>
</html>
