<!DOCTYPE HTML>
<html>

	<head>
		<title>Free Personality Test | SAPA-Project | Items 226 to 250</title>
		<meta name="description" content="This is the last page with questions about your typical thoughts, feelings, and behaviors. Your responses to these questions will shape your free customized personality report, so be sure to respond honestly.  And don't skip too many items along the way!">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="keywords" content="" />

		<link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
		<link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16">
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
		<link rel="manifest" href="../manifest.json">
		<link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" href="../css/5grid/fonts.css" />
		<link rel="stylesheet" href="../css/5grid/jquery.mobile-1.3.0.css" />
		<script src="../css/5grid/jquery.js"></script>
		<script src="../css/5grid/jquery.mobile-1.3.0.min.js"></script>
		<script src="../css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none&amp;mobileUI_titleBarOverlaid=1&amp;mobileUI_titleBarHeight=60&amp;viewport_is1000px=1060&amp;mobileUI_openerWidth=80"></script>
		<noscript>
			<link rel="stylesheet" href="../css/5grid/core.css" />
			<link rel="stylesheet" href="../css/5grid/core-desktop.css" />
			<link rel="stylesheet" href="../css/5grid/core-1200px.css" />
			<link rel="stylesheet" href="../css/5grid/core-noscript.css" />
			<link rel="stylesheet" href="../css/style.css" />
			<link rel="stylesheet" href="../css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="../css/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="../css/ie7.css" /><![endif]-->
	</head>
	<body class="no-sidebar">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="5grid-layout">
					<div class="row">
						
							<!-- Header -->
								<header id="header">
										<h2>The SAPA Project</h2>
										<h3>a personality assessment collaboratory</h3>
								</header>

					</div>
				</div>
			</div>
		<!-- End Header Wrapper -->
		
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="5grid-layout">
					<div class="row">
						<div class="12u mobileUI-main-content">

							<!-- Content -->
								<div id="content">

									<div class="5grid">
										<div class="row">
											<div class="12u" style="margin-bottom: 0px;">

										<h3>Personality Questions</h3>
										
										<p class="smallish">You've responded to <strong>36 of the 225 items</strong> given so far.</p>

										<p class="smallish">Remember that <strong>your responses are anonymous</strong>.  Do your best to respond as accurately and honestly as possible.</p>

											</div> <!-- closes div class="12u" -->
										</div>  <!-- closes div class="row" -->
																		
										<div class="small">
										</div>

<form name="page12" id="page12" DefaultButton="submitGo" action="/survey/survey10.php" data-ajax="false" method="post" onsubmit="getTime();">  

<input type="hidden" id="page10Time" name="page10Time">

<script language='JavaScript'>
function getTime(){
var current = new Date();
var since = current.getTime();
var elapsetime = since/1000;
document.getElementById('page10Time').value = elapsetime;
}
</script>
<!-- Gets the time between 1/1/1970 12:00 am UTC and now in seconds. -->

<div class="row">
<div class="10u offset-1u">


	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>226. Can accept criticism without getting upset.</legend>
			<input type='radio' name='410' id='410-1' value='1'>
			<label for='410-1'>Very<br>Inaccurate</label>
			<input type='radio' name='410' id='410-2' value='2'>
			<label for='410-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='410' id='410-3' value='3'>
			<label for='410-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='410' id='410-4' value='4'>
			<label for='410-4'>Slightly<br>Accurate</label>
			<input type='radio' name='410' id='410-5' value='5'>
			<label for='410-5'>Moderately<br>Accurate</label>
			<input type='radio' name='410' id='410-6' value='6'>
			<label for='410-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>227. Find it difficult to approach others.</legend>
			<input type='radio' name='901' id='901-1' value='1'>
			<label for='901-1'>Very<br>Inaccurate</label>
			<input type='radio' name='901' id='901-2' value='2'>
			<label for='901-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='901' id='901-3' value='3'>
			<label for='901-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='901' id='901-4' value='4'>
			<label for='901-4'>Slightly<br>Accurate</label>
			<input type='radio' name='901' id='901-5' value='5'>
			<label for='901-5'>Moderately<br>Accurate</label>
			<input type='radio' name='901' id='901-6' value='6'>
			<label for='901-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>228. Believe that laws should be strictly enforced.</legend>
			<input type='radio' name='369' id='369-1' value='1'>
			<label for='369-1'>Very<br>Inaccurate</label>
			<input type='radio' name='369' id='369-2' value='2'>
			<label for='369-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='369' id='369-3' value='3'>
			<label for='369-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='369' id='369-4' value='4'>
			<label for='369-4'>Slightly<br>Accurate</label>
			<input type='radio' name='369' id='369-5' value='5'>
			<label for='369-5'>Moderately<br>Accurate</label>
			<input type='radio' name='369' id='369-6' value='6'>
			<label for='369-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>229. Get too tired to do anything.</legend>
			<input type='radio' name='993' id='993-1' value='1'>
			<label for='993-1'>Very<br>Inaccurate</label>
			<input type='radio' name='993' id='993-2' value='2'>
			<label for='993-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='993' id='993-3' value='3'>
			<label for='993-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='993' id='993-4' value='4'>
			<label for='993-4'>Slightly<br>Accurate</label>
			<input type='radio' name='993' id='993-5' value='5'>
			<label for='993-5'>Moderately<br>Accurate</label>
			<input type='radio' name='993' id='993-6' value='6'>
			<label for='993-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>230. Like to be thought of as a normal kind of person.</legend>
			<input type='radio' name='1300' id='1300-1' value='1'>
			<label for='1300-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1300' id='1300-2' value='2'>
			<label for='1300-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1300' id='1300-3' value='3'>
			<label for='1300-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1300' id='1300-4' value='4'>
			<label for='1300-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1300' id='1300-5' value='5'>
			<label for='1300-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1300' id='1300-6' value='6'>
			<label for='1300-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>231. Dislike myself.</legend>
			<input type='radio' name='578' id='578-1' value='1'>
			<label for='578-1'>Very<br>Inaccurate</label>
			<input type='radio' name='578' id='578-2' value='2'>
			<label for='578-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='578' id='578-3' value='3'>
			<label for='578-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='578' id='578-4' value='4'>
			<label for='578-4'>Slightly<br>Accurate</label>
			<input type='radio' name='578' id='578-5' value='5'>
			<label for='578-5'>Moderately<br>Accurate</label>
			<input type='radio' name='578' id='578-6' value='6'>
			<label for='578-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>232. Used instant messaging to chat online.</legend>
			<input type='radio' name='3478' id='3478-1' value='1'>
			<label for='3478-1'>Never in<br>my life</label>
			<input type='radio' name='3478' id='3478-2' value='2'>
			<label for='3478-2'>Not in the<br>past year</label>
			<input type='radio' name='3478' id='3478-3' value='3'>
			<label for='3478-3'>< 3 times<br>in past year</label>
			<input type='radio' name='3478' id='3478-4' value='4'>
			<label for='3478-4'>3-10 times<br>in past year</label>
			<input type='radio' name='3478' id='3478-5' value='5'>
			<label for='3478-5'>10-20 times<br>in past year</label>
			<input type='radio' name='3478' id='3478-6' value='6'>
			<label for='3478-6'>> 20 times<br>in past year</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>233. Laugh a lot.</legend>
			<input type='radio' name='1243' id='1243-1' value='1'>
			<label for='1243-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1243' id='1243-2' value='2'>
			<label for='1243-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1243' id='1243-3' value='3'>
			<label for='1243-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1243' id='1243-4' value='4'>
			<label for='1243-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1243' id='1243-5' value='5'>
			<label for='1243-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1243' id='1243-6' value='6'>
			<label for='1243-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>234. Express myself easily.</legend>
			<input type='radio' name='803' id='803-1' value='1'>
			<label for='803-1'>Very<br>Inaccurate</label>
			<input type='radio' name='803' id='803-2' value='2'>
			<label for='803-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='803' id='803-3' value='3'>
			<label for='803-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='803' id='803-4' value='4'>
			<label for='803-4'>Slightly<br>Accurate</label>
			<input type='radio' name='803' id='803-5' value='5'>
			<label for='803-5'>Moderately<br>Accurate</label>
			<input type='radio' name='803' id='803-6' value='6'>
			<label for='803-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>235. I would like to be a fighter pilot.</legend>
			<input type='radio' name='5593' id='5593-1' value='1'>
			<label for='5593-1'>Very<br>Inaccurate</label>
			<input type='radio' name='5593' id='5593-2' value='2'>
			<label for='5593-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='5593' id='5593-3' value='3'>
			<label for='5593-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='5593' id='5593-4' value='4'>
			<label for='5593-4'>Slightly<br>Accurate</label>
			<input type='radio' name='5593' id='5593-5' value='5'>
			<label for='5593-5'>Moderately<br>Accurate</label>
			<input type='radio' name='5593' id='5593-6' value='6'>
			<label for='5593-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>236. Easily resist temptations.</legend>
			<input type='radio' name='736' id='736-1' value='1'>
			<label for='736-1'>Very<br>Inaccurate</label>
			<input type='radio' name='736' id='736-2' value='2'>
			<label for='736-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='736' id='736-3' value='3'>
			<label for='736-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='736' id='736-4' value='4'>
			<label for='736-4'>Slightly<br>Accurate</label>
			<input type='radio' name='736' id='736-5' value='5'>
			<label for='736-5'>Moderately<br>Accurate</label>
			<input type='radio' name='736' id='736-6' value='6'>
			<label for='736-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>237. Believe in the importance of art.</legend>
			<input type='radio' name='348' id='348-1' value='1'>
			<label for='348-1'>Very<br>Inaccurate</label>
			<input type='radio' name='348' id='348-2' value='2'>
			<label for='348-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='348' id='348-3' value='3'>
			<label for='348-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='348' id='348-4' value='4'>
			<label for='348-4'>Slightly<br>Accurate</label>
			<input type='radio' name='348' id='348-5' value='5'>
			<label for='348-5'>Moderately<br>Accurate</label>
			<input type='radio' name='348' id='348-6' value='6'>
			<label for='348-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>238. Waste my time.</legend>
			<input type='radio' name='1949' id='1949-1' value='1'>
			<label for='1949-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1949' id='1949-2' value='2'>
			<label for='1949-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1949' id='1949-3' value='3'>
			<label for='1949-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1949' id='1949-4' value='4'>
			<label for='1949-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1949' id='1949-5' value='5'>
			<label for='1949-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1949' id='1949-6' value='6'>
			<label for='1949-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>239. Don't like the idea of change.</legend>
			<input type='radio' name='689' id='689-1' value='1'>
			<label for='689-1'>Very<br>Inaccurate</label>
			<input type='radio' name='689' id='689-2' value='2'>
			<label for='689-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='689' id='689-3' value='3'>
			<label for='689-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='689' id='689-4' value='4'>
			<label for='689-4'>Slightly<br>Accurate</label>
			<input type='radio' name='689' id='689-5' value='5'>
			<label for='689-5'>Moderately<br>Accurate</label>
			<input type='radio' name='689' id='689-6' value='6'>
			<label for='689-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>240. Take risks.</legend>
			<input type='radio' name='1781' id='1781-1' value='1'>
			<label for='1781-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1781' id='1781-2' value='2'>
			<label for='1781-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1781' id='1781-3' value='3'>
			<label for='1781-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1781' id='1781-4' value='4'>
			<label for='1781-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1781' id='1781-5' value='5'>
			<label for='1781-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1781' id='1781-6' value='6'>
			<label for='1781-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>241. I enjoy having a clear and structured mode of life.</legend>
			<input type='radio' name='5348' id='5348-1' value='1'>
			<label for='5348-1'>Very<br>Inaccurate</label>
			<input type='radio' name='5348' id='5348-2' value='2'>
			<label for='5348-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='5348' id='5348-3' value='3'>
			<label for='5348-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='5348' id='5348-4' value='4'>
			<label for='5348-4'>Slightly<br>Accurate</label>
			<input type='radio' name='5348' id='5348-5' value='5'>
			<label for='5348-5'>Moderately<br>Accurate</label>
			<input type='radio' name='5348' id='5348-6' value='6'>
			<label for='5348-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>242. Often make decisions on the spur of the moment.</legend>
			<input type='radio' name='4276' id='4276-1' value='1'>
			<label for='4276-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4276' id='4276-2' value='2'>
			<label for='4276-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4276' id='4276-3' value='3'>
			<label for='4276-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4276' id='4276-4' value='4'>
			<label for='4276-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4276' id='4276-5' value='5'>
			<label for='4276-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4276' id='4276-6' value='6'>
			<label for='4276-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>243. Like to stand during the national anthem.</legend>
			<input type='radio' name='1328' id='1328-1' value='1'>
			<label for='1328-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1328' id='1328-2' value='2'>
			<label for='1328-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1328' id='1328-3' value='3'>
			<label for='1328-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1328' id='1328-4' value='4'>
			<label for='1328-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1328' id='1328-5' value='5'>
			<label for='1328-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1328' id='1328-6' value='6'>
			<label for='1328-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>244. On the whole, I'm able to deal with stress.</legend>
			<input type='radio' name='3286' id='3286-1' value='1'>
			<label for='3286-1'>Very<br>Inaccurate</label>
			<input type='radio' name='3286' id='3286-2' value='2'>
			<label for='3286-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='3286' id='3286-3' value='3'>
			<label for='3286-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='3286' id='3286-4' value='4'>
			<label for='3286-4'>Slightly<br>Accurate</label>
			<input type='radio' name='3286' id='3286-5' value='5'>
			<label for='3286-5'>Moderately<br>Accurate</label>
			<input type='radio' name='3286' id='3286-6' value='6'>
			<label for='3286-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>245. Like a leisurely lifestyle.</legend>
			<input type='radio' name='1281' id='1281-1' value='1'>
			<label for='1281-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1281' id='1281-2' value='2'>
			<label for='1281-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1281' id='1281-3' value='3'>
			<label for='1281-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1281' id='1281-4' value='4'>
			<label for='1281-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1281' id='1281-5' value='5'>
			<label for='1281-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1281' id='1281-6' value='6'>
			<label for='1281-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>246. Am a large-sized person.</legend>
			<input type='radio' name='50' id='50-1' value='1'>
			<label for='50-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50' id='50-2' value='2'>
			<label for='50-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50' id='50-3' value='3'>
			<label for='50-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50' id='50-4' value='4'>
			<label for='50-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50' id='50-5' value='5'>
			<label for='50-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50' id='50-6' value='6'>
			<label for='50-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>247. Policemen like to bully people.</legend>
			<input type='radio' name='5150' id='5150-1' value='1'>
			<label for='5150-1'>Very<br>Inaccurate</label>
			<input type='radio' name='5150' id='5150-2' value='2'>
			<label for='5150-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='5150' id='5150-3' value='3'>
			<label for='5150-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='5150' id='5150-4' value='4'>
			<label for='5150-4'>Slightly<br>Accurate</label>
			<input type='radio' name='5150' id='5150-5' value='5'>
			<label for='5150-5'>Moderately<br>Accurate</label>
			<input type='radio' name='5150' id='5150-6' value='6'>
			<label for='5150-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>248. In the following alphanumeric series, what letter comes next? Z, W, X, U, V, ...</legend>
			<input type='radio' name='12035' id='12035-1' value='1'>
			<label for='12035-1'> R</label>
			<input type='radio' name='12035' id='12035-2' value='2'>
			<label for='12035-2'> S</label>
			<input type='radio' name='12035' id='12035-3' value='3'>
			<label for='12035-3'> T</label>
			<input type='radio' name='12035' id='12035-4' value='4'>
			<label for='12035-4'> U</label>
			<input type='radio' name='12035' id='12035-5' value='5'>
			<label for='12035-5'> V</label>
			<input type='radio' name='12035' id='12035-6' value='6'>
			<label for='12035-6'> W</label>
			<input type='radio' name='12035' id='12035-7' value='7'>
			<label for='12035-7'>None of these</label>
			<input type='radio' name='12035' id='12035-8' value='8'>
			<label for='12035-8'>I don't know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>249. Please select the response that matches the image most accurately.</legend>
		<img id='fig13063.jpg' src='iq.figures/fig13063.jpg' width='200' height='280' style='display: block; margin-left: auto; margin-right: auto;'><br>
		<input type='radio' name='13063' id='13063-1' value='1'>
		<label for='13063-1'>anger</label>
		<input type='radio' name='13063' id='13063-2' value='2'>
		<label for='13063-2'>disgust</label>
		<input type='radio' name='13063' id='13063-3' value='3'>
		<label for='13063-3'>fear</label>
		<input type='radio' name='13063' id='13063-4' value='4'>
		<label for='13063-4'>happiness</label>
		<input type='radio' name='13063' id='13063-5' value='5'>
		<label for='13063-5'>neutral</label>
		<input type='radio' name='13063' id='13063-6' value='6'>
		<label for='13063-6'>sadness</label>
		<input type='radio' name='13063' id='13063-7' value='7'>
		<label for='13063-7'>surprise</label>
		<input type='radio' name='13063' id='13063-8' value='8'>
		<label for='13063-8'>I don't know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>250. In the following alphanumeric series, what number comes next? 71, 65, 72, 66, 73, 67, …</legend>
			<input type='radio' name='12106' id='12106-1' value='1'>
			<label for='12106-1'>70</label>
			<input type='radio' name='12106' id='12106-2' value='2'>
			<label for='12106-2'>73</label>
			<input type='radio' name='12106' id='12106-3' value='3'>
			<label for='12106-3'>74</label>
			<input type='radio' name='12106' id='12106-4' value='4'>
			<label for='12106-4'>68</label>
			<input type='radio' name='12106' id='12106-5' value='5'>
			<label for='12106-5'>69</label>
			<input type='radio' name='12106' id='12106-6' value='6'>
			<label for='12106-6'>62</label>
			<input type='radio' name='12106' id='12106-7' value='7'>
			<label for='12106-7'>None of these</label>
			<input type='radio' name='12106' id='12106-8' value='8'>
			<label for='12106-8'>I don't know</label>
	</fieldset>
</div> <!-- closes div class="10u offset-1u" -->
<div class="1u">
</div> <!-- closes div class="1u" -->
</div>  <!-- closes div class="row" -->
										<div class="row">

											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-stop" aria-disabled="false"><input type="submit" data-theme="stop" name="submitStop" value="Skip to last page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
											<div class="6u">
												<ul>
												<li>
												</li>
												</ul>
											</div>
											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-more" aria-disabled="false"><input type="submit" data-theme="more" id="submitGo" name="submitGo" value="Next page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
										</div>

</form><!-- closes form id="page12"  -->
								</div>  <!-- closes div class="5grid" -->
							</div>  <!-- closes div id="content" -->
						</div> <!-- closes div class="12u mobileUI-main-content" -->
					</div><!-- closes div id="row" -->
				</div> <!-- closes div class="5grid-layout" -->
			</div> <!-- closes div id="main-wrapper" -->

		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
				<footer id="footer" class="5grid-layout">
					<div class="row">
						<div class="12u">
							<div id="copyright">
							<center>
								&copy; Part of the Personality Project.	
							</center>
							</div>
						</div>
					</div>
				</footer>
			</div>
		<!-- End Footer Wrapper -->
	</body>
</html>
