<!DOCTYPE HTML>
<html>

	<head>
		<title>Free Personality Test | SAPA-Project | Items 176 to 200</title>
		<meta name="description" content="This is the eighth of several pages where we ask about your typical thoughts, feelings, and behaviors. Your responses to these questions will shape your free customized personality report, so be sure to respond honestly.  And don't skip too many items along the way!">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="keywords" content="" />

		<link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
		<link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16">
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
		<link rel="manifest" href="../manifest.json">
		<link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" href="../css/5grid/fonts.css" />
		<link rel="stylesheet" href="../css/5grid/jquery.mobile-1.3.0.css" />
		<script src="../css/5grid/jquery.js"></script>
		<script src="../css/5grid/jquery.mobile-1.3.0.min.js"></script>
		<script src="../css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none&amp;mobileUI_titleBarOverlaid=1&amp;mobileUI_titleBarHeight=60&amp;viewport_is1000px=1060&amp;mobileUI_openerWidth=80"></script>
		<noscript>
			<link rel="stylesheet" href="../css/5grid/core.css" />
			<link rel="stylesheet" href="../css/5grid/core-desktop.css" />
			<link rel="stylesheet" href="../css/5grid/core-1200px.css" />
			<link rel="stylesheet" href="../css/5grid/core-noscript.css" />
			<link rel="stylesheet" href="../css/style.css" />
			<link rel="stylesheet" href="../css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="../css/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="../css/ie7.css" /><![endif]-->
	</head>
	<body class="no-sidebar">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="5grid-layout">
					<div class="row">
						
							<!-- Header -->
								<header id="header">
										<h2>The SAPA Project</h2>
										<h3>a personality assessment collaboratory</h3>
								</header>

					</div>
				</div>
			</div>
		<!-- End Header Wrapper -->
		
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="5grid-layout">
					<div class="row">
						<div class="12u mobileUI-main-content">

							<!-- Content -->
								<div id="content">

									<div class="5grid">
										<div class="row">
											<div class="12u" style="margin-bottom: 0px;">

										<h3>Personality Questions</h3>
										
										<p class="smallish">You've responded to <strong>26 of the 175 items</strong> given so far.</p>

										<p class="smallish">Remember that <strong>your responses are anonymous</strong>.  Do your best to respond as accurately and honestly as possible.</p>

											</div> <!-- closes div class="12u" -->
										</div>  <!-- closes div class="row" -->
																		
										<div class="small">
										</div>

<form name="page10" id="page10" DefaultButton="submitGo" action="/survey/survey8.php" data-ajax="false" method="post" onsubmit="getTime();">  

<input type="hidden" id="page8Time" name="page8Time">

<script language='JavaScript'>
function getTime(){
var current = new Date();
var since = current.getTime();
var elapsetime = since/1000;
document.getElementById('page8Time').value = elapsetime;
}
</script>
<!-- Gets the time between 1/1/1970 12:00 am UTC and now in seconds. -->

<div class="row">
<div class="10u offset-1u">


	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>176. I don't enjoy gambling for real money.</legend>
			<input type='radio' name='3995' id='3995-1' value='1'>
			<label for='3995-1'>Very<br>Inaccurate</label>
			<input type='radio' name='3995' id='3995-2' value='2'>
			<label for='3995-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='3995' id='3995-3' value='3'>
			<label for='3995-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='3995' id='3995-4' value='4'>
			<label for='3995-4'>Slightly<br>Accurate</label>
			<input type='radio' name='3995' id='3995-5' value='5'>
			<label for='3995-5'>Moderately<br>Accurate</label>
			<input type='radio' name='3995' id='3995-6' value='6'>
			<label for='3995-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>177. Have a natural talent for influencing people.</legend>
			<input type='radio' name='1045' id='1045-1' value='1'>
			<label for='1045-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1045' id='1045-2' value='2'>
			<label for='1045-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1045' id='1045-3' value='3'>
			<label for='1045-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1045' id='1045-4' value='4'>
			<label for='1045-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1045' id='1045-5' value='5'>
			<label for='1045-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1045' id='1045-6' value='6'>
			<label for='1045-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>178. Believe that we should be tough on crime.</legend>
			<input type='radio' name='398' id='398-1' value='1'>
			<label for='398-1'>Very<br>Inaccurate</label>
			<input type='radio' name='398' id='398-2' value='2'>
			<label for='398-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='398' id='398-3' value='3'>
			<label for='398-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='398' id='398-4' value='4'>
			<label for='398-4'>Slightly<br>Accurate</label>
			<input type='radio' name='398' id='398-5' value='5'>
			<label for='398-5'>Moderately<br>Accurate</label>
			<input type='radio' name='398' id='398-6' value='6'>
			<label for='398-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>179. I often have to deal with people who are less important than me.</legend>
			<input type='radio' name='4198' id='4198-1' value='1'>
			<label for='4198-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4198' id='4198-2' value='2'>
			<label for='4198-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4198' id='4198-3' value='3'>
			<label for='4198-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4198' id='4198-4' value='4'>
			<label for='4198-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4198' id='4198-5' value='5'>
			<label for='4198-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4198' id='4198-6' value='6'>
			<label for='4198-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>180. See myself as an average person.</legend>
			<input type='radio' name='1653' id='1653-1' value='1'>
			<label for='1653-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1653' id='1653-2' value='2'>
			<label for='1653-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1653' id='1653-3' value='3'>
			<label for='1653-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1653' id='1653-4' value='4'>
			<label for='1653-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1653' id='1653-5' value='5'>
			<label for='1653-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1653' id='1653-6' value='6'>
			<label for='1653-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>181. Feel comfortable with myself.</legend>
			<input type='radio' name='820' id='820-1' value='1'>
			<label for='820-1'>Very<br>Inaccurate</label>
			<input type='radio' name='820' id='820-2' value='2'>
			<label for='820-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='820' id='820-3' value='3'>
			<label for='820-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='820' id='820-4' value='4'>
			<label for='820-4'>Slightly<br>Accurate</label>
			<input type='radio' name='820' id='820-5' value='5'>
			<label for='820-5'>Moderately<br>Accurate</label>
			<input type='radio' name='820' id='820-6' value='6'>
			<label for='820-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>182. I steer clear of romantic relationships.</legend>
			<input type='radio' name='4146' id='4146-1' value='1'>
			<label for='4146-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4146' id='4146-2' value='2'>
			<label for='4146-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4146' id='4146-3' value='3'>
			<label for='4146-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4146' id='4146-4' value='4'>
			<label for='4146-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4146' id='4146-5' value='5'>
			<label for='4146-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4146' id='4146-6' value='6'>
			<label for='4146-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>183. Laugh aloud.</legend>
			<input type='radio' name='1244' id='1244-1' value='1'>
			<label for='1244-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1244' id='1244-2' value='2'>
			<label for='1244-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1244' id='1244-3' value='3'>
			<label for='1244-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1244' id='1244-4' value='4'>
			<label for='1244-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1244' id='1244-5' value='5'>
			<label for='1244-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1244' id='1244-6' value='6'>
			<label for='1244-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>184. Express myself easily.</legend>
			<input type='radio' name='803' id='803-1' value='1'>
			<label for='803-1'>Very<br>Inaccurate</label>
			<input type='radio' name='803' id='803-2' value='2'>
			<label for='803-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='803' id='803-3' value='3'>
			<label for='803-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='803' id='803-4' value='4'>
			<label for='803-4'>Slightly<br>Accurate</label>
			<input type='radio' name='803' id='803-5' value='5'>
			<label for='803-5'>Moderately<br>Accurate</label>
			<input type='radio' name='803' id='803-6' value='6'>
			<label for='803-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>185. It's not wise to tell your secrets.</legend>
			<input type='radio' name='50529' id='50529-1' value='1'>
			<label for='50529-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50529' id='50529-2' value='2'>
			<label for='50529-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50529' id='50529-3' value='3'>
			<label for='50529-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50529' id='50529-4' value='4'>
			<label for='50529-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50529' id='50529-5' value='5'>
			<label for='50529-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50529' id='50529-6' value='6'>
			<label for='50529-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>186. Never spend more than I can afford.</legend>
			<input type='radio' name='1461' id='1461-1' value='1'>
			<label for='1461-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1461' id='1461-2' value='2'>
			<label for='1461-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1461' id='1461-3' value='3'>
			<label for='1461-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1461' id='1461-4' value='4'>
			<label for='1461-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1461' id='1461-5' value='5'>
			<label for='1461-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1461' id='1461-6' value='6'>
			<label for='1461-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>187. Have read the great literary classics.</legend>
			<input type='radio' name='1132' id='1132-1' value='1'>
			<label for='1132-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1132' id='1132-2' value='2'>
			<label for='1132-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1132' id='1132-3' value='3'>
			<label for='1132-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1132' id='1132-4' value='4'>
			<label for='1132-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1132' id='1132-5' value='5'>
			<label for='1132-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1132' id='1132-6' value='6'>
			<label for='1132-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>188. When making fun of someone, it is especially amusing if they realize what I'm doing.</legend>
			<input type='radio' name='51781' id='51781-1' value='1'>
			<label for='51781-1'>Very<br>Inaccurate</label>
			<input type='radio' name='51781' id='51781-2' value='2'>
			<label for='51781-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='51781' id='51781-3' value='3'>
			<label for='51781-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='51781' id='51781-4' value='4'>
			<label for='51781-4'>Slightly<br>Accurate</label>
			<input type='radio' name='51781' id='51781-5' value='5'>
			<label for='51781-5'>Moderately<br>Accurate</label>
			<input type='radio' name='51781' id='51781-6' value='6'>
			<label for='51781-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>189. Dislike changes.</legend>
			<input type='radio' name='566' id='566-1' value='1'>
			<label for='566-1'>Very<br>Inaccurate</label>
			<input type='radio' name='566' id='566-2' value='2'>
			<label for='566-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='566' id='566-3' value='3'>
			<label for='566-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='566' id='566-4' value='4'>
			<label for='566-4'>Slightly<br>Accurate</label>
			<input type='radio' name='566' id='566-5' value='5'>
			<label for='566-5'>Moderately<br>Accurate</label>
			<input type='radio' name='566' id='566-6' value='6'>
			<label for='566-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>190. Do crazy things.</legend>
			<input type='radio' name='598' id='598-1' value='1'>
			<label for='598-1'>Very<br>Inaccurate</label>
			<input type='radio' name='598' id='598-2' value='2'>
			<label for='598-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='598' id='598-3' value='3'>
			<label for='598-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='598' id='598-4' value='4'>
			<label for='598-4'>Slightly<br>Accurate</label>
			<input type='radio' name='598' id='598-5' value='5'>
			<label for='598-5'>Moderately<br>Accurate</label>
			<input type='radio' name='598' id='598-6' value='6'>
			<label for='598-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>191. I'm good at making people do what I want them to do.</legend>
			<input type='radio' name='4108' id='4108-1' value='1'>
			<label for='4108-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4108' id='4108-2' value='2'>
			<label for='4108-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4108' id='4108-3' value='3'>
			<label for='4108-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4108' id='4108-4' value='4'>
			<label for='4108-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4108' id='4108-5' value='5'>
			<label for='4108-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4108' id='4108-6' value='6'>
			<label for='4108-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>192. Often make decisions on the spur of the moment.</legend>
			<input type='radio' name='4276' id='4276-1' value='1'>
			<label for='4276-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4276' id='4276-2' value='2'>
			<label for='4276-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4276' id='4276-3' value='3'>
			<label for='4276-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4276' id='4276-4' value='4'>
			<label for='4276-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4276' id='4276-5' value='5'>
			<label for='4276-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4276' id='4276-6' value='6'>
			<label for='4276-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>193. Tend to vote for liberal political candidates.</legend>
			<input type='radio' name='1825' id='1825-1' value='1'>
			<label for='1825-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1825' id='1825-2' value='2'>
			<label for='1825-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1825' id='1825-3' value='3'>
			<label for='1825-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1825' id='1825-4' value='4'>
			<label for='1825-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1825' id='1825-5' value='5'>
			<label for='1825-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1825' id='1825-6' value='6'>
			<label for='1825-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>194. It is hard for me to shift from one activity to another.</legend>
			<input type='radio' name='4079' id='4079-1' value='1'>
			<label for='4079-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4079' id='4079-2' value='2'>
			<label for='4079-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4079' id='4079-3' value='3'>
			<label for='4079-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4079' id='4079-4' value='4'>
			<label for='4079-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4079' id='4079-5' value='5'>
			<label for='4079-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4079' id='4079-6' value='6'>
			<label for='4079-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>195. Let things proceed at their own pace.</legend>
			<input type='radio' name='1280' id='1280-1' value='1'>
			<label for='1280-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1280' id='1280-2' value='2'>
			<label for='1280-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1280' id='1280-3' value='3'>
			<label for='1280-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1280' id='1280-4' value='4'>
			<label for='1280-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1280' id='1280-5' value='5'>
			<label for='1280-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1280' id='1280-6' value='6'>
			<label for='1280-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>196. I can't concentrate on anything.</legend>
			<input type='radio' name='4030' id='4030-1' value='1'>
			<label for='4030-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4030' id='4030-2' value='2'>
			<label for='4030-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4030' id='4030-3' value='3'>
			<label for='4030-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4030' id='4030-4' value='4'>
			<label for='4030-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4030' id='4030-5' value='5'>
			<label for='4030-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4030' id='4030-6' value='6'>
			<label for='4030-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>197. I like to get revenge on authorities.</legend>
			<input type='radio' name='50547' id='50547-1' value='1'>
			<label for='50547-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50547' id='50547-2' value='2'>
			<label for='50547-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50547' id='50547-3' value='3'>
			<label for='50547-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50547' id='50547-4' value='4'>
			<label for='50547-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50547' id='50547-5' value='5'>
			<label for='50547-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50547' id='50547-6' value='6'>
			<label for='50547-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>198. Please indicate which is the best answer to complete the figure below.</legend>
		<img id='fig19055.svg' src='iq.figures/fig19055.svg'><br>
		<input type='radio' name='19055' id='19055-1' value='1'>
		<label for='19055-1'>1</label>
		<input type='radio' name='19055' id='19055-2' value='2'>
		<label for='19055-2'>2</label>
		<input type='radio' name='19055' id='19055-3' value='3'>
		<label for='19055-3'>3</label>
		<input type='radio' name='19055' id='19055-4' value='4'>
		<label for='19055-4'>4</label>
		<input type='radio' name='19055' id='19055-5' value='5'>
		<label for='19055-5'>5</label>
		<input type='radio' name='19055' id='19055-6' value='6'>
		<label for='19055-6'>6</label>
		<input type='radio' name='19055' id='19055-7' value='7'>
		<label for='19055-7'>7</label>
		<input type='radio' name='19055' id='19055-8' value='8'>
		<label for='19055-8'>8</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>199. The opposite of a "stubborn" person is a "_____" person. </legend>
			<input type='radio' name='12011' id='12011-1' value='1'>
			<label for='12011-1'> Flexible</label>
			<input type='radio' name='12011' id='12011-2' value='2'>
			<label for='12011-2'> Passionate</label>
			<input type='radio' name='12011' id='12011-3' value='3'>
			<label for='12011-3'> Mediocre</label>
			<input type='radio' name='12011' id='12011-4' value='4'>
			<label for='12011-4'> Reserved</label>
			<input type='radio' name='12011' id='12011-5' value='5'>
			<label for='12011-5'> Pigheaded</label>
			<input type='radio' name='12011' id='12011-6' value='6'>
			<label for='12011-6'> Persistent</label>
			<input type='radio' name='12011' id='12011-7' value='7'>
			<label for='12011-7'>None of these</label>
			<input type='radio' name='12011' id='12011-8' value='8'>
			<label for='12011-8'>I don't know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>200. Please indicate which is the best answer to complete the figure below.</legend>
		<img id='fig12050.jpg' src='iq.figures/fig12050.jpg' width='551' height='394'><br>
		<input type='radio' name='12050' id='12050-1' value='1'>
		<label for='12050-1'>A</label>
		<input type='radio' name='12050' id='12050-2' value='2'>
		<label for='12050-2'>B</label>
		<input type='radio' name='12050' id='12050-3' value='3'>
		<label for='12050-3'>C</label>
		<input type='radio' name='12050' id='12050-4' value='4'>
		<label for='12050-4'>D</label>
		<input type='radio' name='12050' id='12050-5' value='5'>
		<label for='12050-5'>E</label>
		<input type='radio' name='12050' id='12050-6' value='6'>
		<label for='12050-6'>F</label>
		<input type='radio' name='12050' id='12050-7' value='7'>
		<label for='12050-7'>None of these</label>
		<input type='radio' name='12050' id='12050-8' value='8'>
		<label for='12050-8'>I don't know</label>
	</fieldset>
</div> <!-- closes div class="10u offset-1u" -->
<div class="1u">
</div> <!-- closes div class="1u" -->
</div>  <!-- closes div class="row" -->
										<div class="row">

											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-stop" aria-disabled="false"><input type="submit" data-theme="stop" name="submitStop" value="Skip to last page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
											<div class="6u">
												<ul>
												<li>
												</li>
												</ul>
											</div>
											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-more" aria-disabled="false"><input type="submit" data-theme="more" id="submitGo" name="submitGo" value="Next page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
										</div>

</form><!-- closes form id="page10"  -->
								</div>  <!-- closes div class="5grid" -->
							</div>  <!-- closes div id="content" -->
						</div> <!-- closes div class="12u mobileUI-main-content" -->
					</div><!-- closes div id="row" -->
				</div> <!-- closes div class="5grid-layout" -->
			</div> <!-- closes div id="main-wrapper" -->

		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
				<footer id="footer" class="5grid-layout">
					<div class="row">
						<div class="12u">
							<div id="copyright">
							<center>
								&copy; Part of the Personality Project.	
							</center>
							</div>
						</div>
					</div>
				</footer>
			</div>
		<!-- End Footer Wrapper -->
	</body>
</html>
