<!DOCTYPE HTML>
<html>

	<head>
		<title>Free Personality Test | SAPA-Project | Items 126 to 150</title>
		<meta name="description" content="This is the sixth of several pages where we ask about your typical thoughts, feelings, and behaviors. Your responses to these questions will shape your free customized personality report, so be sure to respond honestly.  And don't skip too many items along the way!">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="keywords" content="" />

		<link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
		<link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16">
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
		<link rel="manifest" href="../manifest.json">
		<link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" href="../css/5grid/fonts.css" />
		<link rel="stylesheet" href="../css/5grid/jquery.mobile-1.3.0.css" />
		<script src="../css/5grid/jquery.js"></script>
		<script src="../css/5grid/jquery.mobile-1.3.0.min.js"></script>
		<script src="../css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none&amp;mobileUI_titleBarOverlaid=1&amp;mobileUI_titleBarHeight=60&amp;viewport_is1000px=1060&amp;mobileUI_openerWidth=80"></script>
		<noscript>
			<link rel="stylesheet" href="../css/5grid/core.css" />
			<link rel="stylesheet" href="../css/5grid/core-desktop.css" />
			<link rel="stylesheet" href="../css/5grid/core-1200px.css" />
			<link rel="stylesheet" href="../css/5grid/core-noscript.css" />
			<link rel="stylesheet" href="../css/style.css" />
			<link rel="stylesheet" href="../css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="../css/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="../css/ie7.css" /><![endif]-->
	</head>
	<body class="no-sidebar">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="5grid-layout">
					<div class="row">
						
							<!-- Header -->
								<header id="header">
										<h2>The SAPA Project</h2>
										<h3>a personality assessment collaboratory</h3>
								</header>

					</div>
				</div>
			</div>
		<!-- End Header Wrapper -->
		
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="5grid-layout">
					<div class="row">
						<div class="12u mobileUI-main-content">

							<!-- Content -->
								<div id="content">

									<div class="5grid">
										<div class="row">
											<div class="12u" style="margin-bottom: 0px;">

										<h3>Personality Questions</h3>
										
										<p class="smallish">You've responded to <strong>20 of the 125 items</strong> given so far.</p>

										<p class="smallish">Remember that <strong>your responses are anonymous</strong>.  Do your best to respond as accurately and honestly as possible.</p>

											</div> <!-- closes div class="12u" -->
										</div>  <!-- closes div class="row" -->
																		
										<div class="small">
										</div>

<form name="page8" id="page8" DefaultButton="submitGo" action="/survey/survey6.php" data-ajax="false" method="post" onsubmit="getTime();">  

<input type="hidden" id="page6Time" name="page6Time">

<script language='JavaScript'>
function getTime(){
var current = new Date();
var since = current.getTime();
var elapsetime = since/1000;
document.getElementById('page6Time').value = elapsetime;
}
</script>
<!-- Gets the time between 1/1/1970 12:00 am UTC and now in seconds. -->

<div class="row">
<div class="10u offset-1u">


	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>126. I keep at my schoolwork until I am done with it.</legend>
			<input type='radio' name='5928' id='5928-1' value='1'>
			<label for='5928-1'>Very<br>Inaccurate</label>
			<input type='radio' name='5928' id='5928-2' value='2'>
			<label for='5928-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='5928' id='5928-3' value='3'>
			<label for='5928-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='5928' id='5928-4' value='4'>
			<label for='5928-4'>Slightly<br>Accurate</label>
			<input type='radio' name='5928' id='5928-5' value='5'>
			<label for='5928-5'>Moderately<br>Accurate</label>
			<input type='radio' name='5928' id='5928-6' value='6'>
			<label for='5928-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>127. Am skilled in handling social situations.</legend>
			<input type='radio' name='254' id='254-1' value='1'>
			<label for='254-1'>Very<br>Inaccurate</label>
			<input type='radio' name='254' id='254-2' value='2'>
			<label for='254-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='254' id='254-3' value='3'>
			<label for='254-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='254' id='254-4' value='4'>
			<label for='254-4'>Slightly<br>Accurate</label>
			<input type='radio' name='254' id='254-5' value='5'>
			<label for='254-5'>Moderately<br>Accurate</label>
			<input type='radio' name='254' id='254-6' value='6'>
			<label for='254-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>128. Respect authority.</legend>
			<input type='radio' name='1624' id='1624-1' value='1'>
			<label for='1624-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1624' id='1624-2' value='2'>
			<label for='1624-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1624' id='1624-3' value='3'>
			<label for='1624-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1624' id='1624-4' value='4'>
			<label for='1624-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1624' id='1624-5' value='5'>
			<label for='1624-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1624' id='1624-6' value='6'>
			<label for='1624-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>129. Don't know why I do some of the things I do.</legend>
			<input type='radio' name='673' id='673-1' value='1'>
			<label for='673-1'>Very<br>Inaccurate</label>
			<input type='radio' name='673' id='673-2' value='2'>
			<label for='673-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='673' id='673-3' value='3'>
			<label for='673-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='673' id='673-4' value='4'>
			<label for='673-4'>Slightly<br>Accurate</label>
			<input type='radio' name='673' id='673-5' value='5'>
			<label for='673-5'>Moderately<br>Accurate</label>
			<input type='radio' name='673' id='673-6' value='6'>
			<label for='673-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>130. Enjoy being thought of as a normal "mainstream" person.</legend>
			<input type='radio' name='747' id='747-1' value='1'>
			<label for='747-1'>Very<br>Inaccurate</label>
			<input type='radio' name='747' id='747-2' value='2'>
			<label for='747-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='747' id='747-3' value='3'>
			<label for='747-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='747' id='747-4' value='4'>
			<label for='747-4'>Slightly<br>Accurate</label>
			<input type='radio' name='747' id='747-5' value='5'>
			<label for='747-5'>Moderately<br>Accurate</label>
			<input type='radio' name='747' id='747-6' value='6'>
			<label for='747-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>131. Feel a sense of worthlessness or hopelessness.</legend>
			<input type='radio' name='811' id='811-1' value='1'>
			<label for='811-1'>Very<br>Inaccurate</label>
			<input type='radio' name='811' id='811-2' value='2'>
			<label for='811-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='811' id='811-3' value='3'>
			<label for='811-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='811' id='811-4' value='4'>
			<label for='811-4'>Slightly<br>Accurate</label>
			<input type='radio' name='811' id='811-5' value='5'>
			<label for='811-5'>Moderately<br>Accurate</label>
			<input type='radio' name='811' id='811-6' value='6'>
			<label for='811-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>132. Listened to music while working.</legend>
			<input type='radio' name='3421' id='3421-1' value='1'>
			<label for='3421-1'>Never in<br>my life</label>
			<input type='radio' name='3421' id='3421-2' value='2'>
			<label for='3421-2'>Not in the<br>past year</label>
			<input type='radio' name='3421' id='3421-3' value='3'>
			<label for='3421-3'>< 3 times<br>in past year</label>
			<input type='radio' name='3421' id='3421-4' value='4'>
			<label for='3421-4'>3-10 times<br>in past year</label>
			<input type='radio' name='3421' id='3421-5' value='5'>
			<label for='3421-5'>10-20 times<br>in past year</label>
			<input type='radio' name='3421' id='3421-6' value='6'>
			<label for='3421-6'>> 20 times<br>in past year</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>133. Laugh aloud.</legend>
			<input type='radio' name='1244' id='1244-1' value='1'>
			<label for='1244-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1244' id='1244-2' value='2'>
			<label for='1244-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1244' id='1244-3' value='3'>
			<label for='1244-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1244' id='1244-4' value='4'>
			<label for='1244-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1244' id='1244-5' value='5'>
			<label for='1244-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1244' id='1244-6' value='6'>
			<label for='1244-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>134. Reveal little about myself.</legend>
			<input type='radio' name='1635' id='1635-1' value='1'>
			<label for='1635-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1635' id='1635-2' value='2'>
			<label for='1635-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1635' id='1635-3' value='3'>
			<label for='1635-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1635' id='1635-4' value='4'>
			<label for='1635-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1635' id='1635-5' value='5'>
			<label for='1635-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1635' id='1635-6' value='6'>
			<label for='1635-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>135. Act without ulterior motives.</legend>
			<input type='radio' name='36' id='36-1' value='1'>
			<label for='36-1'>Very<br>Inaccurate</label>
			<input type='radio' name='36' id='36-2' value='2'>
			<label for='36-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='36' id='36-3' value='3'>
			<label for='36-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='36' id='36-4' value='4'>
			<label for='36-4'>Slightly<br>Accurate</label>
			<input type='radio' name='36' id='36-5' value='5'>
			<label for='36-5'>Moderately<br>Accurate</label>
			<input type='radio' name='36' id='36-6' value='6'>
			<label for='36-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>136. Never spend more than I can afford.</legend>
			<input type='radio' name='1461' id='1461-1' value='1'>
			<label for='1461-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1461' id='1461-2' value='2'>
			<label for='1461-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1461' id='1461-3' value='3'>
			<label for='1461-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1461' id='1461-4' value='4'>
			<label for='1461-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1461' id='1461-5' value='5'>
			<label for='1461-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1461' id='1461-6' value='6'>
			<label for='1461-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>137. Do not like poetry.</legend>
			<input type='radio' name='612' id='612-1' value='1'>
			<label for='612-1'>Very<br>Inaccurate</label>
			<input type='radio' name='612' id='612-2' value='2'>
			<label for='612-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='612' id='612-3' value='3'>
			<label for='612-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='612' id='612-4' value='4'>
			<label for='612-4'>Slightly<br>Accurate</label>
			<input type='radio' name='612' id='612-5' value='5'>
			<label for='612-5'>Moderately<br>Accurate</label>
			<input type='radio' name='612' id='612-6' value='6'>
			<label for='612-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>138. Get upset if others change the way that I have arranged things.</legend>
			<input type='radio' name='997' id='997-1' value='1'>
			<label for='997-1'>Very<br>Inaccurate</label>
			<input type='radio' name='997' id='997-2' value='2'>
			<label for='997-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='997' id='997-3' value='3'>
			<label for='997-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='997' id='997-4' value='4'>
			<label for='997-4'>Slightly<br>Accurate</label>
			<input type='radio' name='997' id='997-5' value='5'>
			<label for='997-5'>Moderately<br>Accurate</label>
			<input type='radio' name='997' id='997-6' value='6'>
			<label for='997-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>139. Prefer variety to routine.</legend>
			<input type='radio' name='1542' id='1542-1' value='1'>
			<label for='1542-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1542' id='1542-2' value='2'>
			<label for='1542-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1542' id='1542-3' value='3'>
			<label for='1542-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1542' id='1542-4' value='4'>
			<label for='1542-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1542' id='1542-5' value='5'>
			<label for='1542-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1542' id='1542-6' value='6'>
			<label for='1542-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>140. Seek danger.</legend>
			<input type='radio' name='1664' id='1664-1' value='1'>
			<label for='1664-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1664' id='1664-2' value='2'>
			<label for='1664-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1664' id='1664-3' value='3'>
			<label for='1664-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1664' id='1664-4' value='4'>
			<label for='1664-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1664' id='1664-5' value='5'>
			<label for='1664-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1664' id='1664-6' value='6'>
			<label for='1664-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>141. I am satisfied with my family life.</legend>
			<input type='radio' name='5526' id='5526-1' value='1'>
			<label for='5526-1'>Very<br>Inaccurate</label>
			<input type='radio' name='5526' id='5526-2' value='2'>
			<label for='5526-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='5526' id='5526-3' value='3'>
			<label for='5526-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='5526' id='5526-4' value='4'>
			<label for='5526-4'>Slightly<br>Accurate</label>
			<input type='radio' name='5526' id='5526-5' value='5'>
			<label for='5526-5'>Moderately<br>Accurate</label>
			<input type='radio' name='5526' id='5526-6' value='6'>
			<label for='5526-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>142. Jump into things without thinking.</legend>
			<input type='radio' name='1173' id='1173-1' value='1'>
			<label for='1173-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1173' id='1173-2' value='2'>
			<label for='1173-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1173' id='1173-3' value='3'>
			<label for='1173-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1173' id='1173-4' value='4'>
			<label for='1173-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1173' id='1173-5' value='5'>
			<label for='1173-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1173' id='1173-6' value='6'>
			<label for='1173-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>143. Tend to vote for liberal political candidates.</legend>
			<input type='radio' name='1825' id='1825-1' value='1'>
			<label for='1825-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1825' id='1825-2' value='2'>
			<label for='1825-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1825' id='1825-3' value='3'>
			<label for='1825-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1825' id='1825-4' value='4'>
			<label for='1825-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1825' id='1825-5' value='5'>
			<label for='1825-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1825' id='1825-6' value='6'>
			<label for='1825-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>144. Feel that my body is too large.</legend>
			<input type='radio' name='873' id='873-1' value='1'>
			<label for='873-1'>Very<br>Inaccurate</label>
			<input type='radio' name='873' id='873-2' value='2'>
			<label for='873-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='873' id='873-3' value='3'>
			<label for='873-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='873' id='873-4' value='4'>
			<label for='873-4'>Slightly<br>Accurate</label>
			<input type='radio' name='873' id='873-5' value='5'>
			<label for='873-5'>Moderately<br>Accurate</label>
			<input type='radio' name='873' id='873-6' value='6'>
			<label for='873-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>145. Hang around doing nothing.</legend>
			<input type='radio' name='1024' id='1024-1' value='1'>
			<label for='1024-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1024' id='1024-2' value='2'>
			<label for='1024-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1024' id='1024-3' value='3'>
			<label for='1024-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1024' id='1024-4' value='4'>
			<label for='1024-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1024' id='1024-5' value='5'>
			<label for='1024-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1024' id='1024-6' value='6'>
			<label for='1024-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>146. Mediate in quarrels.</legend>
			<input type='radio' name='1427' id='1427-1' value='1'>
			<label for='1427-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1427' id='1427-2' value='2'>
			<label for='1427-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1427' id='1427-3' value='3'>
			<label for='1427-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1427' id='1427-4' value='4'>
			<label for='1427-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1427' id='1427-5' value='5'>
			<label for='1427-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1427' id='1427-6' value='6'>
			<label for='1427-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>147. Investigate all possibilities.</legend>
			<input type='radio' name='1168' id='1168-1' value='1'>
			<label for='1168-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1168' id='1168-2' value='2'>
			<label for='1168-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1168' id='1168-3' value='3'>
			<label for='1168-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1168' id='1168-4' value='4'>
			<label for='1168-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1168' id='1168-5' value='5'>
			<label for='1168-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1168' id='1168-6' value='6'>
			<label for='1168-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>148. In the following alphanumeric series, what letter comes next?   C, F, I, L, O, ...</legend>
			<input type='radio' name='12005' id='12005-1' value='1'>
			<label for='12005-1'> Q</label>
			<input type='radio' name='12005' id='12005-2' value='2'>
			<label for='12005-2'> R</label>
			<input type='radio' name='12005' id='12005-3' value='3'>
			<label for='12005-3'> S</label>
			<input type='radio' name='12005' id='12005-4' value='4'>
			<label for='12005-4'> T</label>
			<input type='radio' name='12005' id='12005-5' value='5'>
			<label for='12005-5'> U</label>
			<input type='radio' name='12005' id='12005-6' value='6'>
			<label for='12005-6'> V</label>
			<input type='radio' name='12005' id='12005-7' value='7'>
			<label for='12005-7'>None of these</label>
			<input type='radio' name='12005' id='12005-8' value='8'>
			<label for='12005-8'>I don't know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>149. There is a word that can be paired with each of the words below to form compound words.  What is the first letter of the missing word?<br>
		<p style='text-align: center;'>dress &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; dial &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; flower</p></legend>
			<input type='radio' name='14305' id='14305-1' value='1'>
			<label for='14305-1'>y</label>
			<input type='radio' name='14305' id='14305-2' value='2'>
			<label for='14305-2'>s</label>
			<input type='radio' name='14305' id='14305-3' value='3'>
			<label for='14305-3'>w</label>
			<input type='radio' name='14305' id='14305-4' value='4'>
			<label for='14305-4'>d</label>
			<input type='radio' name='14305' id='14305-5' value='5'>
			<label for='14305-5'>m</label>
			<input type='radio' name='14305' id='14305-6' value='6'>
			<label for='14305-6'>c</label>
			<input type='radio' name='14305' id='14305-7' value='7'>
			<label for='14305-7'>None of these</label>
			<input type='radio' name='14305' id='14305-8' value='8'>
			<label for='14305-8'>I don't know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>150. Choose the best answer without using any tools: 384 - 457 + 101 - 26 = ?</legend>
			<input type='radio' name='15216' id='15216-1' value='1'>
			<label for='15216-1'>-3588</label>
			<input type='radio' name='15216' id='15216-2' value='2'>
			<label for='15216-2'>-2152</label>
			<input type='radio' name='15216' id='15216-3' value='3'>
			<label for='15216-3'>5</label>
			<input type='radio' name='15216' id='15216-4' value='4'>
			<label for='15216-4'>1</label>
			<input type='radio' name='15216' id='15216-5' value='5'>
			<label for='15216-5'>-2</label>
			<input type='radio' name='15216' id='15216-6' value='6'>
			<label for='15216-6'>2</label>
			<input type='radio' name='15216' id='15216-7' value='7'>
			<label for='15216-7'>None of these</label>
			<input type='radio' name='15216' id='15216-8' value='8'>
			<label for='15216-8'>I don't know</label>
	</fieldset>
</div> <!-- closes div class="10u offset-1u" -->
<div class="1u">
</div> <!-- closes div class="1u" -->
</div>  <!-- closes div class="row" -->
										<div class="row">

											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-stop" aria-disabled="false"><input type="submit" data-theme="stop" name="submitStop" value="Skip to last page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
											<div class="6u">
												<ul>
												<li>
												</li>
												</ul>
											</div>
											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-more" aria-disabled="false"><input type="submit" data-theme="more" id="submitGo" name="submitGo" value="Next page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
										</div>

</form><!-- closes form id="page8"  -->
								</div>  <!-- closes div class="5grid" -->
							</div>  <!-- closes div id="content" -->
						</div> <!-- closes div class="12u mobileUI-main-content" -->
					</div><!-- closes div id="row" -->
				</div> <!-- closes div class="5grid-layout" -->
			</div> <!-- closes div id="main-wrapper" -->

		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
				<footer id="footer" class="5grid-layout">
					<div class="row">
						<div class="12u">
							<div id="copyright">
							<center>
								&copy; Part of the Personality Project.	
							</center>
							</div>
						</div>
					</div>
				</footer>
			</div>
		<!-- End Footer Wrapper -->
	</body>
</html>
