<!DOCTYPE HTML>
<html>

	<head>
		<title>Free Personality Test | SAPA-Project | Items 226 to 250</title>
		<meta name="description" content="This is the last page with questions about your typical thoughts, feelings, and behaviors. Your responses to these questions will shape your free customized personality report, so be sure to respond honestly.  And don't skip too many items along the way!">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="keywords" content="" />

		<link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
		<link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16">
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
		<link rel="manifest" href="../manifest.json">
		<link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" href="../css/5grid/fonts.css" />
		<link rel="stylesheet" href="../css/5grid/jquery.mobile-1.3.0.css" />
		<script src="../css/5grid/jquery.js"></script>
		<script src="../css/5grid/jquery.mobile-1.3.0.min.js"></script>
		<script src="../css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none&amp;mobileUI_titleBarOverlaid=1&amp;mobileUI_titleBarHeight=60&amp;viewport_is1000px=1060&amp;mobileUI_openerWidth=80"></script>
		<noscript>
			<link rel="stylesheet" href="../css/5grid/core.css" />
			<link rel="stylesheet" href="../css/5grid/core-desktop.css" />
			<link rel="stylesheet" href="../css/5grid/core-1200px.css" />
			<link rel="stylesheet" href="../css/5grid/core-noscript.css" />
			<link rel="stylesheet" href="../css/style.css" />
			<link rel="stylesheet" href="../css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="../css/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="../css/ie7.css" /><![endif]-->
	</head>
	<body class="no-sidebar">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="5grid-layout">
					<div class="row">
						
							<!-- Header -->
								<header id="header">
										<h2>The SAPA Project</h2>
										<h3>a personality assessment collaboratory</h3>
								</header>

					</div>
				</div>
			</div>
		<!-- End Header Wrapper -->
		
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="5grid-layout">
					<div class="row">
						<div class="12u mobileUI-main-content">

							<!-- Content -->
								<div id="content">

									<div class="5grid">
										<div class="row">
											<div class="12u" style="margin-bottom: 0px;">

										<h3>Personality Questions</h3>
										
										<p class="smallish">You've responded to <strong>32 of the 225 items</strong> given so far.</p>

										<p class="smallish">Remember that <strong>your responses are anonymous</strong>.  Do your best to respond as accurately and honestly as possible.</p>

											</div> <!-- closes div class="12u" -->
										</div>  <!-- closes div class="row" -->
																		
										<div class="small">
										</div>

<form name="page12" id="page12" DefaultButton="submitGo" action="/survey/survey10.php" data-ajax="false" method="post" onsubmit="getTime();">  

<input type="hidden" id="page10Time" name="page10Time">

<script language='JavaScript'>
function getTime(){
var current = new Date();
var since = current.getTime();
var elapsetime = since/1000;
document.getElementById('page10Time').value = elapsetime;
}
</script>
<!-- Gets the time between 1/1/1970 12:00 am UTC and now in seconds. -->

<div class="row">
<div class="10u offset-1u">


	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>226. I often fantasize about someday being famous.</legend>
			<input type='radio' name='50563' id='50563-1' value='1'>
			<label for='50563-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50563' id='50563-2' value='2'>
			<label for='50563-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50563' id='50563-3' value='3'>
			<label for='50563-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50563' id='50563-4' value='4'>
			<label for='50563-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50563' id='50563-5' value='5'>
			<label for='50563-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50563' id='50563-6' value='6'>
			<label for='50563-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>227. Lack the talent for influencing people.</legend>
			<input type='radio' name='1242' id='1242-1' value='1'>
			<label for='1242-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1242' id='1242-2' value='2'>
			<label for='1242-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1242' id='1242-3' value='3'>
			<label for='1242-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1242' id='1242-4' value='4'>
			<label for='1242-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1242' id='1242-5' value='5'>
			<label for='1242-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1242' id='1242-6' value='6'>
			<label for='1242-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>228. Try to follow the rules.</legend>
			<input type='radio' name='1867' id='1867-1' value='1'>
			<label for='1867-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1867' id='1867-2' value='2'>
			<label for='1867-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1867' id='1867-3' value='3'>
			<label for='1867-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1867' id='1867-4' value='4'>
			<label for='1867-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1867' id='1867-5' value='5'>
			<label for='1867-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1867' id='1867-6' value='6'>
			<label for='1867-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>229. Many group activities tend to be dull without me.</legend>
			<input type='radio' name='50542' id='50542-1' value='1'>
			<label for='50542-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50542' id='50542-2' value='2'>
			<label for='50542-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50542' id='50542-3' value='3'>
			<label for='50542-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50542' id='50542-4' value='4'>
			<label for='50542-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50542' id='50542-5' value='5'>
			<label for='50542-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50542' id='50542-6' value='6'>
			<label for='50542-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>230. Enjoy being thought of as a normal "mainstream" person.</legend>
			<input type='radio' name='747' id='747-1' value='1'>
			<label for='747-1'>Very<br>Inaccurate</label>
			<input type='radio' name='747' id='747-2' value='2'>
			<label for='747-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='747' id='747-3' value='3'>
			<label for='747-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='747' id='747-4' value='4'>
			<label for='747-4'>Slightly<br>Accurate</label>
			<input type='radio' name='747' id='747-5' value='5'>
			<label for='747-5'>Moderately<br>Accurate</label>
			<input type='radio' name='747' id='747-6' value='6'>
			<label for='747-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>231. Am happy with my life.</legend>
			<input type='radio' name='2765' id='2765-1' value='1'>
			<label for='2765-1'>Very<br>Inaccurate</label>
			<input type='radio' name='2765' id='2765-2' value='2'>
			<label for='2765-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='2765' id='2765-3' value='3'>
			<label for='2765-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='2765' id='2765-4' value='4'>
			<label for='2765-4'>Slightly<br>Accurate</label>
			<input type='radio' name='2765' id='2765-5' value='5'>
			<label for='2765-5'>Moderately<br>Accurate</label>
			<input type='radio' name='2765' id='2765-6' value='6'>
			<label for='2765-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>232. I have at times gone into a rage when not treated rightly.</legend>
			<input type='radio' name='50583' id='50583-1' value='1'>
			<label for='50583-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50583' id='50583-2' value='2'>
			<label for='50583-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50583' id='50583-3' value='3'>
			<label for='50583-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50583' id='50583-4' value='4'>
			<label for='50583-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50583' id='50583-5' value='5'>
			<label for='50583-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50583' id='50583-6' value='6'>
			<label for='50583-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>233. Amuse my friends.</legend>
			<input type='radio' name='296' id='296-1' value='1'>
			<label for='296-1'>Very<br>Inaccurate</label>
			<input type='radio' name='296' id='296-2' value='2'>
			<label for='296-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='296' id='296-3' value='3'>
			<label for='296-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='296' id='296-4' value='4'>
			<label for='296-4'>Slightly<br>Accurate</label>
			<input type='radio' name='296' id='296-5' value='5'>
			<label for='296-5'>Moderately<br>Accurate</label>
			<input type='radio' name='296' id='296-6' value='6'>
			<label for='296-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>234. Show my sadness.</legend>
			<input type='radio' name='1706' id='1706-1' value='1'>
			<label for='1706-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1706' id='1706-2' value='2'>
			<label for='1706-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1706' id='1706-3' value='3'>
			<label for='1706-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1706' id='1706-4' value='4'>
			<label for='1706-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1706' id='1706-5' value='5'>
			<label for='1706-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1706' id='1706-6' value='6'>
			<label for='1706-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>235. I never show emotions to others.</legend>
			<input type='radio' name='4168' id='4168-1' value='1'>
			<label for='4168-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4168' id='4168-2' value='2'>
			<label for='4168-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4168' id='4168-3' value='3'>
			<label for='4168-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4168' id='4168-4' value='4'>
			<label for='4168-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4168' id='4168-5' value='5'>
			<label for='4168-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4168' id='4168-6' value='6'>
			<label for='4168-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>236. Never splurge.</legend>
			<input type='radio' name='1462' id='1462-1' value='1'>
			<label for='1462-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1462' id='1462-2' value='2'>
			<label for='1462-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1462' id='1462-3' value='3'>
			<label for='1462-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1462' id='1462-4' value='4'>
			<label for='1462-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1462' id='1462-5' value='5'>
			<label for='1462-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1462' id='1462-6' value='6'>
			<label for='1462-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>237. Do not like poetry.</legend>
			<input type='radio' name='612' id='612-1' value='1'>
			<label for='612-1'>Very<br>Inaccurate</label>
			<input type='radio' name='612' id='612-2' value='2'>
			<label for='612-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='612' id='612-3' value='3'>
			<label for='612-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='612' id='612-4' value='4'>
			<label for='612-4'>Slightly<br>Accurate</label>
			<input type='radio' name='612' id='612-5' value='5'>
			<label for='612-5'>Moderately<br>Accurate</label>
			<input type='radio' name='612' id='612-6' value='6'>
			<label for='612-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>238. People often say I'm out of control.</legend>
			<input type='radio' name='50551' id='50551-1' value='1'>
			<label for='50551-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50551' id='50551-2' value='2'>
			<label for='50551-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50551' id='50551-3' value='3'>
			<label for='50551-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50551' id='50551-4' value='4'>
			<label for='50551-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50551' id='50551-5' value='5'>
			<label for='50551-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50551' id='50551-6' value='6'>
			<label for='50551-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>239. Adjust easily.</legend>
			<input type='radio' name='39' id='39-1' value='1'>
			<label for='39-1'>Very<br>Inaccurate</label>
			<input type='radio' name='39' id='39-2' value='2'>
			<label for='39-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='39' id='39-3' value='3'>
			<label for='39-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='39' id='39-4' value='4'>
			<label for='39-4'>Slightly<br>Accurate</label>
			<input type='radio' name='39' id='39-5' value='5'>
			<label for='39-5'>Moderately<br>Accurate</label>
			<input type='radio' name='39' id='39-6' value='6'>
			<label for='39-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>240. Take risks.</legend>
			<input type='radio' name='1781' id='1781-1' value='1'>
			<label for='1781-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1781' id='1781-2' value='2'>
			<label for='1781-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1781' id='1781-3' value='3'>
			<label for='1781-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1781' id='1781-4' value='4'>
			<label for='1781-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1781' id='1781-5' value='5'>
			<label for='1781-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1781' id='1781-6' value='6'>
			<label for='1781-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>241. I avoid horror movies.</legend>
			<input type='radio' name='3975' id='3975-1' value='1'>
			<label for='3975-1'>Very<br>Inaccurate</label>
			<input type='radio' name='3975' id='3975-2' value='2'>
			<label for='3975-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='3975' id='3975-3' value='3'>
			<label for='3975-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='3975' id='3975-4' value='4'>
			<label for='3975-4'>Slightly<br>Accurate</label>
			<input type='radio' name='3975' id='3975-5' value='5'>
			<label for='3975-5'>Moderately<br>Accurate</label>
			<input type='radio' name='3975' id='3975-6' value='6'>
			<label for='3975-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>242. Jump into things without thinking.</legend>
			<input type='radio' name='1173' id='1173-1' value='1'>
			<label for='1173-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1173' id='1173-2' value='2'>
			<label for='1173-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1173' id='1173-3' value='3'>
			<label for='1173-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1173' id='1173-4' value='4'>
			<label for='1173-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1173' id='1173-5' value='5'>
			<label for='1173-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1173' id='1173-6' value='6'>
			<label for='1173-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>243. Believe in one true religion.</legend>
			<input type='radio' name='345' id='345-1' value='1'>
			<label for='345-1'>Very<br>Inaccurate</label>
			<input type='radio' name='345' id='345-2' value='2'>
			<label for='345-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='345' id='345-3' value='3'>
			<label for='345-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='345' id='345-4' value='4'>
			<label for='345-4'>Slightly<br>Accurate</label>
			<input type='radio' name='345' id='345-5' value='5'>
			<label for='345-5'>Moderately<br>Accurate</label>
			<input type='radio' name='345' id='345-6' value='6'>
			<label for='345-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>244. I like to have sex with people I barely know.</legend>
			<input type='radio' name='3996' id='3996-1' value='1'>
			<label for='3996-1'>Very<br>Inaccurate</label>
			<input type='radio' name='3996' id='3996-2' value='2'>
			<label for='3996-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='3996' id='3996-3' value='3'>
			<label for='3996-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='3996' id='3996-4' value='4'>
			<label for='3996-4'>Slightly<br>Accurate</label>
			<input type='radio' name='3996' id='3996-5' value='5'>
			<label for='3996-5'>Moderately<br>Accurate</label>
			<input type='radio' name='3996' id='3996-6' value='6'>
			<label for='3996-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>245. Like a leisurely lifestyle.</legend>
			<input type='radio' name='1281' id='1281-1' value='1'>
			<label for='1281-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1281' id='1281-2' value='2'>
			<label for='1281-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1281' id='1281-3' value='3'>
			<label for='1281-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1281' id='1281-4' value='4'>
			<label for='1281-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1281' id='1281-5' value='5'>
			<label for='1281-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1281' id='1281-6' value='6'>
			<label for='1281-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>246. It is easy for me to take advantage of others.</legend>
			<input type='radio' name='4220' id='4220-1' value='1'>
			<label for='4220-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4220' id='4220-2' value='2'>
			<label for='4220-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4220' id='4220-3' value='3'>
			<label for='4220-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4220' id='4220-4' value='4'>
			<label for='4220-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4220' id='4220-5' value='5'>
			<label for='4220-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4220' id='4220-6' value='6'>
			<label for='4220-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>247. I'm willing to exploit others to further my own goals.</legend>
			<input type='radio' name='50607' id='50607-1' value='1'>
			<label for='50607-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50607' id='50607-2' value='2'>
			<label for='50607-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50607' id='50607-3' value='3'>
			<label for='50607-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50607' id='50607-4' value='4'>
			<label for='50607-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50607' id='50607-5' value='5'>
			<label for='50607-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50607' id='50607-6' value='6'>
			<label for='50607-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>248. In the following alphanumeric series, what letter comes next? V, Q, M, J, H, ...</legend>
			<input type='radio' name='12033' id='12033-1' value='1'>
			<label for='12033-1'> E</label>
			<input type='radio' name='12033' id='12033-2' value='2'>
			<label for='12033-2'> F</label>
			<input type='radio' name='12033' id='12033-3' value='3'>
			<label for='12033-3'> G</label>
			<input type='radio' name='12033' id='12033-4' value='4'>
			<label for='12033-4'> H</label>
			<input type='radio' name='12033' id='12033-5' value='5'>
			<label for='12033-5'> I</label>
			<input type='radio' name='12033' id='12033-6' value='6'>
			<label for='12033-6'> J</label>
			<input type='radio' name='12033' id='12033-7' value='7'>
			<label for='12033-7'>None of these</label>
			<input type='radio' name='12033' id='12033-8' value='8'>
			<label for='12033-8'>I don't know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>249. Please select the response that matches the image most accurately.</legend>
		<img id='fig13035.jpg' src='iq.figures/fig13035.jpg' width='200' height='280' style='display: block; margin-left: auto; margin-right: auto;'><br>
		<input type='radio' name='13035' id='13035-1' value='1'>
		<label for='13035-1'>anger</label>
		<input type='radio' name='13035' id='13035-2' value='2'>
		<label for='13035-2'>disgust</label>
		<input type='radio' name='13035' id='13035-3' value='3'>
		<label for='13035-3'>fear</label>
		<input type='radio' name='13035' id='13035-4' value='4'>
		<label for='13035-4'>happiness</label>
		<input type='radio' name='13035' id='13035-5' value='5'>
		<label for='13035-5'>neutral</label>
		<input type='radio' name='13035' id='13035-6' value='6'>
		<label for='13035-6'>sadness</label>
		<input type='radio' name='13035' id='13035-7' value='7'>
		<label for='13035-7'>surprise</label>
		<input type='radio' name='13035' id='13035-8' value='8'>
		<label for='13035-8'>I don't know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>250. In the following alphanumeric series, what number comes next? 73, 55, 37, 19, …</legend>
			<input type='radio' name='12103' id='12103-1' value='1'>
			<label for='12103-1'>11</label>
			<input type='radio' name='12103' id='12103-2' value='2'>
			<label for='12103-2'>20</label>
			<input type='radio' name='12103' id='12103-3' value='3'>
			<label for='12103-3'>18</label>
			<input type='radio' name='12103' id='12103-4' value='4'>
			<label for='12103-4'>1</label>
			<input type='radio' name='12103' id='12103-5' value='5'>
			<label for='12103-5'>17</label>
			<input type='radio' name='12103' id='12103-6' value='6'>
			<label for='12103-6'>19</label>
			<input type='radio' name='12103' id='12103-7' value='7'>
			<label for='12103-7'>None of these</label>
			<input type='radio' name='12103' id='12103-8' value='8'>
			<label for='12103-8'>I don't know</label>
	</fieldset>
</div> <!-- closes div class="10u offset-1u" -->
<div class="1u">
</div> <!-- closes div class="1u" -->
</div>  <!-- closes div class="row" -->
										<div class="row">

											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-stop" aria-disabled="false"><input type="submit" data-theme="stop" name="submitStop" value="Skip to last page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
											<div class="6u">
												<ul>
												<li>
												</li>
												</ul>
											</div>
											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-more" aria-disabled="false"><input type="submit" data-theme="more" id="submitGo" name="submitGo" value="Next page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
										</div>

</form><!-- closes form id="page12"  -->
								</div>  <!-- closes div class="5grid" -->
							</div>  <!-- closes div id="content" -->
						</div> <!-- closes div class="12u mobileUI-main-content" -->
					</div><!-- closes div id="row" -->
				</div> <!-- closes div class="5grid-layout" -->
			</div> <!-- closes div id="main-wrapper" -->

		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
				<footer id="footer" class="5grid-layout">
					<div class="row">
						<div class="12u">
							<div id="copyright">
							<center>
								&copy; Part of the Personality Project.	
							</center>
							</div>
						</div>
					</div>
				</footer>
			</div>
		<!-- End Footer Wrapper -->
	</body>
</html>
