<!DOCTYPE HTML>
<html>

	<head>
		<title>Free Personality Test | SAPA-Project | Items 176 to 200</title>
		<meta name="description" content="This is the eighth of several pages where we ask about your typical thoughts, feelings, and behaviors. Your responses to these questions will shape your free customized personality report, so be sure to respond honestly.  And don't skip too many items along the way!">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="keywords" content="" />

		<link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
		<link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16">
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
		<link rel="manifest" href="../manifest.json">
		<link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" href="../css/5grid/fonts.css" />
		<link rel="stylesheet" href="../css/5grid/jquery.mobile-1.3.0.css" />
		<script src="../css/5grid/jquery.js"></script>
		<script src="../css/5grid/jquery.mobile-1.3.0.min.js"></script>
		<script src="../css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none&amp;mobileUI_titleBarOverlaid=1&amp;mobileUI_titleBarHeight=60&amp;viewport_is1000px=1060&amp;mobileUI_openerWidth=80"></script>
		<noscript>
			<link rel="stylesheet" href="../css/5grid/core.css" />
			<link rel="stylesheet" href="../css/5grid/core-desktop.css" />
			<link rel="stylesheet" href="../css/5grid/core-1200px.css" />
			<link rel="stylesheet" href="../css/5grid/core-noscript.css" />
			<link rel="stylesheet" href="../css/style.css" />
			<link rel="stylesheet" href="../css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="../css/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="../css/ie7.css" /><![endif]-->
	</head>
	<body class="no-sidebar">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="5grid-layout">
					<div class="row">
						
							<!-- Header -->
								<header id="header">
										<h2>The SAPA Project</h2>
										<h3>a personality assessment collaboratory</h3>
								</header>

					</div>
				</div>
			</div>
		<!-- End Header Wrapper -->
		
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="5grid-layout">
					<div class="row">
						<div class="12u mobileUI-main-content">

							<!-- Content -->
								<div id="content">

									<div class="5grid">
										<div class="row">
											<div class="12u" style="margin-bottom: 0px;">

										<h3>Personality Questions</h3>
										
										<p class="smallish">You've responded to <strong>15 of the 175 items</strong> given so far.</p>

										<p class="smallish">Remember that <strong>your responses are anonymous</strong>.  Do your best to respond as accurately and honestly as possible.</p>

											</div> <!-- closes div class="12u" -->
										</div>  <!-- closes div class="row" -->
																		
										<div class="small">
										</div>

<form name="page10" id="page10" DefaultButton="submitGo" action="/survey/survey8.php" data-ajax="false" method="post" onsubmit="getTime();">  

<input type="hidden" id="page8Time" name="page8Time">

<script language='JavaScript'>
function getTime(){
var current = new Date();
var since = current.getTime();
var elapsetime = since/1000;
document.getElementById('page8Time').value = elapsetime;
}
</script>
<!-- Gets the time between 1/1/1970 12:00 am UTC and now in seconds. -->

<div class="row">
<div class="10u offset-1u">


	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>176. I always expect the worst to happen.</legend>
			<input type='radio' name='4142' id='4142-1' value='1'>
			<label for='4142-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4142' id='4142-2' value='2'>
			<label for='4142-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4142' id='4142-3' value='3'>
			<label for='4142-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4142' id='4142-4' value='4'>
			<label for='4142-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4142' id='4142-5' value='5'>
			<label for='4142-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4142' id='4142-6' value='6'>
			<label for='4142-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>177. Find it difficult to approach others.</legend>
			<input type='radio' name='901' id='901-1' value='1'>
			<label for='901-1'>Very<br>Inaccurate</label>
			<input type='radio' name='901' id='901-2' value='2'>
			<label for='901-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='901' id='901-3' value='3'>
			<label for='901-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='901' id='901-4' value='4'>
			<label for='901-4'>Slightly<br>Accurate</label>
			<input type='radio' name='901' id='901-5' value='5'>
			<label for='901-5'>Moderately<br>Accurate</label>
			<input type='radio' name='901' id='901-6' value='6'>
			<label for='901-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>178. Rebel against authority.</legend>
			<input type='radio' name='1609' id='1609-1' value='1'>
			<label for='1609-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1609' id='1609-2' value='2'>
			<label for='1609-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1609' id='1609-3' value='3'>
			<label for='1609-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1609' id='1609-4' value='4'>
			<label for='1609-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1609' id='1609-5' value='5'>
			<label for='1609-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1609' id='1609-6' value='6'>
			<label for='1609-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>179. I've had some really weird experiences that are very difficult to explain.</legend>
			<input type='radio' name='4210' id='4210-1' value='1'>
			<label for='4210-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4210' id='4210-2' value='2'>
			<label for='4210-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4210' id='4210-3' value='3'>
			<label for='4210-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4210' id='4210-4' value='4'>
			<label for='4210-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4210' id='4210-5' value='5'>
			<label for='4210-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4210' id='4210-6' value='6'>
			<label for='4210-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>180. See myself as an average person.</legend>
			<input type='radio' name='1653' id='1653-1' value='1'>
			<label for='1653-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1653' id='1653-2' value='2'>
			<label for='1653-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1653' id='1653-3' value='3'>
			<label for='1653-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1653' id='1653-4' value='4'>
			<label for='1653-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1653' id='1653-5' value='5'>
			<label for='1653-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1653' id='1653-6' value='6'>
			<label for='1653-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>181. Dislike myself.</legend>
			<input type='radio' name='578' id='578-1' value='1'>
			<label for='578-1'>Very<br>Inaccurate</label>
			<input type='radio' name='578' id='578-2' value='2'>
			<label for='578-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='578' id='578-3' value='3'>
			<label for='578-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='578' id='578-4' value='4'>
			<label for='578-4'>Slightly<br>Accurate</label>
			<input type='radio' name='578' id='578-5' value='5'>
			<label for='578-5'>Moderately<br>Accurate</label>
			<input type='radio' name='578' id='578-6' value='6'>
			<label for='578-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>182. I sometimes hit people to remind them who's in charge.</legend>
			<input type='radio' name='4199' id='4199-1' value='1'>
			<label for='4199-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4199' id='4199-2' value='2'>
			<label for='4199-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4199' id='4199-3' value='3'>
			<label for='4199-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4199' id='4199-4' value='4'>
			<label for='4199-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4199' id='4199-5' value='5'>
			<label for='4199-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4199' id='4199-6' value='6'>
			<label for='4199-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>183. Laugh my way through life.</legend>
			<input type='radio' name='1248' id='1248-1' value='1'>
			<label for='1248-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1248' id='1248-2' value='2'>
			<label for='1248-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1248' id='1248-3' value='3'>
			<label for='1248-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1248' id='1248-4' value='4'>
			<label for='1248-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1248' id='1248-5' value='5'>
			<label for='1248-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1248' id='1248-6' value='6'>
			<label for='1248-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>184. Have difficulty expressing my feelings.</legend>
			<input type='radio' name='1081' id='1081-1' value='1'>
			<label for='1081-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1081' id='1081-2' value='2'>
			<label for='1081-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1081' id='1081-3' value='3'>
			<label for='1081-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1081' id='1081-4' value='4'>
			<label for='1081-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1081' id='1081-5' value='5'>
			<label for='1081-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1081' id='1081-6' value='6'>
			<label for='1081-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>185. I would never purposely humiliate someone.</legend>
			<input type='radio' name='51783' id='51783-1' value='1'>
			<label for='51783-1'>Very<br>Inaccurate</label>
			<input type='radio' name='51783' id='51783-2' value='2'>
			<label for='51783-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='51783' id='51783-3' value='3'>
			<label for='51783-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='51783' id='51783-4' value='4'>
			<label for='51783-4'>Slightly<br>Accurate</label>
			<input type='radio' name='51783' id='51783-5' value='5'>
			<label for='51783-5'>Moderately<br>Accurate</label>
			<input type='radio' name='51783' id='51783-6' value='6'>
			<label for='51783-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>186. Am able to control my cravings.</legend>
			<input type='radio' name='56' id='56-1' value='1'>
			<label for='56-1'>Very<br>Inaccurate</label>
			<input type='radio' name='56' id='56-2' value='2'>
			<label for='56-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='56' id='56-3' value='3'>
			<label for='56-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='56' id='56-4' value='4'>
			<label for='56-4'>Slightly<br>Accurate</label>
			<input type='radio' name='56' id='56-5' value='5'>
			<label for='56-5'>Moderately<br>Accurate</label>
			<input type='radio' name='56' id='56-6' value='6'>
			<label for='56-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>187. Do not like art.</legend>
			<input type='radio' name='610' id='610-1' value='1'>
			<label for='610-1'>Very<br>Inaccurate</label>
			<input type='radio' name='610' id='610-2' value='2'>
			<label for='610-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='610' id='610-3' value='3'>
			<label for='610-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='610' id='610-4' value='4'>
			<label for='610-4'>Slightly<br>Accurate</label>
			<input type='radio' name='610' id='610-5' value='5'>
			<label for='610-5'>Moderately<br>Accurate</label>
			<input type='radio' name='610' id='610-6' value='6'>
			<label for='610-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>188. All in all, it is better to be humble and honest than important and dishonest.</legend>
			<input type='radio' name='2140' id='2140-1' value='1'>
			<label for='2140-1'>Very<br>Inaccurate</label>
			<input type='radio' name='2140' id='2140-2' value='2'>
			<label for='2140-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='2140' id='2140-3' value='3'>
			<label for='2140-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='2140' id='2140-4' value='4'>
			<label for='2140-4'>Slightly<br>Accurate</label>
			<input type='radio' name='2140' id='2140-5' value='5'>
			<label for='2140-5'>Moderately<br>Accurate</label>
			<input type='radio' name='2140' id='2140-6' value='6'>
			<label for='2140-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>189. Dislike changes.</legend>
			<input type='radio' name='566' id='566-1' value='1'>
			<label for='566-1'>Very<br>Inaccurate</label>
			<input type='radio' name='566' id='566-2' value='2'>
			<label for='566-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='566' id='566-3' value='3'>
			<label for='566-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='566' id='566-4' value='4'>
			<label for='566-4'>Slightly<br>Accurate</label>
			<input type='radio' name='566' id='566-5' value='5'>
			<label for='566-5'>Moderately<br>Accurate</label>
			<input type='radio' name='566' id='566-6' value='6'>
			<label for='566-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>190. Do crazy things.</legend>
			<input type='radio' name='598' id='598-1' value='1'>
			<label for='598-1'>Very<br>Inaccurate</label>
			<input type='radio' name='598' id='598-2' value='2'>
			<label for='598-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='598' id='598-3' value='3'>
			<label for='598-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='598' id='598-4' value='4'>
			<label for='598-4'>Slightly<br>Accurate</label>
			<input type='radio' name='598' id='598-5' value='5'>
			<label for='598-5'>Moderately<br>Accurate</label>
			<input type='radio' name='598' id='598-6' value='6'>
			<label for='598-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>191. I often get into physical fights.</legend>
			<input type='radio' name='4012' id='4012-1' value='1'>
			<label for='4012-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4012' id='4012-2' value='2'>
			<label for='4012-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4012' id='4012-3' value='3'>
			<label for='4012-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4012' id='4012-4' value='4'>
			<label for='4012-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4012' id='4012-5' value='5'>
			<label for='4012-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4012' id='4012-6' value='6'>
			<label for='4012-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>192. Act without thinking.</legend>
			<input type='radio' name='35' id='35-1' value='1'>
			<label for='35-1'>Very<br>Inaccurate</label>
			<input type='radio' name='35' id='35-2' value='2'>
			<label for='35-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='35' id='35-3' value='3'>
			<label for='35-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='35' id='35-4' value='4'>
			<label for='35-4'>Slightly<br>Accurate</label>
			<input type='radio' name='35' id='35-5' value='5'>
			<label for='35-5'>Moderately<br>Accurate</label>
			<input type='radio' name='35' id='35-6' value='6'>
			<label for='35-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>193. Like to stand during the national anthem.</legend>
			<input type='radio' name='1328' id='1328-1' value='1'>
			<label for='1328-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1328' id='1328-2' value='2'>
			<label for='1328-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1328' id='1328-3' value='3'>
			<label for='1328-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1328' id='1328-4' value='4'>
			<label for='1328-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1328' id='1328-5' value='5'>
			<label for='1328-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1328' id='1328-6' value='6'>
			<label for='1328-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>194. Sometimes I feel "controlled" by thoughts that belong to someone else.</legend>
			<input type='radio' name='4155' id='4155-1' value='1'>
			<label for='4155-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4155' id='4155-2' value='2'>
			<label for='4155-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4155' id='4155-3' value='3'>
			<label for='4155-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4155' id='4155-4' value='4'>
			<label for='4155-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4155' id='4155-5' value='5'>
			<label for='4155-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4155' id='4155-6' value='6'>
			<label for='4155-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>195. Like a leisurely lifestyle.</legend>
			<input type='radio' name='1281' id='1281-1' value='1'>
			<label for='1281-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1281' id='1281-2' value='2'>
			<label for='1281-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1281' id='1281-3' value='3'>
			<label for='1281-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1281' id='1281-4' value='4'>
			<label for='1281-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1281' id='1281-5' value='5'>
			<label for='1281-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1281' id='1281-6' value='6'>
			<label for='1281-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>196. I do what other people tell me to do.</legend>
			<input type='radio' name='4064' id='4064-1' value='1'>
			<label for='4064-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4064' id='4064-2' value='2'>
			<label for='4064-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4064' id='4064-3' value='3'>
			<label for='4064-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4064' id='4064-4' value='4'>
			<label for='4064-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4064' id='4064-5' value='5'>
			<label for='4064-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4064' id='4064-6' value='6'>
			<label for='4064-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>197. I can't achieve goals because other things capture my attention.</legend>
			<input type='radio' name='4069' id='4069-1' value='1'>
			<label for='4069-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4069' id='4069-2' value='2'>
			<label for='4069-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4069' id='4069-3' value='3'>
			<label for='4069-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4069' id='4069-4' value='4'>
			<label for='4069-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4069' id='4069-5' value='5'>
			<label for='4069-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4069' id='4069-6' value='6'>
			<label for='4069-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>198. Please indicate which is the best answer to complete the figure below.</legend>
		<img id='fig19041.svg' src='iq.figures/fig19041.svg'><br>
		<input type='radio' name='19041' id='19041-1' value='1'>
		<label for='19041-1'>1</label>
		<input type='radio' name='19041' id='19041-2' value='2'>
		<label for='19041-2'>2</label>
		<input type='radio' name='19041' id='19041-3' value='3'>
		<label for='19041-3'>3</label>
		<input type='radio' name='19041' id='19041-4' value='4'>
		<label for='19041-4'>4</label>
		<input type='radio' name='19041' id='19041-5' value='5'>
		<label for='19041-5'>5</label>
		<input type='radio' name='19041' id='19041-6' value='6'>
		<label for='19041-6'>6</label>
		<input type='radio' name='19041' id='19041-7' value='7'>
		<label for='19041-7'>7</label>
		<input type='radio' name='19041' id='19041-8' value='8'>
		<label for='19041-8'>8</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>199. How many total legs do three cows and four chickens have?</legend>
			<input type='radio' name='12039' id='12039-1' value='1'>
			<label for='12039-1'>16</label>
			<input type='radio' name='12039' id='12039-2' value='2'>
			<label for='12039-2'>18</label>
			<input type='radio' name='12039' id='12039-3' value='3'>
			<label for='12039-3'>20</label>
			<input type='radio' name='12039' id='12039-4' value='4'>
			<label for='12039-4'>21</label>
			<input type='radio' name='12039' id='12039-5' value='5'>
			<label for='12039-5'>22</label>
			<input type='radio' name='12039' id='12039-6' value='6'>
			<label for='12039-6'>24</label>
			<input type='radio' name='12039' id='12039-7' value='7'>
			<label for='12039-7'>None of these</label>
			<input type='radio' name='12039' id='12039-8' value='8'>
			<label for='12039-8'>I don't know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>200. Please indicate which is the best answer to complete the figure below.</legend>
		<img id='fig12050.jpg' src='iq.figures/fig12050.jpg' width='551' height='394'><br>
		<input type='radio' name='12050' id='12050-1' value='1'>
		<label for='12050-1'>A</label>
		<input type='radio' name='12050' id='12050-2' value='2'>
		<label for='12050-2'>B</label>
		<input type='radio' name='12050' id='12050-3' value='3'>
		<label for='12050-3'>C</label>
		<input type='radio' name='12050' id='12050-4' value='4'>
		<label for='12050-4'>D</label>
		<input type='radio' name='12050' id='12050-5' value='5'>
		<label for='12050-5'>E</label>
		<input type='radio' name='12050' id='12050-6' value='6'>
		<label for='12050-6'>F</label>
		<input type='radio' name='12050' id='12050-7' value='7'>
		<label for='12050-7'>None of these</label>
		<input type='radio' name='12050' id='12050-8' value='8'>
		<label for='12050-8'>I don't know</label>
	</fieldset>
</div> <!-- closes div class="10u offset-1u" -->
<div class="1u">
</div> <!-- closes div class="1u" -->
</div>  <!-- closes div class="row" -->
										<div class="row">

											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-stop" aria-disabled="false"><input type="submit" data-theme="stop" name="submitStop" value="Skip to last page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
											<div class="6u">
												<ul>
												<li>
												</li>
												</ul>
											</div>
											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-more" aria-disabled="false"><input type="submit" data-theme="more" id="submitGo" name="submitGo" value="Next page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
										</div>

</form><!-- closes form id="page10"  -->
								</div>  <!-- closes div class="5grid" -->
							</div>  <!-- closes div id="content" -->
						</div> <!-- closes div class="12u mobileUI-main-content" -->
					</div><!-- closes div id="row" -->
				</div> <!-- closes div class="5grid-layout" -->
			</div> <!-- closes div id="main-wrapper" -->

		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
				<footer id="footer" class="5grid-layout">
					<div class="row">
						<div class="12u">
							<div id="copyright">
							<center>
								&copy; Part of the Personality Project.	
							</center>
							</div>
						</div>
					</div>
				</footer>
			</div>
		<!-- End Footer Wrapper -->
	</body>
</html>
