<!DOCTYPE HTML>
<html>

	<head>
		<title>Free Personality Test | SAPA-Project | Items 101 to 125</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="description" content="This is the fifth of several pages where we ask about your typical thoughts, feelings, and behaviors. Your responses to these questions will shape your free customized personality report, so be sure to respond honestly.  And don't skip too many items along the way!">
		<meta name="keywords" content="" />

		<link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
		<link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16">
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
		<link rel="manifest" href="../manifest.json">
		<link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" href="../css/5grid/fonts.css" />
		<link rel="stylesheet" href="../css/5grid/jquery.mobile-1.3.0.css" />
		<script src="../css/5grid/jquery.js"></script>
		<script src="../css/5grid/jquery.mobile-1.3.0.min.js"></script>
		<script src="../css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none&amp;mobileUI_titleBarOverlaid=1&amp;mobileUI_titleBarHeight=60&amp;viewport_is1000px=1060&amp;mobileUI_openerWidth=80"></script>
		<noscript>
			<link rel="stylesheet" href="../css/5grid/core.css" />
			<link rel="stylesheet" href="../css/5grid/core-desktop.css" />
			<link rel="stylesheet" href="../css/5grid/core-1200px.css" />
			<link rel="stylesheet" href="../css/5grid/core-noscript.css" />
			<link rel="stylesheet" href="../css/style.css" />
			<link rel="stylesheet" href="../css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="../css/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="../css/ie7.css" /><![endif]-->
	</head>
	<body class="no-sidebar">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="5grid-layout">
					<div class="row">
						
							<!-- Header -->
								<header id="header">
										<h2>The SAPA Project</h2>
										<h3>a personality assessment collaboratory</h3>
								</header>

					</div>
				</div>
			</div>
		<!-- End Header Wrapper -->
		
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="5grid-layout">
					<div class="row">
						<div class="12u mobileUI-main-content">

							<!-- Content -->
								<div id="content">

									<div class="5grid">
										<div class="row">
											<div class="12u" style="margin-bottom: 0px;">

										<h3>Personality Questions</h3>
										
										<p class="smallish">You've responded to <strong>6 of the 100 items</strong> given so far.</p>

										<p class="smallish">Remember that <strong>your responses are anonymous</strong>.  Do your best to respond as accurately and honestly as possible.</p>

											</div> <!-- closes div class="12u" -->
										</div>  <!-- closes div class="row" -->
																		
										<div class="small">
										</div>

<form name="page7" id="page7" DefaultButton="submitGo" action="/survey/survey5.php" data-ajax="false" method="post" onsubmit="getTime();">  

<input type="hidden" id="page5Time" name="page5Time">

<script language='JavaScript'>
function getTime(){
var current = new Date();
var since = current.getTime();
var elapsetime = since/1000;
document.getElementById('page5Time').value = elapsetime;
}
</script>
<!-- Gets the time between 1/1/1970 12:00 am UTC and now in seconds. -->

<div class="row">
<div class="10u offset-1u">


	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>101. I have a strict way of doing things.</legend>
			<input type='radio' name='4221' id='4221-1' value='1'>
			<label for='4221-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4221' id='4221-2' value='2'>
			<label for='4221-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4221' id='4221-3' value='3'>
			<label for='4221-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4221' id='4221-4' value='4'>
			<label for='4221-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4221' id='4221-5' value='5'>
			<label for='4221-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4221' id='4221-6' value='6'>
			<label for='4221-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>102. Sympathize with others' feelings.</legend>
			<input type='radio' name='1763' id='1763-1' value='1'>
			<label for='1763-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1763' id='1763-2' value='2'>
			<label for='1763-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1763' id='1763-3' value='3'>
			<label for='1763-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1763' id='1763-4' value='4'>
			<label for='1763-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1763' id='1763-5' value='5'>
			<label for='1763-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1763' id='1763-6' value='6'>
			<label for='1763-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>103. Need a push to get started.</legend>
			<input type='radio' name='1444' id='1444-1' value='1'>
			<label for='1444-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1444' id='1444-2' value='2'>
			<label for='1444-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1444' id='1444-3' value='3'>
			<label for='1444-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1444' id='1444-4' value='4'>
			<label for='1444-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1444' id='1444-5' value='5'>
			<label for='1444-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1444' id='1444-6' value='6'>
			<label for='1444-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>104. I enjoy making jokes at the expense of others.</legend>
			<input type='radio' name='51779' id='51779-1' value='1'>
			<label for='51779-1'>Very<br>Inaccurate</label>
			<input type='radio' name='51779' id='51779-2' value='2'>
			<label for='51779-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='51779' id='51779-3' value='3'>
			<label for='51779-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='51779' id='51779-4' value='4'>
			<label for='51779-4'>Slightly<br>Accurate</label>
			<input type='radio' name='51779' id='51779-5' value='5'>
			<label for='51779-5'>Moderately<br>Accurate</label>
			<input type='radio' name='51779' id='51779-6' value='6'>
			<label for='51779-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>105. Am full of ideas.</legend>
			<input type='radio' name='128' id='128-1' value='1'>
			<label for='128-1'>Very<br>Inaccurate</label>
			<input type='radio' name='128' id='128-2' value='2'>
			<label for='128-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='128' id='128-3' value='3'>
			<label for='128-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='128' id='128-4' value='4'>
			<label for='128-4'>Slightly<br>Accurate</label>
			<input type='radio' name='128' id='128-5' value='5'>
			<label for='128-5'>Moderately<br>Accurate</label>
			<input type='radio' name='128' id='128-6' value='6'>
			<label for='128-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>106. Fear for the worst.</legend>
			<input type='radio' name='808' id='808-1' value='1'>
			<label for='808-1'>Very<br>Inaccurate</label>
			<input type='radio' name='808' id='808-2' value='2'>
			<label for='808-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='808' id='808-3' value='3'>
			<label for='808-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='808' id='808-4' value='4'>
			<label for='808-4'>Slightly<br>Accurate</label>
			<input type='radio' name='808' id='808-5' value='5'>
			<label for='808-5'>Moderately<br>Accurate</label>
			<input type='radio' name='808' id='808-6' value='6'>
			<label for='808-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>107. I often make up things about myself to help me get what I want.</legend>
			<input type='radio' name='4054' id='4054-1' value='1'>
			<label for='4054-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4054' id='4054-2' value='2'>
			<label for='4054-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4054' id='4054-3' value='3'>
			<label for='4054-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4054' id='4054-4' value='4'>
			<label for='4054-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4054' id='4054-5' value='5'>
			<label for='4054-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4054' id='4054-6' value='6'>
			<label for='4054-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>108. Usually like to spend my free time with people.</legend>
			<input type='radio' name='1904' id='1904-1' value='1'>
			<label for='1904-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1904' id='1904-2' value='2'>
			<label for='1904-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1904' id='1904-3' value='3'>
			<label for='1904-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1904' id='1904-4' value='4'>
			<label for='1904-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1904' id='1904-5' value='5'>
			<label for='1904-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1904' id='1904-6' value='6'>
			<label for='1904-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>109. Use others for my own ends.</legend>
			<input type='radio' name='1896' id='1896-1' value='1'>
			<label for='1896-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1896' id='1896-2' value='2'>
			<label for='1896-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1896' id='1896-3' value='3'>
			<label for='1896-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1896' id='1896-4' value='4'>
			<label for='1896-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1896' id='1896-5' value='5'>
			<label for='1896-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1896' id='1896-6' value='6'>
			<label for='1896-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>110. I would prefer to be a leader.</legend>
			<input type='radio' name='51770' id='51770-1' value='1'>
			<label for='51770-1'>Very<br>Inaccurate</label>
			<input type='radio' name='51770' id='51770-2' value='2'>
			<label for='51770-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='51770' id='51770-3' value='3'>
			<label for='51770-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='51770' id='51770-4' value='4'>
			<label for='51770-4'>Slightly<br>Accurate</label>
			<input type='radio' name='51770' id='51770-5' value='5'>
			<label for='51770-5'>Moderately<br>Accurate</label>
			<input type='radio' name='51770' id='51770-6' value='6'>
			<label for='51770-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>111. Leave a mess in my room.</legend>
			<input type='radio' name='1254' id='1254-1' value='1'>
			<label for='1254-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1254' id='1254-2' value='2'>
			<label for='1254-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1254' id='1254-3' value='3'>
			<label for='1254-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1254' id='1254-4' value='4'>
			<label for='1254-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1254' id='1254-5' value='5'>
			<label for='1254-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1254' id='1254-6' value='6'>
			<label for='1254-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>112. Think quickly.</legend>
			<input type='radio' name='1834' id='1834-1' value='1'>
			<label for='1834-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1834' id='1834-2' value='2'>
			<label for='1834-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1834' id='1834-3' value='3'>
			<label for='1834-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1834' id='1834-4' value='4'>
			<label for='1834-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1834' id='1834-5' value='5'>
			<label for='1834-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1834' id='1834-6' value='6'>
			<label for='1834-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>113. I prefer not to get too close to people.</legend>
			<input type='radio' name='4011' id='4011-1' value='1'>
			<label for='4011-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4011' id='4011-2' value='2'>
			<label for='4011-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4011' id='4011-3' value='3'>
			<label for='4011-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4011' id='4011-4' value='4'>
			<label for='4011-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4011' id='4011-5' value='5'>
			<label for='4011-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4011' id='4011-6' value='6'>
			<label for='4011-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>114. Think that my moods don't change more than most people's do.</legend>
			<input type='radio' name='1840' id='1840-1' value='1'>
			<label for='1840-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1840' id='1840-2' value='2'>
			<label for='1840-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1840' id='1840-3' value='3'>
			<label for='1840-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1840' id='1840-4' value='4'>
			<label for='1840-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1840' id='1840-5' value='5'>
			<label for='1840-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1840' id='1840-6' value='6'>
			<label for='1840-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>115. Like to attract attention.</legend>
			<input type='radio' name='1296' id='1296-1' value='1'>
			<label for='1296-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1296' id='1296-2' value='2'>
			<label for='1296-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1296' id='1296-3' value='3'>
			<label for='1296-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1296' id='1296-4' value='4'>
			<label for='1296-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1296' id='1296-5' value='5'>
			<label for='1296-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1296' id='1296-6' value='6'>
			<label for='1296-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>116. I often worry that something bad will happen due to mistakes I made in the past.</legend>
			<input type='radio' name='4094' id='4094-1' value='1'>
			<label for='4094-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4094' id='4094-2' value='2'>
			<label for='4094-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4094' id='4094-3' value='3'>
			<label for='4094-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4094' id='4094-4' value='4'>
			<label for='4094-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4094' id='4094-5' value='5'>
			<label for='4094-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4094' id='4094-6' value='6'>
			<label for='4094-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>117. Trust what people say.</legend>
			<input type='radio' name='1855' id='1855-1' value='1'>
			<label for='1855-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1855' id='1855-2' value='2'>
			<label for='1855-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1855' id='1855-3' value='3'>
			<label for='1855-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1855' id='1855-4' value='4'>
			<label for='1855-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1855' id='1855-5' value='5'>
			<label for='1855-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1855' id='1855-6' value='6'>
			<label for='1855-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>118. Am hard to satisfy.</legend>
			<input type='radio' name='142' id='142-1' value='1'>
			<label for='142-1'>Very<br>Inaccurate</label>
			<input type='radio' name='142' id='142-2' value='2'>
			<label for='142-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='142' id='142-3' value='3'>
			<label for='142-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='142' id='142-4' value='4'>
			<label for='142-4'>Slightly<br>Accurate</label>
			<input type='radio' name='142' id='142-5' value='5'>
			<label for='142-5'>Moderately<br>Accurate</label>
			<input type='radio' name='142' id='142-6' value='6'>
			<label for='142-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>119. I deserve to receive special treatment.</legend>
			<input type='radio' name='50560' id='50560-1' value='1'>
			<label for='50560-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50560' id='50560-2' value='2'>
			<label for='50560-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50560' id='50560-3' value='3'>
			<label for='50560-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50560' id='50560-4' value='4'>
			<label for='50560-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50560' id='50560-5' value='5'>
			<label for='50560-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50560' id='50560-6' value='6'>
			<label for='50560-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>120. Enjoy examining myself and my life.</legend>
			<input type='radio' name='755' id='755-1' value='1'>
			<label for='755-1'>Very<br>Inaccurate</label>
			<input type='radio' name='755' id='755-2' value='2'>
			<label for='755-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='755' id='755-3' value='3'>
			<label for='755-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='755' id='755-4' value='4'>
			<label for='755-4'>Slightly<br>Accurate</label>
			<input type='radio' name='755' id='755-5' value='5'>
			<label for='755-5'>Moderately<br>Accurate</label>
			<input type='radio' name='755' id='755-6' value='6'>
			<label for='755-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>121. Get angry easily.</legend>
			<input type='radio' name='952' id='952-1' value='1'>
			<label for='952-1'>Very<br>Inaccurate</label>
			<input type='radio' name='952' id='952-2' value='2'>
			<label for='952-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='952' id='952-3' value='3'>
			<label for='952-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='952' id='952-4' value='4'>
			<label for='952-4'>Slightly<br>Accurate</label>
			<input type='radio' name='952' id='952-5' value='5'>
			<label for='952-5'>Moderately<br>Accurate</label>
			<input type='radio' name='952' id='952-6' value='6'>
			<label for='952-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>122. I will never be satisfied until I get all that I deserve.</legend>
			<input type='radio' name='51762' id='51762-1' value='1'>
			<label for='51762-1'>Very<br>Inaccurate</label>
			<input type='radio' name='51762' id='51762-2' value='2'>
			<label for='51762-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='51762' id='51762-3' value='3'>
			<label for='51762-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='51762' id='51762-4' value='4'>
			<label for='51762-4'>Slightly<br>Accurate</label>
			<input type='radio' name='51762' id='51762-5' value='5'>
			<label for='51762-5'>Moderately<br>Accurate</label>
			<input type='radio' name='51762' id='51762-6' value='6'>
			<label for='51762-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>123. If the drill descends, then the yellow signal blinks. If the yellow signal blinks, then the oil drips.</legend>
		<p><strong>A.</strong> If the drill descends, then the oil drips.<br>
		<strong>B.</strong> The oil drips.<br>
		<strong>C.</strong> The drill descends.<br>
		<strong>D.</strong> If the drill descends, then the oil doesn't drip.<br>
		<strong>E.</strong> The oil doesn't drip.<br>
		<strong>F.</strong> The conveyor belt runs.<br>
		<strong>G.</strong> None of these<br>
		<strong>H.</strong> I don't know</p></legend>
			<input type='radio' name='17029' id='17029-1' value='1'>
			<label for='17029-1'>A</label>
			<input type='radio' name='17029' id='17029-2' value='2'>
			<label for='17029-2'>B</label>
			<input type='radio' name='17029' id='17029-3' value='3'>
			<label for='17029-3'>C</label>
			<input type='radio' name='17029' id='17029-4' value='4'>
			<label for='17029-4'>D</label>
			<input type='radio' name='17029' id='17029-5' value='5'>
			<label for='17029-5'>E</label>
			<input type='radio' name='17029' id='17029-6' value='6'>
			<label for='17029-6'>F</label>
			<input type='radio' name='17029' id='17029-7' value='7'>
			<label for='17029-7'>G</label>
			<input type='radio' name='17029' id='17029-8' value='8'>
			<label for='17029-8'>H</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>124. In the following alphanumeric series, what number comes next? 73, 55, 37, 19, …</legend>
			<input type='radio' name='12103' id='12103-1' value='1'>
			<label for='12103-1'>11</label>
			<input type='radio' name='12103' id='12103-2' value='2'>
			<label for='12103-2'>20</label>
			<input type='radio' name='12103' id='12103-3' value='3'>
			<label for='12103-3'>18</label>
			<input type='radio' name='12103' id='12103-4' value='4'>
			<label for='12103-4'>1</label>
			<input type='radio' name='12103' id='12103-5' value='5'>
			<label for='12103-5'>17</label>
			<input type='radio' name='12103' id='12103-6' value='6'>
			<label for='12103-6'>19</label>
			<input type='radio' name='12103' id='12103-7' value='7'>
			<label for='12103-7'>None of these</label>
			<input type='radio' name='12103' id='12103-8' value='8'>
			<label for='12103-8'>I don't know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>125. Please indicate which is the best answer to complete the figure below.</legend>
		<img id='fig19009.svg' src='iq.figures/fig19009.svg'><br>
		<input type='radio' name='19009' id='19009-1' value='1'>
		<label for='19009-1'>1</label>
		<input type='radio' name='19009' id='19009-2' value='2'>
		<label for='19009-2'>2</label>
		<input type='radio' name='19009' id='19009-3' value='3'>
		<label for='19009-3'>3</label>
		<input type='radio' name='19009' id='19009-4' value='4'>
		<label for='19009-4'>4</label>
		<input type='radio' name='19009' id='19009-5' value='5'>
		<label for='19009-5'>5</label>
		<input type='radio' name='19009' id='19009-6' value='6'>
		<label for='19009-6'>6</label>
		<input type='radio' name='19009' id='19009-7' value='7'>
		<label for='19009-7'>7</label>
		<input type='radio' name='19009' id='19009-8' value='8'>
		<label for='19009-8'>8</label>
	</fieldset>
</div> <!-- closes div class="10u offset-1u" -->
<div class="1u">
</div> <!-- closes div class="1u" -->
</div>  <!-- closes div class="row" -->
										<div class="row">

											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-stop" aria-disabled="false"><input type="submit" data-theme="stop" name="submitStop" value="Skip to last page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
											<div class="6u">
												<ul>
												<li>
												</li>
												</ul>
											</div>
											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-more" aria-disabled="false"><input type="submit" data-theme="more" id="submitGo" name="submitGo" value="Next page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
										</div>

</form><!-- closes form id="page7"  -->
								</div>  <!-- closes div class="5grid" -->
							</div>  <!-- closes div id="content" -->
						</div> <!-- closes div class="12u mobileUI-main-content" -->
					</div><!-- closes div id="row" -->
				</div> <!-- closes div class="5grid-layout" -->
			</div> <!-- closes div id="main-wrapper" -->

		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
				<footer id="footer" class="5grid-layout">
					<div class="row">
						<div class="12u">
							<div id="copyright">
							<center>
								&copy; Part of the Personality Project.	
							</center>
							</div>
						</div>
					</div>
				</footer>
			</div>
		<!-- End Footer Wrapper -->
	</body>
</html>
