<!DOCTYPE HTML>
<html>

	<head>
		<title>Free Personality Test | SAPA-Project | Items 126 to 150</title>
		<meta name="description" content="This is the sixth of several pages where we ask about your typical thoughts, feelings, and behaviors. Your responses to these questions will shape your free customized personality report, so be sure to respond honestly.  And don't skip too many items along the way!">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="keywords" content="" />

		<link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
		<link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16">
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
		<link rel="manifest" href="../manifest.json">
		<link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" href="../css/5grid/fonts.css" />
		<link rel="stylesheet" href="../css/5grid/jquery.mobile-1.3.0.css" />
		<script src="../css/5grid/jquery.js"></script>
		<script src="../css/5grid/jquery.mobile-1.3.0.min.js"></script>
		<script src="../css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none&amp;mobileUI_titleBarOverlaid=1&amp;mobileUI_titleBarHeight=60&amp;viewport_is1000px=1060&amp;mobileUI_openerWidth=80"></script>
		<noscript>
			<link rel="stylesheet" href="../css/5grid/core.css" />
			<link rel="stylesheet" href="../css/5grid/core-desktop.css" />
			<link rel="stylesheet" href="../css/5grid/core-1200px.css" />
			<link rel="stylesheet" href="../css/5grid/core-noscript.css" />
			<link rel="stylesheet" href="../css/style.css" />
			<link rel="stylesheet" href="../css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="../css/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="../css/ie7.css" /><![endif]-->
	</head>
	<body class="no-sidebar">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="5grid-layout">
					<div class="row">
						
							<!-- Header -->
								<header id="header">
										<h2>The SAPA Project</h2>
										<h3>a personality assessment collaboratory</h3>
								</header>

					</div>
				</div>
			</div>
		<!-- End Header Wrapper -->
		
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="5grid-layout">
					<div class="row">
						<div class="12u mobileUI-main-content">

							<!-- Content -->
								<div id="content">

									<div class="5grid">
										<div class="row">
											<div class="12u" style="margin-bottom: 0px;">

										<h3>Personality Questions</h3>
										
										<p class="smallish">You've responded to <strong>8 of the 125 items</strong> given so far.</p>

										<p class="smallish">Remember that <strong>your responses are anonymous</strong>.  Do your best to respond as accurately and honestly as possible.</p>

											</div> <!-- closes div class="12u" -->
										</div>  <!-- closes div class="row" -->
																		
										<div class="small">
										</div>

<form name="page8" id="page8" DefaultButton="submitGo" action="/survey/survey6.php" data-ajax="false" method="post" onsubmit="getTime();">  

<input type="hidden" id="page6Time" name="page6Time">

<script language='JavaScript'>
function getTime(){
var current = new Date();
var since = current.getTime();
var elapsetime = since/1000;
document.getElementById('page6Time').value = elapsetime;
}
</script>
<!-- Gets the time between 1/1/1970 12:00 am UTC and now in seconds. -->

<div class="row">
<div class="10u offset-1u">


	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>126. Even though I know better, I can't stop making rash decisions.</legend>
			<input type='radio' name='4018' id='4018-1' value='1'>
			<label for='4018-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4018' id='4018-2' value='2'>
			<label for='4018-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4018' id='4018-3' value='3'>
			<label for='4018-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4018' id='4018-4' value='4'>
			<label for='4018-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4018' id='4018-5' value='5'>
			<label for='4018-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4018' id='4018-6' value='6'>
			<label for='4018-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>127. Have a natural talent for influencing people.</legend>
			<input type='radio' name='1045' id='1045-1' value='1'>
			<label for='1045-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1045' id='1045-2' value='2'>
			<label for='1045-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1045' id='1045-3' value='3'>
			<label for='1045-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1045' id='1045-4' value='4'>
			<label for='1045-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1045' id='1045-5' value='5'>
			<label for='1045-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1045' id='1045-6' value='6'>
			<label for='1045-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>128. Respect authority.</legend>
			<input type='radio' name='1624' id='1624-1' value='1'>
			<label for='1624-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1624' id='1624-2' value='2'>
			<label for='1624-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1624' id='1624-3' value='3'>
			<label for='1624-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1624' id='1624-4' value='4'>
			<label for='1624-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1624' id='1624-5' value='5'>
			<label for='1624-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1624' id='1624-6' value='6'>
			<label for='1624-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>129. I think I am a special person.</legend>
			<input type='radio' name='51746' id='51746-1' value='1'>
			<label for='51746-1'>Very<br>Inaccurate</label>
			<input type='radio' name='51746' id='51746-2' value='2'>
			<label for='51746-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='51746' id='51746-3' value='3'>
			<label for='51746-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='51746' id='51746-4' value='4'>
			<label for='51746-4'>Slightly<br>Accurate</label>
			<input type='radio' name='51746' id='51746-5' value='5'>
			<label for='51746-5'>Moderately<br>Accurate</label>
			<input type='radio' name='51746' id='51746-6' value='6'>
			<label for='51746-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>130. See myself as an average person.</legend>
			<input type='radio' name='1653' id='1653-1' value='1'>
			<label for='1653-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1653' id='1653-2' value='2'>
			<label for='1653-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1653' id='1653-3' value='3'>
			<label for='1653-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1653' id='1653-4' value='4'>
			<label for='1653-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1653' id='1653-5' value='5'>
			<label for='1653-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1653' id='1653-6' value='6'>
			<label for='1653-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>131. Love life.</legend>
			<input type='radio' name='1371' id='1371-1' value='1'>
			<label for='1371-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1371' id='1371-2' value='2'>
			<label for='1371-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1371' id='1371-3' value='3'>
			<label for='1371-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1371' id='1371-4' value='4'>
			<label for='1371-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1371' id='1371-5' value='5'>
			<label for='1371-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1371' id='1371-6' value='6'>
			<label for='1371-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>132. I rarely follow the rules.</legend>
			<input type='radio' name='3994' id='3994-1' value='1'>
			<label for='3994-1'>Very<br>Inaccurate</label>
			<input type='radio' name='3994' id='3994-2' value='2'>
			<label for='3994-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='3994' id='3994-3' value='3'>
			<label for='3994-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='3994' id='3994-4' value='4'>
			<label for='3994-4'>Slightly<br>Accurate</label>
			<input type='radio' name='3994' id='3994-5' value='5'>
			<label for='3994-5'>Moderately<br>Accurate</label>
			<input type='radio' name='3994' id='3994-6' value='6'>
			<label for='3994-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>133. Laugh aloud.</legend>
			<input type='radio' name='1244' id='1244-1' value='1'>
			<label for='1244-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1244' id='1244-2' value='2'>
			<label for='1244-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1244' id='1244-3' value='3'>
			<label for='1244-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1244' id='1244-4' value='4'>
			<label for='1244-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1244' id='1244-5' value='5'>
			<label for='1244-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1244' id='1244-6' value='6'>
			<label for='1244-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>134. Am open about my feelings.</legend>
			<input type='radio' name='219' id='219-1' value='1'>
			<label for='219-1'>Very<br>Inaccurate</label>
			<input type='radio' name='219' id='219-2' value='2'>
			<label for='219-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='219' id='219-3' value='3'>
			<label for='219-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='219' id='219-4' value='4'>
			<label for='219-4'>Slightly<br>Accurate</label>
			<input type='radio' name='219' id='219-5' value='5'>
			<label for='219-5'>Moderately<br>Accurate</label>
			<input type='radio' name='219' id='219-6' value='6'>
			<label for='219-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>135. I like to take responsibility for making decisions.</legend>
			<input type='radio' name='51754' id='51754-1' value='1'>
			<label for='51754-1'>Very<br>Inaccurate</label>
			<input type='radio' name='51754' id='51754-2' value='2'>
			<label for='51754-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='51754' id='51754-3' value='3'>
			<label for='51754-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='51754' id='51754-4' value='4'>
			<label for='51754-4'>Slightly<br>Accurate</label>
			<input type='radio' name='51754' id='51754-5' value='5'>
			<label for='51754-5'>Moderately<br>Accurate</label>
			<input type='radio' name='51754' id='51754-6' value='6'>
			<label for='51754-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>136. Never spend more than I can afford.</legend>
			<input type='radio' name='1461' id='1461-1' value='1'>
			<label for='1461-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1461' id='1461-2' value='2'>
			<label for='1461-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1461' id='1461-3' value='3'>
			<label for='1461-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1461' id='1461-4' value='4'>
			<label for='1461-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1461' id='1461-5' value='5'>
			<label for='1461-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1461' id='1461-6' value='6'>
			<label for='1461-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>137. Do not like art.</legend>
			<input type='radio' name='610' id='610-1' value='1'>
			<label for='610-1'>Very<br>Inaccurate</label>
			<input type='radio' name='610' id='610-2' value='2'>
			<label for='610-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='610' id='610-3' value='3'>
			<label for='610-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='610' id='610-4' value='4'>
			<label for='610-4'>Slightly<br>Accurate</label>
			<input type='radio' name='610' id='610-5' value='5'>
			<label for='610-5'>Moderately<br>Accurate</label>
			<input type='radio' name='610' id='610-6' value='6'>
			<label for='610-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>138. It is easy to get people to do what I want.</legend>
			<input type='radio' name='50611' id='50611-1' value='1'>
			<label for='50611-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50611' id='50611-2' value='2'>
			<label for='50611-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50611' id='50611-3' value='3'>
			<label for='50611-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50611' id='50611-4' value='4'>
			<label for='50611-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50611' id='50611-5' value='5'>
			<label for='50611-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50611' id='50611-6' value='6'>
			<label for='50611-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>139. Like to begin new things.</legend>
			<input type='radio' name='1303' id='1303-1' value='1'>
			<label for='1303-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1303' id='1303-2' value='2'>
			<label for='1303-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1303' id='1303-3' value='3'>
			<label for='1303-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1303' id='1303-4' value='4'>
			<label for='1303-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1303' id='1303-5' value='5'>
			<label for='1303-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1303' id='1303-6' value='6'>
			<label for='1303-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>140. Seek danger.</legend>
			<input type='radio' name='1664' id='1664-1' value='1'>
			<label for='1664-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1664' id='1664-2' value='2'>
			<label for='1664-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1664' id='1664-3' value='3'>
			<label for='1664-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1664' id='1664-4' value='4'>
			<label for='1664-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1664' id='1664-5' value='5'>
			<label for='1664-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1664' id='1664-6' value='6'>
			<label for='1664-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>141. I avoid risky sports and activities.</legend>
			<input type='radio' name='4036' id='4036-1' value='1'>
			<label for='4036-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4036' id='4036-2' value='2'>
			<label for='4036-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4036' id='4036-3' value='3'>
			<label for='4036-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4036' id='4036-4' value='4'>
			<label for='4036-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4036' id='4036-5' value='5'>
			<label for='4036-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4036' id='4036-6' value='6'>
			<label for='4036-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>142. Often make decisions on the spur of the moment.</legend>
			<input type='radio' name='4276' id='4276-1' value='1'>
			<label for='4276-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4276' id='4276-2' value='2'>
			<label for='4276-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4276' id='4276-3' value='3'>
			<label for='4276-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4276' id='4276-4' value='4'>
			<label for='4276-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4276' id='4276-5' value='5'>
			<label for='4276-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4276' id='4276-6' value='6'>
			<label for='4276-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>143. Tend to vote for conservative political candidates.</legend>
			<input type='radio' name='1824' id='1824-1' value='1'>
			<label for='1824-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1824' id='1824-2' value='2'>
			<label for='1824-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1824' id='1824-3' value='3'>
			<label for='1824-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1824' id='1824-4' value='4'>
			<label for='1824-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1824' id='1824-5' value='5'>
			<label for='1824-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1824' id='1824-6' value='6'>
			<label for='1824-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>144. It's better to be totally honest than to be successful.</legend>
			<input type='radio' name='50534' id='50534-1' value='1'>
			<label for='50534-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50534' id='50534-2' value='2'>
			<label for='50534-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50534' id='50534-3' value='3'>
			<label for='50534-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50534' id='50534-4' value='4'>
			<label for='50534-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50534' id='50534-5' value='5'>
			<label for='50534-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50534' id='50534-6' value='6'>
			<label for='50534-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>145. Have a slow pace to my life.</legend>
			<input type='radio' name='1052' id='1052-1' value='1'>
			<label for='1052-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1052' id='1052-2' value='2'>
			<label for='1052-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1052' id='1052-3' value='3'>
			<label for='1052-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1052' id='1052-4' value='4'>
			<label for='1052-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1052' id='1052-5' value='5'>
			<label for='1052-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1052' id='1052-6' value='6'>
			<label for='1052-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>146. There's way too much violence in sports.</legend>
			<input type='radio' name='51793' id='51793-1' value='1'>
			<label for='51793-1'>Very<br>Inaccurate</label>
			<input type='radio' name='51793' id='51793-2' value='2'>
			<label for='51793-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='51793' id='51793-3' value='3'>
			<label for='51793-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='51793' id='51793-4' value='4'>
			<label for='51793-4'>Slightly<br>Accurate</label>
			<input type='radio' name='51793' id='51793-5' value='5'>
			<label for='51793-5'>Moderately<br>Accurate</label>
			<input type='radio' name='51793' id='51793-6' value='6'>
			<label for='51793-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>147. I don't react much to things that seem to make others emotional.</legend>
			<input type='radio' name='4185' id='4185-1' value='1'>
			<label for='4185-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4185' id='4185-2' value='2'>
			<label for='4185-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4185' id='4185-3' value='3'>
			<label for='4185-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4185' id='4185-4' value='4'>
			<label for='4185-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4185' id='4185-5' value='5'>
			<label for='4185-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4185' id='4185-6' value='6'>
			<label for='4185-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>148. Adam and Melissa went fly-fishing and caught a total of 32 salmon. Melissa caught three times as many salmon as Adam. How many salmon did Adam catch?</legend>
			<input type='radio' name='12014' id='12014-1' value='1'>
			<label for='12014-1'> 7</label>
			<input type='radio' name='12014' id='12014-2' value='2'>
			<label for='12014-2'> 8</label>
			<input type='radio' name='12014' id='12014-3' value='3'>
			<label for='12014-3'> 9</label>
			<input type='radio' name='12014' id='12014-4' value='4'>
			<label for='12014-4'> 10</label>
			<input type='radio' name='12014' id='12014-5' value='5'>
			<label for='12014-5'> 11</label>
			<input type='radio' name='12014' id='12014-6' value='6'>
			<label for='12014-6'> 12</label>
			<input type='radio' name='12014' id='12014-7' value='7'>
			<label for='12014-7'>None of these</label>
			<input type='radio' name='12014' id='12014-8' value='8'>
			<label for='12014-8'>I don't know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>149. Please indicate which is the best answer to complete the analogy below.</legend>
		<img id='fig18011.png' src='iq.figures/fig18011.png' width='640' height='200'><br>
		<input type='radio' name='18011' id='18011-1' value='1'>
		<label for='18011-1'>A</label>
		<input type='radio' name='18011' id='18011-2' value='2'>
		<label for='18011-2'>B</label>
		<input type='radio' name='18011' id='18011-3' value='3'>
		<label for='18011-3'>C</label>
		<input type='radio' name='18011' id='18011-4' value='4'>
		<label for='18011-4'>D</label>
		<input type='radio' name='18011' id='18011-5' value='5'>
		<label for='18011-5'>E</label>
		<input type='radio' name='18011' id='18011-6' value='6'>
		<label for='18011-6'>F</label>
		<input type='radio' name='18011' id='18011-7' value='7'>
		<label for='18011-7'>G</label>
		<input type='radio' name='18011' id='18011-8' value='8'>
		<label for='18011-8'>H</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>150. Please mark the word that does not match the other words:</legend>
			<input type='radio' name='12023' id='12023-1' value='1'>
			<label for='12023-1'> Buenos Aires</label>
			<input type='radio' name='12023' id='12023-2' value='2'>
			<label for='12023-2'> Melbourne</label>
			<input type='radio' name='12023' id='12023-3' value='3'>
			<label for='12023-3'> Seattle</label>
			<input type='radio' name='12023' id='12023-4' value='4'>
			<label for='12023-4'> Cairo</label>
			<input type='radio' name='12023' id='12023-5' value='5'>
			<label for='12023-5'> Morocco</label>
			<input type='radio' name='12023' id='12023-6' value='6'>
			<label for='12023-6'> Milan</label>
			<input type='radio' name='12023' id='12023-7' value='7'>
			<label for='12023-7'>None of these</label>
			<input type='radio' name='12023' id='12023-8' value='8'>
			<label for='12023-8'>I don't know</label>
	</fieldset>
</div> <!-- closes div class="10u offset-1u" -->
<div class="1u">
</div> <!-- closes div class="1u" -->
</div>  <!-- closes div class="row" -->
										<div class="row">

											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-stop" aria-disabled="false"><input type="submit" data-theme="stop" name="submitStop" value="Skip to last page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
											<div class="6u">
												<ul>
												<li>
												</li>
												</ul>
											</div>
											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-more" aria-disabled="false"><input type="submit" data-theme="more" id="submitGo" name="submitGo" value="Next page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
										</div>

</form><!-- closes form id="page8"  -->
								</div>  <!-- closes div class="5grid" -->
							</div>  <!-- closes div id="content" -->
						</div> <!-- closes div class="12u mobileUI-main-content" -->
					</div><!-- closes div id="row" -->
				</div> <!-- closes div class="5grid-layout" -->
			</div> <!-- closes div id="main-wrapper" -->

		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
				<footer id="footer" class="5grid-layout">
					<div class="row">
						<div class="12u">
							<div id="copyright">
							<center>
								&copy; Part of the Personality Project.	
							</center>
							</div>
						</div>
					</div>
				</footer>
			</div>
		<!-- End Footer Wrapper -->
	</body>
</html>
