<!DOCTYPE HTML>
<html>

	<head>
		<title>Free Personality Test | SAPA-Project | Items 76 to 100</title>
		<meta name="description" content="This is the fourth of several pages where we ask about your typical thoughts, feelings, and behaviors. Your responses to these questions will shape your free customized personality report, so be sure to respond honestly.  And don't skip too many items along the way!">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="keywords" content="" />

		<link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
		<link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16">
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
		<link rel="manifest" href="../manifest.json">
		<link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" href="../css/5grid/fonts.css" />
		<link rel="stylesheet" href="../css/5grid/jquery.mobile-1.3.0.css" />
		<script src="../css/5grid/jquery.js"></script>
		<script src="../css/5grid/jquery.mobile-1.3.0.min.js"></script>
		<script src="../css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none&amp;mobileUI_titleBarOverlaid=1&amp;mobileUI_titleBarHeight=60&amp;viewport_is1000px=1060&amp;mobileUI_openerWidth=80"></script>
		<noscript>
			<link rel="stylesheet" href="../css/5grid/core.css" />
			<link rel="stylesheet" href="../css/5grid/core-desktop.css" />
			<link rel="stylesheet" href="../css/5grid/core-1200px.css" />
			<link rel="stylesheet" href="../css/5grid/core-noscript.css" />
			<link rel="stylesheet" href="../css/style.css" />
			<link rel="stylesheet" href="../css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="../css/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="../css/ie7.css" /><![endif]-->
	</head>
	<body class="no-sidebar">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="5grid-layout">
					<div class="row">
						
							<!-- Header -->
								<header id="header">
										<h2>The SAPA Project</h2>
										<h3>a personality assessment collaboratory</h3>
								</header>

					</div>
				</div>
			</div>
		<!-- End Header Wrapper -->
		
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="5grid-layout">
					<div class="row">
						<div class="12u mobileUI-main-content">

							<!-- Content -->
								<div id="content">

									<div class="5grid">
										<div class="row">
											<div class="12u" style="margin-bottom: 0px;">

										<h3>Personality Questions</h3>
										
										<p class="smallish">You've responded to <strong>4 of the 75 items</strong> given so far.</p>

										<p class="smallish">Remember that <strong>your responses are anonymous</strong>.  Do your best to respond as accurately and honestly as possible.</p>

											</div> <!-- closes div class="12u" -->
										</div>  <!-- closes div class="row" -->
																		
										<div class="small">
										</div>

<form name="page6" id="page6" DefaultButton="submitGo" action="/survey/survey4.php" data-ajax="false" method="post" onsubmit="getTime();">  

<input type="hidden" id="page4Time" name="page4Time">

<script language='JavaScript'>
function getTime(){
var current = new Date();
var since = current.getTime();
var elapsetime = since/1000;
document.getElementById('page4Time').value = elapsetime;
}
</script>
<!-- Gets the time between 1/1/1970 12:00 am UTC and now in seconds. -->

<div class="row">
<div class="10u offset-1u">


	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>76. I feel compelled to go on with things even when it makes little sense to do so.</legend>
			<input type='radio' name='4138' id='4138-1' value='1'>
			<label for='4138-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4138' id='4138-2' value='2'>
			<label for='4138-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4138' id='4138-3' value='3'>
			<label for='4138-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4138' id='4138-4' value='4'>
			<label for='4138-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4138' id='4138-5' value='5'>
			<label for='4138-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4138' id='4138-6' value='6'>
			<label for='4138-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>77. Lack the talent for influencing people.</legend>
			<input type='radio' name='1242' id='1242-1' value='1'>
			<label for='1242-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1242' id='1242-2' value='2'>
			<label for='1242-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1242' id='1242-3' value='3'>
			<label for='1242-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1242' id='1242-4' value='4'>
			<label for='1242-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1242' id='1242-5' value='5'>
			<label for='1242-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1242' id='1242-6' value='6'>
			<label for='1242-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>78. Try to follow the rules.</legend>
			<input type='radio' name='1867' id='1867-1' value='1'>
			<label for='1867-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1867' id='1867-2' value='2'>
			<label for='1867-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1867' id='1867-3' value='3'>
			<label for='1867-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1867' id='1867-4' value='4'>
			<label for='1867-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1867' id='1867-5' value='5'>
			<label for='1867-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1867' id='1867-6' value='6'>
			<label for='1867-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>79. Sometimes you need to exaggerate to get ahead.</legend>
			<input type='radio' name='4127' id='4127-1' value='1'>
			<label for='4127-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4127' id='4127-2' value='2'>
			<label for='4127-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4127' id='4127-3' value='3'>
			<label for='4127-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4127' id='4127-4' value='4'>
			<label for='4127-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4127' id='4127-5' value='5'>
			<label for='4127-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4127' id='4127-6' value='6'>
			<label for='4127-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>80. Am just an ordinary person.</legend>
			<input type='radio' name='152' id='152-1' value='1'>
			<label for='152-1'>Very<br>Inaccurate</label>
			<input type='radio' name='152' id='152-2' value='2'>
			<label for='152-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='152' id='152-3' value='3'>
			<label for='152-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='152' id='152-4' value='4'>
			<label for='152-4'>Slightly<br>Accurate</label>
			<input type='radio' name='152' id='152-5' value='5'>
			<label for='152-5'>Moderately<br>Accurate</label>
			<input type='radio' name='152' id='152-6' value='6'>
			<label for='152-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>81. Feel comfortable with myself.</legend>
			<input type='radio' name='820' id='820-1' value='1'>
			<label for='820-1'>Very<br>Inaccurate</label>
			<input type='radio' name='820' id='820-2' value='2'>
			<label for='820-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='820' id='820-3' value='3'>
			<label for='820-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='820' id='820-4' value='4'>
			<label for='820-4'>Slightly<br>Accurate</label>
			<input type='radio' name='820' id='820-5' value='5'>
			<label for='820-5'>Moderately<br>Accurate</label>
			<input type='radio' name='820' id='820-6' value='6'>
			<label for='820-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>82. You should take advantage of other people before they do it to you.</legend>
			<input type='radio' name='3962' id='3962-1' value='1'>
			<label for='3962-1'>Very<br>Inaccurate</label>
			<input type='radio' name='3962' id='3962-2' value='2'>
			<label for='3962-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='3962' id='3962-3' value='3'>
			<label for='3962-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='3962' id='3962-4' value='4'>
			<label for='3962-4'>Slightly<br>Accurate</label>
			<input type='radio' name='3962' id='3962-5' value='5'>
			<label for='3962-5'>Moderately<br>Accurate</label>
			<input type='radio' name='3962' id='3962-6' value='6'>
			<label for='3962-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>83. Seldom joke around.</legend>
			<input type='radio' name='1685' id='1685-1' value='1'>
			<label for='1685-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1685' id='1685-2' value='2'>
			<label for='1685-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1685' id='1685-3' value='3'>
			<label for='1685-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1685' id='1685-4' value='4'>
			<label for='1685-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1685' id='1685-5' value='5'>
			<label for='1685-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1685' id='1685-6' value='6'>
			<label for='1685-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>84. Have difficulty expressing my feelings.</legend>
			<input type='radio' name='1081' id='1081-1' value='1'>
			<label for='1081-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1081' id='1081-2' value='2'>
			<label for='1081-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1081' id='1081-3' value='3'>
			<label for='1081-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1081' id='1081-4' value='4'>
			<label for='1081-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1081' id='1081-5' value='5'>
			<label for='1081-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1081' id='1081-6' value='6'>
			<label for='1081-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>85. I get upset when people don't notice how I look when I go out in public.</legend>
			<input type='radio' name='51775' id='51775-1' value='1'>
			<label for='51775-1'>Very<br>Inaccurate</label>
			<input type='radio' name='51775' id='51775-2' value='2'>
			<label for='51775-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='51775' id='51775-3' value='3'>
			<label for='51775-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='51775' id='51775-4' value='4'>
			<label for='51775-4'>Slightly<br>Accurate</label>
			<input type='radio' name='51775' id='51775-5' value='5'>
			<label for='51775-5'>Moderately<br>Accurate</label>
			<input type='radio' name='51775' id='51775-6' value='6'>
			<label for='51775-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>86. Never splurge.</legend>
			<input type='radio' name='1462' id='1462-1' value='1'>
			<label for='1462-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1462' id='1462-2' value='2'>
			<label for='1462-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1462' id='1462-3' value='3'>
			<label for='1462-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1462' id='1462-4' value='4'>
			<label for='1462-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1462' id='1462-5' value='5'>
			<label for='1462-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1462' id='1462-6' value='6'>
			<label for='1462-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>87. Do not enjoy going to art museums.</legend>
			<input type='radio' name='607' id='607-1' value='1'>
			<label for='607-1'>Very<br>Inaccurate</label>
			<input type='radio' name='607' id='607-2' value='2'>
			<label for='607-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='607' id='607-3' value='3'>
			<label for='607-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='607' id='607-4' value='4'>
			<label for='607-4'>Slightly<br>Accurate</label>
			<input type='radio' name='607' id='607-5' value='5'>
			<label for='607-5'>Moderately<br>Accurate</label>
			<input type='radio' name='607' id='607-6' value='6'>
			<label for='607-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>88. I'm always on my guard for someone trying to trick or harm me.</legend>
			<input type='radio' name='4118' id='4118-1' value='1'>
			<label for='4118-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4118' id='4118-2' value='2'>
			<label for='4118-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4118' id='4118-3' value='3'>
			<label for='4118-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4118' id='4118-4' value='4'>
			<label for='4118-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4118' id='4118-5' value='5'>
			<label for='4118-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4118' id='4118-6' value='6'>
			<label for='4118-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>89. Dislike changes.</legend>
			<input type='radio' name='566' id='566-1' value='1'>
			<label for='566-1'>Very<br>Inaccurate</label>
			<input type='radio' name='566' id='566-2' value='2'>
			<label for='566-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='566' id='566-3' value='3'>
			<label for='566-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='566' id='566-4' value='4'>
			<label for='566-4'>Slightly<br>Accurate</label>
			<input type='radio' name='566' id='566-5' value='5'>
			<label for='566-5'>Moderately<br>Accurate</label>
			<input type='radio' name='566' id='566-6' value='6'>
			<label for='566-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>90. Do crazy things.</legend>
			<input type='radio' name='598' id='598-1' value='1'>
			<label for='598-1'>Very<br>Inaccurate</label>
			<input type='radio' name='598' id='598-2' value='2'>
			<label for='598-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='598' id='598-3' value='3'>
			<label for='598-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='598' id='598-4' value='4'>
			<label for='598-4'>Slightly<br>Accurate</label>
			<input type='radio' name='598' id='598-5' value='5'>
			<label for='598-5'>Moderately<br>Accurate</label>
			<input type='radio' name='598' id='598-6' value='6'>
			<label for='598-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>91. I'm pretty indifferent to the criticism of others.</legend>
			<input type='radio' name='50594' id='50594-1' value='1'>
			<label for='50594-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50594' id='50594-2' value='2'>
			<label for='50594-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50594' id='50594-3' value='3'>
			<label for='50594-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50594' id='50594-4' value='4'>
			<label for='50594-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50594' id='50594-5' value='5'>
			<label for='50594-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50594' id='50594-6' value='6'>
			<label for='50594-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>92. Jump into things without thinking.</legend>
			<input type='radio' name='1173' id='1173-1' value='1'>
			<label for='1173-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1173' id='1173-2' value='2'>
			<label for='1173-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1173' id='1173-3' value='3'>
			<label for='1173-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1173' id='1173-4' value='4'>
			<label for='1173-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1173' id='1173-5' value='5'>
			<label for='1173-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1173' id='1173-6' value='6'>
			<label for='1173-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>93. Believe in one true religion.</legend>
			<input type='radio' name='345' id='345-1' value='1'>
			<label for='345-1'>Very<br>Inaccurate</label>
			<input type='radio' name='345' id='345-2' value='2'>
			<label for='345-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='345' id='345-3' value='3'>
			<label for='345-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='345' id='345-4' value='4'>
			<label for='345-4'>Slightly<br>Accurate</label>
			<input type='radio' name='345' id='345-5' value='5'>
			<label for='345-5'>Moderately<br>Accurate</label>
			<input type='radio' name='345' id='345-6' value='6'>
			<label for='345-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>94. I deserve special treatment.</legend>
			<input type='radio' name='4188' id='4188-1' value='1'>
			<label for='4188-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4188' id='4188-2' value='2'>
			<label for='4188-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4188' id='4188-3' value='3'>
			<label for='4188-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4188' id='4188-4' value='4'>
			<label for='4188-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4188' id='4188-5' value='5'>
			<label for='4188-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4188' id='4188-6' value='6'>
			<label for='4188-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>95. Like a leisurely lifestyle.</legend>
			<input type='radio' name='1281' id='1281-1' value='1'>
			<label for='1281-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1281' id='1281-2' value='2'>
			<label for='1281-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1281' id='1281-3' value='3'>
			<label for='1281-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1281' id='1281-4' value='4'>
			<label for='1281-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1281' id='1281-5' value='5'>
			<label for='1281-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1281' id='1281-6' value='6'>
			<label for='1281-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>96. I have some exceptional qualities.</legend>
			<input type='radio' name='51806' id='51806-1' value='1'>
			<label for='51806-1'>Very<br>Inaccurate</label>
			<input type='radio' name='51806' id='51806-2' value='2'>
			<label for='51806-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='51806' id='51806-3' value='3'>
			<label for='51806-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='51806' id='51806-4' value='4'>
			<label for='51806-4'>Slightly<br>Accurate</label>
			<input type='radio' name='51806' id='51806-5' value='5'>
			<label for='51806-5'>Moderately<br>Accurate</label>
			<input type='radio' name='51806' id='51806-6' value='6'>
			<label for='51806-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>97. I keep approaching things the same way, even when it isn't working.</legend>
			<input type='radio' name='4061' id='4061-1' value='1'>
			<label for='4061-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4061' id='4061-2' value='2'>
			<label for='4061-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4061' id='4061-3' value='3'>
			<label for='4061-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4061' id='4061-4' value='4'>
			<label for='4061-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4061' id='4061-5' value='5'>
			<label for='4061-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4061' id='4061-6' value='6'>
			<label for='4061-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>98. Please indicate which is the best answer to complete the figure below.</legend>
		<img id='fig12055.jpg' src='iq.figures/fig12055.jpg' width='551' height='394'><br>
		<input type='radio' name='12055' id='12055-1' value='1'>
		<label for='12055-1'>A</label>
		<input type='radio' name='12055' id='12055-2' value='2'>
		<label for='12055-2'>B</label>
		<input type='radio' name='12055' id='12055-3' value='3'>
		<label for='12055-3'>C</label>
		<input type='radio' name='12055' id='12055-4' value='4'>
		<label for='12055-4'>D</label>
		<input type='radio' name='12055' id='12055-5' value='5'>
		<label for='12055-5'>E</label>
		<input type='radio' name='12055' id='12055-6' value='6'>
		<label for='12055-6'>F</label>
		<input type='radio' name='12055' id='12055-7' value='7'>
		<label for='12055-7'>None of these</label>
		<input type='radio' name='12055' id='12055-8' value='8'>
		<label for='12055-8'>I don't know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>99. Zach is taller than Matt and Richard is shorter than Zach. Which of the following statements would be most accurate?</legend>
			<input type='radio' name='12016' id='12016-1' value='1'>
			<label for='12016-1'>Richard is<br>taller than<br>Matt</label>
			<input type='radio' name='12016' id='12016-2' value='2'>
			<label for='12016-2'>Richard is<br>shorter than<br>Matt</label>
			<input type='radio' name='12016' id='12016-3' value='3'>
			<label for='12016-3'>Richard is<br>as tall as<br>Matt</label>
			<input type='radio' name='12016' id='12016-4' value='4'>
			<label for='12016-4'>It is<br>impossible<br>to tell</label>
			<input type='radio' name='12016' id='12016-5' value='5'>
			<label for='12016-5'>Richard is<br>taller than<br>Zach</label>
			<input type='radio' name='12016' id='12016-6' value='6'>
			<label for='12016-6'>Zach is<br>shorter than<br>Matt</label>
			<input type='radio' name='12016' id='12016-7' value='7'>
			<label for='12016-7'><br>None of<br>these</label>
			<input type='radio' name='12016' id='12016-8' value='8'>
			<label for='12016-8'><br>I don't<br>know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>100. Which piece makes these patterns match?</legend>
		<img id='fig16050.svg' src='iq.figures/fig16050.svg' width='440' height='340'><br>
		<input type='radio' name='16050' id='16050-1' value='1'>
		<label for='16050-1'>A</label>
		<input type='radio' name='16050' id='16050-2' value='2'>
		<label for='16050-2'>B</label>
		<input type='radio' name='16050' id='16050-3' value='3'>
		<label for='16050-3'>C</label>
		<input type='radio' name='16050' id='16050-4' value='4'>
		<label for='16050-4'>D</label>
		<input type='radio' name='16050' id='16050-5' value='5'>
		<label for='16050-5'>E</label>
		<input type='radio' name='16050' id='16050-6' value='6'>
		<label for='16050-6'>F</label>
		<input type='radio' name='16050' id='16050-7' value='7'>
		<label for='16050-7'>G</label>
		<input type='radio' name='16050' id='16050-8' value='8'>
		<label for='16050-8'>H</label>
	</fieldset>
</div> <!-- closes div class="10u offset-1u" -->
<div class="1u">
</div> <!-- closes div class="1u" -->
</div>  <!-- closes div class="row" -->
										<div class="row">

											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-stop" aria-disabled="false"><input type="submit" data-theme="stop" name="submitStop" value="Skip to last page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
											<div class="6u">
												<ul>
												<li>
												</li>
												</ul>
											</div>
											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-more" aria-disabled="false"><input type="submit" data-theme="more" id="submitGo" name="submitGo" value="Next page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
										</div>

</form><!-- closes form id="page6"  -->
								</div>  <!-- closes div class="5grid" -->
							</div>  <!-- closes div id="content" -->
						</div> <!-- closes div class="12u mobileUI-main-content" -->
					</div><!-- closes div id="row" -->
				</div> <!-- closes div class="5grid-layout" -->
			</div> <!-- closes div id="main-wrapper" -->

		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
				<footer id="footer" class="5grid-layout">
					<div class="row">
						<div class="12u">
							<div id="copyright">
							<center>
								&copy; Part of the Personality Project.	
							</center>
							</div>
						</div>
					</div>
				</footer>
			</div>
		<!-- End Footer Wrapper -->
	</body>
</html>
