<!DOCTYPE HTML>
<html>

	<head>
		<title>Free Personality Test | SAPA-Project | Items 26 to 50</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="description" content="This is the second of several pages where we ask about your typical thoughts, feelings, and behaviors. Your responses to these questions will shape your free customized personality report, so be sure to respond honestly.  And don't skip too many items along the way!">
		<meta name="keywords" content="" />

		<link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
		<link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16">
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
		<link rel="manifest" href="../manifest.json">
		<link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" href="../css/5grid/fonts.css" />
		<link rel="stylesheet" href="../css/5grid/jquery.mobile-1.3.0.css" />
		<script src="../css/5grid/jquery.js"></script>
		<script src="../css/5grid/jquery.mobile-1.3.0.min.js"></script>
		<script src="../css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none&amp;mobileUI_titleBarOverlaid=1&amp;mobileUI_titleBarHeight=60&amp;viewport_is1000px=1060&amp;mobileUI_openerWidth=80"></script>
		<noscript>
			<link rel="stylesheet" href="../css/5grid/core.css" />
			<link rel="stylesheet" href="../css/5grid/core-desktop.css" />
			<link rel="stylesheet" href="../css/5grid/core-1200px.css" />
			<link rel="stylesheet" href="../css/5grid/core-noscript.css" />
			<link rel="stylesheet" href="../css/style.css" />
			<link rel="stylesheet" href="../css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="../css/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="../css/ie7.css" /><![endif]-->
	</head>
	<body class="no-sidebar">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="5grid-layout">
					<div class="row">
						
							<!-- Header -->
								<header id="header">
										<h2>The SAPA Project</h2>
										<h3>a personality assessment collaboratory</h3>
								</header>

					</div>
				</div>
			</div>
		<!-- End Header Wrapper -->
		
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="5grid-layout">
					<div class="row">
						<div class="12u mobileUI-main-content">

							<!-- Content -->
								<div id="content">

									<div class="5grid">
										<div class="row">
											<div class="12u" style="margin-bottom: 0px;">

										<h3>Personality Questions</h3>

										<p class="smallish">You've responded to <strong>0 of the 25 items</strong> given so far.</p>
										
										<p class="smallish">You can skip items or quit at any time but this will limit the accuracy of your feedback.  We recommend <span class="largish" style="color:#4073b4;"><strong>100 responses</strong></span> for good accuracy in your five factor ("Big Five") scores, <span class="largish" style="color:#4073b4;"><strong>150 responses</strong></span> for reasonable accuracy in your 27 factor scores, and <span class="largish" style="color:#4073b4;"><strong>200+ responses</strong></span> for high accuracy in both.  The most you can answer is 250 questions.</p>

											</div> <!-- closes div class="12u" -->
										</div>  <!-- closes div class="row" -->
																		
										<div class="small">
										</div>

<form name="page4" id="page4" DefaultButton="submitGo" action="/survey/survey2.php" data-ajax="false" method="post" onsubmit="getTime();">  

<input type="hidden" id="page2Time" name="page2Time">

<script language='JavaScript'>
function getTime(){
var current = new Date();
var since = current.getTime();
var elapsetime = since/1000;
document.getElementById('page2Time').value = elapsetime;
}
</script>
<!-- Gets the time between 1/1/1970 12:00 am UTC and now in seconds. -->

<div class="row">
<div class="10u offset-1u">


	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>26. I have much stronger emotional reactions than almost everyone else.</legend>
			<input type='radio' name='4063' id='4063-1' value='1'>
			<label for='4063-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4063' id='4063-2' value='2'>
			<label for='4063-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4063' id='4063-3' value='3'>
			<label for='4063-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4063' id='4063-4' value='4'>
			<label for='4063-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4063' id='4063-5' value='5'>
			<label for='4063-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4063' id='4063-6' value='6'>
			<label for='4063-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>27. Am skilled in handling social situations.</legend>
			<input type='radio' name='254' id='254-1' value='1'>
			<label for='254-1'>Very<br>Inaccurate</label>
			<input type='radio' name='254' id='254-2' value='2'>
			<label for='254-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='254' id='254-3' value='3'>
			<label for='254-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='254' id='254-4' value='4'>
			<label for='254-4'>Slightly<br>Accurate</label>
			<input type='radio' name='254' id='254-5' value='5'>
			<label for='254-5'>Moderately<br>Accurate</label>
			<input type='radio' name='254' id='254-6' value='6'>
			<label for='254-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>28. Try to follow the rules.</legend>
			<input type='radio' name='1867' id='1867-1' value='1'>
			<label for='1867-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1867' id='1867-2' value='2'>
			<label for='1867-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1867' id='1867-3' value='3'>
			<label for='1867-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1867' id='1867-4' value='4'>
			<label for='1867-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1867' id='1867-5' value='5'>
			<label for='1867-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1867' id='1867-6' value='6'>
			<label for='1867-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>29. Those with talent and good looks should not hide them.</legend>
			<input type='radio' name='50545' id='50545-1' value='1'>
			<label for='50545-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50545' id='50545-2' value='2'>
			<label for='50545-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50545' id='50545-3' value='3'>
			<label for='50545-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50545' id='50545-4' value='4'>
			<label for='50545-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50545' id='50545-5' value='5'>
			<label for='50545-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50545' id='50545-6' value='6'>
			<label for='50545-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>30. Am just an ordinary person.</legend>
			<input type='radio' name='152' id='152-1' value='1'>
			<label for='152-1'>Very<br>Inaccurate</label>
			<input type='radio' name='152' id='152-2' value='2'>
			<label for='152-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='152' id='152-3' value='3'>
			<label for='152-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='152' id='152-4' value='4'>
			<label for='152-4'>Slightly<br>Accurate</label>
			<input type='radio' name='152' id='152-5' value='5'>
			<label for='152-5'>Moderately<br>Accurate</label>
			<input type='radio' name='152' id='152-6' value='6'>
			<label for='152-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>31. Love life.</legend>
			<input type='radio' name='1371' id='1371-1' value='1'>
			<label for='1371-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1371' id='1371-2' value='2'>
			<label for='1371-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1371' id='1371-3' value='3'>
			<label for='1371-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1371' id='1371-4' value='4'>
			<label for='1371-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1371' id='1371-5' value='5'>
			<label for='1371-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1371' id='1371-6' value='6'>
			<label for='1371-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>32. I don't think the rules apply to me as much as they apply to others.</legend>
			<input type='radio' name='50575' id='50575-1' value='1'>
			<label for='50575-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50575' id='50575-2' value='2'>
			<label for='50575-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50575' id='50575-3' value='3'>
			<label for='50575-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50575' id='50575-4' value='4'>
			<label for='50575-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50575' id='50575-5' value='5'>
			<label for='50575-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50575' id='50575-6' value='6'>
			<label for='50575-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>33. Seldom joke around.</legend>
			<input type='radio' name='1685' id='1685-1' value='1'>
			<label for='1685-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1685' id='1685-2' value='2'>
			<label for='1685-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1685' id='1685-3' value='3'>
			<label for='1685-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1685' id='1685-4' value='4'>
			<label for='1685-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1685' id='1685-5' value='5'>
			<label for='1685-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1685' id='1685-6' value='6'>
			<label for='1685-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>34. Show my sadness.</legend>
			<input type='radio' name='1706' id='1706-1' value='1'>
			<label for='1706-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1706' id='1706-2' value='2'>
			<label for='1706-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1706' id='1706-3' value='3'>
			<label for='1706-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1706' id='1706-4' value='4'>
			<label for='1706-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1706' id='1706-5' value='5'>
			<label for='1706-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1706' id='1706-6' value='6'>
			<label for='1706-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>35. I follow through on commitments.</legend>
			<input type='radio' name='4211' id='4211-1' value='1'>
			<label for='4211-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4211' id='4211-2' value='2'>
			<label for='4211-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4211' id='4211-3' value='3'>
			<label for='4211-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4211' id='4211-4' value='4'>
			<label for='4211-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4211' id='4211-5' value='5'>
			<label for='4211-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4211' id='4211-6' value='6'>
			<label for='4211-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>36. Rarely overindulge.</legend>
			<input type='radio' name='1590' id='1590-1' value='1'>
			<label for='1590-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1590' id='1590-2' value='2'>
			<label for='1590-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1590' id='1590-3' value='3'>
			<label for='1590-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1590' id='1590-4' value='4'>
			<label for='1590-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1590' id='1590-5' value='5'>
			<label for='1590-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1590' id='1590-6' value='6'>
			<label for='1590-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>37. Believe in the importance of art.</legend>
			<input type='radio' name='348' id='348-1' value='1'>
			<label for='348-1'>Very<br>Inaccurate</label>
			<input type='radio' name='348' id='348-2' value='2'>
			<label for='348-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='348' id='348-3' value='3'>
			<label for='348-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='348' id='348-4' value='4'>
			<label for='348-4'>Slightly<br>Accurate</label>
			<input type='radio' name='348' id='348-5' value='5'>
			<label for='348-5'>Moderately<br>Accurate</label>
			<input type='radio' name='348' id='348-6' value='6'>
			<label for='348-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>38. I never miss appointments.</legend>
			<input type='radio' name='3991' id='3991-1' value='1'>
			<label for='3991-1'>Very<br>Inaccurate</label>
			<input type='radio' name='3991' id='3991-2' value='2'>
			<label for='3991-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='3991' id='3991-3' value='3'>
			<label for='3991-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='3991' id='3991-4' value='4'>
			<label for='3991-4'>Slightly<br>Accurate</label>
			<input type='radio' name='3991' id='3991-5' value='5'>
			<label for='3991-5'>Moderately<br>Accurate</label>
			<input type='radio' name='3991' id='3991-6' value='6'>
			<label for='3991-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>39. Prefer variety to routine.</legend>
			<input type='radio' name='1542' id='1542-1' value='1'>
			<label for='1542-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1542' id='1542-2' value='2'>
			<label for='1542-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1542' id='1542-3' value='3'>
			<label for='1542-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1542' id='1542-4' value='4'>
			<label for='1542-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1542' id='1542-5' value='5'>
			<label for='1542-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1542' id='1542-6' value='6'>
			<label for='1542-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>40. Take risks.</legend>
			<input type='radio' name='1781' id='1781-1' value='1'>
			<label for='1781-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1781' id='1781-2' value='2'>
			<label for='1781-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1781' id='1781-3' value='3'>
			<label for='1781-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1781' id='1781-4' value='4'>
			<label for='1781-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1781' id='1781-5' value='5'>
			<label for='1781-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1781' id='1781-6' value='6'>
			<label for='1781-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>41. Sometimes I can influence other people just by sending my thoughts to them.</legend>
			<input type='radio' name='4151' id='4151-1' value='1'>
			<label for='4151-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4151' id='4151-2' value='2'>
			<label for='4151-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4151' id='4151-3' value='3'>
			<label for='4151-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4151' id='4151-4' value='4'>
			<label for='4151-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4151' id='4151-5' value='5'>
			<label for='4151-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4151' id='4151-6' value='6'>
			<label for='4151-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>42. Stop to think things over before doing anything.</legend>
			<input type='radio' name='4223' id='4223-1' value='1'>
			<label for='4223-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4223' id='4223-2' value='2'>
			<label for='4223-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4223' id='4223-3' value='3'>
			<label for='4223-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4223' id='4223-4' value='4'>
			<label for='4223-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4223' id='4223-5' value='5'>
			<label for='4223-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4223' id='4223-6' value='6'>
			<label for='4223-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>43. Believe in one true religion.</legend>
			<input type='radio' name='345' id='345-1' value='1'>
			<label for='345-1'>Very<br>Inaccurate</label>
			<input type='radio' name='345' id='345-2' value='2'>
			<label for='345-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='345' id='345-3' value='3'>
			<label for='345-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='345' id='345-4' value='4'>
			<label for='345-4'>Slightly<br>Accurate</label>
			<input type='radio' name='345' id='345-5' value='5'>
			<label for='345-5'>Moderately<br>Accurate</label>
			<input type='radio' name='345' id='345-6' value='6'>
			<label for='345-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>44. I'm not tricky or sly.</legend>
			<input type='radio' name='3957' id='3957-1' value='1'>
			<label for='3957-1'>Very<br>Inaccurate</label>
			<input type='radio' name='3957' id='3957-2' value='2'>
			<label for='3957-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='3957' id='3957-3' value='3'>
			<label for='3957-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='3957' id='3957-4' value='4'>
			<label for='3957-4'>Slightly<br>Accurate</label>
			<input type='radio' name='3957' id='3957-5' value='5'>
			<label for='3957-5'>Moderately<br>Accurate</label>
			<input type='radio' name='3957' id='3957-6' value='6'>
			<label for='3957-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>45. Hang around doing nothing.</legend>
			<input type='radio' name='1024' id='1024-1' value='1'>
			<label for='1024-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1024' id='1024-2' value='2'>
			<label for='1024-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1024' id='1024-3' value='3'>
			<label for='1024-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1024' id='1024-4' value='4'>
			<label for='1024-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1024' id='1024-5' value='5'>
			<label for='1024-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1024' id='1024-6' value='6'>
			<label for='1024-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>46. I would never harm another person.</legend>
			<input type='radio' name='4091' id='4091-1' value='1'>
			<label for='4091-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4091' id='4091-2' value='2'>
			<label for='4091-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4091' id='4091-3' value='3'>
			<label for='4091-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4091' id='4091-4' value='4'>
			<label for='4091-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4091' id='4091-5' value='5'>
			<label for='4091-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4091' id='4091-6' value='6'>
			<label for='4091-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>47. Honesty is the best policy in all cases.</legend>
			<input type='radio' name='2144' id='2144-1' value='1'>
			<label for='2144-1'>Very<br>Inaccurate</label>
			<input type='radio' name='2144' id='2144-2' value='2'>
			<label for='2144-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='2144' id='2144-3' value='3'>
			<label for='2144-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='2144' id='2144-4' value='4'>
			<label for='2144-4'>Slightly<br>Accurate</label>
			<input type='radio' name='2144' id='2144-5' value='5'>
			<label for='2144-5'>Moderately<br>Accurate</label>
			<input type='radio' name='2144' id='2144-6' value='6'>
			<label for='2144-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>48. All the cubes below have a different image on each side.  Select the choice that could represent a rotation of the cube labeled X.</legend>
		<img id='fig11012.png' src='iq.figures/fig11012.png' width='640' height='310'><br>
		<input type='radio' name='11012' id='11012-1' value='1'>
		<label for='11012-1'>A</label>
		<input type='radio' name='11012' id='11012-2' value='2'>
		<label for='11012-2'>B</label>
		<input type='radio' name='11012' id='11012-3' value='3'>
		<label for='11012-3'>C</label>
		<input type='radio' name='11012' id='11012-4' value='4'>
		<label for='11012-4'>D</label>
		<input type='radio' name='11012' id='11012-5' value='5'>
		<label for='11012-5'>E</label>
		<input type='radio' name='11012' id='11012-6' value='6'>
		<label for='11012-6'>F</label>
		<input type='radio' name='11012' id='11012-7' value='7'>
		<label for='11012-7'>G</label>
		<input type='radio' name='11012' id='11012-8' value='8'>
		<label for='11012-8'>H</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>49. In the following alphanumeric series, what letter comes next? Z, W, X, U, V, ...</legend>
			<input type='radio' name='12035' id='12035-1' value='1'>
			<label for='12035-1'> R</label>
			<input type='radio' name='12035' id='12035-2' value='2'>
			<label for='12035-2'> S</label>
			<input type='radio' name='12035' id='12035-3' value='3'>
			<label for='12035-3'> T</label>
			<input type='radio' name='12035' id='12035-4' value='4'>
			<label for='12035-4'> U</label>
			<input type='radio' name='12035' id='12035-5' value='5'>
			<label for='12035-5'> V</label>
			<input type='radio' name='12035' id='12035-6' value='6'>
			<label for='12035-6'> W</label>
			<input type='radio' name='12035' id='12035-7' value='7'>
			<label for='12035-7'>None of these</label>
			<input type='radio' name='12035' id='12035-8' value='8'>
			<label for='12035-8'>I don't know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>50. If the conveyor belt runs and the cooling fluid flows, then the button is pushed. The conveyor belt runs.</legend>
		<p><strong>A.</strong> The oil drips.<br>
		<strong>B.</strong> If the cooling fluid flows, then the button is pushed.<br>
		<strong>C.</strong> The cooling fluid doesn't flow.<br>
		<strong>D.</strong> The conveyor belt doesn't run.<br>
		<strong>E.</strong> The cooling fluid flows.<br>
		<strong>F.</strong> If the cooling fluid flows, then the button isn't pushed.<br>
		<strong>G.</strong> None of these<br>
		<strong>H.</strong> I don't know</p></legend>
			<input type='radio' name='17008' id='17008-1' value='1'>
			<label for='17008-1'>A</label>
			<input type='radio' name='17008' id='17008-2' value='2'>
			<label for='17008-2'>B</label>
			<input type='radio' name='17008' id='17008-3' value='3'>
			<label for='17008-3'>C</label>
			<input type='radio' name='17008' id='17008-4' value='4'>
			<label for='17008-4'>D</label>
			<input type='radio' name='17008' id='17008-5' value='5'>
			<label for='17008-5'>E</label>
			<input type='radio' name='17008' id='17008-6' value='6'>
			<label for='17008-6'>F</label>
			<input type='radio' name='17008' id='17008-7' value='7'>
			<label for='17008-7'>G</label>
			<input type='radio' name='17008' id='17008-8' value='8'>
			<label for='17008-8'>H</label>
	</fieldset>
</div> <!-- closes div class="10u offset-1u" -->
<div class="1u">
</div> <!-- closes div class="1u" -->
</div>  <!-- closes div class="row" -->
										<div class="row">

											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-stop" aria-disabled="false"><input type="submit" data-theme="stop" name="submitStop" value="Skip to last page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
											<div class="6u">
												<ul>
												<li>
												</li>
												</ul>
											</div>
											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-more" aria-disabled="false"><input type="submit" data-theme="more" id="submitGo" name="submitGo" value="Next page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
										</div>

</form><!-- closes form id="page4"  -->
								</div>  <!-- closes div class="5grid" -->
							</div>  <!-- closes div id="content" -->
						</div> <!-- closes div class="12u mobileUI-main-content" -->
					</div><!-- closes div id="row" -->
				</div> <!-- closes div class="5grid-layout" -->
			</div> <!-- closes div id="main-wrapper" -->

		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
				<footer id="footer" class="5grid-layout">
					<div class="row">
						<div class="12u">
							<div id="copyright">
							<center>
								&copy; Part of the Personality Project.	
							</center>
							</div>
						</div>
					</div>
				</footer>
			</div>
		<!-- End Footer Wrapper -->
	</body>
</html>
