<!DOCTYPE HTML>
<html>

	<head>
		<title>Free Personality Test | SAPA-Project | Items 76 to 100</title>
		<meta name="description" content="This is the fourth of several pages where we ask about your typical thoughts, feelings, and behaviors. Your responses to these questions will shape your free customized personality report, so be sure to respond honestly.  And don't skip too many items along the way!">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="keywords" content="" />

		<link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
		<link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16">
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
		<link rel="manifest" href="../manifest.json">
		<link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" href="../css/5grid/fonts.css" />
		<link rel="stylesheet" href="../css/5grid/jquery.mobile-1.3.0.css" />
		<script src="../css/5grid/jquery.js"></script>
		<script src="../css/5grid/jquery.mobile-1.3.0.min.js"></script>
		<script src="../css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none&amp;mobileUI_titleBarOverlaid=1&amp;mobileUI_titleBarHeight=60&amp;viewport_is1000px=1060&amp;mobileUI_openerWidth=80"></script>
		<noscript>
			<link rel="stylesheet" href="../css/5grid/core.css" />
			<link rel="stylesheet" href="../css/5grid/core-desktop.css" />
			<link rel="stylesheet" href="../css/5grid/core-1200px.css" />
			<link rel="stylesheet" href="../css/5grid/core-noscript.css" />
			<link rel="stylesheet" href="../css/style.css" />
			<link rel="stylesheet" href="../css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="../css/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="../css/ie7.css" /><![endif]-->
	</head>
	<body class="no-sidebar">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="5grid-layout">
					<div class="row">
						
							<!-- Header -->
								<header id="header">
										<h2>The SAPA Project</h2>
										<h3>a personality assessment collaboratory</h3>
								</header>

					</div>
				</div>
			</div>
		<!-- End Header Wrapper -->
		
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="5grid-layout">
					<div class="row">
						<div class="12u mobileUI-main-content">

							<!-- Content -->
								<div id="content">

									<div class="5grid">
										<div class="row">
											<div class="12u" style="margin-bottom: 0px;">

										<h3>Personality Questions</h3>
										
										<p class="smallish">You've responded to <strong>4 of the 75 items</strong> given so far.</p>

										<p class="smallish">Remember that <strong>your responses are anonymous</strong>.  Do your best to respond as accurately and honestly as possible.</p>

											</div> <!-- closes div class="12u" -->
										</div>  <!-- closes div class="row" -->
																		
										<div class="small">
										</div>

<form name="page6" id="page6" DefaultButton="submitGo" action="/survey/survey4.php" data-ajax="false" method="post" onsubmit="getTime();">  

<input type="hidden" id="page4Time" name="page4Time">

<script language='JavaScript'>
function getTime(){
var current = new Date();
var since = current.getTime();
var elapsetime = since/1000;
document.getElementById('page4Time').value = elapsetime;
}
</script>
<!-- Gets the time between 1/1/1970 12:00 am UTC and now in seconds. -->

<div class="row">
<div class="10u offset-1u">


	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>76. I rarely follow the rules.</legend>
			<input type='radio' name='3994' id='3994-1' value='1'>
			<label for='3994-1'>Very<br>Inaccurate</label>
			<input type='radio' name='3994' id='3994-2' value='2'>
			<label for='3994-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='3994' id='3994-3' value='3'>
			<label for='3994-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='3994' id='3994-4' value='4'>
			<label for='3994-4'>Slightly<br>Accurate</label>
			<input type='radio' name='3994' id='3994-5' value='5'>
			<label for='3994-5'>Moderately<br>Accurate</label>
			<input type='radio' name='3994' id='3994-6' value='6'>
			<label for='3994-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>77. Am skilled in handling social situations.</legend>
			<input type='radio' name='254' id='254-1' value='1'>
			<label for='254-1'>Very<br>Inaccurate</label>
			<input type='radio' name='254' id='254-2' value='2'>
			<label for='254-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='254' id='254-3' value='3'>
			<label for='254-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='254' id='254-4' value='4'>
			<label for='254-4'>Slightly<br>Accurate</label>
			<input type='radio' name='254' id='254-5' value='5'>
			<label for='254-5'>Moderately<br>Accurate</label>
			<input type='radio' name='254' id='254-6' value='6'>
			<label for='254-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>78. Believe that laws should be strictly enforced.</legend>
			<input type='radio' name='369' id='369-1' value='1'>
			<label for='369-1'>Very<br>Inaccurate</label>
			<input type='radio' name='369' id='369-2' value='2'>
			<label for='369-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='369' id='369-3' value='3'>
			<label for='369-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='369' id='369-4' value='4'>
			<label for='369-4'>Slightly<br>Accurate</label>
			<input type='radio' name='369' id='369-5' value='5'>
			<label for='369-5'>Moderately<br>Accurate</label>
			<input type='radio' name='369' id='369-6' value='6'>
			<label for='369-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>79. I prefer to keep romance out of my life.</legend>
			<input type='radio' name='4090' id='4090-1' value='1'>
			<label for='4090-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4090' id='4090-2' value='2'>
			<label for='4090-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4090' id='4090-3' value='3'>
			<label for='4090-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4090' id='4090-4' value='4'>
			<label for='4090-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4090' id='4090-5' value='5'>
			<label for='4090-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4090' id='4090-6' value='6'>
			<label for='4090-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>80. Am just an ordinary person.</legend>
			<input type='radio' name='152' id='152-1' value='1'>
			<label for='152-1'>Very<br>Inaccurate</label>
			<input type='radio' name='152' id='152-2' value='2'>
			<label for='152-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='152' id='152-3' value='3'>
			<label for='152-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='152' id='152-4' value='4'>
			<label for='152-4'>Slightly<br>Accurate</label>
			<input type='radio' name='152' id='152-5' value='5'>
			<label for='152-5'>Moderately<br>Accurate</label>
			<input type='radio' name='152' id='152-6' value='6'>
			<label for='152-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>81. Love life.</legend>
			<input type='radio' name='1371' id='1371-1' value='1'>
			<label for='1371-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1371' id='1371-2' value='2'>
			<label for='1371-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1371' id='1371-3' value='3'>
			<label for='1371-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1371' id='1371-4' value='4'>
			<label for='1371-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1371' id='1371-5' value='5'>
			<label for='1371-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1371' id='1371-6' value='6'>
			<label for='1371-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>82. I can maneuver people into doing things.</legend>
			<input type='radio' name='50581' id='50581-1' value='1'>
			<label for='50581-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50581' id='50581-2' value='2'>
			<label for='50581-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50581' id='50581-3' value='3'>
			<label for='50581-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50581' id='50581-4' value='4'>
			<label for='50581-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50581' id='50581-5' value='5'>
			<label for='50581-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50581' id='50581-6' value='6'>
			<label for='50581-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>83. Laugh aloud.</legend>
			<input type='radio' name='1244' id='1244-1' value='1'>
			<label for='1244-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1244' id='1244-2' value='2'>
			<label for='1244-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1244' id='1244-3' value='3'>
			<label for='1244-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1244' id='1244-4' value='4'>
			<label for='1244-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1244' id='1244-5' value='5'>
			<label for='1244-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1244' id='1244-6' value='6'>
			<label for='1244-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>84. Am open about my feelings.</legend>
			<input type='radio' name='219' id='219-1' value='1'>
			<label for='219-1'>Very<br>Inaccurate</label>
			<input type='radio' name='219' id='219-2' value='2'>
			<label for='219-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='219' id='219-3' value='3'>
			<label for='219-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='219' id='219-4' value='4'>
			<label for='219-4'>Slightly<br>Accurate</label>
			<input type='radio' name='219' id='219-5' value='5'>
			<label for='219-5'>Moderately<br>Accurate</label>
			<input type='radio' name='219' id='219-6' value='6'>
			<label for='219-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>85. People who mess with me always regret it.</legend>
			<input type='radio' name='51814' id='51814-1' value='1'>
			<label for='51814-1'>Very<br>Inaccurate</label>
			<input type='radio' name='51814' id='51814-2' value='2'>
			<label for='51814-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='51814' id='51814-3' value='3'>
			<label for='51814-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='51814' id='51814-4' value='4'>
			<label for='51814-4'>Slightly<br>Accurate</label>
			<input type='radio' name='51814' id='51814-5' value='5'>
			<label for='51814-5'>Moderately<br>Accurate</label>
			<input type='radio' name='51814' id='51814-6' value='6'>
			<label for='51814-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>86. Rarely overindulge.</legend>
			<input type='radio' name='1590' id='1590-1' value='1'>
			<label for='1590-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1590' id='1590-2' value='2'>
			<label for='1590-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1590' id='1590-3' value='3'>
			<label for='1590-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1590' id='1590-4' value='4'>
			<label for='1590-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1590' id='1590-5' value='5'>
			<label for='1590-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1590' id='1590-6' value='6'>
			<label for='1590-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>87. Do not like poetry.</legend>
			<input type='radio' name='612' id='612-1' value='1'>
			<label for='612-1'>Very<br>Inaccurate</label>
			<input type='radio' name='612' id='612-2' value='2'>
			<label for='612-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='612' id='612-3' value='3'>
			<label for='612-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='612' id='612-4' value='4'>
			<label for='612-4'>Slightly<br>Accurate</label>
			<input type='radio' name='612' id='612-5' value='5'>
			<label for='612-5'>Moderately<br>Accurate</label>
			<input type='radio' name='612' id='612-6' value='6'>
			<label for='612-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>88. I enjoy making people suffer. </legend>
			<input type='radio' name='51797' id='51797-1' value='1'>
			<label for='51797-1'>Very<br>Inaccurate</label>
			<input type='radio' name='51797' id='51797-2' value='2'>
			<label for='51797-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='51797' id='51797-3' value='3'>
			<label for='51797-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='51797' id='51797-4' value='4'>
			<label for='51797-4'>Slightly<br>Accurate</label>
			<input type='radio' name='51797' id='51797-5' value='5'>
			<label for='51797-5'>Moderately<br>Accurate</label>
			<input type='radio' name='51797' id='51797-6' value='6'>
			<label for='51797-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>89. Adjust easily.</legend>
			<input type='radio' name='39' id='39-1' value='1'>
			<label for='39-1'>Very<br>Inaccurate</label>
			<input type='radio' name='39' id='39-2' value='2'>
			<label for='39-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='39' id='39-3' value='3'>
			<label for='39-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='39' id='39-4' value='4'>
			<label for='39-4'>Slightly<br>Accurate</label>
			<input type='radio' name='39' id='39-5' value='5'>
			<label for='39-5'>Moderately<br>Accurate</label>
			<input type='radio' name='39' id='39-6' value='6'>
			<label for='39-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>90. Love dangerous situations.</legend>
			<input type='radio' name='1367' id='1367-1' value='1'>
			<label for='1367-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1367' id='1367-2' value='2'>
			<label for='1367-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1367' id='1367-3' value='3'>
			<label for='1367-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1367' id='1367-4' value='4'>
			<label for='1367-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1367' id='1367-5' value='5'>
			<label for='1367-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1367' id='1367-6' value='6'>
			<label for='1367-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>91. Others' opinions of me are of little concern to me.</legend>
			<input type='radio' name='50609' id='50609-1' value='1'>
			<label for='50609-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50609' id='50609-2' value='2'>
			<label for='50609-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50609' id='50609-3' value='3'>
			<label for='50609-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50609' id='50609-4' value='4'>
			<label for='50609-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50609' id='50609-5' value='5'>
			<label for='50609-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50609' id='50609-6' value='6'>
			<label for='50609-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>92. Stop to think things over before doing anything.</legend>
			<input type='radio' name='4223' id='4223-1' value='1'>
			<label for='4223-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4223' id='4223-2' value='2'>
			<label for='4223-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4223' id='4223-3' value='3'>
			<label for='4223-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4223' id='4223-4' value='4'>
			<label for='4223-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4223' id='4223-5' value='5'>
			<label for='4223-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4223' id='4223-6' value='6'>
			<label for='4223-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>93. Tend to vote for liberal political candidates.</legend>
			<input type='radio' name='1825' id='1825-1' value='1'>
			<label for='1825-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1825' id='1825-2' value='2'>
			<label for='1825-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1825' id='1825-3' value='3'>
			<label for='1825-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1825' id='1825-4' value='4'>
			<label for='1825-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1825' id='1825-5' value='5'>
			<label for='1825-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1825' id='1825-6' value='6'>
			<label for='1825-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>94. I never show emotions to others.</legend>
			<input type='radio' name='4168' id='4168-1' value='1'>
			<label for='4168-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4168' id='4168-2' value='2'>
			<label for='4168-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4168' id='4168-3' value='3'>
			<label for='4168-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4168' id='4168-4' value='4'>
			<label for='4168-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4168' id='4168-5' value='5'>
			<label for='4168-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4168' id='4168-6' value='6'>
			<label for='4168-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>95. Like to take it easy.</legend>
			<input type='radio' name='1329' id='1329-1' value='1'>
			<label for='1329-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1329' id='1329-2' value='2'>
			<label for='1329-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1329' id='1329-3' value='3'>
			<label for='1329-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1329' id='1329-4' value='4'>
			<label for='1329-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1329' id='1329-5' value='5'>
			<label for='1329-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1329' id='1329-6' value='6'>
			<label for='1329-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>96. I want to amount to something in the eyes of the world.</legend>
			<input type='radio' name='51755' id='51755-1' value='1'>
			<label for='51755-1'>Very<br>Inaccurate</label>
			<input type='radio' name='51755' id='51755-2' value='2'>
			<label for='51755-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='51755' id='51755-3' value='3'>
			<label for='51755-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='51755' id='51755-4' value='4'>
			<label for='51755-4'>Slightly<br>Accurate</label>
			<input type='radio' name='51755' id='51755-5' value='5'>
			<label for='51755-5'>Moderately<br>Accurate</label>
			<input type='radio' name='51755' id='51755-6' value='6'>
			<label for='51755-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>97. It's better to be totally honest than to be successful.</legend>
			<input type='radio' name='50534' id='50534-1' value='1'>
			<label for='50534-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50534' id='50534-2' value='2'>
			<label for='50534-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50534' id='50534-3' value='3'>
			<label for='50534-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50534' id='50534-4' value='4'>
			<label for='50534-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50534' id='50534-5' value='5'>
			<label for='50534-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50534' id='50534-6' value='6'>
			<label for='50534-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>98. Please indicate which is the best answer to complete the figure below.</legend>
		<img id='fig12056.jpg' src='iq.figures/fig12056.jpg' width='551' height='394'><br>
		<input type='radio' name='12056' id='12056-1' value='1'>
		<label for='12056-1'>A</label>
		<input type='radio' name='12056' id='12056-2' value='2'>
		<label for='12056-2'>B</label>
		<input type='radio' name='12056' id='12056-3' value='3'>
		<label for='12056-3'>C</label>
		<input type='radio' name='12056' id='12056-4' value='4'>
		<label for='12056-4'>D</label>
		<input type='radio' name='12056' id='12056-5' value='5'>
		<label for='12056-5'>E</label>
		<input type='radio' name='12056' id='12056-6' value='6'>
		<label for='12056-6'>F</label>
		<input type='radio' name='12056' id='12056-7' value='7'>
		<label for='12056-7'>None of these</label>
		<input type='radio' name='12056' id='12056-8' value='8'>
		<label for='12056-8'>I don't know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>99. The opposite of a "stubborn" person is a "_____" person. </legend>
			<input type='radio' name='12011' id='12011-1' value='1'>
			<label for='12011-1'> Flexible</label>
			<input type='radio' name='12011' id='12011-2' value='2'>
			<label for='12011-2'> Passionate</label>
			<input type='radio' name='12011' id='12011-3' value='3'>
			<label for='12011-3'> Mediocre</label>
			<input type='radio' name='12011' id='12011-4' value='4'>
			<label for='12011-4'> Reserved</label>
			<input type='radio' name='12011' id='12011-5' value='5'>
			<label for='12011-5'> Pigheaded</label>
			<input type='radio' name='12011' id='12011-6' value='6'>
			<label for='12011-6'> Persistent</label>
			<input type='radio' name='12011' id='12011-7' value='7'>
			<label for='12011-7'>None of these</label>
			<input type='radio' name='12011' id='12011-8' value='8'>
			<label for='12011-8'>I don't know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>100. Which piece makes these patterns match?</legend>
		<img id='fig16063.svg' src='iq.figures/fig16063.svg' width='440' height='340'><br>
		<input type='radio' name='16063' id='16063-1' value='1'>
		<label for='16063-1'>A</label>
		<input type='radio' name='16063' id='16063-2' value='2'>
		<label for='16063-2'>B</label>
		<input type='radio' name='16063' id='16063-3' value='3'>
		<label for='16063-3'>C</label>
		<input type='radio' name='16063' id='16063-4' value='4'>
		<label for='16063-4'>D</label>
		<input type='radio' name='16063' id='16063-5' value='5'>
		<label for='16063-5'>E</label>
		<input type='radio' name='16063' id='16063-6' value='6'>
		<label for='16063-6'>F</label>
		<input type='radio' name='16063' id='16063-7' value='7'>
		<label for='16063-7'>G</label>
		<input type='radio' name='16063' id='16063-8' value='8'>
		<label for='16063-8'>H</label>
	</fieldset>
</div> <!-- closes div class="10u offset-1u" -->
<div class="1u">
</div> <!-- closes div class="1u" -->
</div>  <!-- closes div class="row" -->
										<div class="row">

											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-stop" aria-disabled="false"><input type="submit" data-theme="stop" name="submitStop" value="Skip to last page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
											<div class="6u">
												<ul>
												<li>
												</li>
												</ul>
											</div>
											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-more" aria-disabled="false"><input type="submit" data-theme="more" id="submitGo" name="submitGo" value="Next page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
										</div>

</form><!-- closes form id="page6"  -->
								</div>  <!-- closes div class="5grid" -->
							</div>  <!-- closes div id="content" -->
						</div> <!-- closes div class="12u mobileUI-main-content" -->
					</div><!-- closes div id="row" -->
				</div> <!-- closes div class="5grid-layout" -->
			</div> <!-- closes div id="main-wrapper" -->

		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
				<footer id="footer" class="5grid-layout">
					<div class="row">
						<div class="12u">
							<div id="copyright">
							<center>
								&copy; Part of the Personality Project.	
							</center>
							</div>
						</div>
					</div>
				</footer>
			</div>
		<!-- End Footer Wrapper -->
	</body>
</html>
