<!DOCTYPE HTML>
<html>

	<head>
		<title>Free Personality Test | SAPA-Project | Items 151 to 175</title>
		<meta name="description" content="This is the seventh of several pages where we ask about your typical thoughts, feelings, and behaviors. Your responses to these questions will shape your free customized personality report, so be sure to respond honestly.  And don't skip too many items along the way!">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="keywords" content="" />

		<link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
		<link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16">
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
		<link rel="manifest" href="../manifest.json">
		<link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" href="../css/5grid/fonts.css" />
		<link rel="stylesheet" href="../css/5grid/jquery.mobile-1.3.0.css" />
		<script src="../css/5grid/jquery.js"></script>
		<script src="../css/5grid/jquery.mobile-1.3.0.min.js"></script>
		<script src="../css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none&amp;mobileUI_titleBarOverlaid=1&amp;mobileUI_titleBarHeight=60&amp;viewport_is1000px=1060&amp;mobileUI_openerWidth=80"></script>
		<noscript>
			<link rel="stylesheet" href="../css/5grid/core.css" />
			<link rel="stylesheet" href="../css/5grid/core-desktop.css" />
			<link rel="stylesheet" href="../css/5grid/core-1200px.css" />
			<link rel="stylesheet" href="../css/5grid/core-noscript.css" />
			<link rel="stylesheet" href="../css/style.css" />
			<link rel="stylesheet" href="../css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="../css/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="../css/ie7.css" /><![endif]-->
	</head>
	<body class="no-sidebar">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="5grid-layout">
					<div class="row">
						
							<!-- Header -->
								<header id="header">
										<h2>The SAPA Project</h2>
										<h3>a personality assessment collaboratory</h3>
								</header>

					</div>
				</div>
			</div>
		<!-- End Header Wrapper -->
		
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="5grid-layout">
					<div class="row">
						<div class="12u mobileUI-main-content">

							<!-- Content -->
								<div id="content">

									<div class="5grid">
										<div class="row">
											<div class="12u" style="margin-bottom: 0px;">

										<h3>Personality Questions</h3>
										
										<p class="smallish">You've responded to <strong>8 of the 150 items</strong> given so far.</p>

										<p class="smallish">Remember that <strong>your responses are anonymous</strong>.  Do your best to respond as accurately and honestly as possible.</p>

											</div> <!-- closes div class="12u" -->
										</div>  <!-- closes div class="row" -->
																		
										<div class="small">
										</div>

<form name="page9" id="page9" DefaultButton="submitGo" action="/survey/survey7.php" data-ajax="false" method="post" onsubmit="getTime();">  

<input type="hidden" id="page7Time" name="page7Time">

<script language='JavaScript'>
function getTime(){
var current = new Date();
var since = current.getTime();
var elapsetime = since/1000;
document.getElementById('page7Time').value = elapsetime;
}
</script>
<!-- Gets the time between 1/1/1970 12:00 am UTC and now in seconds. -->

<div class="row">
<div class="10u offset-1u">


	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>151. I often have ideas that are too unusual to explain to anyone.</legend>
			<input type='radio' name='4006' id='4006-1' value='1'>
			<label for='4006-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4006' id='4006-2' value='2'>
			<label for='4006-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4006' id='4006-3' value='3'>
			<label for='4006-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4006' id='4006-4' value='4'>
			<label for='4006-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4006' id='4006-5' value='5'>
			<label for='4006-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4006' id='4006-6' value='6'>
			<label for='4006-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>152. Feel sympathy for those who are worse off than myself.</legend>
			<input type='radio' name='851' id='851-1' value='1'>
			<label for='851-1'>Very<br>Inaccurate</label>
			<input type='radio' name='851' id='851-2' value='2'>
			<label for='851-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='851' id='851-3' value='3'>
			<label for='851-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='851' id='851-4' value='4'>
			<label for='851-4'>Slightly<br>Accurate</label>
			<input type='radio' name='851' id='851-5' value='5'>
			<label for='851-5'>Moderately<br>Accurate</label>
			<input type='radio' name='851' id='851-6' value='6'>
			<label for='851-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>153. Work hard.</legend>
			<input type='radio' name='1979' id='1979-1' value='1'>
			<label for='1979-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1979' id='1979-2' value='2'>
			<label for='1979-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1979' id='1979-3' value='3'>
			<label for='1979-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1979' id='1979-4' value='4'>
			<label for='1979-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1979' id='1979-5' value='5'>
			<label for='1979-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1979' id='1979-6' value='6'>
			<label for='1979-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>154. I know I'll commit suicide sooner or later.</legend>
			<input type='radio' name='4179' id='4179-1' value='1'>
			<label for='4179-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4179' id='4179-2' value='2'>
			<label for='4179-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4179' id='4179-3' value='3'>
			<label for='4179-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4179' id='4179-4' value='4'>
			<label for='4179-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4179' id='4179-5' value='5'>
			<label for='4179-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4179' id='4179-6' value='6'>
			<label for='4179-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>155. Love to think up new ways of doing things.</legend>
			<input type='radio' name='1392' id='1392-1' value='1'>
			<label for='1392-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1392' id='1392-2' value='2'>
			<label for='1392-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1392' id='1392-3' value='3'>
			<label for='1392-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1392' id='1392-4' value='4'>
			<label for='1392-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1392' id='1392-5' value='5'>
			<label for='1392-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1392' id='1392-6' value='6'>
			<label for='1392-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>156. Panic easily.</legend>
			<input type='radio' name='1505' id='1505-1' value='1'>
			<label for='1505-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1505' id='1505-2' value='2'>
			<label for='1505-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1505' id='1505-3' value='3'>
			<label for='1505-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1505' id='1505-4' value='4'>
			<label for='1505-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1505' id='1505-5' value='5'>
			<label for='1505-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1505' id='1505-6' value='6'>
			<label for='1505-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>157. It may seem unfair, but I deserve extra (i.e., attention, privileges, rewards).</legend>
			<input type='radio' name='50590' id='50590-1' value='1'>
			<label for='50590-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50590' id='50590-2' value='2'>
			<label for='50590-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50590' id='50590-3' value='3'>
			<label for='50590-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50590' id='50590-4' value='4'>
			<label for='50590-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50590' id='50590-5' value='5'>
			<label for='50590-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50590' id='50590-6' value='6'>
			<label for='50590-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>158. Don't like crowded events.</legend>
			<input type='radio' name='684' id='684-1' value='1'>
			<label for='684-1'>Very<br>Inaccurate</label>
			<input type='radio' name='684' id='684-2' value='2'>
			<label for='684-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='684' id='684-3' value='3'>
			<label for='684-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='684' id='684-4' value='4'>
			<label for='684-4'>Slightly<br>Accurate</label>
			<input type='radio' name='684' id='684-5' value='5'>
			<label for='684-5'>Moderately<br>Accurate</label>
			<input type='radio' name='684' id='684-6' value='6'>
			<label for='684-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>159. Tell a lot of lies.</legend>
			<input type='radio' name='4296' id='4296-1' value='1'>
			<label for='4296-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4296' id='4296-2' value='2'>
			<label for='4296-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4296' id='4296-3' value='3'>
			<label for='4296-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4296' id='4296-4' value='4'>
			<label for='4296-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4296' id='4296-5' value='5'>
			<label for='4296-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4296' id='4296-6' value='6'>
			<label for='4296-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>160. I like being a person who gets noticed.</legend>
			<input type='radio' name='4174' id='4174-1' value='1'>
			<label for='4174-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4174' id='4174-2' value='2'>
			<label for='4174-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4174' id='4174-3' value='3'>
			<label for='4174-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4174' id='4174-4' value='4'>
			<label for='4174-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4174' id='4174-5' value='5'>
			<label for='4174-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4174' id='4174-6' value='6'>
			<label for='4174-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>161. Am not bothered by disorder.</legend>
			<input type='radio' name='169' id='169-1' value='1'>
			<label for='169-1'>Very<br>Inaccurate</label>
			<input type='radio' name='169' id='169-2' value='2'>
			<label for='169-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='169' id='169-3' value='3'>
			<label for='169-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='169' id='169-4' value='4'>
			<label for='169-4'>Slightly<br>Accurate</label>
			<input type='radio' name='169' id='169-5' value='5'>
			<label for='169-5'>Moderately<br>Accurate</label>
			<input type='radio' name='169' id='169-6' value='6'>
			<label for='169-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>162. Learn things slowly.</legend>
			<input type='radio' name='1253' id='1253-1' value='1'>
			<label for='1253-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1253' id='1253-2' value='2'>
			<label for='1253-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1253' id='1253-3' value='3'>
			<label for='1253-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1253' id='1253-4' value='4'>
			<label for='1253-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1253' id='1253-5' value='5'>
			<label for='1253-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1253' id='1253-6' value='6'>
			<label for='1253-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>163. I usually do things on impulse without thinking about what might happen as a result.</legend>
			<input type='radio' name='4017' id='4017-1' value='1'>
			<label for='4017-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4017' id='4017-2' value='2'>
			<label for='4017-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4017' id='4017-3' value='3'>
			<label for='4017-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4017' id='4017-4' value='4'>
			<label for='4017-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4017' id='4017-5' value='5'>
			<label for='4017-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4017' id='4017-6' value='6'>
			<label for='4017-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>164. Experience my emotions intensely.</legend>
			<input type='radio' name='793' id='793-1' value='1'>
			<label for='793-1'>Very<br>Inaccurate</label>
			<input type='radio' name='793' id='793-2' value='2'>
			<label for='793-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='793' id='793-3' value='3'>
			<label for='793-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='793' id='793-4' value='4'>
			<label for='793-4'>Slightly<br>Accurate</label>
			<input type='radio' name='793' id='793-5' value='5'>
			<label for='793-5'>Moderately<br>Accurate</label>
			<input type='radio' name='793' id='793-6' value='6'>
			<label for='793-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>165. Hate being the center of attention.</legend>
			<input type='radio' name='1027' id='1027-1' value='1'>
			<label for='1027-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1027' id='1027-2' value='2'>
			<label for='1027-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1027' id='1027-3' value='3'>
			<label for='1027-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1027' id='1027-4' value='4'>
			<label for='1027-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1027' id='1027-5' value='5'>
			<label for='1027-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1027' id='1027-6' value='6'>
			<label for='1027-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>166. Others say I brag too much, but everything I say is true.</legend>
			<input type='radio' name='50557' id='50557-1' value='1'>
			<label for='50557-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50557' id='50557-2' value='2'>
			<label for='50557-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50557' id='50557-3' value='3'>
			<label for='50557-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50557' id='50557-4' value='4'>
			<label for='50557-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50557' id='50557-5' value='5'>
			<label for='50557-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50557' id='50557-6' value='6'>
			<label for='50557-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>167. Feel that most people can't be trusted.</legend>
			<input type='radio' name='871' id='871-1' value='1'>
			<label for='871-1'>Very<br>Inaccurate</label>
			<input type='radio' name='871' id='871-2' value='2'>
			<label for='871-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='871' id='871-3' value='3'>
			<label for='871-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='871' id='871-4' value='4'>
			<label for='871-4'>Slightly<br>Accurate</label>
			<input type='radio' name='871' id='871-5' value='5'>
			<label for='871-5'>Moderately<br>Accurate</label>
			<input type='radio' name='871' id='871-6' value='6'>
			<label for='871-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>168. Want every detail taken care of.</legend>
			<input type='radio' name='1915' id='1915-1' value='1'>
			<label for='1915-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1915' id='1915-2' value='2'>
			<label for='1915-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1915' id='1915-3' value='3'>
			<label for='1915-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1915' id='1915-4' value='4'>
			<label for='1915-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1915' id='1915-5' value='5'>
			<label for='1915-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1915' id='1915-6' value='6'>
			<label for='1915-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>169. I am extremely ambitious.</legend>
			<input type='radio' name='50556' id='50556-1' value='1'>
			<label for='50556-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50556' id='50556-2' value='2'>
			<label for='50556-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50556' id='50556-3' value='3'>
			<label for='50556-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50556' id='50556-4' value='4'>
			<label for='50556-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50556' id='50556-5' value='5'>
			<label for='50556-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50556' id='50556-6' value='6'>
			<label for='50556-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>170. Try to understand myself.</legend>
			<input type='radio' name='1880' id='1880-1' value='1'>
			<label for='1880-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1880' id='1880-2' value='2'>
			<label for='1880-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1880' id='1880-3' value='3'>
			<label for='1880-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1880' id='1880-4' value='4'>
			<label for='1880-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1880' id='1880-5' value='5'>
			<label for='1880-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1880' id='1880-6' value='6'>
			<label for='1880-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>171. Lose my temper.</legend>
			<input type='radio' name='1357' id='1357-1' value='1'>
			<label for='1357-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1357' id='1357-2' value='2'>
			<label for='1357-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1357' id='1357-3' value='3'>
			<label for='1357-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1357' id='1357-4' value='4'>
			<label for='1357-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1357' id='1357-5' value='5'>
			<label for='1357-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1357' id='1357-6' value='6'>
			<label for='1357-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>172. Other people seem to think my behavior is weird.</legend>
			<input type='radio' name='4025' id='4025-1' value='1'>
			<label for='4025-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4025' id='4025-2' value='2'>
			<label for='4025-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4025' id='4025-3' value='3'>
			<label for='4025-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4025' id='4025-4' value='4'>
			<label for='4025-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4025' id='4025-5' value='5'>
			<label for='4025-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4025' id='4025-6' value='6'>
			<label for='4025-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>173. Which piece makes these patterns match?</legend>
		<img id='fig16047.svg' src='iq.figures/fig16047.svg' width='440' height='340'><br>
		<input type='radio' name='16047' id='16047-1' value='1'>
		<label for='16047-1'>A</label>
		<input type='radio' name='16047' id='16047-2' value='2'>
		<label for='16047-2'>B</label>
		<input type='radio' name='16047' id='16047-3' value='3'>
		<label for='16047-3'>C</label>
		<input type='radio' name='16047' id='16047-4' value='4'>
		<label for='16047-4'>D</label>
		<input type='radio' name='16047' id='16047-5' value='5'>
		<label for='16047-5'>E</label>
		<input type='radio' name='16047' id='16047-6' value='6'>
		<label for='16047-6'>F</label>
		<input type='radio' name='16047' id='16047-7' value='7'>
		<label for='16047-7'>G</label>
		<input type='radio' name='16047' id='16047-8' value='8'>
		<label for='16047-8'>H</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>174. Choose the best answer without using any tools: -22 - 64 - 25 - 53 - 9 - 67 = ?</legend>
			<input type='radio' name='15178' id='15178-1' value='1'>
			<label for='15178-1'>-116</label>
			<input type='radio' name='15178' id='15178-2' value='2'>
			<label for='15178-2'>458</label>
			<input type='radio' name='15178' id='15178-3' value='3'>
			<label for='15178-3'>-240</label>
			<input type='radio' name='15178' id='15178-4' value='4'>
			<label for='15178-4'>-239</label>
			<input type='radio' name='15178' id='15178-5' value='5'>
			<label for='15178-5'>-242</label>
			<input type='radio' name='15178' id='15178-6' value='6'>
			<label for='15178-6'>-243</label>
			<input type='radio' name='15178' id='15178-7' value='7'>
			<label for='15178-7'>None of these</label>
			<input type='radio' name='15178' id='15178-8' value='8'>
			<label for='15178-8'>I don't know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>175. There is a word that can be paired with each of the words below to form compound words.  What is the first letter of the missing word?<br>
		<p style='text-align: center;'>board &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; blade &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; back</p></legend>
			<input type='radio' name='14317' id='14317-1' value='1'>
			<label for='14317-1'>r</label>
			<input type='radio' name='14317' id='14317-2' value='2'>
			<label for='14317-2'>n</label>
			<input type='radio' name='14317' id='14317-3' value='3'>
			<label for='14317-3'>v</label>
			<input type='radio' name='14317' id='14317-4' value='4'>
			<label for='14317-4'>s</label>
			<input type='radio' name='14317' id='14317-5' value='5'>
			<label for='14317-5'>w</label>
			<input type='radio' name='14317' id='14317-6' value='6'>
			<label for='14317-6'>m</label>
			<input type='radio' name='14317' id='14317-7' value='7'>
			<label for='14317-7'>None of these</label>
			<input type='radio' name='14317' id='14317-8' value='8'>
			<label for='14317-8'>I don't know</label>
	</fieldset>
</div> <!-- closes div class="10u offset-1u" -->
<div class="1u">
</div> <!-- closes div class="1u" -->
</div>  <!-- closes div class="row" -->
										<div class="row">

											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-stop" aria-disabled="false"><input type="submit" data-theme="stop" name="submitStop" value="Skip to last page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
											<div class="6u">
												<ul>
												<li>
												</li>
												</ul>
											</div>
											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-more" aria-disabled="false"><input type="submit" data-theme="more" id="submitGo" name="submitGo" value="Next page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
										</div>

</form><!-- closes form id="page9"  -->
								</div>  <!-- closes div class="5grid" -->
							</div>  <!-- closes div id="content" -->
						</div> <!-- closes div class="12u mobileUI-main-content" -->
					</div><!-- closes div id="row" -->
				</div> <!-- closes div class="5grid-layout" -->
			</div> <!-- closes div id="main-wrapper" -->

		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
				<footer id="footer" class="5grid-layout">
					<div class="row">
						<div class="12u">
							<div id="copyright">
							<center>
								&copy; Part of the Personality Project.	
							</center>
							</div>
						</div>
					</div>
				</footer>
			</div>
		<!-- End Footer Wrapper -->
	</body>
</html>
