<!DOCTYPE HTML>
<html>

	<head>
		<title>Free Personality Test | SAPA-Project | Items 151 to 175</title>
		<meta name="description" content="This is the seventh of several pages where we ask about your typical thoughts, feelings, and behaviors. Your responses to these questions will shape your free customized personality report, so be sure to respond honestly.  And don't skip too many items along the way!">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="keywords" content="" />

		<link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
		<link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16">
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
		<link rel="manifest" href="../manifest.json">
		<link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" href="../css/5grid/fonts.css" />
		<link rel="stylesheet" href="../css/5grid/jquery.mobile-1.3.0.css" />
		<script src="../css/5grid/jquery.js"></script>
		<script src="../css/5grid/jquery.mobile-1.3.0.min.js"></script>
		<script src="../css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none&amp;mobileUI_titleBarOverlaid=1&amp;mobileUI_titleBarHeight=60&amp;viewport_is1000px=1060&amp;mobileUI_openerWidth=80"></script>
		<noscript>
			<link rel="stylesheet" href="../css/5grid/core.css" />
			<link rel="stylesheet" href="../css/5grid/core-desktop.css" />
			<link rel="stylesheet" href="../css/5grid/core-1200px.css" />
			<link rel="stylesheet" href="../css/5grid/core-noscript.css" />
			<link rel="stylesheet" href="../css/style.css" />
			<link rel="stylesheet" href="../css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="../css/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="../css/ie7.css" /><![endif]-->
	</head>
	<body class="no-sidebar">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="5grid-layout">
					<div class="row">
						
							<!-- Header -->
								<header id="header">
										<h2>The SAPA Project</h2>
										<h3>a personality assessment collaboratory</h3>
								</header>

					</div>
				</div>
			</div>
		<!-- End Header Wrapper -->
		
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="5grid-layout">
					<div class="row">
						<div class="12u mobileUI-main-content">

							<!-- Content -->
								<div id="content">

									<div class="5grid">
										<div class="row">
											<div class="12u" style="margin-bottom: 0px;">

										<h3>Personality Questions</h3>
										
										<p class="smallish">You've responded to <strong>19 of the 150 items</strong> given so far.</p>

										<p class="smallish">Remember that <strong>your responses are anonymous</strong>.  Do your best to respond as accurately and honestly as possible.</p>

											</div> <!-- closes div class="12u" -->
										</div>  <!-- closes div class="row" -->
																		
										<div class="small">
										</div>

<form name="page9" id="page9" DefaultButton="submitGo" action="/survey/survey7.php" data-ajax="false" method="post" onsubmit="getTime();">  

<input type="hidden" id="page7Time" name="page7Time">

<script language='JavaScript'>
function getTime(){
var current = new Date();
var since = current.getTime();
var elapsetime = since/1000;
document.getElementById('page7Time').value = elapsetime;
}
</script>
<!-- Gets the time between 1/1/1970 12:00 am UTC and now in seconds. -->

<div class="row">
<div class="10u offset-1u">


	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>151. I aspire for greatness.</legend>
			<input type='radio' name='50586' id='50586-1' value='1'>
			<label for='50586-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50586' id='50586-2' value='2'>
			<label for='50586-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50586' id='50586-3' value='3'>
			<label for='50586-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50586' id='50586-4' value='4'>
			<label for='50586-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50586' id='50586-5' value='5'>
			<label for='50586-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50586' id='50586-6' value='6'>
			<label for='50586-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>152. Feel sympathy for those who are worse off than myself.</legend>
			<input type='radio' name='851' id='851-1' value='1'>
			<label for='851-1'>Very<br>Inaccurate</label>
			<input type='radio' name='851' id='851-2' value='2'>
			<label for='851-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='851' id='851-3' value='3'>
			<label for='851-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='851' id='851-4' value='4'>
			<label for='851-4'>Slightly<br>Accurate</label>
			<input type='radio' name='851' id='851-5' value='5'>
			<label for='851-5'>Moderately<br>Accurate</label>
			<input type='radio' name='851' id='851-6' value='6'>
			<label for='851-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>153. Need a push to get started.</legend>
			<input type='radio' name='1444' id='1444-1' value='1'>
			<label for='1444-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1444' id='1444-2' value='2'>
			<label for='1444-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1444' id='1444-3' value='3'>
			<label for='1444-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1444' id='1444-4' value='4'>
			<label for='1444-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1444' id='1444-5' value='5'>
			<label for='1444-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1444' id='1444-6' value='6'>
			<label for='1444-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>154. I love to watch YouTube clips of people fighting.</legend>
			<input type='radio' name='51790' id='51790-1' value='1'>
			<label for='51790-1'>Very<br>Inaccurate</label>
			<input type='radio' name='51790' id='51790-2' value='2'>
			<label for='51790-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='51790' id='51790-3' value='3'>
			<label for='51790-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='51790' id='51790-4' value='4'>
			<label for='51790-4'>Slightly<br>Accurate</label>
			<input type='radio' name='51790' id='51790-5' value='5'>
			<label for='51790-5'>Moderately<br>Accurate</label>
			<input type='radio' name='51790' id='51790-6' value='6'>
			<label for='51790-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>155. Am an original thinker.</legend>
			<input type='radio' name='2754' id='2754-1' value='1'>
			<label for='2754-1'>Very<br>Inaccurate</label>
			<input type='radio' name='2754' id='2754-2' value='2'>
			<label for='2754-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='2754' id='2754-3' value='3'>
			<label for='2754-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='2754' id='2754-4' value='4'>
			<label for='2754-4'>Slightly<br>Accurate</label>
			<input type='radio' name='2754' id='2754-5' value='5'>
			<label for='2754-5'>Moderately<br>Accurate</label>
			<input type='radio' name='2754' id='2754-6' value='6'>
			<label for='2754-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>156. Fear for the worst.</legend>
			<input type='radio' name='808' id='808-1' value='1'>
			<label for='808-1'>Very<br>Inaccurate</label>
			<input type='radio' name='808' id='808-2' value='2'>
			<label for='808-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='808' id='808-3' value='3'>
			<label for='808-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='808' id='808-4' value='4'>
			<label for='808-4'>Slightly<br>Accurate</label>
			<input type='radio' name='808' id='808-5' value='5'>
			<label for='808-5'>Moderately<br>Accurate</label>
			<input type='radio' name='808' id='808-6' value='6'>
			<label for='808-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>157. I like to be complimented.</legend>
			<input type='radio' name='51763' id='51763-1' value='1'>
			<label for='51763-1'>Very<br>Inaccurate</label>
			<input type='radio' name='51763' id='51763-2' value='2'>
			<label for='51763-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='51763' id='51763-3' value='3'>
			<label for='51763-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='51763' id='51763-4' value='4'>
			<label for='51763-4'>Slightly<br>Accurate</label>
			<input type='radio' name='51763' id='51763-5' value='5'>
			<label for='51763-5'>Moderately<br>Accurate</label>
			<input type='radio' name='51763' id='51763-6' value='6'>
			<label for='51763-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>158. Want to be left alone.</legend>
			<input type='radio' name='1923' id='1923-1' value='1'>
			<label for='1923-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1923' id='1923-2' value='2'>
			<label for='1923-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1923' id='1923-3' value='3'>
			<label for='1923-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1923' id='1923-4' value='4'>
			<label for='1923-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1923' id='1923-5' value='5'>
			<label for='1923-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1923' id='1923-6' value='6'>
			<label for='1923-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>159. Tell the truth.</legend>
			<input type='radio' name='1812' id='1812-1' value='1'>
			<label for='1812-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1812' id='1812-2' value='2'>
			<label for='1812-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1812' id='1812-3' value='3'>
			<label for='1812-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1812' id='1812-4' value='4'>
			<label for='1812-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1812' id='1812-5' value='5'>
			<label for='1812-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1812' id='1812-6' value='6'>
			<label for='1812-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>160. I am very impulsive.</legend>
			<input type='radio' name='4205' id='4205-1' value='1'>
			<label for='4205-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4205' id='4205-2' value='2'>
			<label for='4205-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4205' id='4205-3' value='3'>
			<label for='4205-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4205' id='4205-4' value='4'>
			<label for='4205-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4205' id='4205-5' value='5'>
			<label for='4205-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4205' id='4205-6' value='6'>
			<label for='4205-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>161. Often forget to put things back in their proper place.</legend>
			<input type='radio' name='1483' id='1483-1' value='1'>
			<label for='1483-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1483' id='1483-2' value='2'>
			<label for='1483-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1483' id='1483-3' value='3'>
			<label for='1483-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1483' id='1483-4' value='4'>
			<label for='1483-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1483' id='1483-5' value='5'>
			<label for='1483-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1483' id='1483-6' value='6'>
			<label for='1483-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>162. Can handle a lot of information.</legend>
			<input type='radio' name='422' id='422-1' value='1'>
			<label for='422-1'>Very<br>Inaccurate</label>
			<input type='radio' name='422' id='422-2' value='2'>
			<label for='422-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='422' id='422-3' value='3'>
			<label for='422-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='422' id='422-4' value='4'>
			<label for='422-4'>Slightly<br>Accurate</label>
			<input type='radio' name='422' id='422-5' value='5'>
			<label for='422-5'>Moderately<br>Accurate</label>
			<input type='radio' name='422' id='422-6' value='6'>
			<label for='422-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>163. Persons generally follow my lead and authority.</legend>
			<input type='radio' name='50588' id='50588-1' value='1'>
			<label for='50588-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50588' id='50588-2' value='2'>
			<label for='50588-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50588' id='50588-3' value='3'>
			<label for='50588-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50588' id='50588-4' value='4'>
			<label for='50588-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50588' id='50588-5' value='5'>
			<label for='50588-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50588' id='50588-6' value='6'>
			<label for='50588-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>164. Experience my emotions intensely.</legend>
			<input type='radio' name='793' id='793-1' value='1'>
			<label for='793-1'>Very<br>Inaccurate</label>
			<input type='radio' name='793' id='793-2' value='2'>
			<label for='793-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='793' id='793-3' value='3'>
			<label for='793-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='793' id='793-4' value='4'>
			<label for='793-4'>Slightly<br>Accurate</label>
			<input type='radio' name='793' id='793-5' value='5'>
			<label for='793-5'>Moderately<br>Accurate</label>
			<input type='radio' name='793' id='793-6' value='6'>
			<label for='793-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>165. Make myself the center of attention.</legend>
			<input type='radio' name='1416' id='1416-1' value='1'>
			<label for='1416-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1416' id='1416-2' value='2'>
			<label for='1416-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1416' id='1416-3' value='3'>
			<label for='1416-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1416' id='1416-4' value='4'>
			<label for='1416-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1416' id='1416-5' value='5'>
			<label for='1416-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1416' id='1416-6' value='6'>
			<label for='1416-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>166. Flattery is a good way to get people on your side.</legend>
			<input type='radio' name='51803' id='51803-1' value='1'>
			<label for='51803-1'>Very<br>Inaccurate</label>
			<input type='radio' name='51803' id='51803-2' value='2'>
			<label for='51803-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='51803' id='51803-3' value='3'>
			<label for='51803-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='51803' id='51803-4' value='4'>
			<label for='51803-4'>Slightly<br>Accurate</label>
			<input type='radio' name='51803' id='51803-5' value='5'>
			<label for='51803-5'>Moderately<br>Accurate</label>
			<input type='radio' name='51803' id='51803-6' value='6'>
			<label for='51803-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>167. Believe that people are basically moral.</legend>
			<input type='radio' name='379' id='379-1' value='1'>
			<label for='379-1'>Very<br>Inaccurate</label>
			<input type='radio' name='379' id='379-2' value='2'>
			<label for='379-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='379' id='379-3' value='3'>
			<label for='379-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='379' id='379-4' value='4'>
			<label for='379-4'>Slightly<br>Accurate</label>
			<input type='radio' name='379' id='379-5' value='5'>
			<label for='379-5'>Moderately<br>Accurate</label>
			<input type='radio' name='379' id='379-6' value='6'>
			<label for='379-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>168. Am hard to satisfy.</legend>
			<input type='radio' name='142' id='142-1' value='1'>
			<label for='142-1'>Very<br>Inaccurate</label>
			<input type='radio' name='142' id='142-2' value='2'>
			<label for='142-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='142' id='142-3' value='3'>
			<label for='142-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='142' id='142-4' value='4'>
			<label for='142-4'>Slightly<br>Accurate</label>
			<input type='radio' name='142' id='142-5' value='5'>
			<label for='142-5'>Moderately<br>Accurate</label>
			<input type='radio' name='142' id='142-6' value='6'>
			<label for='142-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>169. You can get what you want by telling people what they want to hear.</legend>
			<input type='radio' name='3967' id='3967-1' value='1'>
			<label for='3967-1'>Very<br>Inaccurate</label>
			<input type='radio' name='3967' id='3967-2' value='2'>
			<label for='3967-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='3967' id='3967-3' value='3'>
			<label for='3967-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='3967' id='3967-4' value='4'>
			<label for='3967-4'>Slightly<br>Accurate</label>
			<input type='radio' name='3967' id='3967-5' value='5'>
			<label for='3967-5'>Moderately<br>Accurate</label>
			<input type='radio' name='3967' id='3967-6' value='6'>
			<label for='3967-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>170. Try to understand myself.</legend>
			<input type='radio' name='1880' id='1880-1' value='1'>
			<label for='1880-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1880' id='1880-2' value='2'>
			<label for='1880-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1880' id='1880-3' value='3'>
			<label for='1880-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1880' id='1880-4' value='4'>
			<label for='1880-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1880' id='1880-5' value='5'>
			<label for='1880-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1880' id='1880-6' value='6'>
			<label for='1880-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>171. Get angry easily.</legend>
			<input type='radio' name='952' id='952-1' value='1'>
			<label for='952-1'>Very<br>Inaccurate</label>
			<input type='radio' name='952' id='952-2' value='2'>
			<label for='952-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='952' id='952-3' value='3'>
			<label for='952-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='952' id='952-4' value='4'>
			<label for='952-4'>Slightly<br>Accurate</label>
			<input type='radio' name='952' id='952-5' value='5'>
			<label for='952-5'>Moderately<br>Accurate</label>
			<input type='radio' name='952' id='952-6' value='6'>
			<label for='952-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>172. I'm not big on feelings of sympathy.</legend>
			<input type='radio' name='50595' id='50595-1' value='1'>
			<label for='50595-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50595' id='50595-2' value='2'>
			<label for='50595-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50595' id='50595-3' value='3'>
			<label for='50595-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50595' id='50595-4' value='4'>
			<label for='50595-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50595' id='50595-5' value='5'>
			<label for='50595-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50595' id='50595-6' value='6'>
			<label for='50595-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>173. Which piece makes these patterns match?</legend>
		<img id='fig16065.svg' src='iq.figures/fig16065.svg' width='440' height='340'><br>
		<input type='radio' name='16065' id='16065-1' value='1'>
		<label for='16065-1'>A</label>
		<input type='radio' name='16065' id='16065-2' value='2'>
		<label for='16065-2'>B</label>
		<input type='radio' name='16065' id='16065-3' value='3'>
		<label for='16065-3'>C</label>
		<input type='radio' name='16065' id='16065-4' value='4'>
		<label for='16065-4'>D</label>
		<input type='radio' name='16065' id='16065-5' value='5'>
		<label for='16065-5'>E</label>
		<input type='radio' name='16065' id='16065-6' value='6'>
		<label for='16065-6'>F</label>
		<input type='radio' name='16065' id='16065-7' value='7'>
		<label for='16065-7'>G</label>
		<input type='radio' name='16065' id='16065-8' value='8'>
		<label for='16065-8'>H</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>174. Michelle likes 96 but not 45; she also likes 540 but not 250. Which does she like?</legend>
			<input type='radio' name='12013' id='12013-1' value='1'>
			<label for='12013-1'> 86</label>
			<input type='radio' name='12013' id='12013-2' value='2'>
			<label for='12013-2'> 93</label>
			<input type='radio' name='12013' id='12013-3' value='3'>
			<label for='12013-3'> 98</label>
			<input type='radio' name='12013' id='12013-4' value='4'>
			<label for='12013-4'> 128</label>
			<input type='radio' name='12013' id='12013-5' value='5'>
			<label for='12013-5'> 132</label>
			<input type='radio' name='12013' id='12013-6' value='6'>
			<label for='12013-6'> 140</label>
			<input type='radio' name='12013' id='12013-7' value='7'>
			<label for='12013-7'>None of these</label>
			<input type='radio' name='12013' id='12013-8' value='8'>
			<label for='12013-8'>I don't know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>175. In the following alphanumeric series, what number comes next? 115, 99, 83, 67, …</legend>
			<input type='radio' name='12104' id='12104-1' value='1'>
			<label for='12104-1'>41</label>
			<input type='radio' name='12104' id='12104-2' value='2'>
			<label for='12104-2'>54</label>
			<input type='radio' name='12104' id='12104-3' value='3'>
			<label for='12104-3'>55</label>
			<input type='radio' name='12104' id='12104-4' value='4'>
			<label for='12104-4'>42</label>
			<input type='radio' name='12104' id='12104-5' value='5'>
			<label for='12104-5'>51</label>
			<input type='radio' name='12104' id='12104-6' value='6'>
			<label for='12104-6'>57</label>
			<input type='radio' name='12104' id='12104-7' value='7'>
			<label for='12104-7'>None of these</label>
			<input type='radio' name='12104' id='12104-8' value='8'>
			<label for='12104-8'>I don't know</label>
	</fieldset>
</div> <!-- closes div class="10u offset-1u" -->
<div class="1u">
</div> <!-- closes div class="1u" -->
</div>  <!-- closes div class="row" -->
										<div class="row">

											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-stop" aria-disabled="false"><input type="submit" data-theme="stop" name="submitStop" value="Skip to last page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
											<div class="6u">
												<ul>
												<li>
												</li>
												</ul>
											</div>
											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-more" aria-disabled="false"><input type="submit" data-theme="more" id="submitGo" name="submitGo" value="Next page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
										</div>

</form><!-- closes form id="page9"  -->
								</div>  <!-- closes div class="5grid" -->
							</div>  <!-- closes div id="content" -->
						</div> <!-- closes div class="12u mobileUI-main-content" -->
					</div><!-- closes div id="row" -->
				</div> <!-- closes div class="5grid-layout" -->
			</div> <!-- closes div id="main-wrapper" -->

		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
				<footer id="footer" class="5grid-layout">
					<div class="row">
						<div class="12u">
							<div id="copyright">
							<center>
								&copy; Part of the Personality Project.	
							</center>
							</div>
						</div>
					</div>
				</footer>
			</div>
		<!-- End Footer Wrapper -->
	</body>
</html>
