<!DOCTYPE HTML>
<html>

	<head>
		<title>Free Personality Test | SAPA-Project | Items 201 to 225</title>
		<meta name="description" content="This is the ninth of several pages where we ask about your typical thoughts, feelings, and behaviors. Your responses to these questions will shape your free customized personality report, so be sure to respond honestly.  And don't skip too many items along the way!">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="keywords" content="" />

		<link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
		<link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16">
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
		<link rel="manifest" href="../manifest.json">
		<link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" href="../css/5grid/fonts.css" />
		<link rel="stylesheet" href="../css/5grid/jquery.mobile-1.3.0.css" />
		<script src="../css/5grid/jquery.js"></script>
		<script src="../css/5grid/jquery.mobile-1.3.0.min.js"></script>
		<script src="../css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none&amp;mobileUI_titleBarOverlaid=1&amp;mobileUI_titleBarHeight=60&amp;viewport_is1000px=1060&amp;mobileUI_openerWidth=80"></script>
		<noscript>
			<link rel="stylesheet" href="../css/5grid/core.css" />
			<link rel="stylesheet" href="../css/5grid/core-desktop.css" />
			<link rel="stylesheet" href="../css/5grid/core-1200px.css" />
			<link rel="stylesheet" href="../css/5grid/core-noscript.css" />
			<link rel="stylesheet" href="../css/style.css" />
			<link rel="stylesheet" href="../css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="../css/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="../css/ie7.css" /><![endif]-->
	</head>
	<body class="no-sidebar">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="5grid-layout">
					<div class="row">
						
							<!-- Header -->
								<header id="header">
										<h2>The SAPA Project</h2>
										<h3>a personality assessment collaboratory</h3>
								</header>

					</div>
				</div>
			</div>
		<!-- End Header Wrapper -->
		
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="5grid-layout">
					<div class="row">
						<div class="12u mobileUI-main-content">

							<!-- Content -->
								<div id="content">

									<div class="5grid">
										<div class="row">
											<div class="12u" style="margin-bottom: 0px;">

										<h3>Personality Questions</h3>
										
										<p class="smallish">You've responded to <strong>15 of the 200 items</strong> given so far.</p>

										<p class="smallish">Remember that <strong>your responses are anonymous</strong>.  Do your best to respond as accurately and honestly as possible.</p>

											</div> <!-- closes div class="12u" -->
										</div>  <!-- closes div class="row" -->
																		
										<div class="small">
										</div>

<form name="page11" id="page11" DefaultButton="submitGo" action="/survey/survey9.php" data-ajax="false" method="post" onsubmit="getTime();">  

<input type="hidden" id="page9Time" name="page9Time">

<script language='JavaScript'>
function getTime(){
var current = new Date();
var since = current.getTime();
var elapsetime = since/1000;
document.getElementById('page9Time').value = elapsetime;
}
</script>
<!-- Gets the time between 1/1/1970 12:00 am UTC and now in seconds. -->

<div class="row">
<div class="10u offset-1u">


	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>201. If I ruled the world it would be a better place.</legend>
			<input type='radio' name='51742' id='51742-1' value='1'>
			<label for='51742-1'>Very<br>Inaccurate</label>
			<input type='radio' name='51742' id='51742-2' value='2'>
			<label for='51742-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='51742' id='51742-3' value='3'>
			<label for='51742-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='51742' id='51742-4' value='4'>
			<label for='51742-4'>Slightly<br>Accurate</label>
			<input type='radio' name='51742' id='51742-5' value='5'>
			<label for='51742-5'>Moderately<br>Accurate</label>
			<input type='radio' name='51742' id='51742-6' value='6'>
			<label for='51742-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>202. Am sensitive to the needs of others.</legend>
			<input type='radio' name='253' id='253-1' value='1'>
			<label for='253-1'>Very<br>Inaccurate</label>
			<input type='radio' name='253' id='253-2' value='2'>
			<label for='253-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='253' id='253-3' value='3'>
			<label for='253-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='253' id='253-4' value='4'>
			<label for='253-4'>Slightly<br>Accurate</label>
			<input type='radio' name='253' id='253-5' value='5'>
			<label for='253-5'>Moderately<br>Accurate</label>
			<input type='radio' name='253' id='253-6' value='6'>
			<label for='253-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>203. Start tasks right away.</legend>
			<input type='radio' name='1744' id='1744-1' value='1'>
			<label for='1744-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1744' id='1744-2' value='2'>
			<label for='1744-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1744' id='1744-3' value='3'>
			<label for='1744-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1744' id='1744-4' value='4'>
			<label for='1744-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1744' id='1744-5' value='5'>
			<label for='1744-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1744' id='1744-6' value='6'>
			<label for='1744-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>204. I like to look at myself in the mirror.</legend>
			<input type='radio' name='51766' id='51766-1' value='1'>
			<label for='51766-1'>Very<br>Inaccurate</label>
			<input type='radio' name='51766' id='51766-2' value='2'>
			<label for='51766-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='51766' id='51766-3' value='3'>
			<label for='51766-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='51766' id='51766-4' value='4'>
			<label for='51766-4'>Slightly<br>Accurate</label>
			<input type='radio' name='51766' id='51766-5' value='5'>
			<label for='51766-5'>Moderately<br>Accurate</label>
			<input type='radio' name='51766' id='51766-6' value='6'>
			<label for='51766-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>205. Have a vivid imagination.</legend>
			<input type='radio' name='1058' id='1058-1' value='1'>
			<label for='1058-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1058' id='1058-2' value='2'>
			<label for='1058-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1058' id='1058-3' value='3'>
			<label for='1058-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1058' id='1058-4' value='4'>
			<label for='1058-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1058' id='1058-5' value='5'>
			<label for='1058-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1058' id='1058-6' value='6'>
			<label for='1058-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>206. Worry about things.</legend>
			<input type='radio' name='1989' id='1989-1' value='1'>
			<label for='1989-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1989' id='1989-2' value='2'>
			<label for='1989-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1989' id='1989-3' value='3'>
			<label for='1989-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1989' id='1989-4' value='4'>
			<label for='1989-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1989' id='1989-5' value='5'>
			<label for='1989-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1989' id='1989-6' value='6'>
			<label for='1989-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>207. I sometimes hit people to remind them who's in charge.</legend>
			<input type='radio' name='4199' id='4199-1' value='1'>
			<label for='4199-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4199' id='4199-2' value='2'>
			<label for='4199-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4199' id='4199-3' value='3'>
			<label for='4199-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4199' id='4199-4' value='4'>
			<label for='4199-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4199' id='4199-5' value='5'>
			<label for='4199-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4199' id='4199-6' value='6'>
			<label for='4199-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>208. Like going out a lot.</legend>
			<input type='radio' name='4243' id='4243-1' value='1'>
			<label for='4243-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4243' id='4243-2' value='2'>
			<label for='4243-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4243' id='4243-3' value='3'>
			<label for='4243-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4243' id='4243-4' value='4'>
			<label for='4243-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4243' id='4243-5' value='5'>
			<label for='4243-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4243' id='4243-6' value='6'>
			<label for='4243-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>209. Tell the truth.</legend>
			<input type='radio' name='1812' id='1812-1' value='1'>
			<label for='1812-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1812' id='1812-2' value='2'>
			<label for='1812-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1812' id='1812-3' value='3'>
			<label for='1812-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1812' id='1812-4' value='4'>
			<label for='1812-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1812' id='1812-5' value='5'>
			<label for='1812-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1812' id='1812-6' value='6'>
			<label for='1812-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>210. My thoughts are strange and unpredictable.</legend>
			<input type='radio' name='4072' id='4072-1' value='1'>
			<label for='4072-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4072' id='4072-2' value='2'>
			<label for='4072-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4072' id='4072-3' value='3'>
			<label for='4072-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4072' id='4072-4' value='4'>
			<label for='4072-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4072' id='4072-5' value='5'>
			<label for='4072-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4072' id='4072-6' value='6'>
			<label for='4072-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>211. Often forget to put things back in their proper place.</legend>
			<input type='radio' name='1483' id='1483-1' value='1'>
			<label for='1483-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1483' id='1483-2' value='2'>
			<label for='1483-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1483' id='1483-3' value='3'>
			<label for='1483-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1483' id='1483-4' value='4'>
			<label for='1483-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1483' id='1483-5' value='5'>
			<label for='1483-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1483' id='1483-6' value='6'>
			<label for='1483-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>212. Can handle a lot of information.</legend>
			<input type='radio' name='422' id='422-1' value='1'>
			<label for='422-1'>Very<br>Inaccurate</label>
			<input type='radio' name='422' id='422-2' value='2'>
			<label for='422-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='422' id='422-3' value='3'>
			<label for='422-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='422' id='422-4' value='4'>
			<label for='422-4'>Slightly<br>Accurate</label>
			<input type='radio' name='422' id='422-5' value='5'>
			<label for='422-5'>Moderately<br>Accurate</label>
			<input type='radio' name='422' id='422-6' value='6'>
			<label for='422-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>213. I wish I didn't care so much about what others think of me.</legend>
			<input type='radio' name='50612' id='50612-1' value='1'>
			<label for='50612-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50612' id='50612-2' value='2'>
			<label for='50612-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50612' id='50612-3' value='3'>
			<label for='50612-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50612' id='50612-4' value='4'>
			<label for='50612-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50612' id='50612-5' value='5'>
			<label for='50612-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50612' id='50612-6' value='6'>
			<label for='50612-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>214. Experience very few emotional highs and lows.</legend>
			<input type='radio' name='797' id='797-1' value='1'>
			<label for='797-1'>Very<br>Inaccurate</label>
			<input type='radio' name='797' id='797-2' value='2'>
			<label for='797-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='797' id='797-3' value='3'>
			<label for='797-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='797' id='797-4' value='4'>
			<label for='797-4'>Slightly<br>Accurate</label>
			<input type='radio' name='797' id='797-5' value='5'>
			<label for='797-5'>Moderately<br>Accurate</label>
			<input type='radio' name='797' id='797-6' value='6'>
			<label for='797-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>215. Put on a show to impress people.</legend>
			<input type='radio' name='1555' id='1555-1' value='1'>
			<label for='1555-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1555' id='1555-2' value='2'>
			<label for='1555-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1555' id='1555-3' value='3'>
			<label for='1555-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1555' id='1555-4' value='4'>
			<label for='1555-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1555' id='1555-5' value='5'>
			<label for='1555-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1555' id='1555-6' value='6'>
			<label for='1555-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>216. I am easily angered.</legend>
			<input type='radio' name='4039' id='4039-1' value='1'>
			<label for='4039-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4039' id='4039-2' value='2'>
			<label for='4039-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4039' id='4039-3' value='3'>
			<label for='4039-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4039' id='4039-4' value='4'>
			<label for='4039-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4039' id='4039-5' value='5'>
			<label for='4039-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4039' id='4039-6' value='6'>
			<label for='4039-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>217. Believe that others have good intentions.</legend>
			<input type='radio' name='377' id='377-1' value='1'>
			<label for='377-1'>Very<br>Inaccurate</label>
			<input type='radio' name='377' id='377-2' value='2'>
			<label for='377-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='377' id='377-3' value='3'>
			<label for='377-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='377' id='377-4' value='4'>
			<label for='377-4'>Slightly<br>Accurate</label>
			<input type='radio' name='377' id='377-5' value='5'>
			<label for='377-5'>Moderately<br>Accurate</label>
			<input type='radio' name='377' id='377-6' value='6'>
			<label for='377-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>218. Continue until everything is perfect.</legend>
			<input type='radio' name='530' id='530-1' value='1'>
			<label for='530-1'>Very<br>Inaccurate</label>
			<input type='radio' name='530' id='530-2' value='2'>
			<label for='530-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='530' id='530-3' value='3'>
			<label for='530-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='530' id='530-4' value='4'>
			<label for='530-4'>Slightly<br>Accurate</label>
			<input type='radio' name='530' id='530-5' value='5'>
			<label for='530-5'>Moderately<br>Accurate</label>
			<input type='radio' name='530' id='530-6' value='6'>
			<label for='530-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>219. I feel awful when I get put down in front of others.</legend>
			<input type='radio' name='50584' id='50584-1' value='1'>
			<label for='50584-1'>Very<br>Inaccurate</label>
			<input type='radio' name='50584' id='50584-2' value='2'>
			<label for='50584-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='50584' id='50584-3' value='3'>
			<label for='50584-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='50584' id='50584-4' value='4'>
			<label for='50584-4'>Slightly<br>Accurate</label>
			<input type='radio' name='50584' id='50584-5' value='5'>
			<label for='50584-5'>Moderately<br>Accurate</label>
			<input type='radio' name='50584' id='50584-6' value='6'>
			<label for='50584-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>220. Love to reflect on things.</legend>
			<input type='radio' name='1389' id='1389-1' value='1'>
			<label for='1389-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1389' id='1389-2' value='2'>
			<label for='1389-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1389' id='1389-3' value='3'>
			<label for='1389-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1389' id='1389-4' value='4'>
			<label for='1389-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1389' id='1389-5' value='5'>
			<label for='1389-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1389' id='1389-6' value='6'>
			<label for='1389-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>221. Seldom get mad.</legend>
			<input type='radio' name='1683' id='1683-1' value='1'>
			<label for='1683-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1683' id='1683-2' value='2'>
			<label for='1683-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1683' id='1683-3' value='3'>
			<label for='1683-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1683' id='1683-4' value='4'>
			<label for='1683-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1683' id='1683-5' value='5'>
			<label for='1683-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1683' id='1683-6' value='6'>
			<label for='1683-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>222. I'm very dissatisfied with myself.</legend>
			<input type='radio' name='4062' id='4062-1' value='1'>
			<label for='4062-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4062' id='4062-2' value='2'>
			<label for='4062-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4062' id='4062-3' value='3'>
			<label for='4062-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4062' id='4062-4' value='4'>
			<label for='4062-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4062' id='4062-5' value='5'>
			<label for='4062-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4062' id='4062-6' value='6'>
			<label for='4062-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>223. All the cubes below have a different image on each side.  Select the choice that could represent a rotation of the cube labeled X.</legend>
		<img id='fig11022.png' src='iq.figures/fig11022.png' width='640' height='310'><br>
		<input type='radio' name='11022' id='11022-1' value='1'>
		<label for='11022-1'>A</label>
		<input type='radio' name='11022' id='11022-2' value='2'>
		<label for='11022-2'>B</label>
		<input type='radio' name='11022' id='11022-3' value='3'>
		<label for='11022-3'>C</label>
		<input type='radio' name='11022' id='11022-4' value='4'>
		<label for='11022-4'>D</label>
		<input type='radio' name='11022' id='11022-5' value='5'>
		<label for='11022-5'>E</label>
		<input type='radio' name='11022' id='11022-6' value='6'>
		<label for='11022-6'>F</label>
		<input type='radio' name='11022' id='11022-7' value='7'>
		<label for='11022-7'>G</label>
		<input type='radio' name='11022' id='11022-8' value='8'>
		<label for='11022-8'>H</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>224. All the cubes below have a different image on each side.  Select the choice that could represent a rotation of the cube labeled X.</legend>
		<img id='fig11002.png' src='iq.figures/fig11002.png' width='640' height='310'><br>
		<input type='radio' name='11002' id='11002-1' value='1'>
		<label for='11002-1'>A</label>
		<input type='radio' name='11002' id='11002-2' value='2'>
		<label for='11002-2'>B</label>
		<input type='radio' name='11002' id='11002-3' value='3'>
		<label for='11002-3'>C</label>
		<input type='radio' name='11002' id='11002-4' value='4'>
		<label for='11002-4'>D</label>
		<input type='radio' name='11002' id='11002-5' value='5'>
		<label for='11002-5'>E</label>
		<input type='radio' name='11002' id='11002-6' value='6'>
		<label for='11002-6'>F</label>
		<input type='radio' name='11002' id='11002-7' value='7'>
		<label for='11002-7'>G</label>
		<input type='radio' name='11002' id='11002-8' value='8'>
		<label for='11002-8'>H</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>225. Please indicate which is the best answer to complete the figure below.</legend>
		<img id='fig12044.jpg' src='iq.figures/fig12044.jpg' width='551' height='394'><br>
		<input type='radio' name='12044' id='12044-1' value='1'>
		<label for='12044-1'>A</label>
		<input type='radio' name='12044' id='12044-2' value='2'>
		<label for='12044-2'>B</label>
		<input type='radio' name='12044' id='12044-3' value='3'>
		<label for='12044-3'>C</label>
		<input type='radio' name='12044' id='12044-4' value='4'>
		<label for='12044-4'>D</label>
		<input type='radio' name='12044' id='12044-5' value='5'>
		<label for='12044-5'>E</label>
		<input type='radio' name='12044' id='12044-6' value='6'>
		<label for='12044-6'>F</label>
		<input type='radio' name='12044' id='12044-7' value='7'>
		<label for='12044-7'>None of these</label>
		<input type='radio' name='12044' id='12044-8' value='8'>
		<label for='12044-8'>I don't know</label>
	</fieldset>
</div> <!-- closes div class="10u offset-1u" -->
<div class="1u">
</div> <!-- closes div class="1u" -->
</div>  <!-- closes div class="row" -->
										<div class="row">

											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-stop" aria-disabled="false"><input type="submit" data-theme="stop" name="submitStop" value="Skip to last page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
											<div class="6u">
												<ul>
												<li>
												</li>
												</ul>
											</div>
											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-more" aria-disabled="false"><input type="submit" data-theme="more" id="submitGo" name="submitGo" value="Next page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
										</div>

</form><!-- closes form id="page11"  -->
								</div>  <!-- closes div class="5grid" -->
							</div>  <!-- closes div id="content" -->
						</div> <!-- closes div class="12u mobileUI-main-content" -->
					</div><!-- closes div id="row" -->
				</div> <!-- closes div class="5grid-layout" -->
			</div> <!-- closes div id="main-wrapper" -->

		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
				<footer id="footer" class="5grid-layout">
					<div class="row">
						<div class="12u">
							<div id="copyright">
							<center>
								&copy; Part of the Personality Project.	
							</center>
							</div>
						</div>
					</div>
				</footer>
			</div>
		<!-- End Footer Wrapper -->
	</body>
</html>
