<!DOCTYPE HTML>
<html>

	<head>
		<title>Free Personality Test | SAPA-Project | Items 1 to 25</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta name="description" content="This is the first of several pages where we ask about your typical thoughts, feelings, and behaviors. Your responses to these questions will shape your free customized personality report, so be sure to respond honestly.  And don't skip too many items along the way!">
		<meta name="keywords" content="" />

		<link rel="apple-touch-icon" sizes="180x180" href="../apple-touch-icon.png">
		<link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16">
		<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
		<link rel="manifest" href="../manifest.json">
		<link rel="mask-icon" href="../safari-pinned-tab.svg" color="#5bbad5">
		<meta name="theme-color" content="#ffffff">

		<link rel="stylesheet" href="../css/5grid/fonts.css" />
		<link rel="stylesheet" href="../css/5grid/jquery.mobile-1.3.0.css" />
		<script src="../css/5grid/jquery.js"></script>
		<script src="../css/5grid/jquery.mobile-1.3.0.min.js"></script>
		<script src="../css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none&amp;mobileUI_titleBarOverlaid=1&amp;mobileUI_titleBarHeight=60&amp;viewport_is1000px=1060&amp;mobileUI_openerWidth=80"></script>
		<noscript>
			<link rel="stylesheet" href="../css/5grid/core.css" />
			<link rel="stylesheet" href="../css/5grid/core-desktop.css" />
			<link rel="stylesheet" href="../css/5grid/core-1200px.css" />
			<link rel="stylesheet" href="../css/5grid/core-noscript.css" />
			<link rel="stylesheet" href="../css/style.css" />
			<link rel="stylesheet" href="../css/style-desktop.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="../css/ie8.css" /><![endif]-->
		<!--[if lte IE 7]><link rel="stylesheet" href="../css/ie7.css" /><![endif]-->
		<!-- begin google adwords script --><script type="text/javascript">
/* <![CDATA[ */
		var google_conversion_id = 981868095;
		var google_conversion_language = "en";
		var google_conversion_format = "3";
		var google_conversion_color = "ffffff";
		var google_conversion_label = "2aA_CLP73HMQv7yY1AM";
		var google_remarketing_only = false;
		/* ]]> */
		</script>
		<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
		</script>
		<noscript>
		<div style="display:inline;">
		<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/981868095/?label=2aA_CLP73HMQv7yY1AM&amp;guid=ON&amp;script=0"/>
		</div>
		</noscript><!-- end google adwords script -->

	</head>
	<body class="no-sidebar">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="5grid-layout">
					<div class="row">
						
							<!-- Header -->
								<header id="header">
										<h2>The SAPA Project</h2>
										<h3>a personality assessment collaboratory</h3>
								</header>

					</div>
				</div>
			</div>
		<!-- End Header Wrapper -->
		
		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="5grid-layout">
					<div class="row">
						<div class="12u mobileUI-main-content">

							<!-- Content -->
								<div id="content">

									<div class="5grid">
										<div class="row">
											<div class="12u" style="margin-bottom: 0px;">

										<h3>Personality Questions</h3>

										<p class="smallish">Most of these are short phrases that you should respond to by indicating how accurately the statement describes your typical behavior or attitudes.  For example, you might select 'slightly accurate' for 'Laugh a lot.'  Other types of items are mixed in as well, including cognition/puzzle items, questions that ask about how you spend your free time, and questions that ask how interested you would be in working certain jobs.  Each of these types of questions relate to different features of personality.  For all types, <strong>choose the one answer that you think is best.</strong></p>
										
											</div> <!-- closes div class="12u" -->
										</div>  <!-- closes div class="row" -->
																		
										<div class="small">
										</div>

<form name="page3" id="page3" DefaultButton="submitGo" action="/survey/survey1.php" data-ajax="false" method="post" onsubmit="getTime();">  

<input type="hidden" id="page1Time" name="page1Time">

<script language='JavaScript'>
function getTime(){
var current = new Date();
var since = current.getTime();
var elapsetime = since/1000;
document.getElementById('page1Time').value = elapsetime;
}
</script>
<!-- Gets the time between 1/1/1970 12:00 am UTC and now in seconds. -->

<div class="row">
<div class="10u offset-1u">


	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>1. People suffering from incurable diseases should have the choice of being put painlessly to death.</legend>
			<input type='radio' name='2155' id='2155-1' value='1'>
			<label for='2155-1'>Very<br>Inaccurate</label>
			<input type='radio' name='2155' id='2155-2' value='2'>
			<label for='2155-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='2155' id='2155-3' value='3'>
			<label for='2155-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='2155' id='2155-4' value='4'>
			<label for='2155-4'>Slightly<br>Accurate</label>
			<input type='radio' name='2155' id='2155-5' value='5'>
			<label for='2155-5'>Moderately<br>Accurate</label>
			<input type='radio' name='2155' id='2155-6' value='6'>
			<label for='2155-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>2. Think of others first.</legend>
			<input type='radio' name='1832' id='1832-1' value='1'>
			<label for='1832-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1832' id='1832-2' value='2'>
			<label for='1832-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1832' id='1832-3' value='3'>
			<label for='1832-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1832' id='1832-4' value='4'>
			<label for='1832-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1832' id='1832-5' value='5'>
			<label for='1832-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1832' id='1832-6' value='6'>
			<label for='1832-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>3. Neglect my duties.</legend>
			<input type='radio' name='1452' id='1452-1' value='1'>
			<label for='1452-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1452' id='1452-2' value='2'>
			<label for='1452-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1452' id='1452-3' value='3'>
			<label for='1452-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1452' id='1452-4' value='4'>
			<label for='1452-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1452' id='1452-5' value='5'>
			<label for='1452-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1452' id='1452-6' value='6'>
			<label for='1452-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>4. People sometimes say that I'm cold-hearted.</legend>
			<input type='radio' name='3979' id='3979-1' value='1'>
			<label for='3979-1'>Very<br>Inaccurate</label>
			<input type='radio' name='3979' id='3979-2' value='2'>
			<label for='3979-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='3979' id='3979-3' value='3'>
			<label for='3979-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='3979' id='3979-4' value='4'>
			<label for='3979-4'>Slightly<br>Accurate</label>
			<input type='radio' name='3979' id='3979-5' value='5'>
			<label for='3979-5'>Moderately<br>Accurate</label>
			<input type='radio' name='3979' id='3979-6' value='6'>
			<label for='3979-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>5. Am able to come up with new and different ideas.</legend>
			<input type='radio' name='2745' id='2745-1' value='1'>
			<label for='2745-1'>Very<br>Inaccurate</label>
			<input type='radio' name='2745' id='2745-2' value='2'>
			<label for='2745-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='2745' id='2745-3' value='3'>
			<label for='2745-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='2745' id='2745-4' value='4'>
			<label for='2745-4'>Slightly<br>Accurate</label>
			<input type='radio' name='2745' id='2745-5' value='5'>
			<label for='2745-5'>Moderately<br>Accurate</label>
			<input type='radio' name='2745' id='2745-6' value='6'>
			<label for='2745-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>6. Worry about things.</legend>
			<input type='radio' name='1989' id='1989-1' value='1'>
			<label for='1989-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1989' id='1989-2' value='2'>
			<label for='1989-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1989' id='1989-3' value='3'>
			<label for='1989-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1989' id='1989-4' value='4'>
			<label for='1989-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1989' id='1989-5' value='5'>
			<label for='1989-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1989' id='1989-6' value='6'>
			<label for='1989-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>7. One should take action only when sure it is morally right.</legend>
			<input type='radio' name='2154' id='2154-1' value='1'>
			<label for='2154-1'>Very<br>Inaccurate</label>
			<input type='radio' name='2154' id='2154-2' value='2'>
			<label for='2154-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='2154' id='2154-3' value='3'>
			<label for='2154-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='2154' id='2154-4' value='4'>
			<label for='2154-4'>Slightly<br>Accurate</label>
			<input type='radio' name='2154' id='2154-5' value='5'>
			<label for='2154-5'>Moderately<br>Accurate</label>
			<input type='radio' name='2154' id='2154-6' value='6'>
			<label for='2154-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>8. Don't like crowded events.</legend>
			<input type='radio' name='684' id='684-1' value='1'>
			<label for='684-1'>Very<br>Inaccurate</label>
			<input type='radio' name='684' id='684-2' value='2'>
			<label for='684-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='684' id='684-3' value='3'>
			<label for='684-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='684' id='684-4' value='4'>
			<label for='684-4'>Slightly<br>Accurate</label>
			<input type='radio' name='684' id='684-5' value='5'>
			<label for='684-5'>Moderately<br>Accurate</label>
			<input type='radio' name='684' id='684-6' value='6'>
			<label for='684-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>9. Cheat to get ahead.</legend>
			<input type='radio' name='501' id='501-1' value='1'>
			<label for='501-1'>Very<br>Inaccurate</label>
			<input type='radio' name='501' id='501-2' value='2'>
			<label for='501-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='501' id='501-3' value='3'>
			<label for='501-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='501' id='501-4' value='4'>
			<label for='501-4'>Slightly<br>Accurate</label>
			<input type='radio' name='501' id='501-5' value='5'>
			<label for='501-5'>Moderately<br>Accurate</label>
			<input type='radio' name='501' id='501-6' value='6'>
			<label for='501-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>10. I never want to be alone.</legend>
			<input type='radio' name='4176' id='4176-1' value='1'>
			<label for='4176-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4176' id='4176-2' value='2'>
			<label for='4176-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4176' id='4176-3' value='3'>
			<label for='4176-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4176' id='4176-4' value='4'>
			<label for='4176-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4176' id='4176-5' value='5'>
			<label for='4176-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4176' id='4176-6' value='6'>
			<label for='4176-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>11. Often forget to put things back in their proper place.</legend>
			<input type='radio' name='1483' id='1483-1' value='1'>
			<label for='1483-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1483' id='1483-2' value='2'>
			<label for='1483-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1483' id='1483-3' value='3'>
			<label for='1483-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1483' id='1483-4' value='4'>
			<label for='1483-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1483' id='1483-5' value='5'>
			<label for='1483-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1483' id='1483-6' value='6'>
			<label for='1483-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>12. Think quickly.</legend>
			<input type='radio' name='1834' id='1834-1' value='1'>
			<label for='1834-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1834' id='1834-2' value='2'>
			<label for='1834-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1834' id='1834-3' value='3'>
			<label for='1834-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1834' id='1834-4' value='4'>
			<label for='1834-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1834' id='1834-5' value='5'>
			<label for='1834-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1834' id='1834-6' value='6'>
			<label for='1834-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>13. I can usually talk my way out of anything.</legend>
			<input type='radio' name='51743' id='51743-1' value='1'>
			<label for='51743-1'>Very<br>Inaccurate</label>
			<input type='radio' name='51743' id='51743-2' value='2'>
			<label for='51743-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='51743' id='51743-3' value='3'>
			<label for='51743-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='51743' id='51743-4' value='4'>
			<label for='51743-4'>Slightly<br>Accurate</label>
			<input type='radio' name='51743' id='51743-5' value='5'>
			<label for='51743-5'>Moderately<br>Accurate</label>
			<input type='radio' name='51743' id='51743-6' value='6'>
			<label for='51743-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>14. Experience my emotions intensely.</legend>
			<input type='radio' name='793' id='793-1' value='1'>
			<label for='793-1'>Very<br>Inaccurate</label>
			<input type='radio' name='793' id='793-2' value='2'>
			<label for='793-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='793' id='793-3' value='3'>
			<label for='793-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='793' id='793-4' value='4'>
			<label for='793-4'>Slightly<br>Accurate</label>
			<input type='radio' name='793' id='793-5' value='5'>
			<label for='793-5'>Moderately<br>Accurate</label>
			<input type='radio' name='793' id='793-6' value='6'>
			<label for='793-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>15. Like to attract attention.</legend>
			<input type='radio' name='1296' id='1296-1' value='1'>
			<label for='1296-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1296' id='1296-2' value='2'>
			<label for='1296-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1296' id='1296-3' value='3'>
			<label for='1296-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1296' id='1296-4' value='4'>
			<label for='1296-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1296' id='1296-5' value='5'>
			<label for='1296-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1296' id='1296-6' value='6'>
			<label for='1296-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>16. I have a unique talent for persuading people.</legend>
			<input type='radio' name='51805' id='51805-1' value='1'>
			<label for='51805-1'>Very<br>Inaccurate</label>
			<input type='radio' name='51805' id='51805-2' value='2'>
			<label for='51805-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='51805' id='51805-3' value='3'>
			<label for='51805-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='51805' id='51805-4' value='4'>
			<label for='51805-4'>Slightly<br>Accurate</label>
			<input type='radio' name='51805' id='51805-5' value='5'>
			<label for='51805-5'>Moderately<br>Accurate</label>
			<input type='radio' name='51805' id='51805-6' value='6'>
			<label for='51805-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>17. Trust what people say.</legend>
			<input type='radio' name='1855' id='1855-1' value='1'>
			<label for='1855-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1855' id='1855-2' value='2'>
			<label for='1855-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1855' id='1855-3' value='3'>
			<label for='1855-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1855' id='1855-4' value='4'>
			<label for='1855-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1855' id='1855-5' value='5'>
			<label for='1855-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1855' id='1855-6' value='6'>
			<label for='1855-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>18. Set high standards for myself and others.</legend>
			<input type='radio' name='1694' id='1694-1' value='1'>
			<label for='1694-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1694' id='1694-2' value='2'>
			<label for='1694-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1694' id='1694-3' value='3'>
			<label for='1694-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1694' id='1694-4' value='4'>
			<label for='1694-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1694' id='1694-5' value='5'>
			<label for='1694-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1694' id='1694-6' value='6'>
			<label for='1694-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>19. Other people seem to think my behavior is weird.</legend>
			<input type='radio' name='4025' id='4025-1' value='1'>
			<label for='4025-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4025' id='4025-2' value='2'>
			<label for='4025-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4025' id='4025-3' value='3'>
			<label for='4025-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4025' id='4025-4' value='4'>
			<label for='4025-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4025' id='4025-5' value='5'>
			<label for='4025-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4025' id='4025-6' value='6'>
			<label for='4025-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>20. Like to get lost in thought.</legend>
			<input type='radio' name='1310' id='1310-1' value='1'>
			<label for='1310-1'>Very<br>Inaccurate</label>
			<input type='radio' name='1310' id='1310-2' value='2'>
			<label for='1310-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='1310' id='1310-3' value='3'>
			<label for='1310-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='1310' id='1310-4' value='4'>
			<label for='1310-4'>Slightly<br>Accurate</label>
			<input type='radio' name='1310' id='1310-5' value='5'>
			<label for='1310-5'>Moderately<br>Accurate</label>
			<input type='radio' name='1310' id='1310-6' value='6'>
			<label for='1310-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>21. Am not easily annoyed.</legend>
			<input type='radio' name='176' id='176-1' value='1'>
			<label for='176-1'>Very<br>Inaccurate</label>
			<input type='radio' name='176' id='176-2' value='2'>
			<label for='176-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='176' id='176-3' value='3'>
			<label for='176-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='176' id='176-4' value='4'>
			<label for='176-4'>Slightly<br>Accurate</label>
			<input type='radio' name='176' id='176-5' value='5'>
			<label for='176-5'>Moderately<br>Accurate</label>
			<input type='radio' name='176' id='176-6' value='6'>
			<label for='176-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>22. Sometimes I feel "controlled" by thoughts that belong to someone else.</legend>
			<input type='radio' name='4155' id='4155-1' value='1'>
			<label for='4155-1'>Very<br>Inaccurate</label>
			<input type='radio' name='4155' id='4155-2' value='2'>
			<label for='4155-2'>Moderately<br>Inaccurate</label>
			<input type='radio' name='4155' id='4155-3' value='3'>
			<label for='4155-3'>Slightly<br>Inaccurate</label>
			<input type='radio' name='4155' id='4155-4' value='4'>
			<label for='4155-4'>Slightly<br>Accurate</label>
			<input type='radio' name='4155' id='4155-5' value='5'>
			<label for='4155-5'>Moderately<br>Accurate</label>
			<input type='radio' name='4155' id='4155-6' value='6'>
			<label for='4155-6'>Very<br>Accurate</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>23. Isaac is shorter than George and Phillip is taller than George. Which of the following statements is most accurate?</legend>
			<input type='radio' name='12031' id='12031-1' value='1'>
			<label for='12031-1'> Phillip is<br>taller than<br>Isaac</label>
			<input type='radio' name='12031' id='12031-2' value='2'>
			<label for='12031-2'> Phillip is<br>shorter than<br>Isaac</label>
			<input type='radio' name='12031' id='12031-3' value='3'>
			<label for='12031-3'> Phillip is<br>as tall as<br>Isaac</label>
			<input type='radio' name='12031' id='12031-4' value='4'>
			<label for='12031-4'> It is<br>impossible<br>to tell</label>
			<input type='radio' name='12031' id='12031-5' value='5'>
			<label for='12031-5'>Isaac is<br>taller than<br>George</label>
			<input type='radio' name='12031' id='12031-6' value='6'>
			<label for='12031-6'>George is<br>taller than<br>Phillip</label>
			<input type='radio' name='12031' id='12031-7' value='7'>
			<label for='12031-7'><br>None of<br>these</label>
			<input type='radio' name='12031' id='12031-8' value='8'>
			<label for='12031-8'><br>I don't<br>know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>24. Please indicate which is the best answer to complete the figure below.</legend>
		<img id='fig12045.jpg' src='iq.figures/fig12045.jpg' width='551' height='394'><br>
		<input type='radio' name='12045' id='12045-1' value='1'>
		<label for='12045-1'>A</label>
		<input type='radio' name='12045' id='12045-2' value='2'>
		<label for='12045-2'>B</label>
		<input type='radio' name='12045' id='12045-3' value='3'>
		<label for='12045-3'>C</label>
		<input type='radio' name='12045' id='12045-4' value='4'>
		<label for='12045-4'>D</label>
		<input type='radio' name='12045' id='12045-5' value='5'>
		<label for='12045-5'>E</label>
		<input type='radio' name='12045' id='12045-6' value='6'>
		<label for='12045-6'>F</label>
		<input type='radio' name='12045' id='12045-7' value='7'>
		<label for='12045-7'>None of these</label>
		<input type='radio' name='12045' id='12045-8' value='8'>
		<label for='12045-8'>I don't know</label>
	</fieldset>
	<fieldset data-role='controlgroup' data-type='horizontal' data-role='fieldcontain'>
		<legend>25. Please indicate which is the best answer to complete the analogy below.</legend>
		<img id='fig18005.png' src='iq.figures/fig18005.png' width='640' height='200'><br>
		<input type='radio' name='18005' id='18005-1' value='1'>
		<label for='18005-1'>A</label>
		<input type='radio' name='18005' id='18005-2' value='2'>
		<label for='18005-2'>B</label>
		<input type='radio' name='18005' id='18005-3' value='3'>
		<label for='18005-3'>C</label>
		<input type='radio' name='18005' id='18005-4' value='4'>
		<label for='18005-4'>D</label>
		<input type='radio' name='18005' id='18005-5' value='5'>
		<label for='18005-5'>E</label>
		<input type='radio' name='18005' id='18005-6' value='6'>
		<label for='18005-6'>F</label>
		<input type='radio' name='18005' id='18005-7' value='7'>
		<label for='18005-7'>G</label>
		<input type='radio' name='18005' id='18005-8' value='8'>
		<label for='18005-8'>H</label>
	</fieldset>
</div> <!-- closes div class="10u offset-1u" -->
<div class="1u">
</div> <!-- closes div class="1u" -->
</div>  <!-- closes div class="row" -->
										<div class="row">

											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-stop" aria-disabled="false"><input type="submit" data-theme="stop" name="submitStop" value="Skip to last page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
											<div class="6u">
												<ul>
												<li>
												</li>
												</ul>
											</div>
											<div class="3u">
												<ul>
												<li>
												<div data-corners="true" data-shadow="false" data-iconshadow="false" data-wrapperels="span" data-theme="more" data-disabled="false" class="ui-submit ui-btn ui-shadow ui-btn-corner-all ui-btn-up-more" aria-disabled="false"><input type="submit" data-theme="more" id="submitGo" name="submitGo" value="Next page"</input></div>
												</li>
												</ul>
											</div>  <!-- closes div class="3u" -->
										</div>

</form><!-- closes form id="page3"  -->
								</div>  <!-- closes div class="5grid" -->
							</div>  <!-- closes div id="content" -->
						</div> <!-- closes div class="12u mobileUI-main-content" -->
					</div><!-- closes div id="row" -->
				</div> <!-- closes div class="5grid-layout" -->
			</div> <!-- closes div id="main-wrapper" -->

		<!-- Footer Wrapper -->
			<div id="footer-wrapper">
				<footer id="footer" class="5grid-layout">
					<div class="row">
						<div class="12u">
							<div id="copyright">
							<center>
								&copy; Part of the Personality Project.	
							</center>
							</div>
						</div>
					</div>
				</footer>
			</div>
		<!-- End Footer Wrapper -->
	</body>
</html>
