Array
(
    [csrfmiddlewaretoken] => 2DP7Xlafbsb5C4aSgMSpa9DDxIn7GREtsHkHeCG758dC0riG2s3v2iDq2qNC2JQx
    [insurance] => 1
    [height] => 48
    [weight] => 168
    [exer] => 4
    [smoke] => 4
    [prescriptions] => 3
    [flu] => 3
    [caffeine] => 4
    [diabetes] => 3
    [veggie] => 2
    [stress] => 2
    [brush] => 3
    [floss] => 1
    [dentist] => 3
    [sleepQ] => 2
    [sleepT] => 2
    [say] => 4
    [stay] => 5
    [strive] => 3
    [ethnic] => 999
    [SES] => 4
    [relsat] => 3
    [religion] => 2
    [sign] => 10
    [volunteer] => 1
    [mascfem] => 2
    [religious] => 3
    [MBTI] => 4
    [credit] => 6
    [orientation] => 2
    [tweets] => 5
    [ennea] => 1
    [submit] => 
)
You are trying to give us something we do not want. Please use only the fields in the form.